<?xml version="1.0" encoding="utf-8"?>
<package displayname="Product Attributes" version="2.1" allowengine="true" includeentityhelper="true" debug="false">

    <!-- ###################################################################################################### -->
    <!-- Licensed by Interprise Solutions.					                          -->
    <!-- http://www.InterpriseSolutions.com														                                          -->
    <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
    <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
    <!-- ###################################################################################################### -->

    <query name="Attributes" rowElementName="Attribute">
        <sql>
            <![CDATA[
                exec EcommerceGetAttributes @LanguageCode, @EntityType, @EntityCode,@WebSiteCode
            ]]>
        </sql>                
        <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />        
        <queryparam paramname="@EntityType" paramtype="runtime" requestparamname="EntityName" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
        <queryparam paramname="@EntityCode" paramtype="runtime" requestparamname="EntityID" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
		<queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    </query>

    <PackageTransform >
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
            <xsl:output method="html" omit-xml-declaration="yes" />
			
			<xsl:param name="AttributeGUID">                
                <xsl:value-of select="0" />                
			</xsl:param>
                        
			<xsl:template match="/">
                <xsl:element name="ul">
                    <xsl:attribute name="class">
                        <![CDATA[tame]]>
                    </xsl:attribute>

                    <xsl:if test="count(/root/Attributes/Attribute) &gt; 0">
                      <span class="leftnavvy">
                        <img src="skins/Skin_(!SKINID!)/images/left_header_browse_att.jpg" width="209" height="24" class="leftnavvy_header" />
                        <xsl:apply-templates select="/root/Attributes/Attribute">
                            <xsl:with-param name="prefix" select="''" />
                        </xsl:apply-templates>
                      </span>
                    </xsl:if>
                </xsl:element>
            </xsl:template>
            
            <xsl:template match="Attribute">
                <xsl:param name="prefix"></xsl:param>
                <xsl:param name="eName" select="ise:GetMLValue(AttributeValue)" />
                
                <li class="tame">
                    <xsl:choose>
                        <xsl:when test="IsName = 1">                            
                            <font color="#444444">
                              <b><xsl:value-of select="AttributeValue" />
                              </b>
                            </font>
                        </xsl:when>
                        <xsl:otherwise>
                            <a href="{concat('a-',Counter,'-',ise:FormatStringForLink(AttributeValue),'.aspx','?EntityID=',EntityCode,'&amp;','EntityName=',EntityType)}">
                                <xsl:value-of select="AttributeValue" />
								<xsl:choose>
									<xsl:when test="ItemCount &gt; 0">
										<font color="#444444">
											(<xsl:value-of select="ItemCount" />)
										</font>
									</xsl:when>
								</xsl:choose>
                            </a>
                        </xsl:otherwise>
                    </xsl:choose>                                            
                </li>                
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>
    
</package>