<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Entity Table Expanded 2" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.                                    -->
  <!-- http://www.InterpriseSolutions.com                                                                     -->
  <!-- For details on this license please visit  the product homepage at the URL above.                       -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec EcommerceGetProducts 
                    @CategoryCode = @CatCode,
                    @DepartmentCode = @DepCode,
                    @ManufacturerCode = @ManCode,
                    @AttributeCode = @AttCode,
                    @localeName = @locale,
                    @pagenum = @pgnum,
                    @pagesize = @pgsize,
                    @StatsFirst = 0,
                    @publishedonly = 1,
                    @sortEntityName = @entityname,
                    @WebSiteCode = @WSCode,
          @CurrentDate = @CurDate,
                @inventoryItemType = @itemType, 
                    @ProductFilterID = @ProductFilterID,
                    @AttributeFilter=@AttributeFilter,
                    @SortingOption=@sort,
                    @ContactCode=@contactCode,
                    @CBMode=@CBMode,
                    @MinPrice=@MinPrice,
                    @MaxPrice=@MaxPrice,
                    @CurrencyCode = @CurrencyCode
            ]]>
    </sql>
    <queryparam paramname="@CatCode" paramtype="runtime" requestparamname="CatCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@DepCode" paramtype="runtime" requestparamname="DepCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ManCode" paramtype="runtime" requestparamname="ManCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@AttCode" paramtype="runtime" requestparamname="AttCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@locale" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="varchar" defvalue="en-US" validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@entityname" paramtype="runtime" requestparamname="EntityName" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WSCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
  <queryparam paramname="@itemType" paramtype="runtime" requestparamname="ProductTypeFilterID" sqlDataType="int" defvalue="0" validationpattern="" />
    <queryparam paramname="@pgsize" paramtype="runtime" requestparamname="PageSize" sqlDataType="int" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@AttributeFilter" paramtype="runtime" requestparamname="AttributeFilter" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@sort" paramtype="request" requestparamname="sort" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@contactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CBMode" paramtype="runtime" requestparamname="CBNMode" sqlDataType="bit" defvalue="0" validationpattern="" />
    <queryparam paramname="@MinPrice" paramtype="request" requestparamname="pricemin" sqlDataType="decimal" defvalue="null" validationpattern="" />
    <queryparam paramname="@MaxPrice" paramtype="request" requestparamname="pricemax" sqlDataType="decimal" defvalue="null" validationpattern="" />
    <queryparam paramname="@CurrencyCode" paramtype="runtime" requestparamname="CurrencySetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <XmlHelperPackage name="helper.entity.xml.config, helper.product.xml.config" />
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="ShowSubcatsInGrid">
        <xsl:value-of select="ise:AppConfig('ShowSubcatsInGrid')" />
      </xsl:param>
      <xsl:param name="SubcatGridCols">
        <xsl:value-of select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[Name=/root/Runtime/EntityID]/ColWidth" />
      </xsl:param>
      <xsl:param name="EntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="EntityID">
        <xsl:value-of select="/root/Runtime/EntityID" />
      </xsl:param>
      <xsl:param name="EntityCode">
        <xsl:value-of select="/root/Runtime/EntityCode" />
      </xsl:param>
      <xsl:param name="WholesaleOnlySite">
        <xsl:value-of select="ise:AppConfig('WholesaleOnlySite')" />
      </xsl:param>
      <xsl:param name="SortOption" select="/root/QueryString/sort"/>
      <xsl:param name="BaseURL">
        <xsl:choose>
          <xsl:when test="ise:StrToLower(/root/Runtime/EntityName) = 'category'">c-<xsl:value-of select="/root/Runtime/EntityCode" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
      <xsl:when test="ise:StrToLower(/root/Runtime/EntityName) = 'department'">d-<xsl:value-of select="/root/Runtime/EntityCode" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
          <xsl:when test="ise:StrToLower(/root/Runtime/EntityName) = 'manufacturer'">m-<xsl:value-of select="/root/Runtime/EntityCode" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
          <xsl:when test="ise:StrToLower(/root/Runtime/EntityName) = 'attribute'">a-<xsl:value-of select="/root/Runtime/EntityCode" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
          <xsl:when test="ise:StrToLower(/root/Runtime/EntityName) = 'library'">l-<xsl:value-of select="/root/Runtime/EntityCode" />-<xsl:value-of select="/root/QueryString/sename" />.aspx</xsl:when>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CurrentPage">
        <xsl:choose>
          <xsl:when test="/root/QueryString/pagenum">
            <xsl:value-of select="/root/QueryString/pagenum" />
          </xsl:when>
          <xsl:otherwise>1</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="VirtualPageValue" select="/root/Runtime/VirtualPageValue" />
      <xsl:variable name="VirtualPageOption" select="/root/Runtime/VirtualPageOption" />
      <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
      <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />
        
      <xsl:template match="/">
        <div class="col-md-3 col-sm-3 hidden-xs">
          <!-- Attributes -->
          <div class="sidebox panel panel-default">
            <div class="panel-heading">Browse Attributes</div>
            <div class="panel-body">(!XmlPackage Name="rev.attributes" IsForAttributes="true"!)</div>
          </div>
          
          <!-- category menu -->
          <div class="sidebox panel panel-default">
            <div class="panel-heading">Browse Categories</div>
            <div class="panel-body">(!XmlPackage Name="rev.categorymenu"!)</div>
          </div>
          <!-- department menu -->
          <div class="sidebox panel panel-default">
            <div class="panel-heading">Browse Departments</div>
            <div class="panel-body">(!XmlPackage Name="rev.departmentmenu"!)</div>
          </div>
          <!-- manufacturer menu -->
          <div class="sidebox panel panel-default">
            <div class="panel-heading">Browse Manufacturers</div>
            <div class="panel-body">(!XmlPackage Name="rev.manufacturermenu"!)</div>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 main-container">   
        <div id="prodcat">
          <div id="prodheader" class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6 catname">
              <ul>
                <li><i class="fa fa-th"></i></li>
                <li><xsl:if test="$VirtualPageOption = 0">
                    <xsl:value-of select="ise:DisplayEntityPageHeaderDescription($EntityName, $EntityCode, $EntityCode)" disable-output-escaping="yes" />
                    <xsl:value-of select="ise:EntityPageFilterOptions($EntityName, $EntityCode, /root/Runtime/DepCode, /root/Runtime/CatCode, /root/Runtime/ManCode, /root/Runtime/ProductTypeFilterID)" disable-output-escaping="yes" />
                    </xsl:if>
                </li>                 
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 tabpage">
              <xsl:call-template name="SubEntity" />
              <xsl:choose>
                <xsl:when test="$VirtualPageOption = 1">
                      <xsl:value-of select="ise:Topic($VirtualPageValue)" disable-output-escaping="yes" />
                </xsl:when>
                <xsl:when test="$VirtualPageOption = 2">
                    <xsl:value-of select="ise:SetXmlPackageHelperTemplate(0)" />
                    <xsl:value-of select="ise:DisplayExternalPage($VirtualPageValue)" disable-output-escaping="yes" />
                </xsl:when>
                <xsl:when test="count(/root/Products/Product) = 0 and count(/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[ParentEntityID=/root/Runtime/EntityCode]) = 0">
                      <xsl:value-of select="ise:Topic(concat('empty', /root/Runtime/EntityName, 'text'))" disable-output-escaping="yes" />
                </xsl:when>
                <xsl:when test="count(/root/Products/Product) = 0"></xsl:when>
                <xsl:otherwise>
                  <div class="col-md-12 col-sm-12 pagination">
                      <div class="header">
                        <div class="col-md-4 col-sm-4 pagination-title text-right"><span>Page</span></div>
                        <div class="col-md-2 col-sm-2 pagination-number">
                          <xsl:value-of select="ise:EntityPagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages, $SortOption)" disable-output-escaping="yes" />
                        </div>
                        <div class="col-md-6 col-sm-6 pagination-sortby">
                          <xsl:value-of select="ise:EntitySortingControl(ise:StringResource('sort.aspx.0'))" disable-output-escaping="yes" />
                        </div>
                      </div>
                  </div>
                 </xsl:otherwise>
                 </xsl:choose> 
            </div>
          </div>
          <div id="prodbody" class="grid col-md-12 xol-sm-12">
            <div class="grid-body products ">
              <xsl:apply-templates select="/root/Products/Product" />
            </div>
          </div>
          <div id="prodfooter" class="grid col-md-12 xol-sm-12">
              <div class="col-md-12 col-sm-12 pagination">
                  <div class="header">
                    <div class="col-md-1 col-sm-1 pagination-title text-right"><span>Page</span></div>
                    <div class="col-md-11 col-sm-11 pagination-number">
                      <xsl:value-of select="ise:EntityPagingControl($BaseURL, $CurrentPage, /root/Products2/Product/pages, $SortOption)" disable-output-escaping="yes" />
                    </div>
                  </div>
              </div>
          </div>
        </div>  
       </div>           
        
        

        
      </xsl:template>
      <xsl:template name="SubEntity">
       <xsl:if test="$VirtualPageOption = 0">       
        <xsl:for-each select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[ParentEntityID=/root/Runtime/EntityCode]">
      <xsl:choose>
                
        <xsl:when test="$ShowSubcatsInGrid = 'true'">
          <table border="0" cellpadding="0" cellspacing="4" width="100%">
            <xsl:if test="position() mod $SubcatGridCols = 1 or ($SubcatGridCols = 1)">
              <tr>
                <xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
                  <xsl:variable name="scName">
                    <xsl:value-of select="Name" />
                  </xsl:variable>
                  <xsl:variable name="scDisplayName">
                    <xsl:choose>
                      <xsl:when test="string-length(Description)>0">
                        <xsl:value-of select="ise:GetMLValue(Description)" />
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:value-of select="Name" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </xsl:variable>                 
                  <xsl:call-template name="SubCatCell">
                    <xsl:with-param name="scName" select="$scName" />
                    <xsl:with-param name="scDisplayName" select="$scDisplayName" />
                  </xsl:call-template>
                </xsl:for-each>
              </tr>
              <tr>
                <td height="10" colspan="{$SubcatGridCols}">&#0160;</td>
              </tr>
            </xsl:if>
          </table>
        </xsl:when>
        <xsl:otherwise>
          <xsl:variable name="scName">
            <xsl:value-of select="Name" />
          </xsl:variable>
          <xsl:variable name="scDisplayName">
            <xsl:choose>
              <xsl:when test="string-length(Description)>0">
                <xsl:value-of select="ise:GetMLValue(Description)" />
              </xsl:when>
              <xsl:otherwise>
                <xsl:value-of select="Name" />
              </xsl:otherwise>
            </xsl:choose>
          </xsl:variable>
          <i class="fa fa-angle-right"></i>
                  <xsl:choose>
                    <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                      &#0160;<a href="{VirtualPageValueExternalPage}" target ="_blank">
                            <xsl:value-of select="$scDisplayName" disable-output-escaping="yes" />
                        </a>
                    </xsl:when>
                    <xsl:otherwise>
                      &#0160;<a href="{ise:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
                            <xsl:value-of select="$scDisplayName" disable-output-escaping="yes" />
                        </a>
                    </xsl:otherwise>
                </xsl:choose>

            </xsl:otherwise>
          </xsl:choose>
        </xsl:for-each>
       </xsl:if>    
      </xsl:template>
      <xsl:template name="SubCatCell">
      <xsl:param name="scName" />
      <xsl:param name="scDisplayName" />
        <xsl:param name="URL">
            <xsl:choose>
                <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                    <xsl:value-of select="VirtualPageValueExternalPage"  />
                </xsl:when>
                <xsl:otherwise>
                    <xsl:value-of select="ise:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
                </xsl:otherwise>
            </xsl:choose>
        </xsl:param>
        <td align="center">
          <a href="{$URL}">
            <xsl:value-of select="ise:LookupEntityImage(EntityID, $EntityName, 'icon', 0)" disable-output-escaping="yes" />
          </a>
          <br />
          <a href="{$URL}">
            <xsl:value-of select="$scDisplayName" disable-output-escaping="yes" />
          </a>
        </td>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pPrice">
          <xsl:value-of select="Price" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <!--<xsl:value-of select="ItemDescription" />-->
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
        <xsl:param name="URL">
          <xsl:value-of select="ise:ProductandEntityLink(Counter, SEName, $EntityCode, $EntityName, 0)" disable-output-escaping="yes" />
        </xsl:param>
      <xsl:variable name="pDisplayName">
        <xsl:choose>
          <xsl:when test="string-length(ItemDescription)>0">
            <xsl:value-of select="ItemDescription" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="ItemName" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:variable>
      <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType, false())" disable-output-escaping="yes" />  
        <div class="col-md-4 productbox">
          <div class="col-md-12 productboxinside">
            <div class="col-md-12 productimg">
              <a href="{$URL}">
                <xsl:value-of select="ise:DisplayImage('product', Counter, 'icon', SEAltText, 'AltText')" disable-output-escaping="yes" />
              </a>
            </div>
            <div class="col-md-12 productdetails">
              <div class="col-md-12 productname">
                <a href="{$URL}">
                  <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                </a>
              </div>
              <div class="col-md-12 itemnameandprice">
                <div class="col-md-12 itemname">
                  <xsl:value-of select="$pName" disable-output-escaping="yes" />
                </div>
                <div class="col-md-12 price">
                  <!-- DisplayPrice() method is overloaded, to make a different javascript call   -->
                  <!-- from a item product to other type (e.g. 'Kit')                             -->
                  <!-- see implementation of the said code at ISECommon\XSLTExtensionBase.cs file -->
                  <xsl:choose>
                    <xsl:when test="ise:ToLower(ItemType)='kit'">
                      <xsl:value-of select="ise:ProductKitPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                  <xsl:value-of select="ise:EntityLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                </div>
                <div class="col-md-12 addtocart">
                  <xsl:choose>
                    <xsl:when test="ise:ToLower(ItemType)='kit' or ise:ToLower(ItemType)='matrix group'">
                      <div id="shopcartbutton" class="col-md-12 col-sm-12 col-xs-12 ">
                        <a href="{$URL}" id="moreinfo">
                         MORE INFO
                        </a>
                      </div>
                    </xsl:when>
                    <xsl:otherwise>
                      <div>
                        <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" />
                        <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
                      </div>
                    </xsl:otherwise>
                  </xsl:choose>
                </div>
              </div>
            </div>
          </div>
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



