<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Mobile Menu" debug="false" includeentityhelper="false">
  <PackageTransform debug="false" >
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise"  xmlns:msxsl="urn:schemas-microsoft-com:xslt"  exclude-result-prefixes="ise msxsl">
      <xsl:output method="html" indent="yes"/>
    

      <xsl:template match="/" >
        <div class="navbar-header">
          <div class="col-xs-6">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#menuMobile">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>

          <div class="col-xs-6 text-right" id="sideicon2">
            <ul>            
              <li><a href="(!SIGNINOUT_LINK!)" id="signInOutLink" ><i class="icon-key"></i> <!--(!SIGNINOUT_TEXT!) --> </a> </li>
              <li><a id="shopping-cart" href="javascript:void(0)" ><i class="icon-shopping-cart"></i> <span class="badge">(!NUM_CART_ITEMS!)</span></a></li>
            </ul>
          </div>

         <div class="col-xs-12">
            <a href="default.aspx"><img class="logo-mobile" src="skins/Skin_(!SKINID!)/images/logo.png" alt="" /></a>
         </div>

        </div>
        <div class="collapse navbar-collapse" id="menuMobile">
         
          <ul class="nav navbar-nav">
            <li><a href="default.aspx"><i class="fa fa-home" />Home</a></li>
            <li>
                <a data-toggle="collapse" href="#topMenuCategory">
                  <i class="fa fa-tags" />Categories
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuCategory" class="panel-collapse collapse">
                  <xsl:value-of select="ise:XmlPackage('rev.categorymenu.xml.config')" disable-output-escaping="yes" />
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#topMenuDepartment">
                  <i class="fa fa-sitemap" />Departments
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuDepartment" class="panel-collapse collapse">
                  <xsl:value-of select="ise:XmlPackage('rev.departmentmenu.xml.config')" disable-output-escaping="yes" />
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#topMenuManufacturer">
                  <i class="fa fa-cogs" />Manufacturers
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuManufacturer" class="panel-collapse collapse">
                  <xsl:value-of select="ise:XmlPackage('rev.manufacturermenu.xml.config')" disable-output-escaping="yes" />
                </div>  
            </li>
            <li>
                <a data-toggle="collapse" href="#topMenuCustomerService">
                  <i class="fa fa-users" />Customer Service
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuCustomerService" class="panel-collapse collapse">
                  
            <ul id="static-menu" class="entity-menu">
              <li> 
                <a href="account.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.YourAccount')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="t-faq.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.FAQs')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="t-returns.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.PolicyReturns')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="t-shipping.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.Shipping')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="contactus.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.Contact')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="t-privacy.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.PolicyPrivacy')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="t-security.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.PolicySecurity')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="leadform.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.LeadForm')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="casehistory.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.CustomerSupport')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="storelocator.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.StoreLocator')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="wishlist.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.WishList')" disable-output-escaping="yes" /></a>
              </li>
              <li id="gift-registry">
                <a href="giftregistry.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.GiftRegistry')" disable-output-escaping="yes" /></a>
              </li>
              <li>
                <a href="rma.aspx"><xsl:value-of select="ise:StringResourceTextOnly('menu.RMA')" disable-output-escaping="yes" /></a>
              </li>
            </ul>
                </div>  
            </li>
          </ul>
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>