<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Category Menu" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                                                            -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="SelectedEntityID">
        <xsl:choose>
          <xsl:when test="/root/System/PageName = 'showmanufacturer.aspx' or /root/System/PageName = 'showsection.aspx'">0</xsl:when>
          <xsl:when test="/root/System/PageName = 'showcategory.aspx' and boolean(/root/QueryString/categoryid)">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:when test="(/root/System/PageName = 'showcategory.aspx' or /root/System/PageName = 'showproduct.aspx') and boolean(/root/Cookies/lastviewedentityinstanceid) and /root/Cookies/lastviewedentityname = 'Category'">
            <xsl:value-of select="/root/Cookies/lastviewedentityinstanceid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>

      <xsl:template match="/">
        <ul class="main-menu">
          <xsl:apply-templates select="/root/EntityHelpers/Category/Entity">
          </xsl:apply-templates>
        </ul>
      </xsl:template>

      <xsl:template match="Entity">
        <xsl:param name="SubEntityCount" select="count(child::Entity)" />
        <xsl:param name="EntityPrefix" select="'c'" />
        <xsl:param name="EntityName" select="ise:GetMLValue(Description)" />
        <xsl:param name="EntityUrl" select="concat($EntityPrefix,'-',EntityID,'-',ise:FormatStringForLink(SEName),'.aspx')" />
        <li>
          <a href="{$EntityUrl}">
            <xsl:if test="$SelectedEntityID = EntityID or descendant::Entity/EntityID = $SelectedEntityID">
              <xsl:attribute name="class">selected</xsl:attribute>
            </xsl:if>
            <xsl:value-of select="$EntityName" />
          </a>
          

          <!-- recursive call to build child nodes -->
          <xsl:if test ="count(child::Entity) > 0">
            <ul class="main-category-container">
              <!-- <xsl:if test="descendant::Entity/EntityID = $SelectedEntityID">
                <xsl:attribute name="class">collapse in</xsl:attribute>
              </xsl:if> -->
              <xsl:apply-templates select="Entity"></xsl:apply-templates>
            </ul>
          </xsl:if>
        </li>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>