<?xml version="1.0" encoding="utf-8"?>
<package displayname="Account Login" version="2.1" allowengine="true" includeentityhelper="false" debug="true">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <!--<XmlHelperPackage name="account.login.xml.config" />-->

  <PackageTransform debug="true">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="DisplayType" select="FIELD/DisplayType"></xsl:param>
      <xsl:template match="/">
         
        <xsl:choose>

          <xsl:when test="$DisplayType = 'Login' ">
            <xsl:call-template name="Login"></xsl:call-template>
          </xsl:when>

          <xsl:otherwise>
            <xsl:call-template name="AccountInfo"></xsl:call-template>
          </xsl:otherwise>

        </xsl:choose>
      </xsl:template>


      <xsl:template name="Login">
        <div class="panel panel-default">
          <div class="panel-heading">Account</div>
          <div class="panel-body">
            <div class="form-group">
              <label id="lblCustomerStatus" style="font-weight:normal;">
                <xsl:value-of select="FIELD/LoginStatusText" />
              </label>
              <br />
              <a class="" style="font-weight:bold;">
                <xsl:attribute name="href">
                  <xsl:value-of select="FIELD/CustomerURL" />
                </xsl:attribute>
                <xsl:value-of select="FIELD/CustomerFullName" />
              </a>
            </div>
            <div class="form-group">
              <a class="btn btn-danger" style="width: 100%;">
                
                <xsl:attribute name="href">
                  <xsl:value-of select="FIELD/SignOutURL" />
                </xsl:attribute>
                <span class="icon-key"></span>
                <xsl:value-of select="FIELD/SignOutText" />
              </a>
            </div>

          </div>
        </div>
        
      </xsl:template>

      <xsl:template name="AccountInfo">
        <style type="text/css">
          .login-input{width: 100% !important;height: 28px;}
          .login-remember{margin: 12px 4px !important;vertical-align: middle;}

        </style>
        <form  method="POST" id="LoginForm" name="LoginForm" action="loginCustomer.aspx" class="form-inline" role="form">
          <div class="panel panel-default">
            <div class="panel-heading">Account Login</div>
            <div class="panel-body" id="login-control-container">

              <xsl:if test="FIELD/ShowErrorContainer = 'true'">
                <div id="divErrorContainer" class="alert alert-danger" role="alert">
                  <p id="pErrorMessage">
                    <xsl:value-of select="FIELD/ErrorMessage"></xsl:value-of>
                  </p>
                  <a id="lnkContactUs" href="contactus.aspx">
                    <xsl:value-of select="FIELD/ContactUsText"></xsl:value-of>
                  </a>
                </div>
              </xsl:if>

              <div class="row">
                <label for="txtEmail" id="lblEmail">
                  <xsl:value-of select="FIELD/EmailText"></xsl:value-of>
                </label>
                <input name="email" type="email" id="txtEmail" maxlength="100" size="30" autocomplete="on" class="form-control login-input">
                  <xsl:attribute name="value">
                    <xsl:value-of select="FIELD/EmailValue"></xsl:value-of>
                  </xsl:attribute>
                  <!--<xsl:attribute name="required"></xsl:attribute>-->
                </input>
                
                <div id="validatorEmailMessage" class="label label-danger">
                  <xsl:if test="FIELD/EmailShowValidationMessage = 'true'">
                      <xsl:attribute name="style"> display:block </xsl:attribute>
                    </xsl:if>
                    <xsl:if test="FIELD/EmailShowValidationMessage = 'false'">
                      <xsl:attribute name="style">  display:none   </xsl:attribute>
                    </xsl:if>
                  <xsl:value-of select="FIELD/EmailValidationMessage"></xsl:value-of>
                </div>
                
              </div>
              
              <div class="row">
                <label  for="txtPassword" id="lblPassword">
                  <xsl:value-of select="FIELD/PasswordText "></xsl:value-of>
                </label>
                <input  name="password" type="password" id="txtPassword" maxlength="50" size="30" autocomplete="off" class="form-control login-input">
                  <xsl:attribute name="value">
                    <xsl:value-of select="FIELD/PasswordValue"></xsl:value-of>
                  </xsl:attribute>
                </input>
             
                  <div id="validatorPasswordMessage" class="label label-danger">
                    <xsl:if test="FIELD/PasswordShowValidationMessage = 'true'">
                      <xsl:attribute name="style"> display:block </xsl:attribute>
                    </xsl:if>
                    <xsl:if test="FIELD/PasswordShowValidationMessage = 'false'">
                      <xsl:attribute name="style">  display:none   </xsl:attribute>
                    </xsl:if>
                    <xsl:value-of select="FIELD/PasswordValidationMessage"></xsl:value-of>
                  </div>
              
              </div>
              <div class="row">
            
             
                <label>
                  <span id="spnRememberMe">
                    <xsl:value-of select="FIELD/RememberText"></xsl:value-of>
                  </span>
                  <span>
                    <input name="remember" type="checkbox" id="chkRemember" class="login-remember">
                      <xsl:if test="FIELD/RememberChecked = 'true'">
                        <xsl:attribute name="checked">
                          <xsl:value-of select="true"></xsl:value-of>
                        </xsl:attribute>
                      </xsl:if>
                    </input>
                  </span>

                </label>
                
              </div>

              
              <xsl:if test="FIELD/ShowCaptcha = 'true'">
                <div class="row" >
                  <label  for="txtCaptcha" id="lblCaptcha">
                    <xsl:value-of select="FIELD/CaptchaText"></xsl:value-of>
                  </label>
                  <input name="captcha"  type="text" id="txtCaptcha"  class="form-control login-input"  maxlength="50" size="30">
                    <xsl:attribute name="value">
                      <xsl:value-of select="FIELD/CaptchaValue"></xsl:value-of>
                    </xsl:attribute>
                   
                  </input>


                  <div  id="validatorCaptchaMessage" class="label label-danger" >
                    <xsl:if test="FIELD/CaptchaShowValidationMessage = 'true'">
                      <xsl:attribute name="style"> display:block </xsl:attribute>
                    </xsl:if>
                    <xsl:if test="FIELD/CaptchaShowValidationMessage = 'false'">
                      <xsl:attribute name="style">  display:none   </xsl:attribute>
                    </xsl:if>
                    <xsl:value-of select="FIELD/CaptchaValidationMessage"></xsl:value-of>
                  </div>
                  <img  id="imgCaptcha" class="img-thumbnail">
                    <xsl:attribute name="src">
                      <xsl:value-of select="FIELD/CaptchaImage"></xsl:value-of>
                    </xsl:attribute>
                  </img>

                  </div>
              </xsl:if>

              <div class="row">
                <!--<button  type="submit" id="btnSignUp" class="btn btn-primary pull-left btn-large">
                
                  <xsl:value-of select="FIELD/LoginButtonText"></xsl:value-of>
                </button>-->
                <button  type="submit" id="btnLogin" class="btn btn-success" style="width: 100%;">
                  <span class="icon-key"></span>
                  <xsl:value-of select="FIELD/LoginButtonText"></xsl:value-of>
                </button>
              </div>
              <br></br>
              <div class="row">
                <a class="btn btn-info" style="width: 100%;" href="createaccount.aspx?checkout=False">
                  <xsl:value-of select="FIELD/RegisterButtonText"></xsl:value-of>
                </a>
              </div>


            </div>
          </div>
        </form>

        <script type="text/javascript">
          var captchaEnabled =   <xsl:value-of select="FIELD/ShowCaptcha"></xsl:value-of>;
          $(document).ready(function() {
          $('#LoginForm #txtEmail').focus(function(e){
          $('#LoginForm #validatorEmailMessage').hide();
          });
          $('#LoginForm #txtPassword').focus(function(e){
          $('#LoginForm #validatorPasswordMessage').hide();
          });
          if( captchaEnabled.toString() == 'true'){
          $('#LoginForm #txtCaptcha').focus(function(e){
          $('#LoginForm #validatorCaptchaMessage').hide();
          });
          }


          $("#LoginForm").submit(function(e) {

          var email = $.trim($('#LoginForm #txtEmail').val());
          var password = $.trim($('#LoginForm #txtPassword').val());
          var isValid = true;
          if (email == ''){
          $('#LoginForm #validatorEmailMessage').show();
          isValid = false;
          }
          if (password == '') {
          $('#LoginForm #validatorPasswordMessage').show();
          isValid = false;
          }
          if( captchaEnabled.toString() == 'true'){
          var captcha = $.trim($('#LoginForm #txtCaptcha').val());
          if (captcha == '') {
          $('#LoginForm #validatorCaptchaMessage').show();
          isValid = false;
          }

          }
          if (!isValid) {
          return false;
          }


          });
          });
        </script>

      </xsl:template>
      
     

    </xsl:stylesheet>
  </PackageTransform>
</package>