<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Default Home Page" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      <xsl:template match="/">
        <xsl:choose>

          <xsl:when test="$SectionType='GET_SPECIALS_BOX_EXPANDED'">
              <xsl:variable name="DisplayPics" select="FIELD/SHOWPICS"></xsl:variable>
            
              <div class="signin_info">
                <div class="tableHeaderArea">
                  <a href="featureditems.aspx?resetfilter=true" class="kitDetailLink">
                    <xsl:value-of select="ise:StringResource('mobile.featureditems.aspx.1')" />
                  </a>
                </div>

                <div class="signin_info_body">

                  <br />
                  <center>
                    <h3>
                      <xsl:value-of select="ise:StringResource('mobile.featureditems.aspx.2')" />
                    </h3>
                  </center>
                  <br />
                  
                  <xsl:for-each select="FIELD/PRODUCT_ITEM">

                    <xsl:variable name="productLink" select="current()/PRODUCT_LINK"></xsl:variable>
                    <xsl:variable name="summaryContainerId" select="concat('show_summary_',current()/COUNTER)"></xsl:variable>

                    <div class="cart_item">
                      <div class="cart_picture_layout_wrapper">
                        <xsl:if test="$DisplayPics = 'true'">
                          <div class="cart_picture_layout">
                            <img src="{current()/IMAGE_URL}" class="mobileimagesize" alt="{current()/IMAGE_ALT}" title="{current()/IMAGE_ALT}" />
                          </div>
                        </xsl:if>
                        <div class="cart_producttitle_layout_70">
                          <a href="{$productLink}">
                            <span class="product_description">
                              <xsl:value-of select="current()/DISPLAYNAME" disable-output-escaping="yes"/>
                            </span>
                          </a>
                          <br />
							            
                          <xsl:if test=".././SHOWITEMPRICE = 'true' and (USEWEBSTOREPRICING = 'true' or (ISWHOLESALEONLYSITE = 'false' or ISRETAILPRICING = 'false')) and ISSHOWITEMPRICEWHENLOGIN = 'false'">
                            <xsl:choose>
                              <xsl:when test="current()/PROMOTIONALPRICE">
                                <br />
                                <strike>
                                  <span class="showproduct_PriceCaption addSpace">
                                    <xsl:value-of select="ise:StringResource('showproduct.aspx.33')" />
                                  </span>
                                  <span class="showproduct_Price">
                                    <xsl:value-of select="current()/PRICE" />
                                  </span>
                                  <br />
                                  <br />
                                </strike>
                                <!--Promotional Price-->
                                <span class="showproduct_PriceCaption addSpace">
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.34')" />
                                </span>
                                <span class="showproduct_Price">
                                  <xsl:value-of select="current()/PROMOTIONALPRICE" />
                                </span>
                              </xsl:when>
                              <xsl:otherwise>
                                <br />
                                <span class="showproduct_PriceCaption addSpace">
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.33')" />
                                </span>
                                <span class="showproduct_Price">
                                  <xsl:value-of select="current()/PRICE" />
                                </span>
                              </xsl:otherwise>
                            </xsl:choose>
                          </xsl:if>

                          <br />
                          <br />
                          <a href="javascript:void(0)" class="kitdetaillink" onclick="{concat('jqueryHideShow(',&quot;'&quot;,'#',$summaryContainerId,&quot;'&quot;,')')}">
                            <span>
                              <xsl:value-of select="ise:StringResource('mobile.common.1')"></xsl:value-of>
                            </span>
                          </a>
                          <br />
                          <br />
                          <div class="kit_details " id="{$summaryContainerId}" style="display:none" >
                            <xsl:value-of select="current()/SUMMARY" disable-output-escaping="yes" />
                          </div>

                          <br />
                          <br />
                          <a href="{$productLink}" class="kitdetaillink" >
                            <b>
                              <span>
                                <xsl:value-of select="ise:StringResource('common.cs.16')" />
                              </span>
                            </b>
                          </a>
                          <br />
                          <br />

                        </div>
                      </div>
                    </div>
                  </xsl:for-each>

                </div>

              </div>
          </xsl:when>

          <xsl:when test="$SectionType='GET_NEWS_BOX_EXPANDED'">
              <div class="signin_info">
                
                <div class="tableHeaderArea">
                  <a href="news.aspx" class="kitDetailLink">
                    <xsl:value-of select="ise:StringResource('mobile.news.aspx.1')" />
                  </a>
                </div>

                <div class="signin_info_body">
                  <div class="news_item_teaser">
                    <h3>
                      <xsl:value-of select="FIELD/TEASER" />
                    </h3>
                  </div>
                  <xsl:for-each select="FIELD/NEWS_ITEM">
                    <div class="news_item">
                      <b>
                        <span class="addBigSpace">
                          <xsl:value-of select="current()/DATE_CREATED" />
                        </span>
                      </b>
                      <xsl:choose >
                        <xsl:when test="../LINK_HEADLINE = 'true'">
                          <a href="{ concat('news.aspx?showarticle=', current()/ITEM_COUNTER) }" class="kitdetaillink">
                            <span class="addBigSpace">
                              <xsl:value-of select="current()/HEADLINE" disable-output-escaping="yes" />
                            </span>
                          </a>
                        </xsl:when>
                        <xsl:otherwise>
                          <span class="addBigSpace">
                            <xsl:value-of select="current()/HEADLINE" disable-output-escaping="yes" />
                          </span>
                        </xsl:otherwise>
                      </xsl:choose>
                      <xsl:if test="../SHOWCOPY='true'">
                        <span>
                          <xsl:value-of select="current()/NEWS_CONTENT" disable-output-escaping="yes" />
                        </span>
                      </xsl:if>
                    </div>
                  </xsl:for-each>
                </div>
              </div>
          </xsl:when>
          
          <xsl:when test="$SectionType='DISPLAY_MOBILE_FULLMODE_SWITCHING_LINK'">
            <a href="{concat('default.aspx?fullmode=', FIELD/ISINFULLMODE )}" class="fullmode-link">
              <xsl:value-of select="ise:StringResource('mobile.default.aspx.7')" disable-output-escaping="yes" ></xsl:value-of>
            </a>
          </xsl:when>
          
          <xsl:when test="$SectionType='DISPLAY_CMS_TEMPLATE'">
            <!-- (0) for key (1) for value -->
            <!-- Note: Changing the format (#) will fail to load the string resource value -->
            <span class='content editable-content' data-contentKey='(0)' data-contentValue='(1)' data-contentType='string resource' data-contentHasTag='(2)'>(3)</span>
          </xsl:when>
          
          <xsl:when test="$SectionType='DISPLAY_CMS_TEMPLATE_FOR_TOPIC'">
            <!-- (0) for key (1) for value -->
            <span class='content editable-content topic-content' data-contenttype='topic' data-contentkey='(0)' data-contentHasTag='false'>(1)</span>
          </xsl:when>

          <!-- NUMITEMS -->
          <xsl:when test="$SectionType='DISPLAY_NUMCARTITEMS'">
            <span id="cartNumItem">
              <xsl:value-of select="FIELD/NUM_CART_ITEMS"></xsl:value-of>
            </span>
          </xsl:when>
          
          <xsl:otherwise>
            <xsl:value-of select="$SectionType" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>