<?xml version="1.0" encoding="utf-8"?>
<package displayname="Entity Helper" version="2.1" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
 
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8" />
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      <xsl:template match="/">
        <xsl:choose>

          <xsl:when test="$SectionType='DISPLAY_EXTERNALPAGE'">
                <xsl:choose>
                    <xsl:when test="FIELD/InvalidUrlMessage">
                        <div class ="div-extPage">
                            <xsl:value-of select="FIELD/InvalidUrlMessage" />
                        </div>
                    </xsl:when>
                    <xsl:otherwise>
                        <div class ="div-extPage">
                            <iframe id ="iframe-extPage" frameborder ="0" src ="{FIELD/ExternalPageUrl}" ></iframe>
                        </div>
                    </xsl:otherwise>
                </xsl:choose>
          </xsl:when>
          <!-- END OF DISPLAY_EXTERNALPAGE -->
          <xsl:when test="$SectionType='PAGING_CONTROL'">
            <xsl:variable name="PreviousUrl" select="FIELD/PAGE_PREVIOUS_URL"></xsl:variable>
            <xsl:variable name="NextUrl" select="FIELD/PAGE_NEXT_URL"></xsl:variable>
            <xsl:variable name="PageCount" select="FIELD/PAGE_COUNT"></xsl:variable>

            <div class="entity-paging">
              <xsl:if test="$PageCount > 1">
                <!-- previous -->
                <a>
                  <xsl:choose>
                    <xsl:when test="$PreviousUrl != ''">
                      <xsl:attribute name="href">
                        <xsl:value-of select="$PreviousUrl"></xsl:value-of>
                      </xsl:attribute>
                      <xsl:attribute name="class">prev</xsl:attribute>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                      <xsl:attribute name="class">prev disabled</xsl:attribute>
                    </xsl:otherwise>
                  </xsl:choose>
                  <i class="icon-circle-arrow-left"></i>
                </a>

                <xsl:for-each select="FIELD/PAGES/PAGE">
                  <a>
                    <xsl:choose>
                      <xsl:when test="current()/PAGE_ISACTIVE = 'true'">
                        <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                        <xsl:attribute name="class">num active</xsl:attribute>
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:attribute name="href">
                          <xsl:value-of select="current()/PAGE_URL"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="class">num</xsl:attribute>
                      </xsl:otherwise>
                    </xsl:choose>
                    <xsl:value-of select="current()/PAGE_NUMBER" disable-output-escaping="yes"></xsl:value-of>
                  </a>
                </xsl:for-each>

                <!-- next -->
                <a>
                  <xsl:choose>
                    <xsl:when test="$NextUrl != ''">
                      <xsl:attribute name="href">
                        <xsl:value-of select="$NextUrl"></xsl:value-of>
                      </xsl:attribute>
                      <xsl:attribute name="class">next</xsl:attribute>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                      <xsl:attribute name="class">next disabled</xsl:attribute>
                    </xsl:otherwise>
                  </xsl:choose>
                  <i class="icon-circle-arrow-right"></i>
                </a>
              </xsl:if>
            </div>
          </xsl:when>
          <!-- END OF PAGING_CONTROL -->
            
          <xsl:when test="$SectionType=''">
          </xsl:when>
            
          <xsl:otherwise>
                <xsl:value-of select="FIELD/SECTION_TYPE" />
          </xsl:otherwise>

        </xsl:choose>

      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>