<?xml version="1.0" encoding="utf-8"?>
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>

      <xsl:template match="/">

        <div class="signin_main">

          <div class="signin_info removeborderBottom" >

            <xsl:choose>
              <xsl:when test="FIELDS/MOBILEEMPTYWISHLISTTEXT">
                <div class="signin_info_body">
                  <xsl:value-of select="FIELDS/MOBILEEMPTYWISHLISTTEXT" disable-output-escaping="yes" />
                </div>
              </xsl:when>
              <xsl:otherwise>
                <div class="tableHeaderArea">
                  <xsl:value-of select="FIELDS/WISHLIST_HEADER_TEXT" disable-output-escaping="yes" />
                </div>
                <div class="signin_info_body">
                  <xsl:for-each select="FIELDS/CART_ITEMS">

                    <div class="cart_item" >

                      <!-- product Image -->
                      <div class="cart_picture_layout_wrapper" >

                        <xsl:if test="SHOWPICSINCART = 'true'" >
                          <div class="cart_picture_layout" >
                            <xsl:if test="LinkBack and LinkBack != ''" >
                              <a href="{LinkBack}" >
                                <xsl:if test="ProductImagePath != ''" >
                                  <img class="mobileimagesize" src="{ProductImagePath}" />
                                </xsl:if>
                              </a>
                            </xsl:if>
                          </div>
                        </xsl:if>

                        <!-- product title -->
                        <div >
                          <xsl:choose>
                            <xsl:when test="SHOWPICSINCART = 'true'" >
                              <xsl:attribute name="class" >
                                <xsl:text>cart_producttitle_layout_70</xsl:text>
                              </xsl:attribute>
                            </xsl:when>
                            <xsl:otherwise>
                              <xsl:attribute name="class" >
                                <xsl:text>cart_producttitle_layout_100</xsl:text>
                              </xsl:attribute>
                            </xsl:otherwise>
                          </xsl:choose>

                          <xsl:if test="ProductLinkHref and ProductLinkHref != ''" >
                            <xsl:element name="a">
                              <xsl:attribute name="href">
                                <xsl:value-of select="ProductLinkHref" disable-output-escaping="yes" />
                              </xsl:attribute>
                              <span class="product_description">
                                <xsl:value-of select="ProductLinkName" disable-output-escaping="yes" />
                              </span>

                              <xsl:if test="MatrixDetails">
                                <br />
                                <xsl:value-of select="MatrixDetails" disable-output-escaping="yes" />
                              </xsl:if>

                            </xsl:element>
                          </xsl:if>
                          <div class="cart_paymentdetail_wrapper">
                          </div>

                          <div class="cart_unitmeasure">

                            <xsl:choose >
                              <xsl:when test="ISRESTRICTEDQUANTITIES = 'false'" >
                                <input type="text" class="inputQuantityLimit leftSpace" id="{concat('Quantity_',CART_ITEM_ID )}" name="{concat('Quantity_',CART_ITEM_ID )}" value="{INPUTQUANTITYVALUE}" />
                              </xsl:when>
                              <xsl:otherwise >
                                <select size="1" class="showproduct_limitunitmeasure leftSpace" id="{concat('Quantity_', CART_ITEM_ID)}" name="{concat('Quantity_', CART_ITEM_ID)}" >
                                  <option value="0" >DELETE</option>
                                  <xsl:for-each select="RESTRICTEDQUANTITIES">
                                    <option value="{QTY}">
                                      <xsl:if test="SELECTED = 'true'">
                                        <xsl:attribute name="selected">selected</xsl:attribute>
                                      </xsl:if>
                                      <xsl:value-of select="QTY" disable-output-escaping="yes"/>
                                    </option>
                                  </xsl:for-each>
                                </select>
                              </xsl:otherwise>
                            </xsl:choose>
                            <xsl:if test="NOT_HIDE_UNIT_MEASURE">
                              <xsl:choose>
                                <xsl:when test="AVAILABLEUNITMESSURE_GREATER_ONE = 'false'">
                                  <span>
                                    <xsl:value-of select="UNITMEASURECODESPANDISPLAY" disable-output-escaping="yes" />
                                  </span>
                                  <input type="hidden" name="{UNITMEASURECODEID}" id="{UNITMEASURECODENAME}" value="{UNITMEASURECODEVALUE}" />
                                </xsl:when>
                                <xsl:otherwise>
                                  <select size="1" class="showproduct_limitunitmeasure" name="{MULTIPLE_UNITMEASURECODENAME}" id="MULTIPLE_UNITMEASURECODEID" >
                                    <xsl:for-each select="./UNITMEASSURE_ITEM">
                                      <option value="{VALUE}">
                                        <xsl:if test="SELECTED = 'true'">
                                          <xsl:attribute name="selected">selected</xsl:attribute>
                                        </xsl:if>
                                        <xsl:value-of select="TEXT" disable-output-escaping="yes"/>
                                      </option>
                                    </xsl:for-each>
                                  </select>
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:if>
                          </div>

                          <xsl:if test="SHOWCARTDELETEITEMBUTTON = 'true'" >
                            <div class ="cart_deletebutton">
                              <input type="submit" name="{concat('bt_Delete_', CART_ITEM_ID)}" value="{DELETECAPTION}" />
                            </div>
                          </xsl:if>
                          
                          <xsl:if test="SHOWMOVETOCARTBUTTON = 'true'" >
                            <div class ="cart_deletebutton">
                              <input type="button"  class="move-to-shopping-cart site-button content"
                                     value="{SHOWMOVETOCARTBUTTONVALUE}"
                                     data-elementId="{concat('Quantity_',CART_ITEM_ID)}"
                                     data-cartId="{CART_ITEM_ID}"
                                     data-messageQuantityInvalid="{INVALIDQUANTITYMESSAGE}"
                                     data-messageQuantityEmpty="{EMPTYQUANTITYMESSAGE}"
                                     data-quantityRegEx='{QUANTITYREGEX}'/>
                            </div>
                          </xsl:if>
                          
                          <input type="hidden" name="{MINORDERQUANTITYID}" id="{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />

                          <br />
                          <xsl:if test="KIT_ITEMS">
                            <xsl:variable name="kitDivId">COLLAPSE_<xsl:value-of select="CART_ITEM_ID" /></xsl:variable>
                            <xsl:variable name="linkButtonId">COLLAPSELINK_<xsl:value-of select="CART_ITEM_ID" /></xsl:variable>
                            <div class="kit_container">
                              <br />
                              <a href="javascript:void(0);" id="{$linkButtonId}">
                                <xsl:attribute name="onclick">
                                  <xsl:text>KitShowHideDetails('</xsl:text><xsl:value-of select="$kitDivId" />','<xsl:value-of select="$linkButtonId" />','<xsl:value-of select="KIT_ITEMS/KIT_SHOWDETAILSTEXT" />','<xsl:value-of select="KIT_ITEMS/KIT_HIDEDETAILSTEXT" />');
                                </xsl:attribute>
                                <span class="kitdetaillink">
                                  <xsl:value-of select="KIT_ITEMS/KIT_SHOWDETAILSTEXT" />
                                </span>
                              </a>
                              <br />
                              <ul style="display:none;" class="kit_details">
                                <xsl:attribute name="id">
                                  <xsl:value-of select="$kitDivId"/>
                                </xsl:attribute>
                                <xsl:for-each select="KIT_ITEMS/KITITEM">
                                  <li>
                                    - <xsl:value-of select="." disable-output-escaping="yes" />
                                  </li>
                                </xsl:for-each>
                              </ul>
                            </div>
                          </xsl:if>
                        </div>
                      </div>
                    </div>
                  </xsl:for-each>
                </div>
              </xsl:otherwise>

            </xsl:choose>

          </div>
        </div>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>