<?xml version="1.0" encoding="utf-8"?>
<package displayname="Best Sellers" version="2.1" allowengine="true" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
          exec eCommerceBestSellers 180, @return, @orderby, @LocaleSetting, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
      ]]>
    </sql>
    <queryparam paramname="@return" paramtype="appconfig" requestparamname="BestSellersN" sqlDataType="int" defvalue="10" validationpattern="^\d{1,10}$" />
    <queryparam paramname="@orderby" paramtype="request" requestparamname="orderby" sqlDataType="int" defvalue="1" validationpattern="^\d$" />
    <queryparam paramname="@LocaleSetting" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebSiteCode" select="/root/Runtime/WebSiteCode" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="ShowPics">
        <xsl:value-of select="ise:AppConfigBool('BestSellersShowPics')" />
      </xsl:param>
      <xsl:param name="Ratings">
        <xsl:value-of select="ise:AppConfigBool('Ratings.Enabled')" />
      </xsl:param>
      <xsl:param name="ProductCount" select="count(/root/Products/Product)" />

      <xsl:template match="/">
        <div class="content_toptitle" >
          <xsl:value-of select="ise:StringResource('AppConfig.BestSellersIntro')" disable-output-escaping="yes" />
        </div>
        <xsl:choose>
          <xsl:when test="$ProductCount &gt; 0">
            <table width="100%" style="float:left" >
              <tr>
                <td align="left" valign="top">
                  <table width="100%" >
                    <tr>
                      <td align="left" valign="top">
                        <table width="100%">
                          <xsl:apply-templates select="/root/Products/Product" />
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </xsl:when>
          <xsl:otherwise>
            <p align="left">
              <b>
                <xsl:value-of select="ise:StringResource('bestsellers.aspx.3')" disable-output-escaping="yes" />
              </b>
            </p>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemCode" />
        </xsl:param>
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="URL">
          <xsl:value-of select="ise:EntityLink(EntityID, ise:FormatStringForLink($pDisplayName), 'product', 0, '')" />
        </xsl:param>
        <tr>
          <td class="item_container">
            <a href="{$URL}">
              <table>
                <tr onMouseOver="this.className = 'producttems_hover_color';" onMouseOut="this.className ='producttems_out_color';">
                  <xsl:if test="$ShowPics='true'">
                    <td class="imageLayout">
                      <xsl:value-of select="ise:DisplayImage('product', EntityID, 'icon', SEAltText, 'AltText', 'left')" disable-output-escaping="yes" />
                    </td>
                  </xsl:if>
                  <td class="link_layout">
                    <span class="product_description">
                      <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                    </span>
                    <br />
                    <span class="showproduct_Price" >
                      <xsl:value-of select="ise:GetProductPrice(ItemCode, 'true')" disable-output-escaping="yes" />
                    </span>
                    <br />
                    <br />
                    <b>
                      <xsl:value-of select="ise:ProductRatingStars(ItemCode)" disable-output-escaping="yes" />
                    </b>
                  </td>
                  <td class="next_layout">
                    <img src="{concat(ise:GetImagePathBySkinID(), 'movenextIcon.png') }" />
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>