<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Entity Manufacturers Root Level Grid" debug="false" includeentityhelper="true">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                -->
  <!-- http://www.InterpriseSolutions.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!--                                                                                                        -->
  <!-- Notes: expects param of Entity to be passed in by Runtime                                              -->
  <!-- ###################################################################################################### -->

  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="EntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
      <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />
      
      <xsl:template match="/">
        <div class="content_toptitle">
          <xsl:value-of select="ise:StringResource('mobile.manufacturers.aspx.1')" disable-output-escaping="yes" />
        </div>
        <xsl:apply-templates select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/child::Entity" />
      </xsl:template>
      
      <xsl:template match="Entity">
        <xsl:param name="scName" select="ise:GetMLValue(Name)"></xsl:param>
        <xsl:param name="URL">
            <xsl:choose>
                <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                      <xsl:value-of select="VirtualPageValueExternalPage"  />
                </xsl:when>
                <xsl:otherwise>
                      <xsl:value-of select="ise:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
                </xsl:otherwise>
            </xsl:choose>
        </xsl:param>  
        <div class="itemContainerTableWrapper">
          <div class="item_container">
            <a href="{$URL}">
              <xsl:if test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                  <xsl:attribute name="target">_blank</xsl:attribute>
              </xsl:if>
              <table>
                <tr onmouseover="this.className = 'producttems_hover_color'" onmouseout="this.className ='producttems_out_color'" class="producttems_out_color">
                  <td class="imageLayout">
                    <img src="{ise:MobileLookupEntityImage(EntityID, $EntityName, 'icon', 0)}" alt="" title="" class="mobileimagesize" />
                  </td>
                  <td class="link_layout">
                    <span class="product_description">
                      <xsl:value-of select="$scName" disable-output-escaping="yes" />
                    </span>
                  </td>
                  <td class="next_layout">
                    <img src="{concat(ise:GetImagePathBySkinID(), 'movenextIcon.png') }" />
                  </td>
                </tr>
              </table>
            </a>
          </div>
        </div>
      </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>

  <SearchEngineSettings>
    <SectionTitle actionType="transform">
      <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise">
        <xsl:output method="html" omit-xml-declaration="yes" />
        <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
        <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
        <xsl:param name="EntityName">
          <xsl:value-of select="/root/Runtime/EntityName" />
        </xsl:param>
        <xsl:param name="EntityACName">
          AppConfig.<xsl:value-of select="$EntityName" />PromptPlural
        </xsl:param>
        <xsl:param name="EntityDisplayName">
          <xsl:value-of select="ise:StringResource($EntityACName, $LocaleSetting)" />
        </xsl:param>
        <xsl:template match="/">
          All <xsl:value-of select="$EntityDisplayName" />
        </xsl:template>
      </xsl:stylesheet>
    </SectionTitle>
  </SearchEngineSettings>

</package>
