<?xml version="1.0" encoding="utf-8"?>
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
  <PackageTransform>

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>

      <xsl:template match="/">
          
        <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />
        <xsl:variable name="IsCouponTypeOrders" select="FIELD/IS_COUPON_TYPE_ORDERS" />

        <xsl:if test="$HasCoupon = 'true'" >
          <div class="signin_main">
            <div class="signin_info" >
              <div class="tableHeaderArea">
                <xsl:value-of select="ise:StringResource('checkoutshipping.aspx.14')" disable-output-escaping="yes" />
              </div>
              <div class="signin_info_item">
                <xsl:value-of select="ise:StringResource('order.cs.12')" disable-output-escaping="yes" />
                <xsl:value-of select="FIELD/COUPON_VALUE" disable-output-escaping="yes" />
              </div>
            </div>
          </div>
        </xsl:if>

        <div class="signin_main">
          <div class="signin_info" >
            <div class="tableHeaderArea">
              <xsl:value-of select="FIELD/CHECKOUTSHIPPING_HEADER_TEXT" disable-output-escaping="yes" />

              <div style="float:right">
                <xsl:value-of select="FIELD/CLICK_HERE_SUB_TEXT" disable-output-escaping="yes" /><xsl:text disable-output-escaping="yes" >&amp;nbsp;</xsl:text>
                <a href="shoppingcart.aspx" class="kitdetaillink">
                  <span>
                    <xsl:value-of select="FIELD/CLICK_HERE_TEXT" disable-output-escaping="yes" />
                  </span>
                </a>
              </div>

            </div>
            <div class="signin_info_body" >
              <xsl:for-each select="FIELD/CART_ITEMS">
                <div class="cart_item" >
                  <div class="cart_picture_layout_wrapper" >
                    <xsl:if test="SHOWPICSINCART = 'true'" >
                      <div class="cart_picture_layout" >
                        <xsl:choose>
                          <xsl:when test="SHOW_LINKBACK='true'">
                            <a href="{PRODUCT_HREF}">
                              <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                            </a>
                          </xsl:when>
                          <xsl:otherwise>
                            <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                          </xsl:otherwise>
                        </xsl:choose>
                      </div>
                    </xsl:if>
                    <div >
                      <xsl:choose>
                        <xsl:when test="SHOWPICSINCART = 'true'" >
                          <xsl:attribute name="class" >
                            <xsl:text>cart_producttitle_layout_70</xsl:text>
                          </xsl:attribute>
                        </xsl:when>
                        <xsl:otherwise>
                          <xsl:attribute name="class" >
                            <xsl:text>cart_producttitle_layout_100</xsl:text>
                          </xsl:attribute>
                        </xsl:otherwise>
                      </xsl:choose>
                      <xsl:choose>
                        <xsl:when test="SHOW_LINKBACK='true'">
                          <a href="{PRODUCT_HREF}">
                            <span class="product_description">
                              <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                            </span>
                          </a>
                        </xsl:when>
                        <xsl:otherwise>
                          <span class="product_description">
                            <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                          </span>
                        </xsl:otherwise>
                      </xsl:choose>
                      <div class="cart_paymentdetail_wrapper">
                        <xsl:if test="SHOWSTOCKHINTS = 'true'" >
                          <xsl:if test="SHOWSHIPDATEINCART = 'true'" >
                            <xsl:if test="ALLOCATEDQTY > 0" >
                              <div class="cart_shipping">
                                <span class="addSpace">
                                  <xsl:value-of select="ALLOCATEDQTY" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="SHIPPING_TEXT" disable-output-escaping="yes" />
                                </span>

                                <!--has reservation-->
                                <xsl:if test="RESERVATION_COUNT > 0" >
                                  ,
                                  <xsl:for-each select="RESERVATIONITEM">
                                    <xsl:if test="RESERVE_ITEMCODE = ../CART_ITEMCODE" >
                                      <span class="addSpace">
                                        <xsl:value-of select="RESERVE_QTY" disable-output-escaping="yes" />
                                      </span>
                                      <span class="addSpace">
                                        <xsl:value-of select="../SHIPPINGON_TEXT" disable-output-escaping="yes" />
                                      </span>
                                      <br/>
                                      <span >
                                        <xsl:value-of select="RESERVE_SHIPDATE" disable-output-escaping="yes" />
                                      </span>
                                    </xsl:if>
                                  </xsl:for-each>
                                </xsl:if>
                              </div>
                            </xsl:if>
                          </xsl:if>
                        </xsl:if>
                      </div>
                      <div class="cart_unitmeasure">
                        <span class="addSpace" >
                          <xsl:value-of select="INPUTQUANTITYVALUE" />
                        </span>
                        <xsl:if test="NOT_HIDE_UNIT_MEASURE = 'true'" >
                          <span>
                            <xsl:value-of select="UNITMEASUREDESCRIPTION" disable-output-escaping="yes" />
                          </span>
                        </xsl:if>
                      </div>
                      
                      <div class="cart_price">
                        <xsl:if test="VATENABLED = 'true'" >
                          <span class="addSpace">
                            <b>
                              <xsl:value-of select="VATSETTING_TEXT" disable-output-escaping="yes" />
                            </b>
                          </span>
                        </xsl:if>
                          
                        <span class="showproduct_Price addSpace">
                          <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                        </span>
                          
                          <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'false'" >
                          <hr />
                          <span class="addSpace">
                              <b>
                            <xsl:value-of select="ise:StringResource('shoppingcart.cs.42')" disable-output-escaping="yes" />:
                              </b>
                          </span>
                          <span class="showproduct_Price">
                            (<xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />)
                          </span>
                                <xsl:if test="COUPON_DISCOUNT_TYPE = 'Percent'" >
                                    <span class="showproduct_Price">
                                        (<xsl:value-of select="DISCOUNT_COUPON_PERCENTAGE" disable-output-escaping="yes" />)
                                    </span>
                              </xsl:if>
                        </xsl:if>

                        <xsl:if test="VATENABLED = 'true'">
                          <hr />
                          <span>
                            <b>
                              <xsl:value-of select="VATAMOUNT_TEXT" />
                            </b>
                          </span>
                          <span class="showproduct_Price">
                            <xsl:value-of select="VATAMOUNT_VALUE" />
                          </span>
                        </xsl:if>
                      </div>
                      
                      <!-- Check if item is a kit-->
                      <xsl:if test="ITEM_TYPE = 'ITEM_TYPE_KIT' and count(KIT_ITEMS/KITITEM)>0">
                        <br />
                        <br />
                        <xsl:variable name="kitDivId">
                          <xsl:text>COLLAPSE_</xsl:text>
                          <xsl:value-of select="CART_ITEM_ID" />
                        </xsl:variable>
                        <xsl:variable name="linkButtonId">
                          <xsl:text>COLLAPSELINK_</xsl:text>
                          <xsl:value-of select="CART_ITEM_ID" />
                        </xsl:variable>

                        <div class="kit_container">
                          <div>
                            <a style="float:right" href="{KIT_EDIT_HREF}">
                              <img src="{concat('skins/Skin_',current()/parent::node()/SKINID,'/images/edit.gif')}" alt="{KIT_EDIT_IMAGE_ALT}" />
                            </a>
                            <a href="javascript:void(0);" style="float:left" id="{$linkButtonId}" onclick="{concat('jqueryHideShow(',$kitDivId,');')}">
                              <span class="kitdetaillink">
                                <xsl:value-of select="KIT_SHOWDETAILSTEXT" />
                              </span>
                            </a>
                          </div>
                          <br />
                          <ul style="display:none;" class="kit_details" id="{$kitDivId}">
                            <xsl:for-each select="KIT_ITEMS/KITITEM">
                              <li>
                                (<xsl:value-of select="QTY" />) <xsl:value-of select="DESCRIPTION" disable-output-escaping="yes" />
                              </li>
                            </xsl:for-each>
                          </ul>
                        </div>
                      </xsl:if>
                    </div>
                  </div>
                </div>
              </xsl:for-each>


              <div class="subtotal_summary" >

                  <div class="gotextright">
                      <span class="bigleftSpace">
                          <b>
                              <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />
                          </b>
                      </span>

                      <xsl:if test="FIELD/VATENABLED = 'true'">
                          <xsl:if test="FIELD/VAT_INCLUSIVE = 'false'">
                              <span class="bigleftSpace">
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                              </span>
                          </xsl:if>
                          <xsl:if test="FIELD/VAT_INCLUSIVE = 'true'">
                              <span class="bigleftSpace">
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                              </span>
                          </xsl:if>
                      </xsl:if>
                      <span class="showproduct_Price" >
                          <xsl:value-of select="FIELD/SUBTOTAL_VALUE"/>
                      </span>
                  </div>

                  <div class="gotextright">
                      <hr />
                  </div>  
                  
                <div class="gotextright">
                  <span class="bigleftSpace">
                    <b>
                      <xsl:value-of select="FIELD/FREIGHT_CAPTION"/>
                    </b>
                  </span>
                  <span class="showproduct_Price" >
                    <xsl:value-of select="FIELD/FREIGHT_VALUE"/>
                  </span>
                </div>

                <xsl:if test="FIELD/VAT_INCLUSIVE = 'false'" >
                  <div class="gotextright">
                    <hr />
                  </div>
                  <div class="gotextright">
                    <span class="bigleftSpace">
                      <b>
                        <xsl:value-of select="ise:StringResource('shoppingcart.aspx.30')" disable-output-escaping="yes" />
                      </b>
                    </span>
                    <span class="showproduct_Price" >
                      <xsl:value-of select="FIELD/FREIGHTTAX"/>
                    </span>
                  </div>
                  <div class="gotextright">
                    <span class="bigleftSpace">
                      <b>
                        <xsl:value-of select="FIELD/TAX_CAPTION"/>
                      </b>
                    </span>
                    <span class="showproduct_Price" >
                      <xsl:value-of select="FIELD/TAX_VALUE"/>
                    </span>
                  </div>
                </xsl:if>

                  <!-- Coupon Discount -->
                  <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'true'">
                      <div class="gotextright">
                          <span class="bigleftSpace">
                              <b><xsl:value-of select="ise:StringResource('shoppingcart.cs.38')" disable-output-escaping="yes" /></b>
                          </span>
                          <span class="showproduct_Price" >
                              <xsl:value-of select="FIELD/APPLIED_COUPON_DISCOUNT" disable-output-escaping="yes" />
                          </span>
                      </div>
                  </xsl:if>

                  <div class="gotextright">
                  <hr />
                </div>
                <div class="gotextright">
                  <span class="bigleftSpace" >
                    <b>
                      <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
                    </b>
                  </span>
                  <span class="showproduct_Price" >
                    <xsl:value-of select="FIELD/TOTAL_VALUE"/>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
