<?xml version="1.0" standalone="yes"?>
<package displayname="Order Confirmation Page" version="2.1" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Orders" rowElementName="Order">
    <sql>
      <![CDATA[
                exec eCommerceMultiOrder @OrderNumber
            ]]>
    </sql>
    <queryparam paramname="@OrderNumber" paramtype="runtime" requestparamname="OrderNumber" sqlDataType="varchar" defvalue="0" validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" indent="no" encoding="utf-8" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="UseSSL">
        <xsl:value-of select="ise:AppConfigBool('UseSSL')" />
      </xsl:param>
      <xsl:param name="CacheMenus">
        <xsl:value-of select="ise:AppConfigBool('CacheMenus')" />
      </xsl:param>
      <xsl:param name="OrderNumber">
        <xsl:value-of select="/root/Runtime/OrderNumber" />
      </xsl:param>
      <xsl:param name="CustomerGuid">
        <xsl:value-of select="/root/Runtime/CustomerGuid" />
      </xsl:param>
      <xsl:param name="StoreURL">
        <xsl:value-of select="/root/Runtime/StoreUrl" />
      </xsl:param>
      <xsl:param name="SalesOrderStage">
        <xsl:value-of select="/root/Runtime/SalesOrderStage" />
      </xsl:param>

      <xsl:template match="/">
        <xsl:param name="CustomerID">
          <xsl:value-of select="/root/Orders/Order/CustomerCode" />
        </xsl:param>
        <xsl:param name="OrderTotal">
          <xsl:value-of select="/root/Orders/Order/OrderTotal" />
        </xsl:param>
        <xsl:param name="PaymentMethod">
          <xsl:value-of select="/root/Orders/Order/PaymentMethod" />
        </xsl:param>
        <xsl:param name="PMCleaned">
          <xsl:choose>
            <xsl:when test="$OrderTotal>0">
              <xsl:value-of select="ise:CleanPaymentMethod($PaymentMethod)" />
            </xsl:when>
            <xsl:otherwise>N/A</xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="ReceiptURL">
          <xsl:value-of select="$StoreURL" />receipt.aspx?ordernumber=<xsl:value-of select="ise:UrlEncode($OrderNumber)" />
        </xsl:param>
        <xsl:param name="IncludeGoogleTrackingCode">
          <xsl:value-of select="ise:AppConfig('IncludeGoogleTrackingCode')" />
        </xsl:param>
        <xsl:param name="IncludeOvertureTrackingCode">
          <xsl:value-of select="ise:AppConfig('IncludeOvertureTrackingCode')" />
        </xsl:param>

        <xsl:param name="GatewayAuthorizationFailed">
          <xsl:value-of select="ise:ToLower(/root/QueryString/authfailed)" />
        </xsl:param>

        <xsl:param name="IncludeHeader">
          <xsl:value-of select="/root/Runtime/IncludeHeader" />
        </xsl:param>
        
        <xsl:param name="IncludeFooter">
          <xsl:value-of select="/root/Runtime/IncludeFooter" />
        </xsl:param>

        <xsl:param name="WriteFailedTransaction">
          <xsl:value-of select="/root/Runtime/WriteFailedTransaction" />
        </xsl:param>
        
        <div align="center">

          <img src="{concat(ise:GetImagePathBySkinID(),'step_6.gif')}" />
          <!-- header start -->
          <xsl:if test="$IncludeHeader = 'true'">

            <br />
            <br />

            <font class="ProductNameText">
              <xsl:choose>
                <xsl:when test="$PMCleaned='CREDITCARD'">
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.2',$LocaleSetting)" disable-output-escaping="yes" />
                    <br />
                    <b>
                      <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes" />
                    </b>
                    <xsl:if test="$SalesOrderStage='Approve Credit'">
                      <br />
                      <br />
                      <b>
                        <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                      </b>
                    </xsl:if>
                </xsl:when>
                <xsl:when test="$PMCleaned='PURCHASEORDER'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.4',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.7',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <xsl:if test="$SalesOrderStage='Approve Credit'">
                    <br />
                    <br />
                    <b>
                      <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                    </b>
                  </xsl:if>
                </xsl:when>
                <xsl:when test="$PMCleaned='REQUESTQUOTE'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.5',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.8',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <xsl:if test="$SalesOrderStage='Approve Credit'">
                    <br />
                    <br />
                    <b>
                      <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                    </b>
                  </xsl:if>
                </xsl:when>

                <xsl:when test="$PMCleaned='CASH/OTHER'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.6',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <br />
                  <br />
                  <xsl:choose>
                    <xsl:when test="$SalesOrderStage='Approve Credit'">
                      <br />
                      <br />
                      <b>
                        <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                      </b>
                    </xsl:when>
                    <xsl:otherwise>
                      <span class="CheckInstructions">
                        <xsl:value-of select="ise:Topic('CHECKINSTRUCTIONS')" disable-output-escaping="yes" />
                      </span>
                    </xsl:otherwise>
                  </xsl:choose>
                </xsl:when>
                <xsl:when test="$PMCleaned='COD'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.16',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <br />
                  <br />
                  <xsl:choose>
                    <xsl:when test="$SalesOrderStage='Approve Credit'">
                      <b>
                        <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                      </b>
                    </xsl:when>
                    <xsl:otherwise>
                      <span class="CheckInstructions">
                        <xsl:value-of select="ise:Topic('CODINSTRUCTIONS')" disable-output-escaping="yes" />
                      </span>
                    </xsl:otherwise>
                  </xsl:choose>
                </xsl:when>
                <xsl:when test="$PMCleaned='CHECK/CHEQUE'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.16',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <br />
                  <br />
                  <xsl:choose>
                    <xsl:when test="$SalesOrderStage='Approve Credit'">
                      <b>
                        <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                      </b>
                    </xsl:when>
                    <xsl:otherwise>
                      <span class="CheckInstructions">
                        <xsl:value-of select="ise:Topic('CODINSTRUCTIONS')" disable-output-escaping="yes" />
                      </span>
                    </xsl:otherwise>
                  </xsl:choose>
                </xsl:when>
                <xsl:when test="$PMCleaned='N/A'">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.2',$LocaleSetting)" disable-output-escaping="yes" />
                  <br />
                  <br />
                  <b>
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.3',$LocaleSetting)" disable-output-escaping="yes" />
                  </b>
                  <xsl:if test="$SalesOrderStage='Approve Credit'">
                    <b>
                      <xsl:value-of select="ise:Topic('PENDINGORDERINSTRUCTIONS')" disable-output-escaping="yes" />
                    </b>
                  </xsl:if>
                </xsl:when>
              </xsl:choose>

            </font>
			  			  
			  <b>
				<xsl:value-of select="ise:StringResource('orderconfirmation.aspx.9',$LocaleSetting)" disable-output-escaping="yes" />
			 </b>
			  <br />
			  <br />
          </xsl:if>


          <!-- header end -->

          <xsl:if test="ise:ToLower(/root/Orders/Order/IsVoided) = 'false'">
            <span class="addSpace">
              <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.10',$LocaleSetting)" disable-output-escaping="yes" />
            </span>
            <xsl:value-of select="$OrderNumber" />
            <br />
            <xsl:choose>
              <xsl:when test="ise:AppConfigBool('ForceSignoutOnOrderCompletion') = 'false' and /root/System/CustomerIsRegistered='true'">
                  <span class="addSpace">
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.13',$LocaleSetting)" disable-output-escaping="yes" />                  
                  </span>
                  <a href="{$ReceiptURL}" class="kitdetaillink">
                    <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.14',$LocaleSetting)" disable-output-escaping="yes" />
                  </a>
                  <br />
                  <br />
              </xsl:when>
              <!-- added this condition for anonymous users so they can have an option to print the receipt -->
              <xsl:otherwise>
                <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.13',$LocaleSetting)" disable-output-escaping="yes" />
                <a href="{$ReceiptURL}&amp;customerguid={$CustomerGuid}" class="kitdetaillink">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.14',$LocaleSetting)" disable-output-escaping="yes" />
                </a>
                <br />
                <br />
                </xsl:otherwise>                
            </xsl:choose>
            <!--</xsl:if>-->
            
          </xsl:if>

          <xsl:if test="$IncludeFooter = 'true'">

            <xsl:if test="ise:ToLower(/root/Runtime/CustomerIsRegistered) = 'true'">
              <span class="addSpace">
                <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.11',$LocaleSetting)" disable-output-escaping="yes" />
              </span>
              <b>
                <xsl:value-of select="/root/System/CustomerID" />
              </b>
              <br />
            </xsl:if>

            <br />
            <xsl:choose>
              <xsl:when test="$PMCleaned='CREDITCARD' and /root/Runtime/Email!=''">
                <span class="addSpace">
                  <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.12',$LocaleSetting)" disable-output-escaping="yes" />
                </span>
                <xsl:value-of select="/root/Runtime/Email" />.
                <br />
              </xsl:when>
            </xsl:choose>
            <br />            
            
          </xsl:if>


          <xsl:if test="$WriteFailedTransaction = 'true'">
            <p>
              <b style="color:red;">
                <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.17',$LocaleSetting)" disable-output-escaping="yes" />
              </b>
            </p>
          </xsl:if>
          
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
  <SearchEngineSettings>
    <SectionTitle actionType="transform">
      <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise">
        <xsl:output method="html" omit-xml-declaration="yes" />
        <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
        <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
        <xsl:param name="Prompt">
          <xsl:value-of select="ise:StringResource('orderconfirmation.aspx.1', $LocaleSetting)" />
        </xsl:param>
        <xsl:template match="/">
          <xsl:value-of select="$Prompt" />
        </xsl:template>
      </xsl:stylesheet>
    </SectionTitle>
  </SearchEngineSettings>
</package>



