<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->

<package version="2.1" displayname="Categories" debug="false" includeentityhelper="true">
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="CategoryID">
        <xsl:choose>
          <xsl:when test="/root/System/PageName = 'showmanufacturer.aspx' or /root/System/PageName = 'showsection.aspx'">0</xsl:when>
          <xsl:when test="/root/System/PageName = 'showcategory.aspx' and boolean(/root/QueryString/categoryid)">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:when test="(/root/System/PageName = 'showcategory.aspx' or /root/System/PageName = 'showproduct.aspx') and boolean(/root/Cookies/lastviewedentityinstanceid) and /root/Cookies/lastviewedentityname = 'Category'">
            <xsl:value-of select="/root/Cookies/lastviewedentityinstanceid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <!--<xsl:param name="AncestorID">
				<xsl:for-each select="/root/EntityHelpers/Category//Entity[EntityID = $CategoryID]">
					<xsl:value-of select="ancestor::*/EntityID" />
				</xsl:for-each>
			</xsl:param>-->
      <xsl:param name="ParentID">
        <xsl:for-each select="/root/EntityHelpers/Category//Entity[EntityID = $CategoryID]">
          <xsl:value-of select="parent::*/EntityID" />
        </xsl:for-each>
      </xsl:param>

      <xsl:template match="/">

        <div class="content_toptitle">
          <xsl:value-of select="ise:StringResource('mobile.categories.aspx.1')" disable-output-escaping="yes" />
        </div>

        <table class="itemContainerTableWrapper" >
            <xsl:apply-templates select="/root/EntityHelpers/Category/Entity">
              <xsl:with-param name="prefix" select="''" />
            </xsl:apply-templates>
        </table>
      </xsl:template>

      <xsl:template match="Entity">
        <xsl:param name="prefix"></xsl:param>
        <xsl:param name="eName" select="ise:GetMLValue(Description)" />
        <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
        <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />
        <xsl:variable name="URL">
              <xsl:choose>
                  <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                      <xsl:value-of select="VirtualPageValueExternalPage"  />
                  </xsl:when>
                  <xsl:otherwise>
                      <xsl:value-of select="concat('c-',EntityID,'-',ise:FormatStringForLink(SEName),'.aspx')" />
                  </xsl:otherwise>
              </xsl:choose>
         </xsl:variable>

          <!--<img src="images/spacer.gif" height="4" width="1" />-->

        <tr>
          <td class="item_container">
            <xsl:value-of select="$prefix" />

            <xsl:if test="number(ParentEntityID) != 0">
              <span class="catMark">&gt;&gt;</span>&#160;
            </xsl:if>

             <a href="{$URL}">
                 <xsl:if test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                     <xsl:attribute name="target">_blank</xsl:attribute>
                 </xsl:if>
              <table >
                <tr onMouseOver="this.className = 'producttems_hover_color';" onMouseOut="this.className ='producttems_out_color';" >
                  <td class="imageLayout">
                    <img class="mobileimagesize" >
                      <xsl:attribute name="src">
                        <xsl:value-of select="ise:MobileLookupEntityImage(EntityID, 'category', 'icon', 0)" disable-output-escaping="yes" />
                      </xsl:attribute>                                            
                    </img>
                  </td>
                  <td class="link_layout" >
                    <span class="product_description" >
                        <xsl:value-of select="$eName" />
                    </span>
                  </td>
                  <td class="next_layout">
                    <img src="{concat(ise:GetImagePathBySkinID(), 'movenextIcon.png')}" />
                  </td>
                </tr>
              </table>
            </a>

            <xsl:if test="count(child::Entity)&gt;0 and (EntityID = $CategoryID or descendant::Entity/EntityID = $CategoryID)">
              <td class="tame">
                <xsl:apply-templates select="Entity">
                  <xsl:with-param name="prefix" select="concat($prefix, '&#160;&#160;')" />
                </xsl:apply-templates>
              </td>
            </xsl:if>
          </td>
        </tr>
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>