<?xml version="1.0"?>
<package version="2.1" displayname="Entity Grid" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                  -->
  <!-- http://www.InterpriseSolutions.com														              -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                  -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
            exec EcommerceFeaturedProduct
              @LocaleSetting = @LanguageCode,
              @WebSiteCode   = @WebSiteCode,
			        @CurrentDate   = @CurDate,
              @ContactCode   = @contactCode
      ]]>
    </sql>
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
	  <queryparam paramname="@CurDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@contactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />
	
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="SubcatGridCols" select="'2'" />
      <xsl:param name="ForParentEntityID" select="0" />
      <xsl:template match="/">
        <xsl:param name="BaseURL" select="ise:MakeItemLink(/root/Products/Product/ItemCode)" />
        <xsl:choose>
          <xsl:when test="count(/root/Products/Product) = 0">
            <div class="signin_main">
              <div class="signin_info">
                <div class="tableHeaderArea">
                  <xsl:value-of select="ise:StringResource('mobilefeatureditems.aspx.1')" ></xsl:value-of>
                </div>
                <div class="signin_info_body">
                  <div class="tableHeaderArea">
                    <xsl:value-of select="ise:StringResource('featureditems.aspx.2')" disable-output-escaping="yes" />
                  </div>
                </div>
              </div>
            </div>
          </xsl:when>
          <xsl:otherwise>
            <div class="signin_main">
              <div class="signin_info">
                <div class="tableHeaderArea">
                  <xsl:value-of select="ise:StringResource('mobile.featureditems.aspx.1')" />
                </div>
                <div class="signin_info_body">
                  <xsl:apply-templates select="/root/Products/Product" />
                </div>
              </div>
            </div>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="Product">
        <div class="cart_item">
          <div class="cart_picture_layout_wrapper">
            <xsl:for-each select=".">
              <xsl:call-template name="ProductCell" />
            </xsl:for-each>
          </div>
        </div>
      </xsl:template>
      
      <xsl:template name="ProductCell">
        <xsl:param name="pName2">
          <xsl:value-of select="ItemDescription" />
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="ise:StringResource('showproduct.aspx.34')" disable-output-escaping="yes" />
        </xsl:param>
		  <xsl:param name="pDisplayName">
			  <xsl:choose>
				  <xsl:when test="string-length(ItemDescription) &gt; 0">
					  <xsl:value-of select="ItemDescription" />
				  </xsl:when>
				  <xsl:otherwise>
					  <xsl:value-of select="ItemName" />
				  </xsl:otherwise>
			  </xsl:choose>
		  </xsl:param>		  
		  <xsl:param name="URL">
			  <xsl:value-of select="ise:ProductLink(Counter, ise:FormatStringForLink($pDisplayName), false)" disable-output-escaping="yes" />
		  </xsl:param>
        <div class="cart_picture_layout">
          <a href="{$URL}">
            <xsl:value-of select="ise:DisplayImage('product', Counter, 'icon', SEAltText, 'AltText')" disable-output-escaping="yes" />
          </a>
        </div>
        <div class="cart_producttitle_layout_70">
          <a href="{ise:ProductLink(Counter, ItemCode, 'false', '')}" >
            <span class="product_description">
              <xsl:value-of select="$pDisplayName" disable-output-escaping="yes"/>
            </span>
          </a>
          <br />
          <br />
          <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode, 'true', ItemType)" disable-output-escaping="yes" />
          <br />
          <br />
          <br />

          <xsl:call-template name="ProductEntityList" />
          
          <!--<xsl:value-of select="ise:ProductRatingStars(ItemCode)" disable-output-escaping="yes" />-->
        </div>
      </xsl:template>

	  <xsl:template name="ProductEntityList">
		  
		  <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'category')) &gt; 0">
			  <xsl:value-of select="ise:StringResource('AppConfig.CategoryPromptSingular')" disable-output-escaping="yes" />
			  <xsl:text>: </xsl:text>
			  <xsl:value-of select="ise:ProductEntityList(ItemCode, 'category')" disable-output-escaping="yes" />
			  <br />
        <br />
		  </xsl:if>
      
		 <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'department')) &gt; 0">
			<xsl:value-of select="ise:StringResource('AppConfig.DepartmentPromptSingular')" disable-output-escaping="yes" />
			<xsl:text>: </xsl:text>
			<xsl:value-of select="ise:ProductEntityList(ItemCode, 'department')" disable-output-escaping="yes" />
			<br />
      <br />
		 </xsl:if>
      
		 <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'manufacturer')) &gt; 0">
			<xsl:value-of select="ise:StringResource('AppConfig.ManufacturerPromptSingular')" disable-output-escaping="yes" />
			<xsl:text>: </xsl:text>
			<xsl:value-of select="ise:ProductEntityList(ItemCode, 'manufacturer')" disable-output-escaping="yes" />
      <br />
      <br />
		 </xsl:if>
			  
	  </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>



