<?xml version="1.0" encoding="utf-8"?>
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>

      <xsl:template match="/">
       <xsl:variable name="IsCustomerRegistered" select="FIELD/ISREGISTERED"/> 
       <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />   
       <xsl:variable name="IsCouponTypeOrders" select="FIELD/IS_COUPON_TYPE_ORDERS" />
       <xsl:variable name="HideOutOfStockProducts" select="ise:AppConfigBool('HideOutOfStockProducts')"/>

        <div class="signin_main removeMargintop">

          <div class="signin_info removeMargintop" >

            <div class="tableHeaderArea">
              <xsl:value-of select="ise:StringResource('mobile.shoppingcart.cs.1')" disable-output-escaping="yes" />
            </div>

            <div class="signin_info_body">

              <xsl:choose >
                <xsl:when test="EMPTY_CART_TEXT">
                  <div class="tableHeaderArea">
                    <xslvalue-of select="FIELD/EMPTY_CART_TEXT" disable-output-escaping="yes"  />
                  </div>
                </xsl:when>
                <xsl:otherwise>
                  <xsl:for-each select="FIELD/CART_ITEMS">
                  <xsl:variable name="ItemNotes" select="PRODUCTNOTES" />
             
                    <div class="cart_item" >
                      <!-- product Image -->
                      <div class="cart_picture_layout_wrapper">

                        <xsl:if test="SHOWPICSINCART = 'true'" >
                          <div class="cart_picture_layout" >
                            <xsl:choose>
                              <xsl:when test="LINKBACK = 'true'">
                                <a href="{PRODUCTLINKHREF}">
                                  <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                                </a>
                              </xsl:when>
                              <xsl:otherwise>
                                <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                              </xsl:otherwise>
                            </xsl:choose>
                          </div>
                        </xsl:if>

                        <div>
                          <xsl:choose>
                            <xsl:when test="SHOWPICSINCART = 'true'" >
                              <xsl:attribute name="class" >
                                <xsl:text>cart_producttitle_layout_70</xsl:text>
                              </xsl:attribute>
                            </xsl:when>
                            <xsl:otherwise>
                              <xsl:attribute name="class" >
                                <xsl:text>cart_producttitle_layout_100</xsl:text>
                              </xsl:attribute>
                            </xsl:otherwise>
                          </xsl:choose>

                          <xsl:choose>
                            <xsl:when test="LINKBACK = 'true'">
                              <xsl:choose>
                                <xsl:when test="ISCHECKOUTOPTION = 'false'">
                                  <a href="{PRODUCTLINKHREF}">
                                    <span class="product_description" >
                                      <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                    </span>
                                  </a>
                                </xsl:when>
                                <xsl:otherwise>
                                  <span class="product_description">
                                    <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                  </span>
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:when>
                            <xsl:otherwise>
                              <span class="product_description">
                                <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                              </span>
                            </xsl:otherwise>
                          </xsl:choose>

              <xsl:if test="ISOUTOFSTOCK = 'true' and CARTSTATUS = 'P'">
              <br />
              <br />
              <img title="{PRODUCTIMAGETITLE}" src="{concat('skins/Skin_',current()/parent::node()/SKINID,'/images/outofstock.gif')}" />
              </xsl:if>

              <xsl:if test="$HideOutOfStockProducts = 'true'">
                <xsl:if test="CARTSTATUS = 'A' and ISOUTOFSTOCK = 'true' and (POSTATUS != 'Open' or POSTATUS = 'Partial')">
                <br />
                <br />
                <img title="{PRODUCTIMAGETITLE}" src="{concat('skins/Skin_',current()/parent::node()/SKINID,'/images/outofstock.gif')}" />
                </xsl:if>
              </xsl:if>
                          <xsl:if test="string-length($ItemNotes) > 0">
                            <br />
                            <br />
                            <span class="small">
                              <xsl:value-of select="concat(ise:StringResourceTextOnly('shoppingcart.cs.23'),' ', $ItemNotes)" disable-output-escaping="yes" />
                            </span>
                          </xsl:if>
                          <div class="cart_paymentdetail_wrapper">
                            <xsl:if test="SHOWSTOCKHINTS = 'true' and SHOWSTOCKHINTS" >
                              <xsl:if test="SHOWSHIPDATEINCART = 'true' and SHOWSHIPDATEINCART" >
                                <xsl:if test="ALLOCATEDQTY > 0" >
                                  <div class="cart_shipping">
                                    <span class="addSpace">
                                      <xsl:value-of select="ALLOCATEDQTY" disable-output-escaping="yes" />
                                    </span>
                                    <span>
                                      <xsl:value-of select="SHIPPING_TEXT" disable-output-escaping="yes" />
                                    </span>
                                    <!--has reservation-->
                                    <xsl:if test="RESERVATION_COUNT > 0" >
                                      ,
                                      <xsl:for-each select="RESERVATIONITEM">
                                        <xsl:if test="RESERVE_ITEMCODE = parent::node()/CART_ITEMCODE" >
                                          <span class="addSpace">
                                            <xsl:value-of select="RESERVE_QTY" disable-output-escaping="yes" />
                                          </span>
                                          <span class="addSpace">
                                            <xsl:value-of select="parent::node()/SHIPPINGON_TEXT" disable-output-escaping="yes" />
                                          </span>
                                          <br/>
                                          <span >
                                            <xsl:value-of select="RESERVE_SHIPDATE" disable-output-escaping="yes" />
                                          </span>
                                        </xsl:if>
                                      </xsl:for-each>
                                    </xsl:if>
                                  </div>
                                </xsl:if>
                              </xsl:if>
                            </xsl:if>
                          </div>

                          <div class="cart_unitmeasure">
                            <xsl:choose >
                              <xsl:when test="ISRESTRICTEDQUANTITIES = 'false'" >
                                <input type="text" class="inputQuantityLimit addSpace" >
                                  <xsl:attribute name="id">
                                    <xsl:value-of select="INPUTQUANTITYID" />
                                  </xsl:attribute>
                                  <xsl:attribute name="name">
                                    <xsl:value-of select="INPUTQUANTITYID" />
                                  </xsl:attribute>
                                  <xsl:attribute name="value">
                                    <xsl:value-of select="INPUTQUANTITYVALUE" />
                                  </xsl:attribute>
                                </input>
                              </xsl:when>
                              <xsl:otherwise>
                                <select size="1" class="showproduct_limitunitmeasure addSpace" >
                                  <xsl:attribute name="id">
                                    <xsl:text >Quantity_</xsl:text>
                                    <xsl:value-of select="QUANTITYLISTID" disable-output-escaping="yes"/>
                                  </xsl:attribute>
                                  <xsl:attribute name="name">
                                    <xsl:text >Quantity_</xsl:text>
                                    <xsl:value-of select="QUANTITYLISTID" disable-output-escaping="yes"/>
                                  </xsl:attribute>
                                  <option value="0">DELETE</option>
                                  <xsl:for-each select="RESTRICTEDQUANTITIES">
                                    <option>
                                      <xsl:attribute name="value">
                                        <xsl:value-of select="QTY" disable-output-escaping="yes"/>
                                      </xsl:attribute>
                                      <xsl:if test="SELECTED = 'true'">
                                        <xsl:attribute name="selected">selected</xsl:attribute>
                                      </xsl:if>
                                      <xsl:value-of select="QTY" disable-output-escaping="yes"/>
                                    </option>
                                  </xsl:for-each>
                                </select>
                              </xsl:otherwise>
                            </xsl:choose>

                            <xsl:if test="NOT_HIDE_UNIT_MEASURE" >
                              <xsl:choose>
                                <xsl:when test="AVAILABLEUNITMESSURE_GREATER_ONE = 'false'">
                                  <span>
                                    <xsl:value-of select="UNITMEASURECODESPANDISPLAY" disable-output-escaping="yes" />
                                  </span>

                                  <input type="hidden" >
                                    <xsl:attribute name="name">
                                      <xsl:value-of select="UNITMEASURECODEID" />
                                    </xsl:attribute>
                                    <xsl:attribute name="id">
                                      <xsl:value-of select="UNITMEASURECODENAME" />
                                    </xsl:attribute>
                                    <xsl:attribute name="value">
                                      <xsl:value-of select="UNITMEASURECODEVALUE" />
                                    </xsl:attribute>
                                  </input>

                                </xsl:when>
                                <xsl:otherwise>

                                  <select size="1" class="showproduct_limitunitmeasure" >
                                    <xsl:attribute name="name">
                                      <xsl:value-of select="MULTIPLE_UNITMEASURECODENAME" />
                                    </xsl:attribute>
                                    <xsl:attribute name="id">
                                      <xsl:value-of select="MULTIPLE_UNITMEASURECODEID" />
                                    </xsl:attribute>
                                    <xsl:for-each select="./UNITMEASSURE_ITEM">
                                      <option value="{VALUE}" unitmeasurequantity="{UNITMEASUREQUANTITY}" minorderquantityid="{MINORDERQUANTITYID}" >
                                        <xsl:attribute name="value">
                                          <xsl:value-of select="VALUE" disable-output-escaping="yes"/>
                                        </xsl:attribute>
                                        <xsl:if test="SELECTED = 'true'">
                                          <xsl:attribute name="selected">selected</xsl:attribute>
                                        </xsl:if>
                                        <xsl:value-of select="TEXT" disable-output-escaping="yes"/>
                                      </option>
                                    </xsl:for-each>
                                  </select>

                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:if>
                          
                            <input type="hidden" >
                              <xsl:attribute name="name">
                                <xsl:value-of select="MINORDERQUANTITYID" />
                              </xsl:attribute>
                              <xsl:attribute name="id">
                                <xsl:value-of select="MINORDERQUANTITYNAME" />
                              </xsl:attribute>
                              <xsl:attribute name="value">
                                <xsl:value-of select="MINORDERQUANTITYVALUE" />
                              </xsl:attribute>
                            </input>

                             <input type="hidden" >
                              <xsl:attribute name="name">Base_<xsl:value-of select="MINORDERQUANTITYID" /></xsl:attribute>
                              <xsl:attribute name="id">Base_<xsl:value-of select="MINORDERQUANTITYNAME" /></xsl:attribute>
                              <xsl:attribute name="value"><xsl:value-of select="MINORDERQUANTITYVALUE" /></xsl:attribute>
                            </input>

                            
                          </div>

                          <div class="cart_price">
                            <xsl:if test="VATENABLED = 'true'">
                              <span>
                                <b>
                                  <xsl:value-of select="ITEM_VAT_TEXT" />
                                </b>
                              </span>
                            </xsl:if>
                            
                            <span class="showproduct_Price leftSpace">
                              <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                            </span>
                            <xsl:if test="VATENABLED = 'true'">
                              <br />
                              <hr />
                              <span>
                                <b>
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.41')" disable-output-escaping="yes" />
                                </b>
                              </span>
                              <span class="showproduct_Price addSpace">
                                <xsl:value-of select="TAX_RATE_VALUE" />
                              </span>
                            </xsl:if>

                              <xsl:if test="$HasCoupon= 'true' and $IsCouponTypeOrders = 'false'" >
                                  <br />
                                  <hr />
                                  <span class="addSpace">
                                      <b>
                                          <xsl:value-of select="ise:StringResource('shoppingcart.cs.42')" disable-output-escaping="yes" />:
                                      </b>
                                  </span>

                                  <xsl:choose>
                                      <xsl:when test="COUPON_DISCOUNT_TYPE = 'Percent'" >
                                          <span class="showproduct_Price">
                                              (<xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />) (<xsl:value-of select="DISCOUNT_COUPON_PERCENTAGE" disable-output-escaping="yes" />)
                                          </span>
                                      </xsl:when>
                                      <xsl:otherwise>
                                          <span class="showproduct_Price">
                                              (<xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />)
                                          </span>
                                      </xsl:otherwise>
                                  </xsl:choose>
                              </xsl:if>
                              
                          </div>

                          <xsl:if test="SHOWCARTDELETEITEMBUTTON" >
                            <div class ="cart_deletebutton">
                              <input type="submit" >
                                <xsl:attribute name="name">
                                  <xsl:text>bt_Delete_</xsl:text>
                                  <xsl:value-of select="CART_ITEM_ID" />
                                </xsl:attribute>
                                <xsl:attribute name="value">
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.31')" disable-output-escaping="yes" />
                                </xsl:attribute>
                              </input>
                            </div>
                          </xsl:if>

                          <xsl:if test="KIT_ITEMS">
                            <br />
                            <br />
                            <xsl:variable name="kitDivId">
                              <xsl:text>COLLAPSE_</xsl:text>
                              <xsl:value-of select="CART_ITEM_ID" />
                            </xsl:variable>
                            <xsl:variable name="linkButtonId">
                              <xsl:text>COLLAPSELINK_</xsl:text>
                              <xsl:value-of select="CART_ITEM_ID" />
                            </xsl:variable>

                            <div class="kit_container">
                              <div>
                                <a style="float:right">
                                  <xsl:attribute name="href">
                                    <xsl:value-of select="KIT_ITEMS/KIT_EDIT_HREF"/>
                                  </xsl:attribute>
                                  <img align="absmiddle" border="0">
                                    <xsl:attribute name="alt">
                                      <xsl:value-of select="KIT_ITEMS/KIT_EDIT_IMAGE_ALT"/>
                                    </xsl:attribute>
                                    <xsl:attribute name="src">
                                      <xsl:text>skins/Skin_</xsl:text>
                                      <xsl:value-of select="current()/parent::node()/SKINID" />
                                      <xsl:text>/images/edit.gif</xsl:text>
                                    </xsl:attribute>
                                  </img>
                                </a>
                                <a href="javascript:void(0);" style="float:left">
                                  <xsl:attribute name="id">
                                    <xsl:value-of select="$linkButtonId"/>
                                  </xsl:attribute>
                                  <xsl:attribute name="onclick">
                                    <xsl:text>ShoppingKitShowHideDetails('</xsl:text>
                                    <xsl:value-of select="$kitDivId" />','<xsl:value-of select="$linkButtonId" />','<xsl:value-of select="KIT_ITEMS/KIT_SHOWDETAILSTEXT" />','<xsl:value-of select="KIT_ITEMS/KIT_HIDEDETAILSTEXT" />');
                                  </xsl:attribute>
                                  <span class="kitdetaillink">
                                    <xsl:value-of select="KIT_ITEMS/KIT_SHOWDETAILSTEXT"/>
                                  </span>
                                </a>
                              </div>
                              <br />
                              <ul style="display:none;" class="kit_details">
                                <xsl:attribute name="id">
                                  <xsl:value-of select="$kitDivId"/>
                                </xsl:attribute>
                                <xsl:for-each select="KIT_ITEMS/KITITEM">
                                  <li>
                                    <xsl:value-of select="current()" disable-output-escaping="yes" />
                                  </li>
                                </xsl:for-each>
                              </ul>
                            </div>
                          </xsl:if>
    
        
                          
                          <xsl:if test="HAS_MULTIPLE_ADDRESSES and HAS_MULTIPLE_ADDRESSES = 'true' and ITEMISDOWNLOAD and ITEMISDOWNLOAD = 'false'">
                            <br />
                            <br />
                            <xsl:variable name="multipleDivId">
                              <xsl:text>MULTIPLECOLLAPSE_</xsl:text>
                              <xsl:value-of select="CART_ITEM_ID" />
                            </xsl:variable>
                            <xsl:variable name="multiplelinkButtonId">
                              <xsl:text>MULTIPLECOLLAPSELINK_</xsl:text>
                              <xsl:value-of select="CART_ITEM_ID" />
                            </xsl:variable>

                            <div class="kit_container">
                              <a href="javascript:void(0);" style="float:left">
                                <xsl:attribute name="id">
                                  <xsl:value-of select="$multiplelinkButtonId"/>
                                </xsl:attribute>
                                <xsl:attribute name="onclick">
                                  <xsl:text>MultipleAddressShowHideDetails('</xsl:text><xsl:value-of select="$multipleDivId" />','<xsl:value-of select="$multiplelinkButtonId" />','<xsl:value-of select="MULTIPLE_SHOWDETAILSTEXT" />','<xsl:value-of select="MULTIPLE_HIDEDETAILSTEXT" />');
                                </xsl:attribute>
                                <span class="kitdetaillink">
                                  <xsl:value-of select="MULTIPLE_SHOWDETAILSTEXT"/>
                                </span>
                              </a>
                              <br />
                              <div style="display:none;" class="shippinaddress_content">
                                <xsl:attribute name="id">
                                  <xsl:value-of select="$multipleDivId" />
                                </xsl:attribute>
                                <xsl:value-of select="SHIP_ITEM_TO_TEXT" /> : <xsl:value-of select="SHIP_ITEM_TO_VALUE" disable-output-escaping="yes"/>
                                <br />
                                <xsl:value-of select="SHIP_ITEM_DETAIL" disable-output-escaping="yes" />
                                <br />
                                <xsl:value-of select="SHIPING_METHOD_TEXT" disable-output-escaping="yes" />
                                <br />
                                <xsl:value-of select="SHIPING_METHOD_VALUE" disable-output-escaping="yes" />
                              </div>
                            </div>

                          </xsl:if>

                        </div>

                      </div>
                    </div>
                  </xsl:for-each>

                  <div class="subtotal_summary" >

                      <div class="gotextright">
                          <span class="bigleftSpace">
                              <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />
                          </span>

                          <xsl:if test="FIELD/VATENABLED = 'true'">
                              <xsl:if test="FIELD/VAT_INCLUSIVE = 'false'">
                                  <span class="bigleftSpace">
                                      <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                                  </span>
                              </xsl:if>
                              <xsl:if test="FIELD/VAT_INCLUSIVE = 'true'">
                                  <span class="bigleftSpace">
                                      <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                                  </span>
                              </xsl:if>
                          </xsl:if>

                          <span class="showproduct_Price" >
                              <xsl:value-of select="FIELD/SUBTOTAL_VALUE"/>
                          </span>
                      </div>

                      <div class="gotextright">
                          <hr />
                      </div>

                      <div class="gotextright">
                      <span class="bigleftSpace" >
                        <xsl:value-of select="ise:StringResource('shoppingcart.aspx.10')" disable-output-escaping="yes" />
                      </span>
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.12')" disable-output-escaping="yes" />
                    </div>

                    <xsl:if test="FIELD/VAT_INCLUSIVE = 'false'">
                      <div class="gotextright">
                        <span class="bigleftSpace">
                          <xsl:value-of select="ise:StringResource('shoppingcart.aspx.11')" disable-output-escaping="yes" />
                        </span>

                          <xsl:choose>
                              <xsl:when test="$IsCustomerRegistered = 'false'">
                                  <span>
                                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.12')" disable-output-escaping="yes" />
                                  </span>
                              </xsl:when>
                              <xsl:otherwise>
                                  <span class="showproduct_Price" >
                                      <xsl:value-of select="FIELD/TAXCALCULATED_TEXT_2"/>
                                  </span>
                              </xsl:otherwise>
                          </xsl:choose>
                 
                      </div>
                    </xsl:if>

                      <!-- Coupon Discount -->
                      <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'true'">
                          <div class="gotextright">
                              <span class="bigleftSpace">
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.38')" disable-output-escaping="yes" />
                              </span>
                              <span class="showproduct_Price" >
                                  <xsl:value-of select="FIELD/APPLIED_COUPON_DISCOUNT" disable-output-escaping="yes" />
                              </span>
                          </div>
                      </xsl:if>

                    <div class="gotextright">
                      <hr />
                    </div>
                    <div class="gotextright">
                      <span class="bigleftSpace" >
                        <b>
                          <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
                        </b>
                      </span>
                      <span class="showproduct_Price" >
                        <xsl:value-of select="FIELD/TOTAL_VALUE"/>
                      </span>
                    </div>
                    
                  </div>

                </xsl:otherwise>
              </xsl:choose>

            </div>

          </div>
        </div>

        <script>
          $(document).ready(function(){
             setMinQuantityByUnitMeasure = function (selection) {
           
                var $this = selection.find(":selected");
                var minOrderQtyID = $this.attr("minorderquantityid");
                var umQty = $this.attr("unitmeasurequantity");

                if (minOrderQtyID==undefined){return;}
                if (minOrderQtyID.toString().length == 0){return;}
                var $baseMinOrderQtyHolder = $("#"+ "Base_" + minOrderQtyID );

                if ($baseMinOrderQtyHolder == undefined){return;}
                var baseMinOrderQty =$baseMinOrderQtyHolder.val();

                if(umQty==undefined){return;}
                if (baseMinOrderQty==undefined){return;}

                umQty = Number(umQty);
                baseMinOrderQty = Number(baseMinOrderQty);

                if (baseMinOrderQty == 0){return;}

                // DOZEN to EACH Vv
                // check if allow fractional before using Math.ceil
                <xsl:choose>
                  <xsl:when test="ALLOWFRACTIONAL = 'false'">
                    umQty=  Math.ceil(baseMinOrderQty/umQty);
                  </xsl:when>
                  <xsl:otherwise>
                    umQty=  Math.round((baseMinOrderQty/umQty)*100)/100;
                  </xsl:otherwise>
                </xsl:choose>
          
              var $minQuantityHolder = $("#"+ minOrderQtyID);
              if ($minQuantityHolder != undefined){$minQuantityHolder.val(Number(umQty)); }
            }

            $(".showproduct_limitunitmeasure").change(function(){
              var $this = $(this);
              setMinQuantityByUnitMeasure($this);
            });
          });
        </script>
      </xsl:template>
    </xsl:stylesheet>

  </PackageTransform>
</package>