<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Kit Product" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="KitItems" rowElementName="KitItem">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />

  </query>

  <XmlHelperPackage name="helper.product.xml.config" />

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        <xsl:comment>Licensed by Interprise Solutions.</xsl:comment>
        <xsl:choose>
          <xsl:when test="count(root/Products/Product) &gt; 1">
            <xsl:for-each select="/root/Products/Product[position()=1]">
              <xsl:call-template name="MultiVariant" />
            </xsl:for-each>
          </xsl:when>
          <xsl:otherwise>
            <xsl:apply-templates select="/root/KitItems/KitItem" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="KitItem">
        <xsl:param name="pName">
          <xsl:value-of select="ItemDescription" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:choose>

          <xsl:when test="IsAKit='0' or IsAPack=1">
            <xsl:call-template name="otherItems" />
          </xsl:when>

          <xsl:otherwise>

            <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />

            <div class="signin_main removeMarginTop">
              <div class="signin_info">

                <div class="showproduct_main">
                  <div class="showproduct_photo">
                    <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
                  </div>

                  <table class="showproduct_detail">
                    <tr>
                      <td class="showproduct_details_wrapper" >
                        <span class="product_description">
                          <xsl:value-of select="$pDisplayName" disable-output-escaping="yes" />
                        </span>
                        <br />
                        <br />

                        <xsl:if test="string-length($pDescription) >0" >
                          <a href="javascript:void(0)" class="kitdetaillink">
                            <xsl:attribute name="onclick">
                              <xsl:text>jqueryHideShow('#show_webdescription_</xsl:text><xsl:value-of select="Counter" />')
                            </xsl:attribute>
                            <span>
                              <xsl:value-of select="ise:GetShowProductText()"/>
                            </span>
                          </a>
                          <br />
                          <div style="display:none" class="kit_details" id="{concat('show_webdescription_',Counter)}">
                            <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                          </div>
                          <br />
                        </xsl:if>

                        <div>
                          <xsl:value-of select="ise:DisplayExpectedShipDate(Counter, ItemCode, ExpShipingDate, ItemType)" disable-output-escaping="yes" />
                        </div>

                        <xsl:if test="string-length(Summary) >0" >
                          <a href="javascript:void(0)" class="kitdetaillink">
                            <xsl:attribute name="onclick">
                              <xsl:text>jqueryHideShow('#show_summary_</xsl:text><xsl:value-of select="Counter" />')
                            </xsl:attribute>
                            <span>
                              <xsl:value-of select="ise:GetSummaryText()"/>
                            </span>
                          </a>
                          <br />
                          <div style="display:none" class="kit_details" id="{concat('show_summary_',Counter)}">
                            <xsl:value-of select="Summary" disable-output-escaping="yes" />
                          </div>
                          <br />
                        </xsl:if>

                        <xsl:if test="string-length(Warranty) >0" >
                          <a href="javascript:void(0)" class="kitdetaillink">
                            <xsl:attribute name="onclick">
                              <xsl:text>jqueryHideShow('#show_warranty_</xsl:text><xsl:value-of select="Counter" />')
                            </xsl:attribute>
                            <span>
                              <xsl:value-of select="ise:GetWarrantyText()"/>
                            </span>
                          </a>
                          <div style="display:none" class="kit_details" id="{concat('show_warranty_',Counter)}">
                            <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                          </div>
                          <br />
                          <br />
                        </xsl:if>

                      </td>
                    </tr>
                  </table>

                  <div>
                    <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                  </div>

                  <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

                  <input type="hidden" name="IsKitSubmit" value="true" />

                  <!--<xsl:value-of select="ise:GetJSPopupRoutines()" disable-output-escaping="yes" />-->

                  <!--<xsl:value-of select="ise:ProductRatings(ItemCode)" disable-output-escaping="yes" />-->

                </div>

              </div>

              <xsl:value-of select="ise:DisplayKitItemOptions(Counter, ItemCode)" disable-output-escaping="yes" />

              <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />

              <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />

            </div>

          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template name="otherItems">
        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
        <div class="signin_main errorLg">
          <b>
            This XMLPackage is designed to work with Kit products only.<br />
            <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
          </b>
        </div>
      </xsl:template>

      <!-- this could obviously be expanded to properly handle multi-variant products -->
      <xsl:template name="MultiVariant">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="Name" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml)=0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
        <div class="signin_main errorLg">
          <b>
            This XMLPackage is designed to work with Kit products only.<br />
            <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
          </b>
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



