<?xml version="1.0" encoding="utf-8"?>
<package displayname="Manage Contacts" version="2.1" allowengine="true" includeentityhelper="false" debug="false">

  <query name="Contacts" rowElementName="Contact">
    <sql>
      <![CDATA[
      
            EXEC EcommerceGetCustomerContacts 
            @CustomerCode = @customerCode,
            @ContactCode = @contactCode,
            @WebsiteCode = @websiteCode,
            @CurrentDate = @currentDate,
            @PageNumber = @pageNumber,
            @RowsPerPage = @rowsPerPage,
            @ColumnsOrderBy = @columnsOrderBy,
            @OrderByDirection = @orderByDirection,
            @IsShowAll = @isShowAll,
            @Search = @search
            
            ]]>
    </sql>
    
    <queryparam paramname="@customerCode" paramtype="runtime" requestparamname="CustomerCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@contactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@websiteCode" paramtype="runtime" requestparamname="WebsiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@currentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@pageNumber" paramtype="runtime" requestparamname="PageNumber" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@rowsPerPage" paramtype="runtime" requestparamname="rowsPerPage" sqlDataType="int" defvalue="2" validationpattern="" />
    <queryparam paramname="@columnsOrderBy" paramtype="runtime" requestparamname="ColumnsOrderBy" sqlDataType="nvarchar" defvalue="ContactLastName" validationpattern="" />
    <queryparam paramname="@orderByDirection" paramtype="runtime" requestparamname="OrderByDirection" sqlDataType="nvarchar" defvalue="ASC" validationpattern="" />
    <queryparam paramname="@isShowAll" paramtype="runtime" requestparamname="IsShowAll" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@search" paramtype="request" requestparamname="search" sqlDataType="nvarchar" defvalue="" validationpattern="" />
     
    
  </query>
  
  <query name="Salutations" rowElementName="Salutation">
    <sql>
      <![CDATA[
      
            SELECT  Counter , SalutationCode, SalutationDescription FROM SystemSalutation WHERE IsActive = 1 ORDER BY SalutationDescription
      ]]>
    </sql>
  </query>
  
  <query name="Countries" rowElementName="Country">
    <sql>
      <![CDATA[
      
            SELECT CountryCode, IsWithState, IsSearchablePostal FROM ECommerceAddressCountryView
      ]]>
    </sql>
  </query>

 
  <XmlHelperPackage name="helper.entity.xml.config" />
  <PackageTransform debug="true">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      
      <xsl:param name="CustomerCode" select="/root/System/CustomerID" />
      <xsl:param name="ContactCode" select="/root/Runtime/ContactCode" />
      <xsl:param name="WebsiteCode" select="/root/Runtime/WebSiteCode" />
      <!--<xsl:param name="CustomSearch" select="/root/System/CustomerID" />-->
      
      <xsl:variable name="ErrorMessage" select="/root/QueryString/error" />
      <xsl:variable name="SuccessMessage" select="/root/QueryString/success" />
      <xsl:variable name="Search" select="/root/QueryString/search" />
      
      <xsl:variable name="AddressTypes">
        <AddressType>
          <AddressTypeCode>Residential</AddressTypeCode>
          <AddressTypeDescription>Residential</AddressTypeDescription>
        </AddressType>
        <AddressType>
          <AddressTypeCode>Commercial</AddressTypeCode>
          <AddressTypeDescription>Commercial</AddressTypeDescription>
        </AddressType>
      </xsl:variable>
      
      <xsl:template match="/">
        <xsl:call-template name="OnLoadMessage"></xsl:call-template>

        <script type="text/javascript" src="jscripts/managecontacts.js"></script>
        <link rel="stylesheet" href="jscripts/jquery/DIYModal/DIYModal.css"></link>
        <script type="text/javascript" src="jscripts/jquery/DIYModal/DIYModal.js"></script>

        <div class="manage-contact">

          <xsl:call-template name="Header"></xsl:call-template>
          <xsl:call-template name="Table"></xsl:call-template>
          <xsl:call-template name="Footer"></xsl:call-template>
          <xsl:call-template name="AddContactModal"></xsl:call-template>
          <xsl:call-template name="EditContactModal"></xsl:call-template>
          <xsl:call-template name="DeleteContactModal"></xsl:call-template>
          <xsl:call-template name="DeleteCheckedContactModal"></xsl:call-template>
          <xsl:call-template name="ErrorOnDelete"></xsl:call-template>
          <xsl:call-template name="ErrorOnMultiDelete"></xsl:call-template>
          <xsl:call-template name="MainJavascript"></xsl:call-template>
          
        </div>
       
      </xsl:template>

      <!--OnLoadMessage-->
      <xsl:template name="OnLoadMessage">
        
        <xsl:if test="$ErrorMessage != ''">
          <div class="row">
            <div class="alert alert-block alert-error fade in manage-contact-onload-message">
                
                <p>
                  <strong>
                    <xsl:value-of select="$ErrorMessage" />
                  </strong>
                </p>
              </div>
          </div>
        </xsl:if>
        <xsl:if test="$SuccessMessage != ''">
          <div class="row">
            <div class="alert alert-block alert-default fade in manage-contact-onload-message">
             
              <p>
                <strong>
                  <xsl:value-of select="$SuccessMessage" />
                </strong>
              </p>
            </div>
          </div>
        </xsl:if>
      
      </xsl:template>
      
        <!--ErrorOnDelete-->
       <xsl:template name="ErrorOnDelete">
         <div id="error-ondelete-modal">
           <form id="form-modal" action="submitmanagecontacts.aspx" role="form" >
             <input type="hidden" name="action" value="inactive"></input>
             <input type="hidden" id="hidden-contactcode" name="contactcode"></input>
             <input type="hidden" id="hidden-fullname" name="fullname"></input>
            <div class="diymodal-header">
                <div class="diymodal-title">
                  <h1>Unable to delete contact</h1>
                </div>
                <div class="diymodal-close">
                  <a href="#" onclick="manageContactsPage.errorOnDeleteModal.modal.close();"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="diymodal-content">
                <div class="row-fluid manage-contact-delete-modal-message">
                  <center>
                    <div>
                      <p>
                      Unable to delete <strong id="contact-to-delete"></strong>.
                      </p>
                    </div>
                    <div id="error-ondelete-message">
                      <p class="error"></p>
                    </div>
                    <div>
                      <p>
                      Do you want to set this contact as inactive instead?
                      </p>
                    </div>
                  </center>
                   
                </div>
                <div class="row-fluid">
                  <center>
                    <button type="button" class="btn btn-default" onclick="manageContactsPage.errorOnDeleteModal.modal.close();">Cancel</button>
                    <button type="submit" class="btn btn-default">Set as Inactive</button>
                  </center>
                </div>
              </div>
           </form>
         </div>
      </xsl:template>
      
          <!--ErrorOnMultiDelete-->
       <xsl:template name="ErrorOnMultiDelete">
         <div id="error-onmultidelete-modal">
           <form id="form-modal" action="submitmanagecontacts.aspx" role="form" >
             <input type="hidden" name="action" value="inactivechecked"></input>
             <input type="hidden" id="hidden-contactcode" name="contactcode"></input>
             <input type="hidden" id="hidden-fullname" name="fullname"></input>
            <div class="diymodal-header">
                <div class="diymodal-title">
                  <h1>Unable to delete contact/s</h1>
                </div>
                <div class="diymodal-close">
                  <a href="#" onclick="manageContactsPage.errorOnMultiDeleteModal.modal.close();"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="diymodal-content">
                <div class="row-fluid manage-contact-delete-modal-message">
                  <center>
                    <table id="table-multi-delete-result">
                      <thead>
                        <tr>
                          <th>Contact</th>
                          <th>Result</th>
                          <th>Set as Inactive</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </center>
                   
                </div>
                <div class="row-fluid">
                  <center>
                    <button type="button" class="btn btn-default" onclick="manageContactsPage.errorOnMultiDeleteModal.modal.close();">Cancel</button>
                    <button type="submit" class="btn btn-default">Set as Inactive</button>
                  </center>
                </div>
              </div>
           </form>
         </div>
      </xsl:template>
      
      <!--DeleteContactModal-->
       <xsl:template name="DeleteContactModal">
         <div id="delete-contact-modal">
           <form id="form-modal" action="submitmanagecontacts.aspx" role="form" >
             <input type="hidden" name="action" value="delete"></input>
             <input type="hidden" id="hidden-contactcode" name="contactcode"></input>
             <input type="hidden" id="hidden-fullname" name="fullname"></input>
            <div class="diymodal-header">
                <div class="diymodal-title">
                  <h1>Delete Contact</h1>
                </div>
                <div class="diymodal-close">
                  <a href="#" onclick="manageContactsPage.deleteContactModal.modal.close();"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="diymodal-content">
                <div class="row-fluid manage-contact-delete-modal-message">
                  <center>
                    <p>Are you use you want to delete <strong id="name-to-delete"></strong> ?</p>
                  </center>
                   
                </div>
                <div class="row-fluid">
                  <center>
                    <button type="button" class="btn btn-default" onclick="manageContactsPage.deleteContactModal.modal.close();">Cancel</button>
                    <button type="submit" class="btn btn-default">Delete</button>
                  </center>
                </div>
              </div>
           </form>
         </div>
      </xsl:template>
      
        <!--DeleteCheckedContactModal-->
       <xsl:template name="DeleteCheckedContactModal">
         <div id="delete-checked-contact-modal">
           <form id="form-modal" action="submitmanagecontacts.aspx" role="form" >
             <input type="hidden" name="action" value="deletechecked"></input>
             <input type="hidden" id="hidden-contacts" name="contacts"></input>
            <div class="diymodal-header">
                <div class="diymodal-title">
                  <h1>Delete Contact/s</h1>
                </div>
                <div class="diymodal-close">
                  <a href="#" onclick="manageContactsPage.deleteCheckedContactModal.modal.close();"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="diymodal-content">
                <div class="row-fluid manage-contact-delete-modal-message">
                  <center>
                    <p>Are you use you want to delete the selected contact/s ?</p>
                    <br></br>
                    <strong>
                      <ul id="names-to-delete"> </ul>
                    </strong>
                  </center>
                   
                </div>
                <div class="row-fluid">
                  <center>
                    <button type="button" class="btn btn-default" onclick="manageContactsPage.deleteCheckedContactModal.modal.close();">Cancel</button>
                    <button type="submit" class="btn btn-default">Delete</button>
                  </center>
                </div>
              </div>
           </form>
         </div>
      </xsl:template>
      
      <!--AddContactModal-->
      <xsl:template name="AddContactModal">
        <xsl:call-template name="ContactModal">
          <xsl:with-param name="Action" select= "'add'" />
          <xsl:with-param name="HeaderTitle" select = "'Add Contact'" />
        </xsl:call-template>
      </xsl:template>
      
      <!--EditContactModal-->
      <xsl:template name="EditContactModal">
        <xsl:call-template name="ContactModal">
          <xsl:with-param name="Action" select= "'edit'" />
          <xsl:with-param name="HeaderTitle" select = "'Edit Contact'" />
        </xsl:call-template>
      </xsl:template>

      <!--ContactModal-->
      <xsl:template name="ContactModal">
        <xsl:param name = "Action" />
        <xsl:param name = "HeaderTitle" />

        <!--<form  method="POST" id="LoginForm" name="LoginForm" action="loginCustomer.aspx" class="form-inline" role="form">-->
        <div id="{concat($Action,'-contact-modal')}">
          <form id="form-modal" action="submitmanagecontacts.aspx" name="{concat($Action,'ContactForm')}" role="form" >
            <input type="hidden" name="action">
              <xsl:attribute name="value">
                <xsl:value-of select="$Action" />
              </xsl:attribute>
            </input>
            <input type="hidden" id="hidden-contactcode" name="contactcode"></input>
            <div class="diymodal-header">
                <div class="diymodal-title">
                  <h1><xsl:value-of select="$HeaderTitle" /></h1>
                </div>
                <div class="diymodal-close">
                  <a href="#" onclick="{concat('manageContactsPage.',$Action,'ContactModal.modal.close();')}"><i class="fa fa-times"></i></a>
                </div>
              </div>
            <div class="diymodal-content">
                <div class="row-fluid">
                  <div class="large-6 columns">
                    <div class="form-horizontal">
                      <div class="control-group">
                        <label class="control-label" for="">Salutation</label>
                        <div class="controls">
                          <select id="select-salutation" name="salutation" class="full-width">
                            <option value="">
                              Select <xsl:value-of select="ise:StringResource('account.aspx.61')" />
                            </option>
                            <xsl:for-each select="/root/Salutations/Salutation">
                              <option>
                                 <xsl:attribute name="value">
                                   <xsl:value-of select="SalutationCode" />
                                </xsl:attribute>
                                <xsl:value-of select="SalutationDescription" />
                              </option>
                            </xsl:for-each>
                          </select>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="txt-firstName">First Name</label>
                        <div class="controls">
                          <input type="text" id="txt-firstName" name="firstname" placeholder="First Name" required="required" class="full-width"></input>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="">Last Name</label>
                        <div class="controls">
                          <input type="text" id="txt-lastName" name="lastname" placeholder="Last Name" required="required" class="full-width"></input>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="">Phone/Ext</label>
                        <div class="controls">
                          <div class="form-inline">
                            <input type="text" class="input-small half-width" id="txt-phone" name="phone" placeholder="Phone"  ></input>
                            /
                            <input type="text" class="input-small _40-width" id="txt-phoneExt" name="phoneext" placeholder="Ext"></input>
                          </div>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="">Mobile</label>
                        <div class="controls">
                          <input type="text" id="txt-mobile" name="mobile" placeholder="Mobile" class="full-width"></input>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="">Email</label>
                        <div class="controls">
                          <input type="email" id="txt-email" name="email" placeholder="Email" required="required" class="full-width"></input>
                        </div>
                      </div>
                    </div>
                
                  </div>
                  <div class="large-6 columns">
                     <div class="form-horizontal">
                       <div class="control-group">
                        <label class="control-label" for="">Address</label>
                        <div class="controls">
                          <textarea id="txtarea-address" name="address" rows="3"  required="required" class="full-width"></textarea>
                        </div>
                       </div>
                     
                      <div class="control-group">
                        <label class="control-label" for="">Address Type</label>
                        <div class="controls">
                          <select id="select-addressType" required="required" name="addresstype" class="full-width">
                            <option value="">
                              Select <xsl:value-of select="ise:StringResource('editaddress.aspx.13')" />
                            </option>
                            <option value="Residential">Residential</option>
                            <option value="Commercial">Commercial</option>
                          </select>
                        </div>
                      </div>
                    
                       <div class="control-group">
                        <label class="control-label" for="">City/State</label>
                        <div class="controls">
                          <div class="form-inline">
                            <input type="text" class="input-small half-width" id="txt-city" placeholder="City" name="city" required="required"></input>
                            /
                            <input type="text" class="input-small _40-width" id="txt-state" placeholder="State" name="state" required="required"></input>
                          </div>
                        </div>
                      </div>
                     
                      <div class="control-group">
                        <label class="control-label" for="">Zip Code</label>
                        <div class="controls">
                          <input type="text" id="txt-zipCode" name="zipcode" placeholder="Zip Code" required="required" class="full-width"></input>
                        </div>
                      </div>
                     
                      <div class="control-group">
                        <label class="control-label" for="">Country</label>
                        <div class="controls">
                           <select id="select-country" required="required" name="country" class="full-width">
                             <option value="">Select Country</option>
                              <xsl:for-each select="/root/Countries/Country">
                                <option>
                                  <xsl:attribute name="value">
                                    <xsl:value-of select="CountryCode" />
                                  </xsl:attribute>
                                  <xsl:value-of select="CountryCode" />
                                </option>
                              </xsl:for-each>
                            </select>
                        </div>
                      </div>
                
                    </div>
                  </div>
                </div>
                <div class="row-fluid">
                  <center>
                      <button type="button" class="btn btn-default" onclick="{concat('manageContactsPage.',$Action,'ContactModal.modal.close();')}">Cancel</button>
                      <!--<button type="button" class="btn btn-default" onclick="{concat($Action,'ContactBinder.fn.createNewContact();')}">Save</button>-->
                    <button type="submit" class="btn btn-default" >Save</button>
                  </center>
                </div>
              </div>
          </form>
          </div>
   
       
      </xsl:template>
      
      <!--Table Header-->
      <xsl:template name="Header">
        <div class="manage-contact-header">
          <div class="manage-contact-header-search">
            <span class="search-label">Contacts</span>
            <span>
                <input type="text" placeholder="Search" class="txt-search-contact" id="txt-search-contact">
                   <xsl:attribute name="value">
                     <xsl:value-of select="$Search" />
                  </xsl:attribute>
                </input>
                <a href="javascript:void(0)" class="btn-search-contact" id="btn-search-contact"><i class="fa fa-search"></i></a>
            </span>
          </div>
          <div class="manage-contact-header-action">
            <span><button type="button" class="btn btn-default" onclick="manageContactsPage.addContactModal.modal.open();"><i class="fa fa-plus" ></i>Add New</button></span>
            <span><button type="button" class="btn btn-default" id="btn-delete-checked-contacts"><i class="fa fa-trash"></i>Remove</button></span>
          </div>
        </div>
     
      </xsl:template>
      
      <!--Table Body-->
      <xsl:template name="Table">
        <table class="manage-contact-table" id="table-contacts">
          <thead>
            <tr class="manage-contact-table-columns">
              <th><input type="checkbox" id="chkbox-allcontacts"></input></th>
              <th>Salutation</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone/Ext</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          
          </thead>
          <tbody>
             <xsl:for-each select="/root/Contacts/Contact">
            <xsl:choose>
              <xsl:when test="(position() mod 2) = 0">
                    <xsl:call-template name="Row"></xsl:call-template>
              </xsl:when>
              <xsl:otherwise>
                  <xsl:call-template name="AlternateRow"></xsl:call-template>
              </xsl:otherwise>
            </xsl:choose>
            </xsl:for-each>
          </tbody>
        </table>
      </xsl:template>
      
       <!--Table Row-->
      <xsl:template name="Row">
        <tr class="manage-contact-table-row">
            <xsl:attribute name="data-contact-code">
              <xsl:value-of select="ContactCode" />
            </xsl:attribute>
            <td><input type="checkbox" class="chkbox-contact"></input> </td>
            <td><xsl:value-of select="ContactSalutationCode" /></td>
            <td><xsl:value-of select="ContactFirstName" /></td>
            <td><xsl:value-of select="ContactLastName" /></td>
            <td><xsl:value-of select="BusinessPhone" /> / <xsl:value-of select="BusinessPhoneExtension" /></td>
            <td><xsl:value-of select="Mobile" /> / <xsl:value-of select="MobileExtension" /></td>
            <td><xsl:value-of select="Email1" /></td>
            <td>
              <xsl:value-of select="concat(Address,', ', City,', ', State ,', ', Country)"/> </td>
          <td>
              <button  type="button" class="btn-edit-contact">
                <i class="fa fa-pencil"></i>
              </button>
              <button  type="button" class="btn-delete-contact">
                <i class="fa fa-trash"></i>
              </button>
            </td>
        </tr>
        </xsl:template>
      
      <!--Table Alternate Row-->
      <xsl:template name="AlternateRow">
         <tr class="manage-contact-table-alternate-row">
           <xsl:attribute name="data-contact-code">
             <xsl:value-of select="ContactCode" />
           </xsl:attribute>
           <td><input type="checkbox" class="chkbox-contact"></input> </td>
            <td><xsl:value-of select="ContactSalutationCode" /></td>
            <td><xsl:value-of select="ContactFirstName" /></td>
            <td><xsl:value-of select="ContactLastName" /></td>
            <td><xsl:value-of select="BusinessPhone" /> / <xsl:value-of select="BusinessPhoneExtension" /></td>
            <td><xsl:value-of select="Mobile" /> / <xsl:value-of select="MobileExtension" /></td>
            <td><xsl:value-of select="Email1" /></td>
            <td>
              <xsl:value-of select="concat(Address,', ', City,', ', State ,', ', Country)"/>
            </td>
            <td>
              <button type="button" class="btn-edit-contact">
                <i class="fa fa-pencil"></i>
              </button>
              <button  type="button" class="btn-delete-contact">
                <i class="fa fa-trash"></i>
              </button>
            </td>
        </tr>

      </xsl:template>
      
      <!--Table Footer-->
      <xsl:template name="Footer">
        <xsl:variable name="PageCount" select="number(/root/Contacts2/Contact/PageCount)"></xsl:variable>
        <xsl:variable name="QueryString" select="''"></xsl:variable>
        


        <div class="manage-contact-footer">
          <!--<div class="row-fluid">
            <div class="large-6 columns">
              Go to page:
           
                --><!--root/system/storeurl
                root/system/requestedpage
                root/system/requestedquerystring--><!--
                <xsl:for-each select="(//node())[$PageCount >= position()]">
                  <a clas="btn">
                    <xsl:attribute name="href">
                      <xsl:value-of select="ise:Decode(concat(/root/System/StoreUrl, /root/System/RequestedPage,'?', /root/System/QueryStringRAW, '&amp;', 'PageNumber=', position()))" />
                    </xsl:attribute>
                    <xsl:value-of select="position()"></xsl:value-of>
                  </a>
                </xsl:for-each>
            
            </div>
            <div class="large-6 columns">
              <p class="text-right">
                Showing <xsl:value-of select="/root/Contacts2/Contact/FromRow" /> to <xsl:value-of select="/root/Contacts2/Contact/ToRow" /> of <xsl:value-of select="/root/Contacts2/Contact/TotalRows" /> Rows
              </p>
              
            </div>
          </div>-->
       
        </div>
 
      </xsl:template>

      <!--Main Javascript-->
      <xsl:template name="MainJavascript">
        <script>
          var manageContactsPage = new ise.Pages.ManageContacts();
          $(function(){
            
          
            <xsl:for-each select="/root/Contacts/Contact">
              manageContactsPage.addContact({
              ContactGUID :  "<xsl:value-of select="ContactGUID"></xsl:value-of>",
              ContactCode :  "<xsl:value-of select="ContactCode"></xsl:value-of>",
              ContactSalutationCode : "<xsl:value-of select="ContactSalutationCode"></xsl:value-of>",
              ContactFirstName  : "<xsl:value-of select="ContactFirstName"></xsl:value-of>",
              ContactLastName : "<xsl:value-of select="ContactLastName"></xsl:value-of>",
              BusinessPhone : "<xsl:value-of select="BusinessPhone"></xsl:value-of>",
              BusinessPhoneExtension  : "<xsl:value-of select="BusinessPhoneExtension"></xsl:value-of>",
              Mobile  : "<xsl:value-of select="Mobile"></xsl:value-of>",
              MobileExtension : "<xsl:value-of select="MobileExtension"></xsl:value-of>",
              Email  : "<xsl:value-of select="Email1"></xsl:value-of>",
              Address : "<xsl:value-of select="ise:ReplaceNewLineWithSpace(Address)"></xsl:value-of>",
              City  : "<xsl:value-of select="City"></xsl:value-of>",
              State : "<xsl:value-of select="State"></xsl:value-of>",
              PostalCode  : "<xsl:value-of select="PostalCode"></xsl:value-of>",
              AddressType  : "<xsl:value-of select="AddressType"></xsl:value-of>",
              Country : "<xsl:value-of select="Country"></xsl:value-of>"
              });
            </xsl:for-each>
          
          manageContactsPage.init();
          
          });
          
          
       
        </script>

      </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>