<?xml version="1.0" encoding="utf-8"?>
<package displayname="Manage Contacts Link" version="2.1" allowengine="true" includeentityhelper="false" debug="false">

 
  <PackageTransform debug="true">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      
      <xsl:template match="/">
        <span>
          <a href="managecontacts.aspx">Manage Contacts</a>
        </span>
        
      </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>