<?xml version="1.0" encoding="utf-8"?>
<package displayname="Product" version="2.1" allowengine="true" includeentityhelper="false" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <XmlHelperPackage name="helper.page.default.xml.config" />
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.0.3.min.js"></script>
        <link rel="stylesheet" href="jscripts/jquery/DIYModal/DIYModal.css"></link>
        <script type="text/javascript" src="jscripts/jquery/DIYModal/DIYModal.js"></script>
        <xsl:call-template name="MainContent"></xsl:call-template>
        <xsl:call-template name="MODAL"></xsl:call-template>
        <style type="text/css">.header-container{width: 100%; background-color: #136DB1;color:white;}
          .header-content{display: inline-flex; margin: 10px 10px 10px 10px !important}
          select{width: auto}
          #contentContainer{display:inline-block;}
          .content{text-align:center; display: inline-block; margin: 5px !important; width: 23%; }
          <!--.cbo-box{width:120px;}-->
          .img, .img-selected {border: 1px solid rgb(237, 237, 237); padding: 10px;}
          .btnAdd{background-color: #136DB1;color:white; border:0px;}
          .title{margin:5px !important}
          .modal-content {text-align: center; padding: 20px;}
          .img-selected{margin: 10px;}
          .btnCancel{padding:10px; background-color:black; border:0px; color:white; margin:2px;}
          .btnAddtoOrder{padding:10px; background-color:#136DB1; border:0px; color:white;}
          .btn-find{padding: 7px; border-radius: 5px; left: 5px; position: relative;top: 22px; background-color: white;border: none;}</style>
      </xsl:template>
      
      <!--MAIN CONTENT-->
      
      <xsl:template name="MainContent">
        <xsl:variable name="count" select="count(FIELD/AutomotiveProduct)"/>
        <xsl:choose>
          <xsl:when test="$count &gt; 0">
            <div id="contentContainer" class="row" style=" width: 100%; margin-bottom:70px" >
              <xsl:for-each select="FIELD/AutomotiveProduct">
                <!--<div class="col-xs-2 text-center" style="margin-top:10px">-->
                <div class="text-center" style="display: inline-block; width: 200px; height: 250px; margin:15px">
                  <!--<img class="img">
                    <xsl:attribute name ="src">
                      <xsl:value-of select="ImageSource" />
                    </xsl:attribute>
                  </img>-->
                  <xsl:value-of select="ise:DisplayImage('product', current()/ItemCounter, 'icon', SEAltText,'AltText')" disable-output-escaping="yes" />
                  <div class="title" style= " text-align:center; width:180px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                    <!--<p>-->
                      <xsl:value-of select="ItemDescription"/>
                    <!--</p>-->
                  </div>
                  <form class="form-inline">
                    <div class="form-group">
                      <label>Qty:</label>
                      <input type="text" style="width: 30px; height: 25px; text-align:center; margin-left: 5px" class="qty" value="0">
                        <xsl:attribute name ="Qty">
                          <xsl:value-of select="Qty"/>
                        </xsl:attribute>
                        <xsl:attribute name ="data-itemcounter">
                          <xsl:value-of select="Counter"/>
                        </xsl:attribute>
                      </input>
                    </div>
                  </form>
                </div>
              </xsl:for-each>




              <!--PAGING-->
              <xsl:variable name="PreviousUrl" select="FIELD/PAGE_PREVIOUS_URL"></xsl:variable>
              <xsl:variable name="NextUrl" select="FIELD/PAGE_NEXT_URL"></xsl:variable>
              <xsl:variable name="PageCount" select="FIELD/PAGE_COUNT"></xsl:variable>
              <div class="entity-paging">
                <xsl:for-each select="FIELD/Page">
                  <a>
                    <xsl:choose>
                      <xsl:when test="IsActive = '1'">
                        <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                        <xsl:attribute name="class">num active</xsl:attribute>
                        <!--<div class="num active">
                                <xsl:value-of select="Pages"/>
                              </div>-->
                      </xsl:when>
                      <xsl:otherwise>
                        <!--<xsl:attribute name="href">
                                <xsl:value-of select=""></xsl:value-of>
                              </xsl:attribute>-->
                        <xsl:attribute name="class">num</xsl:attribute>
                        <!--<div class="num">
                                <xsl:value-of select="Pages"/>
                              </div>-->
                      </xsl:otherwise>
                    </xsl:choose>
                    <xsl:value-of select="current()/PAGE_NUMBER" disable-output-escaping="yes"></xsl:value-of>
                  </a>
                </xsl:for-each>
                
                <!-- next -->
              </div>
              <!--END PAGING-->

              <script type="text/javascript">
              
                
                <!--$( ".btnAdd" ).click(function btnAddClick() {
                stopOwin();
              
                startOwin();
                
                var id = this.getAttribute('item-counter');
                
                var items = [];
                <xsl:for-each select="FIELD/AutomotiveProduct">var counter = '
                  <xsl:value-of select="Counter"></xsl:value-of>
                  ',
                  itemcode = '
                  <xsl:value-of select="ItemCode_DEV004765"></xsl:value-of>
                  ',
                  itemdesc = '
                  <xsl:value-of select="ItemDescription"></xsl:value-of>
                  ';
                  imgsrc = '
                  <xsl:value-of select="ImageSource"></xsl:value-of>
                  ';
                  
                  items.push({Counter: counter, ItemCode: itemcode, ItemDesc: itemdesc, ImgSrc: imgsrc});</xsl:for-each>
                selectedItem = items.filter(function ( selectedItem ) {
                return selectedItem.Counter === id;
                })[0];-->
                
                
                <!--var el = $('#modal');-->
                
                <!--el.find('h1').html(selectedItem.ItemDesc);
                $('.img-selected').attr('src', selectedItem.ImgSrc);
                
                });-->

                function cancelOrder(){
                diyModal.close();
                stopOwin();
                };


                function addOrderTolineItem(){
                $("#itempopup-loader").show();
              
                <!--var qty = $('#input-qty').val();-->
                var qty = null;

                var numbers = /^[0-9]+$/;
      
                var hub = $.hubConnection(url + "/signalr", { useDefaultPath: false });

                var proxy = hub.createHubProxy('mainHub');

                console.log(hub, proxy);

                proxy.on('sendMessage', function (title, message) {
                console.log(title, message);
                });

                hub.start()
                
     
                .done(function () {
                console.log('Now connected, connection ID=' + hub.id);

                var items = [];
                <xsl:for-each select="FIELD/AutomotiveProduct">
                  var counter = parseInt('<xsl:value-of select="Counter"></xsl:value-of>');
                  var itemcode = '<xsl:value-of select="ItemCode_DEV004765"></xsl:value-of>';
                  var itemdesc = "<xsl:value-of select="ItemDescription"></xsl:value-of>";
                  var imgsrc = '<xsl:value-of select="ImageSource"></xsl:value-of>';
                  var qty = parseInt('<xsl:value-of select="Qty"></xsl:value-of>');
                  
                  items.push({Counter: counter, ItemCode: itemcode, ItemDesc: itemdesc, ImgSrc: imgsrc, Qty:qty});
                  
                </xsl:for-each>


                var itemsToOrder = [];
                var messageShown = 0;
                $("input.qty").each(function(index, ctrl) {
                var qty = parseInt($(ctrl).val());
                var qty2 = $(ctrl).val();
                if(!qty2.match(numbers))
                {
                if (messageShown == 0)
                {
                alert('Please input numeric characters only');
                }
                messageShown = 1;
                return;
                }

                if (qty > 0) {


                var result = $.grep(items, function(e){ console.log(e); return e.Counter == $(ctrl).data("itemcounter"); });
                result[0].Qty = qty;
                itemsToOrder.push(result[0]);

                }
                });

                console.log(itemsToOrder);

                for (var item in itemsToOrder) {
                if (messageShown==1) {
                return;
                }

                var counter = itemsToOrder[item]["Counter"];
                var itemcode = itemsToOrder[item]["ItemCode"];
                var qty = itemsToOrder[item]["Qty"];

                proxy.invoke('Send', itemcode, qty, connID);

                }


                })

                .done(function(response) {
                $("#itempopup-loader").hide();
                hub.stop();
                })

                .fail(function () {
                alert('Unable to connect. Please add the correct webservice URL under Ecommerce Application Settings.')
                console.log('Could not connect');

                });

                <!--};-->

                <!--diyModal.close();-->

                };


                $( ".num" ).click(function nextPage() {


                });


                function startOwin(){

                $.ajax({

                <!--type: "POST",
                    url: "automotiveproductsearch.aspx/OnOwinStart",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    error:  function (result) { console.log('failed'); },
                    success: function (result)
                    {
                    console.log('success');
                    
                    $.getScript("http://localhost:3006/signalr/hubs");
                    
                    }-->
                
                });
                
                };
                
                function stopOwin(){
                
                <!--$.ajax({

                    type: "POST",
                    url: "automotiveproductsearch.aspx/OnOwinStop",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    error:  function (result) { console.log('failed'); },
                    success: function (result) { console.log('success'); }

                    });-->
                
                };
              </script>
            </div>
            
            <div style="position: fixed; bottom:0px; width:100%; background: #fff; padding: 10px; border-top:1px solid #efefef;text-align: right">
                  <!--<input type="button" class="btn btn-success" value="Add to Order" onclick="addOrderTolineItem()" ></input>-->
              <input type="button" style="margin-right: 20px;" id="btnAddLineItem" class="btn btn-success" value="Add to Order"></input>
              <script>
                $("#btnAddLineItem").click(function() {
                addOrderTolineItem();
                });    
              </script>
                
            </div>
            
          </xsl:when>
          <xsl:otherwise>
            <div class="not-found">
              <P>No Records found!</P>
            </div>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>




      <xsl:template name="MODAL">
        
        <!--MODAL-->
        <div id="modal" class="hidden">
          <div class="modal-content img">
            <h1></h1>
            <img class="img-selected"></img>
            <div class="form-group">
              <label>Qty:</label>
              <input type="text" id="input-qty" style="width: 35px;" class="form-control" value="1"></input>
            </div>
            <p>
              <input type="button" class="btn btn-default" value="Cancel" onclick="cancelOrder()"></input>
              <input type="button" class="btn btn-success" value="Add to Order" onclick="addOrderTolineItem()"></input>
            </p>
          </div>
        </div>
        <script type="text/javascript">var diyModal = null;
          $(function(){
          
          var htmlContent = $('#modal')[0].outerHTML;
          $('#modal').remove();
          
          diyModal =  new DIYModal({
          content: htmlContent,
          maxWidth: 350
          });
          
          });</script>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
