<?xml version="1.0" encoding="utf-8"?>
<package displayname="Product" version="2.1" allowengine="true" includeentityhelper="false" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <!--<XmlHelperPackage name="account.login.xml.config" />-->
  
  <XmlHelperPackage name="helper.page.default.xml.config" />
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
        <xsl:call-template name="Header"></xsl:call-template>
        <!--<xsl:call-template name="MainContent"></xsl:call-template>
        <xsl:call-template name="MODAL"></xsl:call-template>-->
        
      </xsl:template>
      
      <!--HEADER-->
      <xsl:template name="Header">
        <div class="container-fluid" style="margin-top: 10px;">
		<div class="row">
          <div class="col-md-12">
            <div class="well">
              <table class="table" style="margin-bottom: 0px; border-top: 0px;"><tr>
                <!--category-->
                
                <td style="border-top: 0px;">
                  <div class="form-group">
                    <label>Select Category:</label>
                    <select id="categoryList" class="form-control">
                      <xsl:for-each select="FIELD/CategoryClassification/Category">
                        <option value="{.}">
                          <xsl:value-of select="." />
                        </option>
                      </xsl:for-each>
                    </select>
                  </div>
                </td>
                
               <!--year-->
            
            <td style="display:none; border-top: 0px;">
<div class="form-group">
              <label>Select Year:</label>
              <select id="yearList" class="form-control">
                <xsl:for-each select="FIELD/YearClassification/Year">
                  <option value="{.}">
                    <xsl:value-of select="." />
                  </option>
                </xsl:for-each>
              </select>
            </div></td>
            <td style="display:none; border-top: 0px;">
<div class="form-group">
              <!--Maker-->
              <label>Select Maker</label>
              <select id="makerList" class="form-control">
                <xsl:for-each select="FIELD/MakeClassification/Make">
                  <option value="{.}">
                    <xsl:value-of select="." />
                  </option>
                </xsl:for-each>
              </select>
            </div></td>
            <td style="display:none; border-top: 0px;">
<div class="form-group">
              <!--model-->
              <label>Select Model:</label>
              <select id="modelList" class="form-control">
                <xsl:for-each select="FIELD/ModelClassification/Model">
                  <option value="{.}">
                    <xsl:value-of select="." />
                  </option>
                </xsl:for-each>
              </select>
            </div></td>
               
                <td style="border-top: 0px;">
                  <div class="form-group">
                    <!--type-->
                    <label>Select Type:</label>
                    <select id="typeList" class="form-control">
                      <xsl:for-each select="FIELD/TypeClassification/Type">
                        <option value="{.}">
                          <xsl:value-of select="." />
                        </option>
                      </xsl:for-each>
                    </select>
                  </div>
                </td>
                <td style="border-top: 0px;">
                  <button id="btn-find" class="btn btn-default" style="margin-top:25px; height: 33px; padding-top: 3px;" ><strong>Find</strong></button>
                </td>
				</tr>
              </table>
            </div>
          </div>
        </div>
        <!--row -->
        
        <div id="search-label" class="row">
		<div id="search-label" class="col-md-12">
            <h3>Search Result</h3>
        <div id="filter-label">
          <p>Please select from the filter options to find the items you're looking for.</p>
        </div>
        <div id="loading" style="color:#BBB2B2; display:none; text-align:center;">
          <p>Fetching Data..</p>
        </div>
		</div>
		</div><!--row-->
		</div><!--container-fluid-->
        <script type="text/javascript">
         var url = '<xsl:value-of select="FIELD/WebserviceURL/ConfigValue"></xsl:value-of>';
         var connID = '<xsl:value-of select="FIELD/ConnID/ID"></xsl:value-of>';
          
          $('#btn-find, .num').click(function () {
          
          $('#filter-label').hide();
          $('.not-found').hide();
          $("#loading").show();
          
          var year = $( "#yearList option:selected" ).val();
          var maker = $( "#makerList option:selected" ).val();
          var model = $( "#modelList option:selected" ).val();
          var type = $( "#typeList option:selected" ).val();
          var category = $( "#categoryList option:selected" ).val();
          
          year = 'All';
          maker = 'All';
          model = 'All';

          if (year == null || maker == null || model == null || type == null || category == null)
          {
          
          alert('Please fill up all search filters to continue on product search.');
          $("#loading").hide();
          $('#filter-label').show();
          return;
          
          }
          
          $.ajax({
          
          type: "POST",
          url: "automotiveproductsearch.aspx/OnSubmit",
          data: JSON.stringify({Year: year == null ? '' : year, Maker: maker == null ? '' : maker, Model: model == null ? '' : model, Type: type == null ? '' : type, Category: category == null ? '' : category, pageNum: 1}),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown) },
          success: function (result) {
          
          $("#loading").hide();
          renderContent(result);
          
          }
          });
          
          
          function renderContent(result){
          $('#webContent2').empty();
          $('#webContent2').append(result.d);
          
          };
          
          
          
          });</script>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
