<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>
      <xsl:template match="/">
        <xsl:variable name="RenderType" select="FIELD/RENDERTYPE" />
        <xsl:variable name="VatEnabled" select="FIELD/VATENABLED" />
        <xsl:variable name="VatInclusive" select="FIELD/VATINCLUSIVE" />
        <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />
        <xsl:variable name="IsFreeShipping" select="FIELD/ISFREESHIPPING" />
        <xsl:variable name="ShowStockHints" select="FIELD/SHOWSTOCKHINTS" />
        <xsl:variable name="ShowShipDateInCart" select="FIELD/SHOWSHIPDATEINCART" />
        <xsl:variable name="DecimalPlaces" select="ise:GetInventoryPreferencePlaces()"/>
   
        <ul class="items-to-be-shipped-ul">
          <xsl:for-each select="FIELD/CART_ITEMS">

            <xsl:variable name="ItemType" select="current()/ITEMTYPE" />
            <xsl:variable name="ItemCode" select="current()/ITEMCODE" />
            <xsl:variable name="IsOutOfStock" select="current()/ISOUTOFSTOCK" />
            <xsl:variable name="CartStatus" select="current()/CARTSTATUS" />
            <xsl:variable name="AllocQty" select="current()/ALLOCQTY" />
            <xsl:variable name="ReserveCol" select="current()/RESERVECOL" />

            <li>

              <div class="opc-items-to-be-shipped-wrapper">
                
                <div class="clear-both height-12"></div>
                <div class="clear-both height-5"></div>


                <xsl:choose>
                  <xsl:when test="SHOWPICSINCART = 'true'">

                    <!-- Product Photo -->
                    
                    <div class="items-to-be-shipped-left">
                      <xsl:choose>
                        <xsl:when test="LINKBACK = 'true'">
                          <a href="{PRODUCTLINKHREF}">
                            <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                          </a>
                        </xsl:when>
                        <xsl:otherwise>
                          <img title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                        </xsl:otherwise>
                      </xsl:choose>
                    </div>

                    <div class="items-to-be-shipped-right">
                      <!-- Product Name -->
                      <div class="opc-item-name opc-items-to-be-shipped float-left">

                        <xsl:if test="ISCHECKOUTOPTION = 'false'" >
                          <xsl:choose>
                            <xsl:when test="LINKBACK = 'true'">
                              <a href="{PRODUCTLINKHREF}">
                                <b>
                                  <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                </b>
                              </a>
                            </xsl:when>
                            <xsl:otherwise>
                              <span class="product_description">
                                <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                              </span>
                            </xsl:otherwise>
                          </xsl:choose>
                        </xsl:if>

                        <xsl:if test="KIT_ITEMS and ($RenderType = 'SHOPPINGCART' or $RenderType = 'SHIPPING')">
                          <div class="clear-both height-5"></div>
                          <div class="clear-both height-5"></div>

                          <a href="{KIT_ITEMS/KIT_EDIT_HREF}">
                            <img align="absmiddle" border="0" alt="{ise:StringResource('mobile.shoppingcart.cs.4')}" src="{concat('skins/Skin_', current()/parent::node()/SKINID,'/images/edit.gif')}" />
                          </a>
                          <ul>
                            <xsl:for-each select="KIT_ITEMS/KITITEM">
                              <li>
                                - <xsl:value-of select="current()" disable-output-escaping="yes" />
                              </li>
                            </xsl:for-each>
                          </ul>
                        </xsl:if>

                        <xsl:if test="ISREGISTRYITEM = 'true'">
                          <div class="clear-both height-5"></div>
                          <div class="clear-both height-5"></div>

                          <span class='registry-notification'>
                            <xsl:value-of select="ise:StringResource('giftregistry.aspx.10')" />
                          </span>
                          <div class="clear-both height-5"></div>
                          <span class='registry-notification'>
                            <xsl:value-of select="ise:StringResource('giftregistry.aspx.12')" />:
                            <xsl:value-of select="REGISTRYITEMQUANTITY" />
                          </span>

                          <xsl:if test="REGISTRYITEMQUANTITY = 0">
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <span class='errorLg'>
                              <xsl:value-of select="ise:StringResource('editgiftregistry.error.16')" />
                            </span>
                            <div class="clear-both height-5"></div>
                          </xsl:if>

                          <xsl:if test="ISREGISTRYITEMHASCONFLICT = 'true'">
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <span class='errorLg'>
                              <xsl:value-of select="ise:StringResource('editgiftregistry.error.17')" />
                            </span>
                            <div class="clear-both height-5"></div>
                          </xsl:if>

                        </xsl:if>

                        <xsl:if test="HAS_MULTIPLE_ADDRESSES and HAS_MULTIPLE_ADDRESSES = 'true' and ITEMISDOWNLOAD and ITEMISDOWNLOAD = 'false'">
                          <div class="clear-both height-5"></div>
                          <div class="shippinaddress_content">
                            <b>
                              <xsl:value-of select="ise:StringResource('mobile.shoppingcart.cs.24')" />
                            </b> : <xsl:value-of select="SHIP_ITEM_TO_VALUE" disable-output-escaping="yes"/>
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <xsl:value-of select="SHIP_ITEM_DETAIL" disable-output-escaping="yes" />
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <b>
                              <xsl:value-of select="ise:StringResource('order.cs.23')" disable-output-escaping="yes" />
                            </b>
                            <div class="clear-both height-5"></div>
                            <xsl:value-of select="SHIPING_METHOD_VALUE" disable-output-escaping="yes" />
                          </div>
                        </xsl:if>


                      </div>

                      <!-- Sales Price -->
                      <div  class="opc-items-to-be-shipped opc-sales-price float-left">
                        <xsl:value-of select="SALES_PRICE" disable-output-escaping="yes" />
                      </div>

                      <!-- Quantity -->
                      <div class="opc-quantity opc-items-to-be-shipped float-left">
                        <xsl:value-of select="INPUTQUANTITYVALUE" disable-output-escaping="yes"/>
                      </div>

                      <!-- SubTotal -->
                      <div class="opc-sub-total opc-items-to-be-shipped float-left">

                        <xsl:choose>
                          <xsl:when test="$HasCoupon = 'true'">
                            <div class="strong-font">
                              <xsl:value-of select="SALES_PRICE_RATE" disable-output-escaping="yes" />
                            </div>
                          </xsl:when>
                          <xsl:otherwise>
                            <div class="strong-font">
                              <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                            </div>
                          </xsl:otherwise>
                        
                        </xsl:choose>
                        <xsl:if test="$HasCoupon = 'true'">
                          <div class="clear-both" style="height:2px;"></div>
                          <div style="border-bottom:1px solid #ccc;float:right;">
                            Discount (<xsl:value-of select="DISCOUNT_COUPON_PERCENTAGE" disable-output-escaping="yes" />) : - <xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />
                          </div>
                          <div class="clear-both" style="height:2px;"></div>
                          <div>
                            <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                          </div>
                        </xsl:if>

                        <xsl:if test="$VatEnabled = 'true'">
                          <span class="strong-font">
                              <xsl:choose >
                                <xsl:when test = "$VatInclusive = 'false'">
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                                </xsl:when>
                                <xsl:otherwise>
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                                </xsl:otherwise>
                              </xsl:choose>
                          </span>
                          <div class="clear-both" style="height:2px;"></div>
                          <div style="border-top:1px solid #ccc;float:right;">
                            <span class="strong-font">
                                <xsl:value-of select="ise:StringResource('showproduct.aspx.41')" disable-output-escaping="yes" />
                            </span>

                            <span class="showproduct_Price addSpace">
                              <xsl:value-of select="TAX_RATE_VALUE" />
                            </span>
                          </div>
                        </xsl:if>

                        
                      </div>

                      <div class="clear-both height-5"></div>
                      <div class="opc-item-stock-hints">
                        <xsl:if test="$ShowStockHints = 'true' and $ShowShipDateInCart = 'true'">
                          <xsl:choose>
                            <xsl:when test="$ItemType = 'Non-Stock' or $ItemType = 'Service' or $ItemType = 'Electronic Download' or $ItemType = 'Kit'" >
                            </xsl:when>
                              
                            <xsl:when test="$IsOutOfStock = 'true' and $CartStatus = 'P'">
                            </xsl:when>
                              
                            <!--has allocation and has or no reservation-->
                            <xsl:when test="$AllocQty > 0 and $ReserveCol >= 0">
                              <div class="cart_shipping">
                                <span class="addSpace">
                                  <!--<xsl:value-of select="$AllocQty" disable-output-escaping="yes" />-->
                                  <xsl:value-of select="ise:FormatDecimal($AllocQty,$DecimalPlaces)" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.61')" disable-output-escaping="yes" />
                                </span>
                              </div>
                              <!--has reservation-->
                              <xsl:if test="$ReserveCol > 0">
                                <br />
                                <xsl:for-each select="RESERVATIONITEM">
                                  <xsl:call-template name="RESERVATIONITEM">
                                    <xsl:with-param name="ItemCode" select="$ItemCode" />
                                  </xsl:call-template>
                                </xsl:for-each>
                              </xsl:if>

                              <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                <br />
                                <span class="addSpace">
                                  <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </xsl:if>

                            </xsl:when>
                            <!--0 allocation but has reservation-->
                            <xsl:when test="$AllocQty = 0 and $ReserveCol > 0">

                              <!--has reservation-->
                              <xsl:for-each select="RESERVATIONITEM">
                                <xsl:call-template name="RESERVATIONITEM">
                                  <xsl:with-param name="ItemCode" select="$ItemCode" />
                                </xsl:call-template>
                              </xsl:for-each>

                              <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                <br />
                                <span class="addSpace">
                                  <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </xsl:if>

                            </xsl:when>
                            <!--0 allocation and no reservation = stock not available-->
                            <xsl:otherwise>

                              <div class="cart_shipping">
                                <span class="addSpace">
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </div>
                            </xsl:otherwise>
                          </xsl:choose>
                        </xsl:if>
                      </div>
                      
                    </div>
                    
                  </xsl:when>
                  <xsl:otherwise>

                    <div style="width:100%;">
                      <!-- Product Name -->
                      <div class="opc-item-name opc-items-to-be-shipped float-left">

                        <xsl:if test="ISCHECKOUTOPTION = 'false'" >
                          <xsl:choose>
                            <xsl:when test="LINKBACK = 'true'">
                              <a href="{PRODUCTLINKHREF}">
                                <b>
                                  <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                </b>
                              </a>
                            </xsl:when>
                            <xsl:otherwise>
                              <span class="product_description">
                                <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                              </span>
                            </xsl:otherwise>
                          </xsl:choose>
                        </xsl:if>

                        <xsl:if test="KIT_ITEMS and ($RenderType = 'SHOPPINGCART' or $RenderType = 'SHIPPING')">
                          <div class="clear-both height-5"></div>
                          <div class="clear-both height-5"></div>

                          <a href="{KIT_ITEMS/KIT_EDIT_HREF}">
                            <img align="absmiddle" border="0" alt="{ise:StringResource('mobile.shoppingcart.cs.4')}" src="{concat('skins/Skin_', current()/parent::node()/SKINID,'/images/edit.gif')}" />
                          </a>
                          <ul>
                            <xsl:for-each select="KIT_ITEMS/KITITEM">
                              <li>
                                - <xsl:value-of select="current()" disable-output-escaping="yes" />
                              </li>
                            </xsl:for-each>
                          </ul>
                        </xsl:if>

                        <xsl:if test="ISREGISTRYITEM = 'true'">
                          <div class="clear-both height-5"></div>
                          <div class="clear-both height-5"></div>

                          <span class='registry-notification'>
                            <xsl:value-of select="ise:StringResource('giftregistry.aspx.10')" />
                          </span>
                          <div class="clear-both height-5"></div>
                          <span class='registry-notification'>
                            <xsl:value-of select="ise:StringResource('giftregistry.aspx.12')" />:
                            <xsl:value-of select="REGISTRYITEMQUANTITY" />
                          </span>

                          <xsl:if test="REGISTRYITEMQUANTITY = 0">
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <span class='errorLg'>
                              <xsl:value-of select="ise:StringResource('editgiftregistry.error.16')" />
                            </span>
                            <div class="clear-both height-5"></div>
                          </xsl:if>

                          <xsl:if test="ISREGISTRYITEMHASCONFLICT = 'true'">
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <span class='errorLg'>
                              <xsl:value-of select="ise:StringResource('editgiftregistry.error.17')" />
                            </span>
                            <div class="clear-both height-5"></div>
                          </xsl:if>

                        </xsl:if>

                        <xsl:if test="HAS_MULTIPLE_ADDRESSES and HAS_MULTIPLE_ADDRESSES = 'true' and ITEMISDOWNLOAD and ITEMISDOWNLOAD = 'false'">
                          <div class="clear-both height-5"></div>
                          <div class="shippinaddress_content">
                            <b>
                              <xsl:value-of select="ise:StringResource('mobile.shoppingcart.cs.24')" />
                            </b> : <xsl:value-of select="SHIP_ITEM_TO_VALUE" disable-output-escaping="yes"/>
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <xsl:value-of select="SHIP_ITEM_DETAIL" disable-output-escaping="yes" />
                            <div class="clear-both height-5"></div>
                            <div class="clear-both height-5"></div>
                            <b>
                              <xsl:value-of select="ise:StringResource('order.cs.23')" disable-output-escaping="yes" />
                            </b>
                            <div class="clear-both height-5"></div>
                            <xsl:value-of select="SHIPING_METHOD_VALUE" disable-output-escaping="yes" />
                          </div>
                        </xsl:if>


                      </div>

                      <!-- Sales Price -->
                      <div  class="opc-items-to-be-shipped opc-sales-price float-left">
                        <xsl:value-of select="SALES_PRICE" disable-output-escaping="yes" />
                      </div>

                      <!-- Quantity -->
                      <div class="opc-quantity opc-items-to-be-shipped float-left">
                        <xsl:value-of select="INPUTQUANTITYVALUE" disable-output-escaping="yes"/>
                      </div>

                      <!-- SubTotal -->
                      <div class="opc-sub-total opc-items-to-be-shipped float-left">


                        <div class="strong-font">
                          <xsl:value-of select="SALES_PRICE_RATE" disable-output-escaping="yes" />
                        </div>
                        <xsl:if test="$HasCoupon = 'true'">
                          <div class="clear-both" style="height:2px;"></div>
                          <div style="border-bottom:1px solid #ccc;float:right;">

                            Discount (<xsl:value-of select="DISCOUNT_COUPON_PERCENTAGE" disable-output-escaping="yes" />) : - <xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />


                          </div>
                          <div class="clear-both" style="height:2px;"></div>
                          <div>
                            <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                          </div>
                        </xsl:if>

                      </div>

                      <div class="clear-both height-5"></div>
                      <div class="opc-item-stock-hints">
                        <xsl:if test="$ShowStockHints = 'true' and $ShowShipDateInCart = 'true'">
                          <xsl:choose>
                            <xsl:when test="$ItemType = 'Non-Stock' or $ItemType = 'Service' or $ItemType = 'Electronic Download' or $ItemType = 'Kit'" >
                            </xsl:when>
                              
                            <xsl:when test="$IsOutOfStock = 'true' and $CartStatus = 'P'">
                            </xsl:when>
                              
                            <!--has allocation and has or no reservation-->
                            <xsl:when test="$AllocQty > 0 and $ReserveCol >= 0">
                              <div class="cart_shipping">
                                <span class="addSpace">
                                  <xsl:value-of select="$AllocQty" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.61')" disable-output-escaping="yes" />
                                </span>
                              </div>
                              <!--has reservation-->
                              <xsl:if test="$ReserveCol > 0">
                                <br />
                                <xsl:for-each select="RESERVATIONITEM">
                                  <xsl:call-template name="RESERVATIONITEM">
                                    <xsl:with-param name="ItemCode" select="$ItemCode" />
                                  </xsl:call-template>
                                </xsl:for-each>
                              </xsl:if>

                              <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                <br />
                                <span class="addSpace">
                                  <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </xsl:if>

                            </xsl:when>
                            <!--0 allocation but has reservation-->
                            <xsl:when test="$AllocQty = 0 and $ReserveCol > 0">

                              <!--has reservation-->
                              <xsl:for-each select="RESERVATIONITEM">
                                <xsl:call-template name="RESERVATIONITEM">
                                  <xsl:with-param name="ItemCode" select="$ItemCode" />
                                </xsl:call-template>
                              </xsl:for-each>

                              <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                <br />
                                <span class="addSpace">
                                  <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                </span>
                                <span>
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </xsl:if>

                            </xsl:when>
                            <!--0 allocation and no reservation = stock not available-->
                            <xsl:otherwise>

                              <div class="cart_shipping">
                                <span class="addSpace">
                                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                </span>
                              </div>
                            </xsl:otherwise>
                          </xsl:choose>
                        </xsl:if>
                      </div>
                    
                    </div>
                    
                  </xsl:otherwise>
                </xsl:choose>
                
                <div class="clear-both height-5"></div>
                <div class="clear-both height-5"></div>
                <div class="clear-both height-12"></div>
                
              </div>
            </li>

          </xsl:for-each>
        </ul>


        <!-- Summary Rendering -->

        <div>

          <xsl:choose>
            <xsl:when test="$RenderType = 'SHOPPINGCART'">
              <xsl:attribute name="class" >
                <xsl:text>summary</xsl:text>
              </xsl:attribute>
            </xsl:when>
            <xsl:otherwise>
              <xsl:attribute name="class" >
                <xsl:text>summary-smaller</xsl:text>
              </xsl:attribute>
            </xsl:otherwise>
          </xsl:choose>

          <span class="summary-captions">
            <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />
          </span>

          <span class="summary-values" id="opc-sub-total">
            <xsl:value-of select="FIELD/SUBTOTAL_VALUE"/>
          </span>

          <span class="summary-captions leftSpace">
            <xsl:choose>
              <xsl:when test = "$VatInclusive = 'false'">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
              </xsl:when>
              <xsl:otherwise>
                <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
              </xsl:otherwise>
            </xsl:choose>
          </span>

          <div class="clear-both" ></div>
          <hr color="#ccc" noshade="true" size="1" />

          <span class="summary-captions">
            <xsl:value-of select="ise:StringResource('shoppingcart.aspx.10')" disable-output-escaping="yes" />
          </span>

          <xsl:if test="($RenderType = 'PAYMENT' or $RenderType = 'REVIEW') and $IsFreeShipping = 'false'">
            <span class="summary-captions leftSpace">
              <xsl:choose>
                <xsl:when test = "$VatInclusive = 'false'">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                </xsl:when>
                <xsl:otherwise>
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                </xsl:otherwise>
              </xsl:choose>
            </span>
          </xsl:if>


          <span class="summary-values">
            <xsl:choose>
              <xsl:when test="$IsFreeShipping = 'true'" >
                <xsl:value-of select="ise:StringResource('shoppingcart.aspx.13')" disable-output-escaping="yes" />
              </xsl:when>
              <xsl:otherwise>
                <div id="opc-freight-rate">
                  <xsl:value-of select="FIELD/FREIGHT" disable-output-escaping="yes" />
                </div>
              </xsl:otherwise>
            </xsl:choose>
          </span>
          <xsl:if test="$VatInclusive = 'false' and $IsFreeShipping = 'false'">
            <br />
            <hr class="clear-both" color="#ccc" noshade="true" size="1" />
            <span class="summary-captions">
              <xsl:value-of select="ise:StringResource('shoppingcart.aspx.30')" disable-output-escaping="yes" />
            </span>
            <span class="summary-values" id="opc-freight-tax">
              <xsl:value-of select="FIELD/FREIGHTTAX" disable-output-escaping="yes" />
            </span>
          </xsl:if>

          <!--Regardless if vat is enabled/disabled. display the tax-->
          <xsl:if test="$VatInclusive = 'false'">
            <br />
            <span class="summary-captions">
              <xsl:value-of select="ise:StringResource('shoppingcart.aspx.11')" disable-output-escaping="yes" />
            </span>
            <span class="summary-values">
              <xsl:value-of select="FIELD/TAX_RATE_VALUE" disable-output-escaping="yes" />
            </span>
          </xsl:if>

          <hr class="clear-both" color="#ccc" noshade="true" size="1" />

          <span class="summary-captions">
            <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
          </span>
          <span class="summary-values" id="opc-grand-total">
            <xsl:value-of select="FIELD/TOTAL"/>
          </span>

        </div>

        <!-- End Summary Rendering -->
        
      </xsl:template>

      <xsl:template name="RESERVATIONITEM">
        <xsl:param name="ItemCode" />
        <xsl:if test="RESERVE_ITEMCODE = $ItemCode">
          <span class="addSpace">
            <xsl:value-of select="RESERVE_QTY" disable-output-escaping="yes" />
          </span>
          <span class="addSpace">
            <xsl:value-of select="ise:StringResource('shoppingcart.cs.60')" disable-output-escaping="yes" />
          </span>
          <br/>
          <span >
            <xsl:value-of select="RESERVE_SHIPDATE" disable-output-escaping="yes" />
          </span>
          <br />
        </xsl:if>
      </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>