<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="default page helper" debug="false" includeentityhelper="false">

  <XmlHelperPackage name="helper.product.xml.config" />

  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      
      <xsl:template match="/">
        <xsl:choose>
          
          <!-- DISPLAY_SHAREBOX -->
          <xsl:when test="$SectionType='GET_SPECIALS_BOX_EXPANDED'">
            <xsl:variable name="Layout" select="FIELD/LAYOUT"></xsl:variable>
            <xsl:variable name="DisplayRating" select="FIELD/SHOWITEMRATING"></xsl:variable>
            <xsl:variable name="DisplayPics" select="FIELD/SHOWPICS"></xsl:variable>
            <xsl:variable name="DisplayDetail" select="FIELD/SHOWDETAIL"></xsl:variable>
            <xsl:variable name="AddToCartAction" select="FIELD/ADDTOCART_ACTION"></xsl:variable>
            <xsl:variable name="ShowMore" select="FIELD/SHOWMORE"></xsl:variable>
            <xsl:variable name="ShowMoreURL" select="FIELD/SHOWMORE_URL"></xsl:variable>
            <xsl:variable name="FrontContentCSS">
              <xsl:choose>
                <xsl:when test="$DisplayPics='true'">content</xsl:when>
                <xsl:otherwise>content2</xsl:otherwise>
              </xsl:choose>
            </xsl:variable>
            
            <div class="featureditems">
              <h3>
                <xsl:value-of select="ise:StringResource('featureditems.aspx.1')" disable-output-escaping="yes" />
              </h3>

              <xsl:value-of select="FIELD/PRODUCT_ITEM/COUNT" disable-output-escaping="yes" />
              
              <xsl:for-each select="FIELD/PRODUCT_ITEM">
                <xsl:variable name="ItemCode" select="current()/ITEMCODE"></xsl:variable>
                <xsl:variable name="ItemCounter" select="current()/COUNTER"></xsl:variable>
                <xsl:variable name="Title" select="current()/DISPLAYNAME_ELLIPSES"></xsl:variable>
                <xsl:variable name="TitleFull" select="current()/DISPLAYNAME"></xsl:variable>
                <xsl:variable name="Description" select="current()/SUMMARY"></xsl:variable>
                <xsl:variable name="Price" select="current()/PRICE"></xsl:variable>
                <xsl:variable name="PromoPrice" select="current()/PROMOTIONALPRICE"></xsl:variable>
                <xsl:variable name="ImageUrl" select="current()/IMAGE_URL"></xsl:variable>
                <xsl:variable name="ProductUrl" select="current()/PRODUCT_LINK"></xsl:variable>
                <xsl:variable name="ListCSS">
                  <xsl:choose>
                    <xsl:when test="position()=1">list first</xsl:when>
                    <xsl:when test="position()=last()">list last</xsl:when>
                    <xsl:otherwise>list</xsl:otherwise>
                  </xsl:choose>
                </xsl:variable>
                
                <xsl:choose>
                  <xsl:when test="$Layout='GRID'">
                    <div class="grid">
                      <div class="front">
                        <div class="pix">
                          <xsl:if test="$DisplayPics = 'true'"><img src="{$ImageUrl}" alt="" /></xsl:if>
                        </div>
                        <div class="{$FrontContentCSS}">
                          <div class="title"><xsl:value-of select="$Title" disable-output-escaping="yes" /></div>
                          <div class="body">
                            <div class="rating">
                              <xsl:if test="$DisplayRating = 'true'">
                                <xsl:value-of select="ise:ProductAverageRatingControl($ItemCode)" disable-output-escaping="yes" />
                              </xsl:if>
                              </div>
                            <div class="pricing">
                            <span>
                              <xsl:attribute name="class">
                                <xsl:choose>
                                  <xsl:when test="$PromoPrice != ''">price withpromo</xsl:when>
                                  <xsl:otherwise>price</xsl:otherwise>
                                </xsl:choose>
                              </xsl:attribute>
                              <xsl:value-of select="$Price" />
                            </span>
                            <span class="promoprice">
                              <xsl:value-of select="$PromoPrice" />
                            </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="back" style="display:none;">
                        <a href="{$ProductUrl}" data-itempopup="{$ItemCode}" class="content">
                          <div class="header">
                            <div class="main">
                              <span class="title"><xsl:value-of select="$Title" disable-output-escaping="yes" /></span><br />
                              <span class="rating">
                                <xsl:if test="$DisplayRating = 'true'">
                                  <xsl:value-of select="ise:ProductAverageRatingControl($ItemCode)" disable-output-escaping="yes" />
                                </xsl:if>
                              </span><br />
                              
                              
                              
                              <span>
                                <xsl:attribute name="class">
                                  <xsl:choose>
                                    <xsl:when test="$PromoPrice != ''">price withpromo</xsl:when>
                                    <xsl:otherwise>price</xsl:otherwise>
                                  </xsl:choose>
                                </xsl:attribute>
                                <xsl:value-of select="$Price" />
                              </span>
                              <span class="promoprice">
                                <xsl:value-of select="$PromoPrice" />
                              </span>
                            </div>
                            <div class="pix">
                              <xsl:if test="$DisplayPics = 'true'">
                                <img src="{$ImageUrl}" width="60" alt="" />
                              </xsl:if>
                            </div>
                          </div>
                          <div class="body">
                          <xsl:value-of select="substring(ise:StripHtml($Description),0,170)" disable-output-escaping="yes" />
                          </div>
                         
                        </a>
                        <xsl:if test="current()/SHOWADDTOCART = 'true'">
                          <input type="submit" class="addto" value="{ise:StringResource('showproduct.aspx.58')}" data-itemcounter="{$ItemCounter}"></input>
                        </xsl:if>
                      </div>
                    </div>
                  </xsl:when>
                  <xsl:otherwise>
                   
                      <div class="{$ListCSS}">
                        
                      <div class="pix">
                        <xsl:if test="$DisplayPics = 'true'">
                          <img src="{$ImageUrl}" alt="" />
                        </xsl:if>
                      </div>
                      <div class="content">
                        <div class="title">
                          <a href="{$ProductUrl}" data-itempopup="{$ItemCode}"><xsl:value-of select="$TitleFull" disable-output-escaping="yes"></xsl:value-of></a>
                        </div>
                        <div>
                          <xsl:if test="$DisplayRating = 'true'">
                            <xsl:value-of select="ise:ProductAverageRatingControl($ItemCode)" disable-output-escaping="yes" />
                          </xsl:if>
                        </div>
                        <div>
                          <xsl:attribute name="class">
                            <xsl:choose>
                              <xsl:when test="$PromoPrice != ''">price withpromo</xsl:when>
                              <xsl:otherwise>price</xsl:otherwise>
                            </xsl:choose>
                          </xsl:attribute>
                          <xsl:value-of select="$Price" disable-output-escaping="yes" /></div>
                        <div class="promoprice">
                          <xsl:value-of select="$PromoPrice" />
                        </div>
                        <br />
                        <div><xsl:value-of select="$Description" disable-output-escaping="yes" /></div>
                      </div>
                       
                      <div class="cart">
                        <xsl:if test="current()/SHOWADDTOCART = 'true'">
                          <input type="submit" class="addto" value="ADD TO CART" data-itemcounter="{$ItemCounter}"></input>
                        </xsl:if>
                      </div>
                    </div>
                  </xsl:otherwise>
                </xsl:choose>
              </xsl:for-each>

              <xsl:if test="$ShowMore = 'true'">
                <a href="{$ShowMoreURL}">
                  <xsl:value-of select="ise:StringResource('common.cs.17')" disable-output-escaping="yes" ></xsl:value-of>
                </a>
              </xsl:if>
              
              <script type="text/javascript">
                function ActionService(methodname, params, asyncmode) {
                  var result;
                  $.ajax({
                  type: "POST",
                  url: "ActionService.asmx/" + methodname,
                  data: JSON.stringify(params),
                  dataType: "json",
                  async: asyncmode,
                  contentType: "application/json; charset=utf-8",
                  success: function (message) { result = message.d; },
                  error: function (message, textStatus, exception) { return ""; }
                  });
                  return result;
                }

                $('.featureditems .grid').hover(function() {
                var backpage = $(this).children('.back');
                var frontpage = $(this).children('.front');
                frontpage.hide();
                backpage.show();
                }, function() {
                var backpage = $(this).children('.back');
                var frontpage = $(this).children('.front');
                frontpage.show();
                backpage.hide();
                });

                $('.addto').on('click', function (e) {
                var addtocart = '<xsl:value-of select="$AddToCartAction"></xsl:value-of>';
                    var url = 'shoppingcart.aspx';
                    var itemcounter = $(this).data('itemcounter');
                    
                    var params = { counter: itemcounter, quantity: 1, kitcomposition: '', unitmeasure: '' }
                    var result = ActionService("AddToCartEx", params, false);
                
                    if (addtocart == "STAY") { alert("item has been added"); window.location = window.location; } 
                    else { window.location = url; }
                });
                
              </script>
            </div>
          </xsl:when>

          <xsl:when test="$SectionType='DISPLAY_CMS_TEMPLATE'">
            <!-- (0) for key (1) for value -->
            <!-- Note: Changing the format (#) will fail to load the string resource value -->
            
            <div class='content editable-content' data-contentKey='(0)' data-contentValue='(1)' data-contentType='string resource' data-contentHasTag='(2)'>
                <div class='edit-pencil'></div>
                <div class='string-value' style='color:#fff !important'>(3)</div>
                <div class='clear-both'></div>
            </div>
            
          </xsl:when>
          
          <xsl:when test="$SectionType='DISPLAY_CMS_TEMPLATE_FOR_TOPIC'">
            <!-- (0) for key (1) for value -->
            <span class='content editable-content topic-content' data-contenttype='topic' data-contentkey='(0)' data-contentHasTag='false'>(1)</span>
          </xsl:when>
          
          <xsl:when test="$SectionType='DISPLAY_MOBILE_FULLMODE_SWITCHING_LINK'">
            <a href="{concat('default.aspx?fullmode=', FIELD/ISINFULLMODE )}" class="foot fullmode-link">
              <xsl:value-of select="ise:StringResource('mobile.default.aspx.8')" disable-output-escaping="yes" ></xsl:value-of>
            </a>
          </xsl:when>

          <xsl:when test="$SectionType='DISPLAY_FEEDBOX'">

            <div class="socialmedia-feedbox sidebar box" id="socialFeedBox">
              <h4>Facebook Feeds</h4>
              <div class="loader">
                loading facebook wall feeds  <img src="images/spinner.gif" alt="loading..." />
              </div>
              <ul class="feeds"></ul>
            </div>

            <script src="jscripts/jquery/jquery.bxslider.min.js" />
            <script>
              
              $(document).ready(function(){
                var fbURL = '<xsl:value-of select="ise:AppConfig('SocialMediaFeedBoxAPI')"></xsl:value-of>&amp;callback=?';
                var wallFeeds = $("#socialFeedBox");
                var loader = wallFeeds.children(".loader");
                var feeds = wallFeeds.children("ul.feeds");
                
                $.getJSON(fbURL, function(json) {
                  loader.hide();
                    
                  if(json.data == null) { wallFeeds.hide(); return; }
                  
                  $.each(json.data, function(key, fb) {
                    var item = createElement("li");
                    var fbPage = "http://facebook.com/" + fb.from.id + "/?sk=wall";
                    
                    if(fb.type == "status") {
                      if(fb.message != null) {
                        var lnk = createElement("a").attr("href", fbPage).attr("target", "_blank");
                        lnk.html(fb.message).appendTo(item); }}
                    
                    if(fb.type == "link") {
                      if(fb.message != null) {
                        var lnk = createElement("a").attr("href", fb.link).attr("target", "_blank");
                        lnk.html(fb.message).appendTo(item); }}
                    
                    if(fb.type == "photo") {
                      var lnk = createElement("a").attr("href", fb.link).attr("target", "_blank");
                      var img = createElement("img").attr("src", fb.picture).appendTo(lnk);
                      var caption = createElement("span").attr("class", "caption").html(fb.name).appendTo(lnk);
                      item.html(lnk);
                    }
                    
                    if(fb.type == "video") {
                      var lnk = createElement("a").attr("href", fb.source).attr("target", "_blank");
                      var img = createElement("img").attr("src", fb.picture).appendTo(lnk);
                      var caption = createElement("span").attr("class", "caption").html(fb.name).appendTo(lnk);
                      item.html(lnk);
                    }
                  
                    if(item.html() != "") { feeds.append(item); }
                  });
                  
                  feeds.bxSlider({ pager: false, adaptiveHeight: true, mode: 'fade', auto: true }); 
                  var sliderControl = wallFeeds.children(".bx-wrapper").children(".bx-controls");
                  sliderControl.hide();
                  wallFeeds.live("mouseover", function(){sliderControl.show(); });
                  wallFeeds.live("mouseleave", function(){sliderControl.hide(); });
                });
              });
              function createElement(type) { return $("&lt;" + type + "&gt;"); }
            </script>
          </xsl:when>
          
          <!-- LIVECHAT -->
          <xsl:when test="$SectionType='DISPLAY_LIVECHAT'">
            <xsl:if test="FIELD/LIVECHAT_ENABLED = 'true'">
              <xsl:variable name="LiveChatUrl" select="FIELD/LIVECHAT_URL"></xsl:variable>
                
              <div class="livechat">
                <script src="{$LiveChatUrl}/CuteSoft_Client/CuteChat/Support-Image-Button.js.aspx" />
                <script src="{$LiveChatUrl}/CuteSoft_Client/CuteChat/Support-Visitor-monitor-crossdomain.js.aspx" id="LiveSupportVisitorMonitorScript" />
              </div>

              <script>
                $(window).load(function(){
                  $("#invitechatwindow").appendTo("body");
                });
              </script>
            </xsl:if>
          </xsl:when>
          
          <!-- NUMITEMS -->
          <xsl:when test="$SectionType='DISPLAY_NUMCARTITEMS'">
            <span id="cartNumItem">
              <xsl:value-of select="FIELD/NUM_CART_ITEMS"></xsl:value-of>
            </span>
          </xsl:when>
            
          <xsl:otherwise>

          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
    
  </PackageTransform>
</package>