<?xml version="1.0" encoding="utf-8"?>
<package displayname="Blog Helper" version="2.1">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      <xsl:template match="/">
        <xsl:choose>

          <!-- BLOGPOSTS -->
          <xsl:when test="$SectionType='BLOGPOSTS'">
            <xsl:call-template name="BlogPostList" />
          </xsl:when>

          <!-- BLOGPOST DETAIL -->
          <xsl:when test="$SectionType='BLOGPOSTDETAIL'">
            <xsl:call-template name="BlogPostDetail" />
          </xsl:when>

          <!-- WIDGET / BLOGPOST CATEGORIES -->
          <xsl:when test="$SectionType='BLOGCATEGORIES'">
            <xsl:call-template name="BlogCategories" />
          </xsl:when>
          
          
          <xsl:otherwise>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <!-- #################### TEMPLATES #################### -->
      
      <!-- BLOGPOSTS -->
      <xsl:template name="BlogPostList">
        <xsl:variable name="ShowDescriptionOnly" select="FIELD/ShowDescriptionOnly"></xsl:variable>
        <xsl:for-each select="FIELD/BLOGPOSTS/BLOGPOST">
          <article>
            <xsl:attribute name="class">
              <xsl:choose>
                <xsl:when test="position() != last()">blog-post</xsl:when>
                <xsl:otherwise>blog-post blog-post-last-item</xsl:otherwise>
              </xsl:choose>
            </xsl:attribute>
              <header>
              <h2 class="title">
                <a href="{current()/RelativeLink}">
                  <xsl:value-of select="current()/Title" disable-output-escaping="yes"></xsl:value-of>
                </a>
              </h2>
              <div class="info">
                <div class="info-item author pull-left">
                  <i class="fa fa-user"></i>
                  <xsl:value-of select="current()/Author" disable-output-escaping="yes"></xsl:value-of>
                </div> 
                <div class="info-item date pull-left">
                  <i class="fa fa-calendar"></i>
                  <xsl:value-of select="current()/PostDate" disable-output-escaping="yes"></xsl:value-of>
                </div>
                <div class="info-item categories pull-left">
                  <i class="fa fa-folder"></i>
                  <xsl:for-each select="current()/BLOGPOST_CATEGORIES/BLOGPOST_CATEGORY">
                    <a href="{current()/RelativeLink}"><xsl:value-of select="current()/Title" disable-output-escaping="yes"></xsl:value-of></a>
                    <xsl:if test="position() != last()">, </xsl:if>
              
                  </xsl:for-each>
                </div>
              </div>
              </header>
              <br />
              <div class="content">
                <xsl:choose>
                  <xsl:when test="$ShowDescriptionOnly = 'true'">
                    <xsl:value-of select="current()/Description" disable-output-escaping="yes"></xsl:value-of>...
                    <span class="options readmore">
                      <a href="{current()/RelativeLink}">Read More</a>
                    </span>
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="current()/Content" disable-output-escaping="yes"></xsl:value-of>
                  </xsl:otherwise>
                </xsl:choose>  
              </div>
            
          </article>
          </xsl:for-each>
      
      </xsl:template>

      <!-- BLOGDETAILS -->
      <xsl:template name="BlogPostDetail">
          <article class="blog-post blog-post-last-item">
            
              <header>
              <h2 class="title">
                <a href="{FIELD/RelativeLink}">
                  <xsl:value-of select="FIELD/Title" disable-output-escaping="yes"></xsl:value-of>
                </a>
              </h2>
              <div class="info">
                <div class="info-item author pull-left">
                  <i class="fa fa-user"></i>
                  <xsl:value-of select="FIELD/Author" disable-output-escaping="yes"></xsl:value-of>
                </div> 
                <div class="info-item date pull-left">
                  <i class="fa fa-calendar"></i>
                  <xsl:value-of select="FIELD/PostDate" disable-output-escaping="yes"></xsl:value-of>
                </div>
                <div class="info-item categories pull-left">
                  <i class="fa fa-folder"></i>
                  <xsl:for-each select="FIELD/BLOGPOST_CATEGORIES/BLOGPOST_CATEGORY">
                    <a href="{current()/RelativeLink}"><xsl:value-of select="current()/Title" disable-output-escaping="yes"></xsl:value-of></a>
                    <xsl:if test="position() != last()">, </xsl:if>
              
                  </xsl:for-each>
                </div>
              </div>
              </header>
              <br />
              <div class="content">
                <xsl:value-of select="FIELD/Content" disable-output-escaping="yes"></xsl:value-of>
              </div>
           
          </article>

      </xsl:template>

      <!-- WIDGET / BLOGCATEGORIES -->
      <xsl:template name="BlogCategories">
        
        <xsl:choose>
          <xsl:when test="count(FIELD/BLOGCATEGORIES/BLOGCATEGORY) > 0">
            <div class="blog-categories">
            <header>Category List</header>
            <ul>
              <xsl:for-each select="FIELD/BLOGCATEGORIES/BLOGCATEGORY">
              <li>
                <xsl:attribute name="class">
                  <xsl:choose>
                    <xsl:when test="position() != last()">category-item</xsl:when>
                    <xsl:otherwise>category-item category-item-last</xsl:otherwise>
                  </xsl:choose>
                </xsl:attribute>
                <a href="{current()/RelativeLink}">
                  <xsl:value-of select="current()/Title"></xsl:value-of> (<xsl:value-of select="current()/Count"></xsl:value-of>)
                </a>
              </li>
              </xsl:for-each>
            </ul>
            </div>
          </xsl:when>
          <xsl:otherwise>
          </xsl:otherwise>
        </xsl:choose>  
          
        
      </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>



