<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Entity Helper" debug="false" includeentityhelper="false">
  
  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>
      <xsl:param name="SectionType" select="FIELD/SECTION_TYPE" />
      
      <xsl:template match="/">
        <xsl:choose>
            
          <xsl:when test="$SectionType='DISPLAY_EXTERNALPAGE'">
              <xsl:choose>
                  <xsl:when test="FIELD/InvalidUrlMessage">
                      <div class ="div-extPage">
                          <xsl:value-of select="FIELD/InvalidUrlMessage" />
                      </div>
                  </xsl:when>
                  <xsl:otherwise>
                      <div class ="div-extPage">
                          <iframe id ="iframe-extPage" frameborder ="0" src ="{FIELD/ExternalPageUrl}" ></iframe>
                      </div>
                  </xsl:otherwise>
              </xsl:choose>
          </xsl:when>
          <!-- END OF DISPLAY_EXTERNALPAGE -->

          <xsl:when test="$SectionType='SORTING_CONTROL'">
            <xsl:variable name="EntitySortCtrlID">entitySort</xsl:variable>
            <div class="entity-sort">
              <span class="caption"><xsl:value-of select="FIELD/CAPTION" disable-output-escaping="yes"></xsl:value-of></span>
    
              <!-- Sort Options:  1 - Best Match, 2 - Best Seller, 3 - Most Popular, 4 - Availability, 5 - Price Low to High,
                                  6 - Price High to Low, 7 - Name A to Z, 8 - Name Z to A, 9 - New Arrival -->
              <select id="{$EntitySortCtrlID}">
                <option value="1">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.1')" disable-output-escaping="yes" />
                </option>
                <option value="2">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.2')" disable-output-escaping="yes" />
                </option>
                <option value="3">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.3')" disable-output-escaping="yes" />
                </option>
                <option value="4">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.4')" disable-output-escaping="yes" />
                </option>
                <option value="5">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.5')" disable-output-escaping="yes" />
                </option>
                <option value="6">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.6')" disable-output-escaping="yes" />
                </option>
                <option value="7">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.7')" disable-output-escaping="yes" />
                </option>
                <option value="8">
                  <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.8')" disable-output-escaping="yes" />
                </option>
                <option value="9">
                <xsl:value-of select="ise:StringResourceTextOnly('sort.aspx.9')" disable-output-escaping="yes" />
              </option>
              </select>

              <script>

                $(document).ready(function(){
                  var basePlugin = new jqueryBasePlugin();
                  var sortCtrl = $('#<xsl:value-of select="$EntitySortCtrlID"></xsl:value-of>');
                  var sort = basePlugin.getQueryStringParamByName("sort");
                  if(sort != "") { $(sortCtrl).val(sort); }
                  
                  $(sortCtrl).change(function(){
                    var params = { pagenum: '1', sort: $(this).val() }
                    basePlugin.updateQueryStringParams(params);
                  });
                });
             
              </script>
            </div>
          </xsl:when>
          <!-- END OF SORTING_CONTROL -->

          <xsl:when test="$SectionType='PAGING_CONTROL'">
            <xsl:variable name="PreviousUrl" select="FIELD/PAGE_PREVIOUS_URL"></xsl:variable>
            <xsl:variable name="NextUrl" select="FIELD/PAGE_NEXT_URL"></xsl:variable>
            <xsl:variable name="PageCount" select="FIELD/PAGE_COUNT"></xsl:variable>

            <div class="entity-paging">
              <xsl:if test="$PageCount > 1">
                <!-- previous -->
                <xsl:choose>
                    <xsl:when test="$PreviousUrl != ''">
                      <a>
                      <xsl:attribute name="href">
                        <xsl:value-of select="$PreviousUrl"></xsl:value-of>
                      </xsl:attribute>
                      <xsl:attribute name="class">prev</xsl:attribute>
                      <i class="icon-circle-arrow-left"></i>
                      </a>
                    </xsl:when>
                    <xsl:otherwise>
                    <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                    </xsl:otherwise>
                  </xsl:choose>

                <xsl:for-each select="FIELD/PAGES/PAGE">
                  <a>
                    <xsl:choose>
                      <xsl:when test="current()/PAGE_ISACTIVE = 'true'">
                        <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                        <xsl:attribute name="class">num active</xsl:attribute>
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:attribute name="href">
                          <xsl:value-of select="current()/PAGE_URL"></xsl:value-of>
                        </xsl:attribute>
                        <xsl:attribute name="class">num</xsl:attribute>
                      </xsl:otherwise>
                    </xsl:choose>
                    <xsl:value-of select="current()/PAGE_NUMBER" disable-output-escaping="yes"></xsl:value-of>
                  </a>
                </xsl:for-each>
                
                <!-- next -->
                <a>
                  <xsl:choose>
                    <xsl:when test="$NextUrl != ''">
                      <xsl:attribute name="href">
                        <xsl:value-of select="$NextUrl"></xsl:value-of>
                      </xsl:attribute>
                      <xsl:attribute name="class">next</xsl:attribute>
                      <i class="icon-circle-arrow-right"></i>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:attribute name="href">javascript:void(0)</xsl:attribute>
                      <xsl:attribute name="class">next disabled</xsl:attribute>
                    </xsl:otherwise>
                  </xsl:choose>
                </a>
              </xsl:if>
            </div>
          </xsl:when>
          <!-- END OF PAGING_CONTROL -->

          <xsl:when test="$SectionType='KIT_PRICE'">
            <xsl:variable name="ItemCounter" select="FIELD/ITEM_COUNTER"></xsl:variable>
            <xsl:variable name="ItemPrice" select="FIELD/ITEM_PRICE"></xsl:variable>
            
            <div id="PopUpKitPrice_{$ItemCounter}">
              <div>
                <span id="PopUpKitPrice_{$ItemCounter}_Price">
                  <xsl:value-of select="ise:StringResourceTextOnly('showproduct.aspx.33')" disable-output-escaping="yes" />&#160;<xsl:value-of select="$ItemPrice" disable-output-escaping="yes" ></xsl:value-of>
                </span>  
              </div>
            </div>
            
          </xsl:when>
          <!-- END OF KIT_PRICE -->

          <xsl:when test="$SectionType='LOYALTY_POINTS'">
            <xsl:variable name="ItemCounter" select="FIELD/ITEM_COUNTER"></xsl:variable>
            <xsl:variable name="PurchaseMultiplier" select="FIELD/PURCHASE_MULTIPLIER"></xsl:variable>
            <xsl:variable name="ItemPrice" select="FIELD/ITEM_PRICE"></xsl:variable>

            <div id="pnlLoyaltyPoints_{$ItemCounter}" style="display:none;" class="loyalty-points">
              <i class="icon-gift"></i>
              <xsl:value-of select="ise:StringResource('showcategory.aspx.32')" disable-output-escaping="yes" ></xsl:value-of>
              <span class="points"></span>
              <xsl:value-of select="ise:StringResource('showcategory.aspx.33')" disable-output-escaping="yes" ></xsl:value-of>
            </div>
            <script>
              $(document).ready(function(){
              var counter = <xsl:value-of select="$ItemCounter"></xsl:value-of>;
              var multiplier = <xsl:value-of select="$PurchaseMultiplier"></xsl:value-of>;
              var price = <xsl:value-of select="$ItemPrice"></xsl:value-of>;
              var product = ise.Products.ProductController.getProduct(counter);
              var loyaltyPointsControl = new ise.Products.LoyaltyPointsControl(counter, 'pnlLoyaltyPoints_' + counter, multiplier, price);
              loyaltyPointsControl.setProduct(product);
              });
            </script>
          </xsl:when>
          <!-- END OF LOYALTY_POINTS -->
          
          <xsl:otherwise>
            <xsl:value-of select="$SectionType" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
    
  </PackageTransform>
</package>