<?xml version="1.0" encoding="utf-8"?>
<package displayname="New Contact" version="2.1" debug="flase">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  
 
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8" />
      <xsl:variable name="FullName" select="ContactInfo/FullName"/>
      <xsl:variable name="WebsiteUrl" select="ContactInfo/WebsiteUrl"/>
      <xsl:variable name="Username" select="ContactInfo/Username"/>
      <xsl:variable name="Password" select="ContactInfo/Password"/>
      
      <xsl:template match="/">
        <html>
          <head>
            
          </head>
          <body>
            
            <div>
              Hi <xsl:value-of select="$FullName"></xsl:value-of>,
            
            </div>
            <div>
              <div>
                Email Address: 
                <strong>
                  <xsl:value-of select="$Username"></xsl:value-of>
                </strong>
              </div>
              <div>
                Password:  
                <strong>
                  <xsl:value-of select="$Password"></xsl:value-of>
                </strong>
              </div>
              <div>
                Website: 
                <strong>
                  <a target="_blank">
                    <xsl:attribute name="href">
                      <xsl:value-of select="$WebsiteUrl"></xsl:value-of>
                    </xsl:attribute>
                    <xsl:value-of select="$WebsiteUrl"></xsl:value-of>
                  </a>
                 
                </strong>
              </div>
            </div>
            
          </body>
        </html>
    
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



