<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Payment Notification Content For Customer">

	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                          -->
	<!-- http://www.InterpriseSolutions.com														                                          -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- ###################################################################################################### -->
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="Date">
        <xsl:value-of select="/root/Runtime/Date" />
      </xsl:param>
      <xsl:param name="Amount">
        <xsl:value-of select="/root/Runtime/Amount" />
      </xsl:param>
      <xsl:param name="InvoiceID">
        <xsl:value-of select="/root/Runtime/InvoiceID" />
      </xsl:param>
      <xsl:param name="TransactionID">
        <xsl:value-of select="/root/Runtime/TransactionID" />
      </xsl:param>
      <xsl:param name="TransactionIDCaption">
        <xsl:value-of select="/root/Runtime/TransactionIDCaption" />
      </xsl:param>
      <xsl:template match="/">
        <html>
          <head><title><xsl:value-of select="ise:StringResource('payment.aspx.30')" disable-output-escaping="yes" /></title></head>
          <body>
            <!-- heading -->
            <xsl:value-of select="ise:StringResource('payment.aspx.37')" disable-output-escaping="yes" />, <br /><br />
            <xsl:value-of select="ise:StringResource('payment.aspx.38')" disable-output-escaping="yes" /> :
            <br /><br />
            
            <!-- Date -->
            <xsl:value-of select="ise:StringResource('payment.aspx.32')" disable-output-escaping="yes" /> :   <xsl:value-of select="$Date"/> <br />

            <!-- amount -->
            <xsl:value-of select="ise:StringResource('payment.aspx.33')" disable-output-escaping="yes" /> : <xsl:value-of select="$Amount"/><br />

            <!-- eigther sales order or invoice  -->
            <xsl:value-of select="$TransactionIDCaption" disable-output-escaping="yes"/> : <xsl:value-of select="$TransactionID" disable-output-escaping="yes"/>
            <br /><br />

            <!-- closing  -->
            <xsl:value-of select="ise:StringResource('payment.aspx.36')" disable-output-escaping="yes" />,<br />

            <!-- signature  -->
            <xsl:value-of select="ise:AppConfig('StoreName')" />
            <br />
            <a href="{/root/System/StoreUrl}"><xsl:value-of select="/root/System/StoreUrl" /></a>
          </body>
        </html>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
