<?xml version="1.0" encoding="utf-8"?>
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="false">
  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>
      <xsl:template match="/">
        <xsl:variable name="RenderType" select="FIELD/RENDERTYPE" />
        <xsl:variable name="VatEnabled" select="FIELD/VATENABLED" />
        <xsl:variable name="VatInclusive" select="FIELD/VATINCLUSIVE" />
        <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />
        <xsl:variable name="IsCouponTypeOrders" select="FIELD/IS_COUPON_TYPE_ORDERS" />
        <xsl:variable name="IsFreeShipping" select="FIELD/ISFREESHIPPING" />
        <xsl:variable name="ShowStockHints" select="FIELD/SHOWSTOCKHINTS" />
        <xsl:variable name="ShowShipDateInCart" select="FIELD/SHOWSHIPDATEINCART" />
        <xsl:variable name="ShowPicInCart" select="ise:AppConfigBool('ShowPicsInCart')"/>
        <xsl:variable name="IsCustomerRegistered" select="FIELD/ISREGISTERED"/>
        <xsl:variable name="DecimalPlaces" select="ise:GetInventoryPreferencePlaces()"/>
        <xsl:variable name="HideOutOfStockProducts" select="ise:AppConfigBool('HideOutOfStockProducts')"/>
        <xsl:variable name="ShowTaxBreakDown" select="FIELD/SHOW_TAX_BREAK_DOWN"/>
        <xsl:variable name="HideUnitMeasure" select="ise:AppConfigBool('HideUnitMeasure')"/>
        <xsl:choose>
          <xsl:when test="EMPTY_CART_TEXT">
            <div class="tableHeaderArea">
              <xslvalue-of select="FIELD/EMPTY_CART_TEXT" disable-output-escaping="yes" />
            </div>
          </xsl:when>
          <xsl:otherwise>
            <xsl:if test="$RenderType != 'REVIEW'" >
              <xsl:call-template name="HeaderTemplate">
                <xsl:with-param name="RenderType" select="$RenderType" />
              </xsl:call-template>
            </xsl:if>
            
            <!--start-->
            
            <xsl:for-each select="FIELD/CART_ITEMS">
              <xsl:choose>
                <xsl:when test="ITEM/BUNDLECODE = ''">
                  <xsl:for-each select="ITEM">
                    <xsl:variable name="ItemType" select="current()/ITEMTYPE" />
                    <xsl:variable name="ItemCode" select="current()/ITEMCODE" />
                    <xsl:variable name="IsOutOfStock" select="current()/ISOUTOFSTOCK" />
                    <xsl:variable name="CartStatus" select="current()/CARTSTATUS" />
                    <xsl:variable name="POStatus" select="current()/POSTATUS" />
                    <xsl:variable name="AllocQty" select="current()/ALLOCQTY" />
                    <xsl:variable name="ReserveCol" select="current()/RESERVECOL" />
                    <xsl:variable name="IsCBNItem" select="current()/ISCBNITEM" />
                    <xsl:variable name="IsDropShip" select="current()/ISDROPSHIP" />
                    <xsl:variable name="ItemNotes" select="current()/PRODUCTNOTES" />
                    <div class="cart-item-container well well-sm">
                      <div class="cart-item-delete">
                        <xsl:if test="SHOWCARTDELETEITEMBUTTON and $RenderType = 'SHOPPINGCART'">
                          <!--<input type="submit" class="content btn btn-danger" name="bt_Delete" onclick="{concat('this.form.Quantity_',CART_ITEM_ID,'.value=0;')}" value="" />-->
                          <button type="submit" name="bt_Delete" class="content btn btn-danger" onclick="{concat('this.form.Quantity_',CART_ITEM_ID,'.value=0;')}" value="">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </xsl:if>
                      </div>
                      <div class="row row-eq-height">
                        <div class="col-xs-12 col-sm-12 col-md-3 text-center" style="padding: 0px;">
                          
                          <!-- image -->
                          <div class="cart-item-image">
                            <xsl:if test="SHOWPICSINCART = 'true'" >
                              <xsl:choose>
                                <xsl:when test="LINKBACK = 'true'">
                                  <a href="{PRODUCTLINKHREF}" class="thumbnail" style="margin-bottom: 3px;">
                                    <img class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                                  </a>
                                </xsl:when>
                                <xsl:otherwise>
                                  <img class="thumbnail" style="margin-bottom: 3px;" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:if>
                          </div>
                          
                          <!-- wishlist -->
                          <div class="cart-item-moveto-wishlist">
                            <input type="submit" class="content btn btn-warning btn-xs" name="{concat('bt_wishlist_',CART_ITEM_ID)}" data-contentkey="AppConfig.WishButtonPrompt" data-contentvalue="Move to Wishlist" data-contenttype="string resource" value="Move to Wishlist" />
                          </div>
                          
                          <!-- item spec -->
                          <div class="cart-item-specific">
                            <div class="label label-default">
                              <xsl:value-of select="ITEMSPECIFICTYPEDESCRIPTION" disable-output-escaping="yes" />
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 text-left">
                          
                          <!-- item desc -->
                          <div class="cart-item-description">
                            <xsl:choose>
                              <xsl:when test="LINKBACK = 'true'">
                                <xsl:choose>
                                  <xsl:when test="ISCHECKOUTOPTION = 'false'">
                                    <a href="{PRODUCTLINKHREF}">
                                      <b>
                                        <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                      </b>
                                    </a>
                                  </xsl:when>
                                  <xsl:otherwise>
                                    <span class="product_description">
                                      <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                    </span>
                                  </xsl:otherwise>
                                </xsl:choose>
                              </xsl:when>
                              <xsl:otherwise>
                                <span class="product_description">
                                  <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                </span>
                              </xsl:otherwise>
                            </xsl:choose>
                          </div>
                          
                          <!-- kit items details -->
                          <div class="cart-item-kit-details">
                            <xsl:if test="KIT_ITEMS and ($RenderType = 'SHOPPINGCART' or $RenderType = 'SHIPPING' or $RenderType = 'REVIEW')">
                              <br />
                              <xsl:if test="LINKBACK = 'true' and ISREGISTRYITEM != 'true'">
                                <a href="{KIT_ITEMS/KIT_EDIT_HREF}" class="btn btn-default btn-xs">
                                  Edit
                                </a>
                              </xsl:if>
                              <ul style="text-align:left;">
                                <xsl:for-each select="KIT_ITEMS/KITITEM">
                                  <li>-
                                    <xsl:value-of select="current()" disable-output-escaping="yes" />
                                  </li>
                                </xsl:for-each>
                              </ul>
                            </xsl:if>
                          </div>
                          
                          <!-- notes -->
                          <div class="cart-item-notes">
                            <xsl:if test="string-length($ItemNotes) > 0">
                              <br />
                              <br />
                              <span class="small">
                                <xsl:value-of select="concat(ise:StringResourceTextOnly('shoppingcart.cs.23'),' ', $ItemNotes)" disable-output-escaping="yes" />
                              </span>
                            </xsl:if>
                          </div>
                          
                          <!-- registry -->
                          <div class="cart-item-registry">
                            <xsl:if test="ISREGISTRYITEM = 'true'">
                              <br />
                              <br />
                              <span class='registry-notification'>
                                <xsl:value-of select="ise:StringResource('giftregistry.aspx.10')" />
                              </span>
                              <br />
                              <span class='registry-notification'>
                                <xsl:value-of select="ise:StringResource('giftregistry.aspx.12')" />
                                :
                                <xsl:value-of select="REGISTRYITEMQUANTITY" />
                              </span>
                              <xsl:if test="REGISTRYITEMQUANTITY = 0">
                                <br />
                                <br />
                                <span class='errorLg'>
                                  <xsl:value-of select="ise:StringResource('editgiftregistry.error.16')" />
                                </span>
                                <br />
                              </xsl:if>
                              <xsl:if test="ISREGISTRYITEMHASCONFLICT = 'true'">
                                <br />
                                <br />
                                <span class='errorLg'>
                                  <xsl:value-of select="ise:StringResource('editgiftregistry.error.17')" />
                                </span>
                                <br />
                              </xsl:if>
                            </xsl:if>
                          </div>
                          
                          <!-- multiple address -->
                          <div class="cart-item-multiple-address">
                            <xsl:if test="HAS_MULTIPLE_ADDRESSES and HAS_MULTIPLE_ADDRESSES = 'true' and ITEMISDOWNLOAD and ITEMISDOWNLOAD = 'false'">
                              <br />
                              <div class="shippinaddress_content">
                                <b>
                                  <xsl:value-of select="ise:StringResource('mobile.shoppingcart.cs.24')" />
                                </b>
                                :
                                <xsl:value-of select="SHIP_ITEM_TO_VALUE" disable-output-escaping="yes"/>
                                <br />
                                <br />
                                <xsl:value-of select="SHIP_ITEM_DETAIL" disable-output-escaping="yes" />
                                <br />
                                <br />
                                <b>
                                  <xsl:value-of select="ise:StringResource('order.cs.23')" disable-output-escaping="yes" />
                                </b>
                                <br />
                                <xsl:value-of select="SHIPING_METHOD_VALUE" disable-output-escaping="yes" />
                              </div>
                            </xsl:if>
                          </div>
                          
                          <!-- storepick -->
                          <div class="cart-item-store-pickup">
                            <xsl:if test="($RenderType = 'PAYMENT' or $RenderType = 'REVIEW' or $RenderType = 'SHOPPINGCART')">
                              <xsl:if test="IS_STOREPICKUP = 'true'">
                                <br />
                                <br />
                                <div class="shippinaddress_content">
                                  <span>
                                    <b>
                                      <xsl:value-of select="ise:StringResourceTextOnly('checkoutshipping.aspx.11')" disable-output-escaping="yes" />
                                      :</b>
                                    <xsl:value-of select="ITEM_SHIPPINGMETHOD" disable-output-escaping="yes" />
                                  </span>
                                  <br />
                                  <br />
                                  <span>
                                    <b>
                                      <xsl:value-of select="ise:StringResourceTextOnly('checkoutstore.aspx.23')" disable-output-escaping="yes" />
                                      :</b>
                                  </span>
                                  <br />
                                  <xsl:value-of select="WAREHOUSE_NAME" disable-output-escaping="yes" />
                                  <br />
                                  <xsl:value-of select="WAREHOUSE_ADDRESS" disable-output-escaping="yes" />
                                </div>
                              </xsl:if>
                            </xsl:if>
                          </div>
                          
                          <!-- stock hint -->
                          <div class="cart-item-stock-hint">
                            <xsl:if test="$IsOutOfStock = 'true' and $CartStatus = 'P'">
                              <br />
                              <br />
                              <img title="{PRODUCTIMAGETITLE}" src="{concat('skins/Skin_',current()/parent::node()/SKINID,'/images/outofstock.gif')}" />
                            </xsl:if>
                            <xsl:if test="$HideOutOfStockProducts = 'true'">
                              <xsl:if test="$CartStatus = 'A' and $IsOutOfStock = 'true' and ($POStatus != 'Open' or $POStatus = 'Partial')">
                                <br />
                                <br />
                                <img title="{PRODUCTIMAGETITLE}" src="{concat('skins/Skin_',current()/parent::node()/SKINID,'/images/outofstock.gif')}" />
                              </xsl:if>
                            </xsl:if>
                            <xsl:if test="$ShowStockHints = 'true' and $ShowShipDateInCart = 'true'">
                              <xsl:choose>
                                <xsl:when test="$ItemType = 'Non-Stock' or $ItemType = 'Service' or $ItemType = 'Electronic Download' or $ItemType = 'Gift Card' or $ItemType = 'Gift Certificate'" ></xsl:when>
                                <xsl:when test="$IsOutOfStock = 'true' and $CartStatus = 'P'"></xsl:when>
                                <xsl:when test="$AllocQty > 0 and $ReserveCol >= 0">
                                  <div class="cart_shipping">
                                    <xsl:value-of select="concat(ise:FormatDecimalIfHasDecimal($AllocQty,$DecimalPlaces),' ', ise:StringResource('shoppingcart.cs.61'))"/>
                                  </div>
                                  <!--has reservation-->
                                  <xsl:if test="$ReserveCol > 0">
                                    <br />
                                    <xsl:for-each select="RESERVATIONITEM">
                                      <xsl:call-template name="RESERVATIONITEM">
                                        <xsl:with-param name="ItemCode" select="$ItemCode" />
                                      </xsl:call-template>
                                    </xsl:for-each>
                                  </xsl:if>
                                  <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                    <br />
                                    <span class="addSpace">
                                      <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                    </span>
                                    <span>
                                      <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                    </span>
                                  </xsl:if>
                                </xsl:when>
                                <xsl:when test="$AllocQty = 0 and $ReserveCol > 0">
                                  
                                  <!--has reservation-->
                                  <xsl:for-each select="RESERVATIONITEM">
                                    <xsl:call-template name="RESERVATIONITEM">
                                      <xsl:with-param name="ItemCode" select="$ItemCode" />
                                    </xsl:call-template>
                                  </xsl:for-each>
                                  <xsl:if test="NOTAVAILABLEQTYWITHRESERVATION > 0">
                                    <br />
                                    <span class="addSpace">
                                      <xsl:value-of select="NOTAVAILABLEQTYWITHRESERVATION" disable-output-escaping="yes" />
                                    </span>
                                    <span>
                                      <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                    </span>
                                  </xsl:if>
                                </xsl:when>
                                <xsl:otherwise>
                                  <div class="cart_shipping">
                                    <span class="addSpace">
                                      <xsl:value-of select="ise:StringResource('shoppingcart.cs.47')" disable-output-escaping="yes" />
                                    </span>
                                  </div>
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:if>
                          </div>
                          
                          <!-- coupon -->
                          <div class="cart-item-coupon">
                            <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'false'">
                              <xsl:choose>
                                <xsl:when test="COUPON_DISCOUNT_TYPE = 'Percent'" >
                                  <span>(
                                    <xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />
                                    ) (
                                    <xsl:value-of select="DISCOUNT_COUPON_PERCENTAGE" disable-output-escaping="yes" />
                                    )</span>
                                </xsl:when>
                                <xsl:otherwise>
                                  <span>(
                                    <xsl:value-of select="DISCOUNT_COUPON_RATE_VALUE" disable-output-escaping="yes" />
                                    )</span>
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:if>
                          </div>
                          
                          <!-- sales price -->
                          <div class="cart-item-sales-price">
                            <xsl:value-of select="SALES_PRICE" disable-output-escaping="yes" />
                          
						  <!-- item unit measure -->
                          / <span class="cart-item-unit-measure">
                            <xsl:if test="$HideUnitMeasure = 'false'">
                              <xsl:if test="NOT_HIDE_UNIT_MEASURE" >
                                <xsl:choose>
                                  <xsl:when test="AVAILABLEUNITMESSURE_GREATER_ONE = 'false'">
                                    <span>
                                      <xsl:value-of select="UNITMEASURECODESPANDISPLAY" disable-output-escaping="yes" />
                                    </span>
                                    <input type="hidden" name="{UNITMEASURECODEID}" id="{UNITMEASURECODENAME}" value="{UNITMEASURECODEVALUE}" />
                                  </xsl:when>
                                  <xsl:otherwise>
                                    <xsl:choose>
                                      <xsl:when test="$RenderType = 'SHOPPINGCART'">
                                        <select size="1" class="showproduct_limitunitmeasure" name="{MULTIPLE_UNITMEASURECODENAME}" id="{MULTIPLE_UNITMEASURECODEID}">
                                          <xsl:for-each select="./UNITMEASSURE_ITEM">
                                            <option value="{VALUE}" unitmeasurequantity="{UNITMEASUREQUANTITY}" minorderquantityid="{MINORDERQUANTITYID}" >
                                              <xsl:if test="SELECTED = 'true'">
                                                <xsl:attribute name="selected">selected</xsl:attribute>
                                              </xsl:if>
                                              <xsl:value-of select="TEXT" disable-output-escaping="yes"/>
                                            </option>
                                          </xsl:for-each>
                                        </select>
                                      </xsl:when>
                                      <xsl:otherwise>
                                        <xsl:value-of select="UNITMEASURECODESPANDISPLAY" disable-output-escaping="yes" />
                                      </xsl:otherwise>
                                    </xsl:choose>
                                  </xsl:otherwise>
                                </xsl:choose>
                              </xsl:if>
                            </xsl:if>
                          </span>
						  </div>
                          
                          <!-- quantity -->
                          <div class="cart-item-quantity">
                            <xsl:choose>
                              <xsl:when test="$RenderType = 'SHOPPINGCART'">
                                <xsl:choose>
                                  <xsl:when test="ISRESTRICTEDQUANTITIES = 'false' and ISQUANTITYEDITABLE = 'true'" >
                                    
                                    <!-- total price -->
                                    <div class="cart-item-total-price text-right" style="margin-top: 20px; text-align: right;">
                                      <div class="input-group pull-left" style="width: 110px;">
                                        <span class="input-group-btn">
                                          <a href="Javascript:SubtractQuantity('{INPUTQUANTITYID}');" class="btn btn-default">
                                            <i class="fa fa-minus"></i>
                                          </a>
                                        </span>
                                        <input type="text" class="form-control text-right" style="border-radius: 0px;" id="{INPUTQUANTITYID}" name="{INPUTQUANTITYID}" value="{INPUTQUANTITYVALUE}"/>
                                        <span class="input-group-btn">
                                          <a href="Javascript:AddQuantity('{INPUTQUANTITYID}');" class="btn btn-default">
                                            <i class="fa fa-plus"></i>
                                          </a>
                                        </span>
                                      </div>
                                      <small style="display: block; margin-bottom:-7px;">
                                        <b>TOTAL</b>
                                      </small>
                                      <div class="cart_price" style="text-align: right;">
                                        <xsl:choose>
                                          <xsl:when test="ISPROMOITEM = 'true'" >
                                            <strike>
                                              <span class="showproduct_Price ">
                                                <xsl:value-of select="ORIGINALPRICE" disable-output-escaping="yes" />
                                              </span>
                                            </strike>
                                            <br></br>
                                            <span class="showproduct_Price ">
                                              <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                                            </span>
                                          </xsl:when>
                                          <xsl:otherwise>
                                            <span class="showproduct_Price ">
                                              <xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
                                            </span>
                                          </xsl:otherwise>
                                        </xsl:choose>
                                        <xsl:if test="$VatEnabled = 'true'">
                                          <span>
                                            <b>
                                              <xsl:choose >
                                                <xsl:when test = "$VatInclusive = 'false'">
                                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                                                </xsl:when>
                                                <xsl:otherwise>
                                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                                                </xsl:otherwise>
                                              </xsl:choose>
                                            </b>
                                          </span>
                                          <br />
                                          <hr />
                                          <span>
                                            <b>
                                              <xsl:value-of select="ise:StringResource('showproduct.aspx.41')" disable-output-escaping="yes" />
                                            </b>
                                          </span>
                                          <span class="showproduct_Price ">
                                            <xsl:value-of select="TAX_RATE_VALUE" />
                                          </span>
                                        </xsl:if>
                                      </div>
                                    </div>
                                    
                                    <!--<div class="input-group">
                                              <span class="input-group-addon">
                                                <a href="Javascript:SubtractQuantity('{INPUTQUANTITYID}');">
                                                  <i class="fa fa-minus-circle addSpace"></i>
                                                </a>
                                              </span>
                                              <input type="text" class="inputQuantityLimit addSpace form-control" id="{INPUTQUANTITYID}" name="{INPUTQUANTITYID}" value="{INPUTQUANTITYVALUE}" visible="false" style="min-height:30px" />
                                              <span class="input-group-addon">
                                                <a href="Javascript:AddQuantity('{INPUTQUANTITYID}');" class="inline">
                                                  <i class="fa fa-plus-circle"></i>
                                                </a>
                                              </span>
                                            </div>-->
                                    
                                  </xsl:when>
                                  <xsl:when test="ISQUANTITYEDITABLE = 'false'" >
                                    <input type="text" class="inputQuantityLimit addSpace" id="{INPUTQUANTITYID}" name="{INPUTQUANTITYID}" value="{INPUTQUANTITYVALUE}" visible="false" disabled="true"/>
                                  </xsl:when>
                                  <xsl:otherwise>
                                    <select size="1" class="showproduct_limit-restricted-qty addSpace form-control" id="{concat('Quantity_',QUANTITYLISTID)}" name="{concat('Quantity_',QUANTITYLISTID)}" >
                                      <option value="0">DELETE</option>
                                      <xsl:for-each select="RESTRICTEDQUANTITIES">
                                        <option value="{QTY}">
                                          <xsl:if test="SELECTED = 'true'">
                                            <xsl:attribute name="selected">selected</xsl:attribute>
                                          </xsl:if>
                                          <xsl:value-of select="QTY" disable-output-escaping="yes"/>
                                        </option>
                                      </xsl:for-each>
                                    </select>
                                  </xsl:otherwise>
                                </xsl:choose>
                                <input type="hidden" name="{MINORDERQUANTITYID}" id="{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />
                                <input type="hidden" name="Base_{MINORDERQUANTITYID}" id="Base_{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />
                              </xsl:when>
                              <xsl:otherwise>
                                <span>
                                  <xsl:value-of select="INPUTQUANTITYVALUE" disable-output-escaping="yes"/>
                                </span>
                              </xsl:otherwise>
                            </xsl:choose>
                          </div>
                        </div>
                      </div>
                    </div>
                  </xsl:for-each>
                </xsl:when>
                <xsl:otherwise>
                  <div class="cart-item-container well well-sm">
<!--delete-->
                        <div class="cart-item-delete">
                          <xsl:if test="SHOWCARTDELETEITEMBUTTON and $RenderType = 'SHOPPINGCART'">
                            
                            <!--<input type="submit" class="content btn btn-danger" name="bt_Delete" onclick="$('{concat('#Quantity_',ITEM/BUNDLECODE)}_{ITEM/BUNDLEHEADERID}').val('0');" value="0" />-->
                            <button type="submit" name="bt_Delete" class="content btn btn-danger" onclick="$('{concat('#Quantity_',ITEM/BUNDLECODE)}_{ITEM/BUNDLEHEADERID}').val('0');" value="0">
                              <i class="fa fa-trash-o"></i>
                            </button>
                          </xsl:if>
                        </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-3 text-center" style="padding: 0px;">
                        
                        <!--image-->
                        <xsl:if test="SHOWPICSINCART = 'true'" >
                          <div class="cart-item-image">
                            <xsl:choose>
                              <xsl:when test="LINKBACK = 'true'">
                                <a href="{PRODUCTLINKHREF}" class="thumbnail">
                                  <img id="img-shopping-cart-{COUNTER}" class="mobileimagesize" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                                </a>
                              </xsl:when>
                              <xsl:otherwise>
                                <img class="thumbnail" title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
                              </xsl:otherwise>
                            </xsl:choose>
                          </div>
                        </xsl:if>
                        
                        <!-- wishlist -->
                        <div class="cart-item-moveto-wishlist">
                          <input type="submit" class="content btn btn-warning btn-xs" name="{concat('bt_wishlist_',CART_ITEM_ID)}" data-contentkey="AppConfig.WishButtonPrompt" data-contentvalue="Move to Wishlist" data-contenttype="string resource" value="Move to Wishlist" />
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-9 text-left">
                        
                        <!--item desc-->
                        <div class="cart-item-description">
                          <xsl:choose>
                            <xsl:when test="LINKBACK = 'true'">
                              <xsl:choose>
                                <xsl:when test="ISCHECKOUTOPTION = 'false'">
                                  <a href="{PRODUCTLINKHREF}">
                                    <b>
                                      <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                    </b>
                                  </a>
                                </xsl:when>
                                <xsl:otherwise>
                                  <span class="product_description">
                                    <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                                  </span>
                                </xsl:otherwise>
                              </xsl:choose>
                            </xsl:when>
                            <xsl:otherwise>
                              <span class="product_description">
                                <xsl:value-of select="PRODUCTLINKNAME" disable-output-escaping="yes" />
                              </span>
                            </xsl:otherwise>
                          </xsl:choose>
                        </div>
                        
                        
                        <!--sales price-->
                        <div class="cart-item-sales-price">
                          <div id="bundle-total-price-{ITEM/BUNDLECODE}-{ITEM/BUNDLEHEADERID}">
                            <xsl:value-of select="SALES_PRICE" disable-output-escaping="yes" />
							 <!--unit measure-->
                        <xsl:if test="$HideUnitMeasure = 'false'">
                          / <span class="cart-item-unit-measure">
                            <xsl:if test="NOT_HIDE_UNIT_MEASURE" >
                              <xsl:choose>
                                <xsl:when test="AVAILABLEUNITMESSURE_GREATER_ONE = 'false'">
                                  <span>
                                    <xsl:value-of select="UNITMEASURECODESPANDISPLAY" disable-output-escaping="yes" />
                                  </span>
                                  <input type="hidden" name="{UNITMEASURECODEID}" id="{UNITMEASURECODENAME}" value="{UNITMEASURECODEVALUE}" />
                                </xsl:when>
                              </xsl:choose>
                            </xsl:if>
                          </span>
                        </xsl:if>
                          </div>
                        </div>
						
                        
                        <!--View Details-->
                        <div class="cart-item-bundle-view-details">
                          <xsl:choose>
                            <xsl:when test="ITEM/BUNDLEHEADERID = ''">
                              <button class="btn btn-info btn-sm content" type="button" id="btn-bundle-view-details-{COUNTER}">
                                <xsl:value-of select="ise:StringResource('showproduct.aspx.88')" disable-output-escaping="yes" />
                              </button>
                            </xsl:when>
                            <xsl:otherwise>
                              <button class="btn btn-info btn-sm content" type="button" id="btn-bundle-view-details-{COUNTER}-{ITEM/BUNDLEHEADERID}">
                                <xsl:value-of select="ise:StringResource('showproduct.aspx.88')" disable-output-escaping="yes" />
                              </button>
                            </xsl:otherwise>
                          </xsl:choose>
                          <xsl:value-of select="ise:GetBundleProductDetails('shoppingcart',COUNTER,ITEM/BUNDLECODE,'',ITEM/BUNDLEHEADERID)" disable-output-escaping="yes" ></xsl:value-of>
                        </div>
                        
                        <!--quantity smc-->
						<!--total price-->
                        <div class="cart-item-total-price text-right" style="margin-top: 20px; text-align: right;">
						<div class="cart-item-quantity">
                          <xsl:choose>
                            <xsl:when test="$RenderType = 'SHOPPINGCART'">
                              <xsl:choose>
                                <xsl:when test="ISRESTRICTEDQUANTITIES = 'false'" >
                                  <div class="input-group pull-left" style="width: 110px;">
                                    <span class="input-group-btn">
                                      <a href="Javascript:SubtractQuantity('{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}');" class="btn btn-default">
                                        <i class="fa fa-minus-circle addSpace"></i>
                                      </a>
                                    </span>
                                    <input type="text" class="form-control text-right" style="border-radius: 0px;" id="{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}" name="{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}" value="{INPUTQUANTITYVALUE}" visible="false" />
                                    <span class="input-group-btn">
                                      <a href="Javascript:AddQuantity('{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}');" class="btn btn-default">
                                        <i class="fa fa-plus-circle"></i>
                                      </a>
                                    </span>
                                  </div>
                                  
                                  <!--<input type="text" class="inputQuantityLimit addSpace" id="{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}" name="{INPUTQUANTITYID}_{ITEM/BUNDLEHEADERID}" value="{INPUTQUANTITYVALUE}" />-->
                                </xsl:when>
                                <xsl:otherwise>
                                  <select size="1" class="showproduct_limit-restricted-qty addSpace form-control" id="{concat('Quantity_',QUANTITYLISTID)}" name="{concat('Quantity_',QUANTITYLISTID)}" >
                                    <option value="0">DELETE</option>
                                    <xsl:for-each select="RESTRICTEDQUANTITIES">
                                      <option value="{QTY}">
                                        <xsl:if test="SELECTED = 'true'">
                                          <xsl:attribute name="selected">selected</xsl:attribute>
                                        </xsl:if>
                                        <xsl:value-of select="QTY" disable-output-escaping="yes"/>
                                      </option>
                                    </xsl:for-each>
                                  </select>
                                </xsl:otherwise>
                              </xsl:choose>
                              <input type="hidden" name="{MINORDERQUANTITYID}" id="{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />
                              <input type="hidden" name="Base_{MINORDERQUANTITYID}" id="Base_{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />
                            </xsl:when>
                            <xsl:otherwise>
                              <span>
                                <xsl:value-of select="INPUTQUANTITYVALUE" disable-output-escaping="yes"/>
                              </span>
                            </xsl:otherwise>
                          </xsl:choose>
                        </div>
						  <small style="display: block; margin-bottom:-7px;">
                                        <b>TOTAL</b>
                                      </small>
                          <div id="bundle-total-price-ext-{ITEM/BUNDLECODE}-{ITEM/BUNDLEHEADERID}" class="bundleTotalPrice" style="text-align: right;">
                            <xsl:value-of select="SALES_EXTPRICE" disable-output-escaping="yes" />
                          </div>
                        </div>
						
                        
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-2">
                        
                        
                      </div>
                    </div>
                  </div>
                  <xsl:call-template name="CartItemsDivider">
                    <xsl:with-param name="HasCoupon" select="$HasCoupon" />
                    <xsl:with-param name="IsCouponTypeOrders" select="$IsCouponTypeOrders" />
                  </xsl:call-template>
                </xsl:otherwise>
              </xsl:choose>
            </xsl:for-each>
            
            <!--end-->
            
          </xsl:otherwise>
        </xsl:choose>
        <script>$(document).ready(function(){
          
          setMinQuantityByUnitMeasure = function (selection) {
          var $this = selection.find(":selected");
          var minOrderQtyID = $this.attr("minorderquantityid");
          var umQty = $this.attr("unitmeasurequantity");
          
          if (minOrderQtyID==undefined){return;}
          if (minOrderQtyID.toString().length == 0){return;}
          var $baseMinOrderQtyHolder = $("#"+ "Base_" + minOrderQtyID );
          
          if ($baseMinOrderQtyHolder == undefined){return;}
          var baseMinOrderQty =$baseMinOrderQtyHolder.val();
          
          if(umQty==undefined){return;}
          if (baseMinOrderQty==undefined){return;}
          
          umQty = Number(umQty);
          baseMinOrderQty = Number(baseMinOrderQty);
          
          if (baseMinOrderQty == 0){return;}
          
          // DOZEN to EACH Vv
          // check if allow fractional before using Math.ceil
          <xsl:choose>
            <xsl:when test="ALLOWFRACTIONAL = 'false'">umQty=  Math.ceil(baseMinOrderQty/umQty);</xsl:when>
            <xsl:otherwise>umQty=  Math.round((baseMinOrderQty/umQty)*100)/100;</xsl:otherwise>
          </xsl:choose>
          var $minQuantityHolder = $("#"+ minOrderQtyID);
          if ($minQuantityHolder != undefined){$minQuantityHolder.val(Number(umQty)); }
          }
          
          $(".showproduct_limitunitmeasure").change(function(){
          var $this = $(this);
          setMinQuantityByUnitMeasure($this);
          });
          
          
          });
          
          function AddQuantity(inputid)
          {
          var Quantity =document.getElementById(inputid);
          Quantity.value = parseInt(Quantity.value)  + 1;
          sumbitCartForm();
          }
          
          function SubtractQuantity(inputid)
          {
          var Quantity =document.getElementById(inputid);
          if (parseInt(Quantity.value) > 0)
          {
          Quantity.value = parseInt(Quantity.value) - 1;
          sumbitCartForm();
          }
          }
          
          function sumbitCartForm(){
          $('input[name^=Quantity_').change();
          }
          
          function sumbitCartForm(){
          $('input[name^=Quantity_').change();
          }
          
          $('input[name^=Quantity_').on('change', function (e) {
          var e = jQuery.Event("keypress");
          e.which = 13;
          e.keyCode = 13;
          $(this).trigger(e);
          });</script>
      </xsl:template>
      <xsl:template name="HeaderTemplate">
        <xsl:param name="RenderType" />
		<div class="entity-header" style="margin-bottom:20px">
        <h1 style="text-align:left">
          <xsl:value-of select="ise:StringResource('checkoutshipping.aspx.13')" disable-output-escaping="yes" />
          <xsl:if test="$RenderType != 'SHOPPINGCART'" >
            <xsl:value-of select="ise:StringResource('checkoutcard.aspx.1')" disable-output-escaping="yes" />
            <a href="shoppingcart.aspx">
              <xsl:value-of select="ise:StringResource('checkoutcard.aspx.2')" disable-output-escaping="yes" />
            </a>
          </xsl:if>
        </h1>
		</div>
      </xsl:template>
      <xsl:template name="RESERVATIONITEM">
        <xsl:param name="ItemCode" />
        <xsl:if test="RESERVE_ITEMCODE = $ItemCode">
          <span class="addSpace">
            <xsl:value-of select="RESERVE_QTY" disable-output-escaping="yes" />
          </span>
          <span class="addSpace">
            <xsl:value-of select="ise:StringResource('shoppingcart.cs.60')" disable-output-escaping="yes" />
          </span>
          <br/>
          <span >
            <xsl:value-of select="RESERVE_SHIPDATE" disable-output-escaping="yes" />
          </span>
          <br />
        </xsl:if>
      </xsl:template>
      <xsl:template name="CartItemsDivider">
        <tr>
          <td>
            <xsl:choose>
              <xsl:when test="HasCoupon = 'true' and IsCouponTypeOrders = 'false'">
                <xsl:attribute name="colspan">8</xsl:attribute>
              </xsl:when>
              <xsl:otherwise>
                <xsl:attribute name="colspan">7</xsl:attribute>
              </xsl:otherwise>
            </xsl:choose>
            <hr class="cart-item-divider"></hr>
          </td>
        </tr>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
