<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Search" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                -->
  <!-- http://www.InterpriseSolutions.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product" runif="SearchTerm">
    <sql>
      <![CDATA[exec eCommerceSearchInventory @SearchTerm, @WebSiteCode, @LanguageCode, NULL, 'ANY', 'ANY', '0', '0', '0', '0',@SearchDescriptions, @CurrentDate, @ProductFilterID, @ContactCode, @CBMode, @PageNum, @CurrencyCode, @MinPrice, @MaxPrice]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@SearchDescriptions" paramtype="runtime" requestparamname="SearchDescriptions" sqlDataType="varchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="null" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CBMode" paramtype="runtime" requestparamname="CBNMode" sqlDataType="bit" defvalue="0" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="ppagenum" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@CurrencyCode" paramtype="runtime" requestparamname="CurrencySetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@MinPrice" paramtype="request" requestparamname="MinPrice" sqlDataType="decimal" defvalue="null" validationpattern="" />
    <queryparam paramname="@MaxPrice" paramtype="request" requestparamname="MaxPrice" sqlDataType="decimal" defvalue="null" validationpattern="" />
  </query>
  <query name="Categories" rowElementName="Category" runif="SearchTerm">
    <sql>
      <![CDATA[exec eCommerceSearchCategories @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="cpagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <query name="Departments" rowElementName="Department" runif="SearchTerm">
    <sql>
      <![CDATA[exec eCommerceSearchDepartments @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="dpagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <query name="Manufacturers" rowElementName="Manufacturer" runif="SearchTerm">
    <sql>
      <![CDATA[exec eCommerceSearchManufacturers @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="mpagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <query name="Attributes" rowElementName="Attribute" runif="SearchTerm">
    <sql>
      <![CDATA[exec eCommerceSearchAttributes @SearchTerm, @LanguageCode, @WebSiteCode, 0, @PageNum]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="apagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <XmlHelperPackage name="productcompare.xml.config, helper.entity.xml.config" />
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
	  <xsl:param name="EntityName">
        <xsl:value-of select="/root/Runtime/EntityName" />
      </xsl:param>
      <xsl:param name="EntityID">
        <xsl:value-of select="/root/Runtime/EntityID" />
      </xsl:param>
	  <xsl:param name="EntityCode">
        <xsl:value-of select="/root/Runtime/EntityCode" />
      </xsl:param>
      <xsl:param name="pSearchTerm">
        <xsl:choose>
          <xsl:when test="/root/QueryString/searchterm">
            <xsl:value-of select="/root/QueryString/searchterm" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="/root/QueryString/searchterm" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CurrentPage">
        <xsl:choose>
          <xsl:when test="/root/QueryString/entitytype">
            <xsl:choose>
              <xsl:when test="/root/QueryString/entitytype = 'p'">
                <xsl:value-of select="/root/QueryString/ppagenum" />
              </xsl:when>
              <xsl:when test="/root/QueryString/entitytype = 'c'">
                <xsl:value-of select="/root/QueryString/cpagenum" />
              </xsl:when>
              <xsl:when test="/root/QueryString/entitytype = 'd'">
                <xsl:value-of select="/root/QueryString/dpagenum" />
              </xsl:when>
              <xsl:when test="/root/QueryString/entitytype = 'm'">
                <xsl:value-of select="/root/QueryString/mpagenum" />
              </xsl:when>
              <xsl:when test="/root/QueryString/entitytype = 'a'">
                <xsl:value-of select="/root/QueryString/apagenum" />
              </xsl:when>
              <xsl:otherwise>1</xsl:otherwise>
            </xsl:choose>
          </xsl:when>
          <xsl:otherwise>1</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="BaseURL">search.aspx?SearchTerm=
        <xsl:value-of select="$pSearchTerm"  disable-output-escaping="yes" />
      </xsl:param>
      <xsl:template match="/">
        
        <!-- Item Comparison mini-->
        <xsl:value-of select="ise:GetProductComparePanel(1)" disable-output-escaping="yes" />
        <!-- Item Comparison mini-->
        <br />
        <xsl:value-of select="ise:Topic('SearchPageHeader')" disable-output-escaping="yes" />
        <span style="color:red;font-weight:bold">
          <xsl:value-of select="/root/QueryString/errormsg" />
        </span>
        <div class="row">
          <div class="col-sm-12">
            <form method="GET" action="search.aspx" id="SearchForm2" name="SearchForm2" class="form-inline" style="display:inline-block;">
              <div class="form-group" style="margin-right:5px;">
                <label style="width:auto;">
                  <xsl:value-of select="ise:StringResource('search.aspx.3', $LocaleSetting)" disable-output-escaping="yes" />&#0160;
                </label>
                <input type="text" id="SearchTerm" class="form-control" name="SearchTerm" size="25" maxlength="70" value="{$pSearchTerm}" />
                <xsl:value-of select="ise:GetSearchFormValidatorScript('SearchForm2', 'SearchTerm')" disable-output-escaping="yes" />
              </div>
              <input type="submit" value="{ise:StringResourceTextOnly('search.aspx.1')}" name="B1"
                                          class="btn btn-default"
                                          data-contentKey="search.aspx.1"
                                          data-contentValue="{ise:StringResourceTextOnly('search.aspx.1')}"
                                          data-contentType="string resource" />
            </form>
            <a href="searchadv.aspx" class="advSearch btn btn-link">
              <xsl:value-of select="ise:StringResource('search.aspx.14', $LocaleSetting)" disable-output-escaping="yes" />
            </a>
          </div>
        </div>
        <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0">
            <div class="row">
			<h3>Category Matches</h3>
			</div>
            <div class="row">
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" style="" class="table table-striped">
                    <tr>
                      <td align="left" valign="top">
                        <xsl:apply-templates select="/root/Categories/Category" />
                      </td>
                    </tr>
                  </table>
                </div>
				<div class="row">
            <div class="Paging" style="padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=c'), $CurrentPage, /root/Categories2/Category/pages, '0')" disable-output-escaping="yes" />
            </div>
			</div>
          </xsl:when>
        </xsl:choose>
        <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowDepartmentsInResults')='true' and count(/root/Departments/Department)>0">
            <div class="row">
			<h3>Department Matches</h3>
			</div>
            <div class="row">
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" style="" class="table table-striped">
                    <tr>
                      <td align="left" valign="top">
                        <xsl:apply-templates select="/root/Departments/Department" />
                      </td>
                    </tr>
                  </table>
                </div>
				<div class="row">
            <div class="Paging" style=" padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=d'), $CurrentPage, root/Departments2/Department/pages, '0')" disable-output-escaping="yes" />
            </div>
			</div>
          </xsl:when>
        </xsl:choose>
        <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0">
            <div class="row">
			<h3>Manufacturer Matches</h3>
			</div>
            <div class="row">
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" style="" class="table table-striped">
                    <tr>
                      <td align="left" valign="top">
                        <xsl:apply-templates select="/root/Manufacturers/Manufacturer" />
                      </td>
                    </tr>
                  </table>
                </div>
				<div class="row">
            <div class="Paging" style=" padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=m'), $CurrentPage, /root/Manufacturers2/Manufacturer/pages, '0')" disable-output-escaping="yes" />
            </div>
			</div>
          </xsl:when>
        </xsl:choose>
        <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0">
            <div class="row">
			<h3>Product Matches</h3>
			</div>
            <div class="row">
                  
                          <xsl:apply-templates select="/root/Products/Product" />
                        
                </div>
				<div class="row">
            <div class="Paging" style="padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=p'), $CurrentPage,/root/Products2/Product/pages, '0')" disable-output-escaping="yes" />
            </div>
			</div>
          </xsl:when>
        </xsl:choose>
        <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowAttributesInResults')='true' and count(/root/Attributes/Attribute)>0">
            <div class="row">
			<h3>Attribute Matches</h3>
			</div>
			<div class="row">
            <table width="100%" cellpadding="2" cellspacing="0" class="search-wrapper table table-striped">
              <tr>
                <td align="left" valign="top">
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                    <tr>
                      <td align="left" valign="top">
                        <table cellpadding="0" border="0" cellspacing="1" width="100%">
                          <tr>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('search.aspx.11', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('search.aspx.12', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <td align="center">
                              <b>
                                <xsl:value-of select="ise:StringResource('search.aspx.10', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                          </tr>
                          <xsl:apply-templates select="/root/Attributes/Attribute" />
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
			</div>
			<div class="row">
            <div class="Paging" style="padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:SetXmlPackageHelperTemplate(1)" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=a'), $CurrentPage, /root/Attributes2/Attribute/pages, '0')" disable-output-escaping="yes" />
            </div>
			</div>
          </xsl:when>
        </xsl:choose>
        <xsl:if test="$pSearchTerm != '' and count(/root/Categories/Category)=0 and count(/root/Departments/Department)=0 and count(/root/Manufacturers/Manufacturer)=0 and count(/root/Products/Product)=0 and count(/root/Attributes/Attribute)=0">
          <p align="left">
            <xsl:value-of select="ise:StringResource('search.aspx.8', $LocaleSetting)" disable-output-escaping="yes" />
            <b />
          </p>
        </xsl:if>
        <script type="text/javascript" Language="JavaScript">document.SearchForm2.SearchTerm.focus();</script>
        <xsl:value-of select="ise:Topic('SearchPageFooter')" disable-output-escaping="yes" />
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="vName">
          <xsl:choose>
            <xsl:when test="count(VariantName/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="VariantName/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml)=0">
              <xsl:value-of select="VariantName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:if test="position()!=1">
          <tr>
            <td height="1" width="100%" class="LightCell">
              <xsl:attribute name="colspan">
                <xsl:choose>
                  <xsl:when test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true'">5</xsl:when>
                  <xsl:otherwise>4</xsl:otherwise>
                </xsl:choose>
              </xsl:attribute>
            </td>
          </tr>
        </xsl:if>
        <xsl:variable name="item_href">
          <xsl:choose>
            <xsl:when test="UnitMeasureCode">
              <xsl:value-of select="ise:MakeEntityLinkWithUOM('product',Counter,$pDisplayName, UnitMeasureCode)" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ise:MakeEntityLink('product',Counter,$pDisplayName)" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <div class="col-md-3 productbox">
          <div class="productboxinside" style="padding-bottom: 20px;">
            <div class="col-md-12 productimg">
              
			  <a class="pop thumbnail product-img-{Counter}" id="product-img-{Counter}" data-popover="true" data-html="true" data-content="&lt;a data-toggle='modal' class='btn btn-link pop-link' data-target='#product-modal-{Counter}'>Quick Look&lt;/a>"  href="{concat('p-',Counter,'-',ise:FormatStringForLink($pDisplayName),'.aspx')}">
			  <xsl:value-of select="ise:DisplayImage('product', Counter, 'icon', SEAltText, 'AltText')" disable-output-escaping="yes" />
			   <div class="productname text-center">
                  <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      <xsl:if test="vName!=''">-
                        <xsl:value-of select="$vName" />
                      </xsl:if>
              </div>
			  </a>
			  <!-- Modal -->
<div class="modal fade product-img-{Counter}" id="product-modal-{Counter}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">&#0160;</h4>
      </div>
      <div class="modal-body">
       <div class="row">
                        <div class="col-sm-6" style="padding-left: 0px;">
                          <a href="{$item_href}" id="product-img2-{Counter}" class="thumbnail product-img2-{Counter}">
                            <xsl:value-of select="ise:DisplayImage('product', Counter, 'large', SEAltText, 'AltText')" disable-output-escaping="yes" />
                          </a>
                        </div>
                        <div class="col-sm-6">
                          
                          <xsl:choose>
                            <xsl:when test="string-length(ItemDescription)>0">
                              <span class="text-left ProductNameText">
                                <xsl:value-of select="ItemDescription" />
                              </span>
							   <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                            </xsl:when>
                            <xsl:otherwise>
                              <xsl:value-of select="ItemName" />
                            </xsl:otherwise>
                          </xsl:choose>
                          <br></br>
						  <div class="modal-web-desc">
                          <xsl:value-of select="WebDescription" disable-output-escaping="yes" />
						  </div>
                        </div>
                      </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
    $('.pop').each(function () {
        var $elem = $(this);
        $elem.popover({
            placement: 'auto',
            trigger: 'hover',
            html: true,
            container: $elem,
            animation: true
        });
    });
});
</script>
            </div>
			
			
            <div class="col-md-12 productdetails">
              <div class="row itemnameandprice">
                <div class="itemname text-center">
                  <xsl:if test="CategoryID != '' and CategoryDisplayName != ''">
              <!--<a href="{concat('c-',CategoryID,'-',ise:FormatStringForLink(CategoryDisplayName),'.aspx')}">-->
              in: <a href="{ise:MakeEntityLink('category',CategoryID,CategoryDisplayName)}">
                <xsl:value-of select="ise:Encode(CategoryDisplayName)" disable-output-escaping="yes" />
              </a>
            </xsl:if><br></br>
            <xsl:if test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true'">
              <xsl:if test="ManufacturerID != '' and ManufacturerDisplayName != ''">
                <!--<a href="{concat('m-',ManufacturerID,'-',ise:FormatStringForLink(ManufacturerDisplayName),'.aspx')}">-->
               by: <a href="{ise:MakeEntityLink('manufacturer',ManufacturerID,ManufacturerDisplayName)}">
                  <xsl:value-of select="ise:Encode(ManufacturerDisplayName)" disable-output-escaping="yes" />
                </a>
              </xsl:if>
          </xsl:if>
                </div>
                <div class="price text-center">
                  <!-- DisplayPrice() method is overloaded, to make a different javascript call   -->
                  <!-- from a item product to other type (e.g. 'Kit')                             -->
                  <!-- see implementation of the said code at ISECommon\XSLTExtensionBase.cs file -->
                  <xsl:choose>
                    <xsl:when test="ise:ToLower(ItemType)='kit'">
                      <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode, HidePriceUntilCart, ItemType)" disable-output-escaping="yes" />
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                  <xsl:value-of select="ise:EntityLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                  <xsl:value-of select="ise:CreateCompareCheckbox(Counter)" disable-output-escaping="yes" />
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </xsl:template>
      <xsl:template match="Category">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <!--<a href="{concat('c-',Counter,'-',ise:FormatStringForLink($pDisplayName),'.aspx')}">-->
            <a href="{ise:MakeEntityLink('category',Counter,$pDisplayName)}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      <xsl:template match="Department">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <!--<a href="{concat('d-',Counter,'-',ise:FormatStringForLink($pDisplayName),'.aspx')}">-->
            <a href="{ise:MakeEntityLink('department',Counter,$pDisplayName)}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      <xsl:template match="Manufacturer">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <!--<a href="{concat('m-',Counter,'-',ise:FormatStringForLink($pDisplayName),'.aspx')}">-->
            <a href="{ise:MakeEntityLink('manufacturer',Counter,$pDisplayName)}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      <xsl:template match="Attribute">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(SourceFilterName)>0">
              <xsl:value-of select="SourceFilterName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pEntityType">
          <xsl:choose>
            <xsl:when test="string-length(EntityType)>0">
              <xsl:value-of select="EntityType" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <a id="{ise:FormatStringForLink(AttributeValue)}::{AttributeGroupCounter}::{AttributeGroupGuid}{AttributeGuid}"
               href="{concat('a-',Counter,'-',ise:FormatStringForLink(AttributeValue),'.aspx','?EntityID=',EntityCode,'&amp;','EntityName=',EntityType, '&amp;','atr=', concat(EntityCounter,'-',
                   ise:FormatStringForLink(EntityCode)), '&amp;','aid=',Counter, '&amp;','gid=',FilterGroupCounter, '&amp;','guid=',AttributeGroupGuid,AttributeGuid,
                   '&amp;','el=','0','&amp;', 'dfp=' , ise:MakeDFPLink(EntityType,EntityCounter,EntityCode)
                   
                   )}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
          <td align="left">
            <xsl:value-of select="EntityType" disable-output-escaping="yes" />
          </td>
          <td align="left">
            <xsl:if test ="$pEntityType = 'Category'">
              <a href="{concat('c-',EntityCounter,'-',ise:FormatStringForLink(EntityCode),'.aspx')}">
                <xsl:value-of select="ise:Encode(EntityCode)" disable-output-escaping="yes" />
              </a>
            </xsl:if>
            <xsl:if test ="$pEntityType = 'Department'">
              <a href="{concat('d-',EntityCounter,'-',ise:FormatStringForLink(EntityCode),'.aspx')}">
                <xsl:value-of select="ise:Encode(EntityCode)" disable-output-escaping="yes" />
              </a>
            </xsl:if>
          </td>
          <td align="left">
            <center>
              <xsl:value-of select="ise:Encode(AttributeName)" disable-output-escaping="yes" />
            </center>
          </td>
        </tr>
      </xsl:template>
      <xsl:template name="entitybreadcrumb">
        <xsl:param name="entityprefix" />
        <xsl:for-each select="ancestor-or-self::*[child::SEName and ancestor::EntityHelpers]">
          <xsl:variable name="pEName">
            <xsl:choose>
              <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml)=0">
                <xsl:value-of select="Description" />
              </xsl:when>
            </xsl:choose>
          </xsl:variable>
          <a href="{concat($entityprefix, '-', EntityID, '-', ise:FormatStringForLink(SEName), '.aspx')}">
            <xsl:value-of select="$pEName" />
          </a>
          &#0160;
          <xsl:if test="position()!=last()">-</xsl:if>
          &#0160;</xsl:for-each>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
