<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Item Popup" debug="false" includeentityhelper="true">
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />
  
  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>

      <xsl:param name="Counter" select="FIELD/COUNTER" />
      <xsl:param name="ItemCode" select="FIELD/ITEM_CODE" />
      <xsl:param name="ItemType" select="FIELD/ITEM_TYPE" />
      <xsl:param name="ExpShipDate" select="FIELD/EXPSHIPDATE" />
      <xsl:param name="DisplayContent" select="FIELD/DISPLAY_CONTENT" />
      <xsl:param name="DisplayProductNav" select="FIELD/DISPLAY_PRODUCTNAVLINKS" />
      <xsl:param name="DisplayName" select="FIELD/DISPLAY_NAME" />
      <xsl:param name="SummaryBoxClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">summaryBoxShrink</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">summaryBoxShrink</xsl:when>
          <xsl:otherwise>summaryBox</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="DetailBoxClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">detailsBoxShrink</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">detailsBoxShrink</xsl:when>
          <xsl:otherwise>detailsBox</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="SidePanelClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">sidePanel</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">sidePanel</xsl:when>
          <xsl:otherwise>sidePanelHide</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CartMenuBoxClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">cartMenuBoxShrink</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">cartMenuBoxShrink</xsl:when>
          <xsl:otherwise>cartMenuBox</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ReviewBoxClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">reviewBoxShrink</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">reviewBoxShrink</xsl:when>
          <xsl:otherwise>reviewBox</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="RelatedBoxClass">
        <xsl:choose>
          <xsl:when test="$ItemType='Kit'">relatedBoxShrink</xsl:when>
          <xsl:when test="$ItemType='Matrix Group'">relatedBoxShrink</xsl:when>
          <xsl:otherwise>relatedBox</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        
        <div itempopup-section="{$ItemCode}" class="itempopup">
          <div class="header">
            <div class="header-row">
              <div class="header-col-a">
                <div class="imageBox"><img src="{FIELD/DEFAULT_IMAGES/ICON/SRC}" /></div>
              </div>
              <div class="header-col-b">
                <div class="titleBox">
                  <a href="{ise:ProductLink($Counter, $DisplayName, 'false')}">
                    <xsl:value-of select="$DisplayName" disable-output-escaping="yes" />
                  </a>
                </div>
                <div class="menuBox">
                  <div>
                    <xsl:value-of select="ise:DisplayRatingEx(FIELD/RATING_AVERAGE)" disable-output-escaping="yes" />
                  </div>
                  <xsl:value-of select="ise:ProductShareControl($Counter, 0, $DisplayName,'test',FIELD/DESCRIPTION)" disable-output-escaping="yes" />
                </div>
              </div>
              <div class="header-col-c">
                <xsl:if test="$DisplayContent = 'true'">
                <div class="notificationBox">
                  <br />
                  <xsl:value-of select="ise:DisplayNotifyOnPriceDropEx($ItemCode, $ItemType)"  disable-output-escaping="yes" />
                  <xsl:value-of select="ise:DisplayNotifyOnItemAvailabilityEx($ItemCode, $ItemType)"  disable-output-escaping="yes" />
                  <xsl:value-of select="ise:DisplayExpectedShipDateEx($ItemCode,$ExpShipDate,$ItemType)"  disable-output-escaping="yes" />
                </div>
                <div class="{$CartMenuBoxClass}">
                  <xsl:choose>
                    <xsl:when test="$ItemType='Kit'">
                    </xsl:when>
                    <xsl:when test="$ItemType='Matrix Group'">
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="ise:DisplayCartControlsEx($Counter, $ItemCode, $ItemType)"  disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                  
                </div>
                </xsl:if>
              </div>
            </div>
          </div>
          <!--Content-->
          <xsl:if test="$DisplayContent = 'true'">
          <div class="itempopup-tab-header">
            <a href="javascript:void(1)" tabIndex="1" onclick="switchTabPage(1, '{$ItemCode}');" class="tab-menu-selected">
              <xsl:value-of select="ise:StringResource('itempopup.aspx.1')" disable-output-escaping="yes" />
            </a>
            <a href="javascript:void(1)" tabIndex="2" onclick="switchTabPage(2, '{$ItemCode}');" class="tab-menu">
              <xsl:value-of select="ise:StringResource('itempopup.aspx.2')" disable-output-escaping="yes" />
            </a>
            <a href="javascript:void(1)" tabIndex="3" onclick="switchTabPage(3, '{$ItemCode}');" class="tab-menu">
              <xsl:value-of select="ise:StringResource('itempopup.aspx.3')" disable-output-escaping="yes" />
            </a>
            <a href="javascript:void(1)" tabIndex="4" onclick="switchTabPage(4, '{$ItemCode}');" class="tab-menu">
              <xsl:value-of select="ise:StringResource('itempopup.aspx.4')" disable-output-escaping="yes" />
            </a>
          </div>
          <div class="itempopup-tab">
            <!-- Overview -->
            <div tabIndex="1">
              <div class="photoBox">
                <xsl:value-of select="ise:DisplayProductImageEx($Counter, $ItemCode, $ItemType)" disable-output-escaping="yes" />
              </div>
              <div class="{$SummaryBoxClass}">
                <xsl:value-of select="FIELD/SUMMARY" disable-output-escaping="yes" />
                <xsl:value-of select="ise:RegisterProduct($Counter, $ItemCode, $ItemType, false())" disable-output-escaping="yes" />
                <xsl:value-of select="ise:ProductLoyaltyPoints($Counter, $ItemCode, $ItemType)" disable-output-escaping="yes" />
              </div>
            </div>
            <!-- Details -->
            <div tabIndex="2" style="display:none;">
              <div class="{$DetailBoxClass}">
                <h3>
                  <xsl:value-of select="ise:StringResource('itempopup.aspx.5')" disable-output-escaping="yes" />
                </h3>
                <xsl:value-of select="FIELD/DESCRIPTION" disable-output-escaping="yes" />
                <br />
                <br />
                <h3>
                  <xsl:value-of select="ise:StringResource('itempopup.aspx.6')" disable-output-escaping="yes" />
                </h3>
                <xsl:value-of select="FIELD/WARRANTY" disable-output-escaping="yes" />
              </div>
            </div>
            <!-- Reviews-->
            <div tabIndex="3" style="display:none;">
              <div class="{$ReviewBoxClass}">
                <xsl:value-of select="ise:DisplayReviewsEx($ItemCode, 4)" disable-output-escaping="yes" />
                <xsl:value-of select="ise:DisplayReviewControlEx($ItemCode)" disable-output-escaping="yes" />
              </div>
            </div>
            <!-- Related -->
            <div tabIndex="4" style="display:none;">
              <div class="{$RelatedBoxClass}">
                <div>
                  <xsl:value-of select="ise:DisplaySubstituteProductsEx($ItemCode)"  disable-output-escaping="yes" />
                </div>
                <br />
                <div>
                  <xsl:value-of select="ise:DisplayAccessoryProductsEx($ItemCode)"  disable-output-escaping="yes" />
                </div>
                <br />
              </div>
              
            </div>
          </div>
          <div class="{$SidePanelClass}">
            <div class="content">
              <xsl:choose>
                <xsl:when test="$ItemType='Kit'">
                  <xsl:value-of select="ise:DisplayCartControlsEx($Counter, $ItemCode, $ItemType)"  disable-output-escaping="yes" />
                </xsl:when>
                <xsl:when test="$ItemType='Matrix Group'">
                  <xsl:value-of select="ise:DisplayCartControlsEx($Counter, $ItemCode, $ItemType)"  disable-output-escaping="yes" />
                </xsl:when>
                <xsl:otherwise></xsl:otherwise>
              </xsl:choose>
              <div class="wrapped">
              
              </div>
            </div>
          </div>
          </xsl:if>
          <!--Footer-->
          <xsl:if test="$DisplayProductNav = 'true'">
            <div class="nav-left"><!--<xsl:value-of select="ise:ProductNavLink($Counter,'previous')"  disable-output-escaping="yes" />--></div>
            <div class="nav-right"><!--<xsl:value-of select="ise:ProductNavLink($Counter,'next')"  disable-output-escaping="yes" />--></div>
          </xsl:if>

          <xsl:if test="$DisplayContent = 'false'">
            <div style="padding:20px;">
              <span style="color:red;font-weight:bold;">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.1')"  disable-output-escaping="yes" />
              </span>
              <br /><br /><br />
              <a href="{FIELD/RETURN_URL}">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.2')" disable-output-escaping="yes" />
              </a>
              <span style="width:5px;display:inline-block;"></span><xsl:value-of select="ise:StringResource('showproduct.aspx.3')" disable-output-escaping="yes" />
              <xsl:value-of select="FIELD/CURRENT_PAGE"></xsl:value-of>
            </div>
          </xsl:if>
        </div>
          
        </xsl:template>
    </xsl:stylesheet>
    
  </PackageTransform>
</package>