<?xml version="1.0" encoding="utf-8" ?>
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" encoding="utf-8" indent="yes"/>
      <xsl:template match="/">
        <xsl:variable name="RenderType" select="FIELD/RENDERTYPE" />
        <xsl:variable name="VatEnabled" select="FIELD/VATENABLED" />
        <xsl:variable name="VatInclusive" select="FIELD/VATINCLUSIVE" />
        <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />
        <xsl:variable name="IsCouponTypeOrders" select="FIELD/IS_COUPON_TYPE_ORDERS" />
        <xsl:variable name="IsFreeShipping" select="FIELD/ISFREESHIPPING" />
        <xsl:variable name="ShowStockHints" select="FIELD/SHOWSTOCKHINTS" />
        <xsl:variable name="ShowShipDateInCart" select="FIELD/SHOWSHIPDATEINCART" />
        <xsl:variable name="ShowTaxBreakDown" select="FIELD/SHOW_TAX_BREAK_DOWN"/>
        <xsl:variable name="DecimalPlaces" select="ise:GetInventoryPreferencePlaces()"/>
        
        <br />
        <div class="checkout-review-summary">
          
          <!-- subtotal -->
          <div class="row">
            <div class="col-md-6">
              <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />

              <xsl:if test="$VatEnabled = 'true'">
                &#160;
                <xsl:if test="$VatInclusive = 'false'">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                </xsl:if>
                <xsl:if test="$VatInclusive = 'true'">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                </xsl:if>
              </xsl:if>
            </div>
            <div class="col-md-6 text-right">
              <xsl:value-of select="FIELD/SUBTOTAL_VALUE" disable-output-escaping="yes" />  
            </div>
          </div>

          <!-- handling fee -->
          <xsl:if test="FIELD/SHOWHANDLINGFEE = 'true'">
            <div class="row">
              <div class="col-md-6">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.89')" disable-output-escaping="yes" />
              </div>
              <div class="col-md-6 text-right">
                <xsl:value-of select="FIELD/HANDLINGFEE_VALUE" disable-output-escaping="yes" />
              </div>
            </div>
          </xsl:if>

          <!-- shipping -->
          <div class="row">
            <div class="col-md-6">
              <xsl:value-of select="ise:StringResource('shoppingcart.aspx.10')" disable-output-escaping="yes" />
              <xsl:if test="$IsFreeShipping = 'false'">
                <xsl:if test="$VatEnabled = 'true'">
                  &#160;
                  <xsl:if test="$VatInclusive = 'false'">
                    <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                  </xsl:if>
                  <xsl:if test="$VatInclusive = 'true'">
                    <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                  </xsl:if>
                </xsl:if>
              </xsl:if>
            </div>
            <div class="col-md-6 text-right">
              <xsl:choose>
                <xsl:when test="$IsFreeShipping = 'true'">
                    <xsl:value-of select="ise:StringResource('shoppingcart.aspx.13')" disable-output-escaping="yes" />
                </xsl:when>
                <xsl:otherwise>
                  <xsl:choose>
                    <xsl:when test ="FIELD/IS_FREIGHT_DISCOUNTED = 'true'">
                      <strike>
                        <xsl:value-of select="FIELD/ORIGINAL_FREIGHT" disable-output-escaping="yes" />
                      </strike>
                      <br />
                      <xsl:value-of select="FIELD/FREIGHT" disable-output-escaping="yes" />
                    </xsl:when>
                    <xsl:otherwise>
                        <xsl:value-of select="FIELD/FREIGHT" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                </xsl:otherwise>
              </xsl:choose>
            </div>
          </div>

          <!-- tax -->
          <xsl:if test="$VatInclusive = 'false'">
            <div class="col-md-6">
              <xsl:value-of select="ise:StringResource('shoppingcart.aspx.11')" disable-output-escaping="yes" />
            </div>
            <div class="col-md-6 text-right">
              <xsl:if test="$ShowTaxBreakDown = 'false' or $RenderType = 'SHIPPING'">
                  <xsl:value-of select="FIELD/TAX_RATE_VALUE" disable-output-escaping="yes" />
              </xsl:if>
              <xsl:if test="$ShowTaxBreakDown = 'true' and ($RenderType = 'PAYMENT' or $RenderType = 'REVIEW')">
                  <a id="aTaxRateValue" href="javascript:void(1);" data-title="{ise:StringResource('shoppingcart.aspx.66')}" title="{ise:StringResource('shoppingcart.aspx.65')}" data-mode="show">
                    <xsl:value-of select="FIELD/TAX_RATE_VALUE" disable-output-escaping="yes" />
                  </a>
                  <div class="clear-both"></div>
                  <div id="divTaxBreakdownWrapper">
                    <span id="title">
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.67')" disable-output-escaping="yes" />
                    </span>
                    <ul>
                      <li>
                        <xsl:value-of select="ise:StringResource('shoppingcart.aspx.68')" disable-output-escaping="yes" />
                      </li>
                      <li style="float:right;">
                        <xsl:value-of select="FIELD/FREIGHTTAX" disable-output-escaping="yes" />
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <xsl:value-of select="ise:StringResource('shoppingcart.aspx.69')" disable-output-escaping="yes" />
                      </li>
                      <li style="float:right;">
                        <xsl:value-of select="FIELD/LINEITEMTAX" disable-output-escaping="yes" />
                      </li>
                    </ul>
                  </div>
                  <script type="text/javascript">
                    $(document).ready(function(){

                    $("#aTaxRateValue").click(function(){

                    var $divTaxBreakdown = $("#divTaxBreakdownWrapper");
                    var $hideDivBorder = $(".hide-on-tax-breakdown-display");

                    var $this = $(this);
                    var title = $this.attr("title");

                    var mode = $this.attr("data-mode");
                    mode = (typeof(mode) == "undefined") ? "show" : $.trim(mode);

                    if(mode == "show"){

                    $hideDivBorder.css("border-bottom", "1px solid #fff");
                    $divTaxBreakdown.show("slide", {direction: "up"}, function(){
                    $this.attr("data-mode", "hide");
                    });

                    }else{

                    $divTaxBreakdown.hide("slide", {direction: "up"}, function(){
                    $this.attr("data-mode", "show");
                    $hideDivBorder.css("border-bottom", "1px solid #ccc");
                    });


                    }

                    $this.attr("title",  $this.attr("data-title"));
                    $this.attr("data-title", title);

                    });
                    });
                  </script>
              </xsl:if>
            </div>
          </xsl:if>

          <!-- coupon discount -->
          <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'true'">
          <div class="row">
            <div class="col-md-6">
              <xsl:value-of select="ise:StringResource('shoppingcart.cs.38')" disable-output-escaping="yes" />
            </div>
            <div class="col-md-6 text-right">
              <xsl:value-of select="FIELD/APPLIED_COUPON_DISCOUNT" disable-output-escaping="yes" />
            </div>
          </div>
          </xsl:if>

          <!-- gift card -->
          <xsl:if test="FIELD/APPLIED_CREDIT_GIFT_CARD != ''">
            <div class="row">
              <div class="col-md-6">
                <xsl:value-of select="ise:StringResource('shoppingcart.aspx.31')" disable-output-escaping="yes" />
              </div>
              <div class="col-md-6 text-right">
                <xsl:value-of select="FIELD/APPLIED_CREDIT_GIFT_CARD" disable-output-escaping="yes" />
              </div>
            </div>
          </xsl:if>

          <!-- gift certificate -->
          <xsl:if test="FIELD/APPLIED_CREDIT_GIFT_CERTIFICATE != ''">
            <div class="row">
              <div class="col-md-6">
                <xsl:value-of select="ise:StringResource('shoppingcart.aspx.32')" disable-output-escaping="yes" />
              </div>
              <div class="col-md-6 text-right">
                <xsl:value-of select="FIELD/APPLIED_CREDIT_GIFT_CERTIFICATE" disable-output-escaping="yes" />
              </div>
            </div>
          </xsl:if>

          <!-- loyalty points -->
          <xsl:if test="FIELD/APPLIED_LOYALTYPOINTS_AMOUNT != ''">
            <div class="row">
              <div class="col-md-6">
                <xsl:value-of select="ise:StringResource('shoppingcart.aspx.44')" disable-output-escaping="yes" />
              </div>
              <div class="col-md-6 text-right">
                <xsl:value-of select="FIELD/APPLIED_LOYALTYPOINTS_AMOUNT" disable-output-escaping="yes" />
              </div>
            </div>
          </xsl:if>

          <!-- credit memos -->
          <xsl:if test="FIELD/APPLIED_CREDITMEMOS_AMOUNT != ''">
            <div class="row">
              <div class="col-md-6">
                <xsl:value-of select="ise:StringResource('checkoutpayment.aspx.62')" disable-output-escaping="yes" />
              </div>
              <div class="col-md-6 text-right">
                <xsl:value-of select="FIELD/APPLIED_CREDITMEMOS_AMOUNT" disable-output-escaping="yes" />
              </div>
            </div>
          </xsl:if>
          
          <!-- total -->
          <div class="row checkout-summary-clr-with-border"></div>
          <div class="row">
            <div class="col-md-6">
              <strong>
                <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
              </strong>
            </div>
            <div class="col-md-6 text-right">
              <strong>
                <xsl:value-of select="FIELD/TOTAL" disable-output-escaping="yes" />
              </strong>
            </div>
          </div>
        </div>
        
      </xsl:template>

    </xsl:stylesheet>
  </PackageTransform>
</package>