<?xml version="1.0" encoding="utf-8"?>
<package displayname="Order Summary Card" version="2.1" allowengine="true" includeentityhelper="false" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <!--<XmlHelperPackage name="page.checkout.ordersummarycard.xml.config" />-->
  
  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:variable name="RenderType" select="FIELD/RenderType" />
      <xsl:variable name="IsCustomerRegistered" select="FIELD/IsCustomerRegistered" />
      <xsl:variable name="SubTotal" select="FIELD/SubTotal" />
      <xsl:variable name="Total" select="FIELD/Total" />
      <xsl:variable name="Freight" select="FIELD/Freight" />
      <xsl:variable name="Tax" select="FIELD/Tax" />
      <xsl:variable name="HandlingFee" select="FIELD/HandlingFee" />
      <xsl:variable name="Coupon" select="FIELD/Coupon" />
      <xsl:variable name="GiftCard" select="FIELD/GiftCard" />
      <xsl:variable name="GiftCertificate" select="FIELD/GiftCertificate" />
      <xsl:variable name="LoyaltyPoints" select="FIELD/LoyaltyPoints" />
      <xsl:variable name="CreditMemos" select="FIELD/CreditMemos" />
      <xsl:template match="/">
        <div id="order-summary-card-container">
          <div class="panel panel-default">
            <div class="panel-heading">
              <xsl:value-of select="ise:StringResourceTextOnly('checkout1.aspx.43')" ></xsl:value-of>
              <xsl:choose>
                <xsl:when test="$RenderType != 'SHOPPINGCART'">
                  <div class="order-summary-card-button-detail-container pull-right">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#order-summary-items-modal">
                      <xsl:value-of select="ise:StringResource('showproduct.aspx.88')" disable-output-escaping="yes" />
                    </button>
                  </div>
                </xsl:when>
                <xsl:otherwise>
                  <!--Do nothing-->
                </xsl:otherwise>
              </xsl:choose>
            </div>
            <div class="panel-body">
              
              <!--SubTotal-->
              <div class="row order-summary-card-subtotal-container">
                <div class="col-xs-6 sumcard-left">
                  <div class="order-summary-card-caption">
                    <xsl:choose>
                      <xsl:when test="$Tax/IsVatEnabled = 'true'">
                        <xsl:choose>
                          <xsl:when test = "$Tax/IsVatInclusive = 'false'">
                            <xsl:value-of select="concat(ise:StringResource('shoppingcart.cs.27'), ' ', ise:StringResource('showproduct.aspx.37'))" disable-output-escaping="yes" />
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:value-of select="concat(ise:StringResource('shoppingcart.cs.27'), ' ', ise:StringResource('showproduct.aspx.38'))" disable-output-escaping="yes" />
                          </xsl:otherwise>
                        </xsl:choose>
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </div>
                </div>
                <div class="col-xs-6 sumcard-right">
                  <div class="order-summary-card-value">
                    <xsl:value-of select="$SubTotal/DisplayText" disable-output-escaping="yes" />
                  </div>
                </div>
              </div>
              
              <!--Handling Fee-->
              <xsl:if test="$HandlingFee/ShowHandlingFee = 'true'">
                <div class="row order-summary-card-handling-fee-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('showproduct.aspx.89')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$HandlingFee/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Shipping/Freight-->
              <div class="row order-summary-card-freight-container">
                <div class="col-xs-6 sumcard-left">
                  <div class="order-summary-card-caption">
                    <xsl:choose>
                      <xsl:when test="$Tax/IsVatEnabled = 'true'">
                        <xsl:choose>
                          <xsl:when test = "$Tax/IsVatInclusive = 'false'">
                            <xsl:value-of select="concat(ise:StringResource('shoppingcart.aspx.10'), ' ', ise:StringResource('showproduct.aspx.37'))" disable-output-escaping="yes" />
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:value-of select="concat(ise:StringResource('shoppingcart.aspx.10'), ' ', ise:StringResource('showproduct.aspx.38'))" disable-output-escaping="yes" />
                          </xsl:otherwise>
                        </xsl:choose>
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:value-of select="ise:StringResource('shoppingcart.aspx.10')" disable-output-escaping="yes" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </div>
                </div>
                <div class="col-xs-6 sumcard-right">
                  <div class="order-summary-card-value">
                    <xsl:choose>
                      <xsl:when test="$RenderType = 'SHOPPINGCART'">
                        <!--<xsl:value-of select="ise:StringResource('shoppingcart.aspx.12')" disable-output-escaping="yes" />-->
                        
                        <xsl:choose>
                          <xsl:when test="number($Freight/Value) &lt; 1">
						  TBD
                            <!--<a href="javascript:void(0);" data-toggle="modal" data-target="#modal-estimate-shipping">
                              <xsl:value-of select="'ESTIMATE'" disable-output-escaping="yes" />
                            </a>-->
                          </xsl:when>
                          <xsl:otherwise>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-estimate-shipping">
                              <xsl:value-of select="$Freight/DisplayText" disable-output-escaping="yes" />
                            </a>
                          </xsl:otherwise>
                        </xsl:choose>
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:choose>
                          <xsl:when test="$Freight/IsFreeShipping = 'true'" >
                            <xsl:value-of select="ise:StringResource('shoppingcart.aspx.13')" disable-output-escaping="yes" />
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:choose>
                              <xsl:when test="$RenderType != 'SHOPPINGCART'">
                                <xsl:value-of select="$Freight/DisplayText" disable-output-escaping="yes" />
                              </xsl:when>
                            </xsl:choose>
                          </xsl:otherwise>
                        </xsl:choose>
                      </xsl:otherwise>
                    </xsl:choose>
                  </div>
                </div>
              </div>
              
              <!--Tax (Freight Tax/LineItem Tax)-->
              <div class="row order-summary-card-tax-container">
                <div class="col-xs-4 sumcard-left">
                  <div class="order-summary-card-caption">
                    <xsl:value-of select="ise:StringResource('shoppingcart.aspx.11')" disable-output-escaping="yes" />
                  </div>
                </div>
                <div class="col-xs-8 sumcard-right">
                  <div class="order-summary-card-value">
                    <xsl:choose>
                      <xsl:when test="$RenderType = 'SHOPPINGCART' and $IsCustomerRegistered = 'false'">
                        <!--<xsl:value-of select="ise:StringResource('shoppingcart.aspx.12')" disable-output-escaping="yes" />-->
                        <xsl:value-of select="'TBD'" disable-output-escaping="yes" />
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:if test="$Tax/ShowTaxBreakDown = 'false' or $RenderType = 'SHIPPING' or $RenderType = 'SHOPPINGCART'">
                          <span class="summary-values">
                            <xsl:value-of select="$Tax/DisplayText" disable-output-escaping="yes" />
                          </span>
                        </xsl:if>
                        <xsl:if test="$Tax/ShowTaxBreakDown = 'true' and ($RenderType = 'PAYMENT' or $RenderType = 'REVIEW')">
                          <a href="javascript:void(1);" data-toggle="collapse" data-target="#tax-collapse" aria-expanded="false" aria-controls="tax-collapse">
                            <xsl:value-of select="$Tax/DisplayText" disable-output-escaping="yes" />
                          </a>
                          <div class="collapse" id="tax-collapse" aria-expanded="false">
                            <div class="panel panel-default">
                              <div class="panel-body">
                                <div class="text-center">
                                  <xsl:value-of select="ise:StringResource('shoppingcart.aspx.67')" disable-output-escaping="yes" />
                                </div>
                                <hr/>
                                
                                <!--Freight Tax-->
                                <div class="row">
                                  <div class="col-xs-8 sumcard-left">
                                    <div class="order-summary-card-caption">
                                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.68')" disable-output-escaping="yes" />
                                    </div>
                                  </div>
                                  <div class="col-xs-4 sumcard-right">
                                    <div class="order-summary-card-value">
                                      <xsl:value-of select="$Tax/FreightTax/DisplayText" disable-output-escaping="yes" />
                                    </div>
                                  </div>
                                </div>
                                <hr/>
                                
                                <!--Line Item Tax-->
                                <div class="row">
                                  <div class="col-xs-8 sumcard-left">
                                    <div class="order-summary-card-caption">
                                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.69')" disable-output-escaping="yes" />
                                    </div>
                                  </div>
                                  <div class="col-xs-4 sumcard-right">
                                    <div class="order-summary-card-value">
                                      <xsl:value-of select="$Tax/LineItemTax/DisplayText" disable-output-escaping="yes" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </xsl:if>
                      </xsl:otherwise>
                    </xsl:choose>
                  </div>
                </div>
              </div>
              
              <!--Coupon Discount-->
              <xsl:if test="$Coupon/HasCoupon = 'true' and $Coupon/IsCouponTypeOrders = 'true'">
                <div class="row order-summary-card-coupon-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('shoppingcart.cs.38')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$Coupon/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Gift Card-->
              <xsl:if test="$GiftCard/HasGiftCard = 'true'">
                <div class="row order-summary-card-gift-card-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.31')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$GiftCard/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Gift Certificate-->
              <xsl:if test="$GiftCertificate/HasGiftCertificate = 'true'">
                <div class="row order-summary-card-gift-certificate-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.32')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$GiftCertificate/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Loyalty Points-->
              <xsl:if test="$LoyaltyPoints/HasLoyaltyPoints = 'true'">
                <div class="row order-summary-card-loyalty-points-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.44')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$LoyaltyPoints/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Credit Memos-->
              <xsl:if test="$CreditMemos/HasCreditMemos = 'true'">
                <div class="row order-summary-card-credit-memos-container">
                  <div class="col-xs-6 sumcard-left">
                    <div class="order-summary-card-caption">
                      <xsl:value-of select="ise:StringResource('shoppingcart.aspx.63')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <div class="col-xs-6 sumcard-right">
                    <div class="order-summary-card-value">
                      <xsl:value-of select="$CreditMemos/DisplayText" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:if>
              
              <!--Total-->
              <div class="row order-summary-card-total-container">
                <div class="col-xs-6 sumcard-left total-label">
                  <div class="order-summary-card-caption">
                    <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
                  </div>
                </div>
                <div class="col-xs-6 sumcard-right total-value">
                  <div class="order-summary-card-value">
                    <xsl:value-of select="$Total/DisplayText" disable-output-escaping="yes" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
