<?xml version="1.0" encoding="utf-8"?>
<package displayname="Best Sellers" version="2.1" debug="false" allowengine="true">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec GetEcommerceRecentAdditions 180, 10, @LocaleSetting, @WebSiteCode, @CurrentDate, @ContactCode
            ]]>
    </sql>
	  
     <queryparam paramname="@LocaleSetting" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
	 <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
	  <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
	
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="ShowPics">
        <xsl:value-of select="ise:AppConfigBool('RecentAdditionsShowPics')" />
      </xsl:param>
      <xsl:param name="ProductCount" select="count(/root/Products/Product)" />
      <xsl:template match="/">
		<xsl:choose>
          <xsl:when test="$ProductCount &gt; 0">
		  <div class="entity-header">
  			<h1>Recent Additions</h1>
			</div>
            <table width="100%" cellpadding="2" cellspacing="0" border="0" class="recent-additions-wrapper">
              <xsl:attribute name="style">
                border-style: solid; border-width: 0px; border-color: #<xsl:value-of select="ise:AppConfig('HeaderBGColor')" />
              </xsl:attribute>
              <tr>
                <td align="left" valign="top">
                  <img src="{ise:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/recent.gif'))}" border="0" />
                  <br />
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" class="recent-additions">
                    <xsl:attribute name="style">
                      <xsl:value-of select="ise:AppConfig('BoxFrameStyle')" />
                    </xsl:attribute>
                    <tr>
                      <td align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="1" width="100%">
                          <tr>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('recentadditions.aspx.2', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <td align="left">
                              <b>
								  <img src="images/spacer.gif" height="1" width="1" />
							  </b>
                            </td>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('AppConfig.CategoryPromptSingular', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3" height="4" width="100%">
                              <img src="images/spacer.gif" height="1" width="1" />
                            </td>
                          </tr>
                          <xsl:apply-templates select="/root/Products/Product" />
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">&#0160;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </xsl:when>
          <xsl:otherwise>
            <p align="left">
              <b>
                <xsl:value-of select="ise:StringResource('recentadditions.aspx.3', $LocaleSetting)" disable-output-escaping="yes" />
              </b>
            </p>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
			  <xsl:value-of select="ProductName" />
		</xsl:param>
	    <xsl:param name="vName">
              <xsl:value-of select="VariantName" />
        </xsl:param>
        <xsl:param name="ProductName">
          <xsl:value-of select="$pName" />
          <xsl:if test="$vName!=''">
            <xsl:value-of select="concat('-', $vName)" />
          </xsl:if>
        </xsl:param>
        <xsl:param name="ProductSKU">
          <xsl:value-of select="SKU" />
          <xsl:if test="SKUSuffix!=''">
            <xsl:value-of select="concat('-', SKUSuffix)" />
          </xsl:if>
        </xsl:param>
		<xsl:param name="pDisplayName">
			  <xsl:choose>
				  <xsl:when test="string-length(ItemDescription)>0">
					  <xsl:value-of select="ItemDescription" />
				  </xsl:when>
				  <xsl:otherwise>
					  <xsl:value-of select="ItemName" />
				  </xsl:otherwise>
			  </xsl:choose>
		</xsl:param>
		<xsl:param name="URL">
			  <xsl:value-of select="ise:EntityLink(EntityID, ise:FormatStringForLink($pDisplayName), 'product', 0, '')" />
		</xsl:param>
		<xsl:param name="vAlign">
			<xsl:choose>
				<xsl:when test="$ShowPics='true'">
					<xsl:value-of select="'bottom'" />
				</xsl:when>
				<xsl:otherwise>
					<xsl:value-of select="'middle'" />
				</xsl:otherwise>
			</xsl:choose>				  
		</xsl:param>  
		  <div class="col-md-3">
          <div class="text-center">
			  <xsl:attribute name="valign">
				  <xsl:value-of select="$vAlign" />
			  </xsl:attribute>
			  <xsl:if test="$ShowPics='true'">
			   <div class="productimg">
			  <a class="thumbnail" href="{$URL}">
				  <xsl:value-of select="ise:DisplayImage('product', EntityID, 'icon', SEAltText, 'AltText')" disable-output-escaping="yes" />
				  <div class="NewBadge">New</div>
			  </a> 
			  </div>
			  </xsl:if> 
			   <div class="productname text-center">
			  <xsl:value-of select="ise:ProductLink(EntityID, ise:FormatStringForLink($pDisplayName), 1, ise:Encode($pDisplayName))" disable-output-escaping="yes" />
			  </div>
			  <div class="productname text-center">
            in: <xsl:value-of select="ise:ProductEntityList(ItemCode, 'category')" disable-output-escaping="yes" />
            </div>
			</div>
          </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



