<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Matrix Product" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                  -->
  <!-- http://www.InterpriseSolutions.com														              -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                  -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
      <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        <xsl:comment>Licensed by Interprise Solutions.</xsl:comment>
        <xsl:choose>
          <xsl:when test="count(root/Products/Product) &gt; 1">
            <xsl:for-each select="/root/Products/Product[position()=1]">
              <xsl:call-template name="MultiVariant" />
            </xsl:for-each>
          </xsl:when>
          <xsl:otherwise>
            <xsl:apply-templates select="/root/Products/Product" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

		<xsl:template match="Product">
			<xsl:param name="pName">
				<xsl:value-of select="ItemName" />
			</xsl:param>
			<xsl:param name="pDescription">
				<xsl:choose>
					<xsl:when test="string-length(WebDescription)>0">
						<xsl:value-of select="WebDescription" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="ItemDescription" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:param>
			<xsl:param name="pSalesPromptName">
				<xsl:value-of select="SalesPromptName" />
			</xsl:param>
      <xsl:param name="IsValidItemTypeToStorePickup">
        <xsl:choose>
          <xsl:when test="ItemType = 'Matrix Item' or ItemType = 'Matrix Group'">true</xsl:when>
          <xsl:otherwise>false</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      
			<xsl:variable name="pDisplayName">
				<xsl:choose>
					<xsl:when test="string-length(ItemDescription)>0">
						<xsl:value-of select="ItemDescription" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="ItemName" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>

			<xsl:choose>
				<xsl:when test="IsMatrix='0'">
					<xsl:call-template name="otherItems" />
				</xsl:when>
				<xsl:otherwise>
          
          <xsl:value-of select="ise:LoadWebOptionSetting(ItemCode)"  disable-output-escaping="yes"/>
					<xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

<script type="text/javascript" src="jscripts/seltobtn.js"></script>					
<div class="row" id="matrix-table1">
  <div class="col-md-4"><div class="thumbnail"><xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" /></div>
  <div id="MatrixStockHint" class="prod-div"> <xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> <xsl:value-of select="ise:ProductAvailabilityNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> </div>
  <div id="MatrixUPC" class="prod-div"> <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" /> </div>
  </div>
  <div class="col-md-8">
    <div class="row" id="matrix-table1a">
      <div id="MatrixDesc"><!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
        <xsl:choose>
          <xsl:when test="ise:IsInEditingMode()">
            <xsl:choose>
              <xsl:when test="string-length(ItemDescription)>0">
                <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                  <div class="edit-pencil"></div>
                  <div class="string-value" style="color:#fff !important"> <xsl:value-of select="ItemDescription" /> </div>
                  <div class="clear-both"></div>
                </div>
              </xsl:when>
              <xsl:otherwise>
                <xsl:value-of select="ItemName" />
              </xsl:otherwise>
            </xsl:choose>
          </xsl:when>
          <xsl:otherwise>
            <span class="ProductNameText"> <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" /> </span>
          </xsl:otherwise>
        </xsl:choose>
        <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" /></div>
      <div id="NavArrows"><nobr> <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" /> </nobr></div>
    </div>
    <!--row-->
    <div> </div>
    <div id="divMatrixWebDescription" class="prod-div"> 
      <!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
      <xsl:choose>
        <xsl:when test="ise:IsInEditingMode()">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-webdescription">
                <div class="edit-pencil"></div>
                <div class="item-web-description-value" style="color:#fff !important"> <xsl:value-of select="$pDescription" disable-output-escaping="yes" /> </div>
                <div class="clear-both"></div>
              </div>
            </xsl:when>
            <xsl:otherwise>
              <div class="content editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                <div class="edit-pencil"></div>
                <div class="string-value" style="color:#fff !important"> <xsl:value-of select="ItemDescription" /> </div>
                <div class="clear-both"></div>
              </div>
            </xsl:otherwise>
          </xsl:choose>
        </xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
        </xsl:otherwise>
      </xsl:choose>
    </div>
    <div id="MatrixPickup" class="prod-div">
      <xsl:if test="$IsValidItemTypeToStorePickup = 'true'">
        <xsl:value-of select="ise:DisplayStorePickUpShoppingOption(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
      </xsl:if>
    </div>
    <div> </div>
    <xsl:value-of select="ise:DisplayExpectedShipDate(Counter, ItemCode, ExpShipingDate, ItemType)" disable-output-escaping="yes" />
    <div id="MatrixExpShipDate" class="prod-div"> <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" /> <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> </div>
    <div class="ship-note"> <xsl:value-of select="ShipNote" disable-output-escaping="yes" /> </div>
    <div> <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> <xsl:value-of select="ise:ProductMatrixControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" /> <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" /> </div>
    <div id ="divMatrixSummary" class="prod-div"> 
      <!-- added handler of item summary if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
      <xsl:choose>
        <xsl:when test="ise:IsInEditingMode()">
          <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-summary">
            <div class="edit-pencil"></div>
            <div class="item-web-description-value" style="color:#fff !important"> <xsl:value-of select="Summary" disable-output-escaping="yes" /> </div>
            <div class="clear-both"></div>
          </div>
        </xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="Summary" disable-output-escaping="yes" />
        </xsl:otherwise>
      </xsl:choose>
    </div>
    <div id ="divMatrixWarranty" class="prod-div"> 
      <!-- added handler of item warrany if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
      <xsl:choose>
        <xsl:when test="ise:IsInEditingMode()">
          <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-warranty">
            <div class="edit-pencil"></div>
            <div class="item-web-description-value" style="color:#fff !important"> <xsl:value-of select="Warranty" disable-output-escaping="yes" /> </div>
            <div class="clear-both"></div>
          </div>
        </xsl:when>
        <xsl:otherwise>
          <xsl:value-of select="Warranty" disable-output-escaping="yes" />
        </xsl:otherwise>
      </xsl:choose>
    </div>
  </div>
</div>
<!--row--> 


                    <table border="0" cellpadding="2" cellspacing="1" width="100%">
                        <tr>
                           <td colspan="2">
                                <div>
                                    <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                                </div>
                                <br />
                                <div>
                                    <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td colspan="2">
                                <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                              <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                          </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                            </td>
                        </tr>
                    </table>
				</xsl:otherwise>
			</xsl:choose>
		</xsl:template>

		<xsl:template name="otherItems">
			<xsl:param name="pDisplayName">
				<xsl:value-of select="pDisplayName" />
			</xsl:param>
			<xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType, FreeStock)" disable-output-escaping="yes" />
			<table border="0" width="100%" cellpadding="4" cellspacing="0">
				<tr>
					<td align="left" valign="top">
						<xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
					</td>
					<td align="left" valign="top" width="100%">
						<div>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td width="100%" align="left" valign="middle">
										<span class="ProductNameText">
											<xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
										</span>
									</td>
									<td align="right" valign="Middle">
										<nobr>
											<xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
										</nobr>
									</td>
								</tr>
							</table>
						</div>
						<div>
							<br />
						</div>
						<div>
							<b>
								<font color="red">
									This XMLPackage is designed to work with Matrix products only.<br />
									<br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
								</font>
							</b>
						</div>
					</td>
				</tr>
			</table>
		</xsl:template>

		<xsl:template name="MultiVariant">
			<xsl:param name="pName">
				<xsl:choose>
					<xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
						<xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
					</xsl:when>
					<xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
						<xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
					</xsl:when>
					<xsl:when test="count(Name/ml)=0">
						<xsl:value-of select="Name" />
					</xsl:when>
				</xsl:choose>
			</xsl:param>
			<xsl:param name="pDescription">
				<xsl:choose>
					<xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
						<xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]" />
					</xsl:when>
					<xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting])!=0">
						<xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]" />
					</xsl:when>
					<xsl:when test="count(Description/ml)=0">
						<xsl:value-of select="Description" />
					</xsl:when>
				</xsl:choose>
			</xsl:param>
			<xsl:variable name="pDisplayName">
				<xsl:choose>
					<xsl:when test="string-length(ItemDescription)>0">
						<xsl:value-of select="ItemDescription" />
					</xsl:when>
					<xsl:otherwise>
						<xsl:value-of select="ItemName" />
					</xsl:otherwise>
				</xsl:choose>
			</xsl:variable>
			<table border="0" width="100%" cellpadding="4" cellspacing="0">
				<tr>
					<td align="left" valign="top">
						<xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
					</td>
					<td align="left" valign="top" width="100%">
						<div>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td width="100%" align="left" valign="middle">
										<span class="ProductNameText">
											<xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
										</span>
									</td>
									<td align="right" valign="Middle">
										<nobr>
											<xsl:value-of select="ise:ProductNavLinks(ProductID, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
										</nobr>
									</td>
								</tr>
							</table>
						</div>
						<div>
							<br />
						</div>
						<div>
							<b>
								<font color="red">
									Display of multi-variant products is not supported by this XmlPackage.<br />
									<br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
								</font>
							</b>
						</div>
					</td>
				</tr>
			</table>
		</xsl:template>
	</xsl:stylesheet>
  </PackageTransform>
</package>



