<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Bundle Product" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                                                            -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <XmlHelperPackage name="helper.product.xml.config" />
  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" xmlns:custom="urn:custom" exclude-result-prefixes="ise custom">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" disable-output-escaping="yes" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" disable-output-escaping="yes" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ErrorMessage">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/errormsg) &gt; 0">
            <xsl:value-of select="/root/QueryString/errormsg" disable-output-escaping="yes" />
          </xsl:when>
          <xsl:otherwise></xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)" disable-output-escaping="yes" />
      </xsl:variable>
      <xsl:template match="/">
        <xsl:comment>980BA288-5A98-4D23-9D55-95974CA001AB</xsl:comment>
        
        <!--Renders Bundle Product with Carousel Items-->
        
        <xsl:apply-templates select="/root/Products/Product" />
        <xsl:value-of select="ise:GetBundleProductDetails('productpage',/root/Products/Product/Counter,/root/Products/Product/ItemCode,'','')" disable-output-escaping="yes" ></xsl:value-of>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" disable-output-escaping="yes" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" disable-output-escaping="yes" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" disable-output-escaping="yes" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" disable-output-escaping="yes" />
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" disable-output-escaping="yes" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" disable-output-escaping="yes" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
        <div id="tbl1">
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
              </div>
            </div>
            <div class="col-md-8">
              <div id="tbl1a">
                <div class="row">
                  <div class="col-xs-12"><!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                    
                    <xsl:choose>
                      <xsl:when test="ise:IsInEditingMode()">
                        <xsl:choose>
                          <xsl:when test="string-length(ItemDescription)>0">
                            <div class="content editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                              <div class="edit-pencil"></div>
                              <div class="string-value" style="color:#fff !important">
                                <xsl:value-of select="ItemDescription" disable-output-escaping="yes" />
                              </div>
                              <div class="clear-both"></div>
                            </div>
                          </xsl:when>
                          <xsl:otherwise>
                            <xsl:value-of select="ItemName" disable-output-escaping="yes" />
                          </xsl:otherwise>
                        </xsl:choose>
                      </xsl:when>
                      <xsl:otherwise>
                        <span class="ProductNameText">
                          <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                        </span>
                      </xsl:otherwise>
                    </xsl:choose>
                    <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                  </div>
                  <div class="col-xs-12">
                    <div id="NavArrows"><nobr>
                      <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                    </nobr></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  
                  <!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                  <xsl:choose>
                    <xsl:when test="ise:IsInEditingMode()">
                      <xsl:choose>
                        <xsl:when test="string-length(WebDescription)>0">
                          <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-webdescription">
                            <div class="edit-pencil"></div>
                            <div class="item-web-description-value" style="color:#fff !important">
                              <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                            </div>
                            <div class="clear-both"></div>
                          </div>
                        </xsl:when>
                        <xsl:otherwise>
                          <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                            <div class="edit-pencil"></div>
                            <div class="string-value" style="color:#fff !important">
                              <xsl:value-of select="ItemDescription" disable-output-escaping="yes" />
                            </div>
                            <div class="clear-both"></div>
                          </div>
                        </xsl:otherwise>
                      </xsl:choose>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xs-12">
                  <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" />
                  <br />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <xsl:value-of select="ise:DisplayExpectedShipDate(Counter, ItemCode, ExpShipingDate, ItemType)" disable-output-escaping="yes" />
                </div>
              </div>
              <xsl:if test="ItemType = 'Stock' or ItemType = 'Non-Stock'">
                <xsl:value-of select="ise:DisplayStorePickUpShoppingOption(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
              </xsl:if>
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div id="bundle-product-price-{Counter}">
                      <xsl:value-of select="ise:GetBundlePrice(ItemCode, 'true')" disable-output-escaping="yes" />
                    </div>
                  </div>
                  <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                  <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                </div>
              </div>
              <div class="ship-note row">
                <div class="col-xs-12">
                  <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xs-12">
                  <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                  <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
                  <xsl:if test="$ErrorMessage != ''">
                    <div class="error-container">
                      <xsl:value-of select="$ErrorMessage" disable-output-escaping="yes" />
                    </div>
                  </xsl:if>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xs-12">
                  
                  <!-- added handler of item summary if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                  <xsl:choose>
                    <xsl:when test="ise:IsInEditingMode()">
                      <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-summary">
                        <div class="edit-pencil"></div>
                        <div class="item-web-description-value" style="color:#fff !important">
                          <xsl:value-of select="Summary" disable-output-escaping="yes" />
                        </div>
                        <div class="clear-both"></div>
                      </div>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="Summary" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xs-12">
                  <!-- added handler of item warrany if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                  <xsl:choose>
                    <xsl:when test="ise:IsInEditingMode()">
                      <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-warranty">
                        <div class="edit-pencil"></div>
                        <div class="item-web-description-value" style="color:#fff !important">
                          <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                        </div>
                        <div class="clear-both"></div>
                      </div>
                    </xsl:when>
                    <xsl:otherwise>
                      <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                    </xsl:otherwise>
                  </xsl:choose>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xs-12">
                  <!--<xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />-->
                  <xsl:value-of select="ise:ProductAvailabilityNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <table id="tbl2" border="0" cellpadding="2" cellspacing="1" width="100%">
          <tr>
            <td colspan="2">
              <div>
                <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
              </div>
              <div>
                <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
            </td>
          </tr>
          <tr>
            <td>
              <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
            </td>
          </tr>
        </table>
        <br />
        <div>
          <center>
            <xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          </center>
        </div>
        <style type="text/css">.error-container
          {
          padding: 4px !important;
          border: 1px solid #F9B1B1;
          background: #FFFAFA;
          border-radius: 4px;
          
          }</style>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
