<?xml version="1.0" encoding="utf-8"?>

  <package displayname="Bundle Product Items" version="2.1" allowengine="true" includeentityhelper="false" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                                                            -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
    
    <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise"   exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      
      <xsl:template match="/">
        <xsl:comment>980BA288-5A98-4D23-9D55-95974CA001AB</xsl:comment>
        <xsl:call-template name="BundleDetails"/>
      </xsl:template>


      <!--ADD TEMPLATES HERE-->
      
      <xsl:template name="BundleDetails">
        
        <xsl:if test="FIELD/BundleProduct/SourceCaller = 'productpage'">
          <script type="text/javascript" src="jscripts/jquery/jquery.bxslider.min.js"></script>
          <script>
            $(document).ready(function(){
            var counter = '<xsl:value-of select="FIELD/BundleProduct/Counter"/>';

            $('#bundle-sub-products-thumbnails-'+counter).bxSlider(
            {
            slideWidth: 200,
            minSlides: 2,
            maxSlides: 3,
            slideMargin: 10,
            infiniteLoop: false,
            hideControlOnEnd: true,
            onSliderLoad: function(){

            var pagerContainer = $('.bx-wrapper > .bx-controls > .bx-pager');
            if(pagerContainer.children().length == 1){
            pagerContainer.empty();//removes circular pager if slider does not use paging
            }
            $('.bx-wrapper').css('margin' , ' 0px auto');//align center
			$('.bx-wrapper').css('max-width' , 'none !important');
            $('.bx-viewport').css('height', 'auto');//auto height

            }
            });

            $('.bx-wrapper .bx-controls-direction a').css({'z-index' : '999'}); //Fix bxSlider plugin direction overlapping
            $('#pnlStockHint_' + counter).css({'display' : 'none'});//Hides Default StockHint/Actual Inventory Stock

            });

          </script>
          <!--Header-->
          <h4>
            <xsl:value-of select="ise:StringResource('showproduct.aspx.87')" disable-output-escaping="yes" />
          </h4>
        
          <!--Carousel Iamges-->
          <div class="row">

            <div id="bundle-sub-products-thumbnails-{FIELD/BundleProduct/Counter}" class="bxslider">
              <xsl:for-each select="FIELD/BundleProduct/Items/Item">
                <xsl:sort select="LineNum"/>

                <div class="slide">
                  <a href="{ProductPageURL}" target="_blank">
                    <xsl:attribute name="id">
                      <xsl:value-of select="concat('link-bundle-sub-product-image-',Counter)"/>
                    </xsl:attribute>
                    <div class="row-fluid">
                      <center>
                        <img>
                          <xsl:attribute name="src">
                            <xsl:value-of select="IconImageSrc" />
                          </xsl:attribute>
                          <xsl:attribute name="id">
                            <xsl:value-of select="concat('img-bundle-sub-product-image-',Counter)"/>
                          </xsl:attribute>
                        </img>
                      </center>
                    </div>
                    <div class="row-fluid">
                      <center>
                        <xsl:value-of select="ItemName" />
                      </center>
                    </div>
                  </a>
                </div>

              </xsl:for-each>
            </div>
            
          </div>


          <!--View Detail Button-->
          <div style="margin-top: 50px;">
            <center>
              <div>
                <img id="img-stockhint-{FIELD/BundleProduct/Counter}" src="images/outofstock.png" style="display:none;"></img>
              </div>
            </center>
          </div>
          
        </xsl:if>
 
        
        <div class="bundle-product-modal" style="max-height: 700px;">
          <xsl:attribute name="id">
            <xsl:choose>
              <xsl:when test="FIELD/BundleProduct/BundleHeaderID = ''">
                  <xsl:value-of select="concat('bundle-product-modal-',FIELD/BundleProduct/Counter)"/>
                </xsl:when>
              <xsl:otherwise>
                <xsl:text>bundle-product-modal-</xsl:text><xsl:value-of select="FIELD/BundleProduct/Counter"/>-<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"/>
              </xsl:otherwise>
            </xsl:choose>
          </xsl:attribute>
     
          <xsl:for-each select="FIELD/BundleProduct/Items/Item">
            <xsl:sort select="LineNum"/>
            <div class="bundle-product-row row">
              
              <div class="bundle-product-col col-sm-2">
                <center>
                  <a href="{ProductPageURL}" target="_blank">
                    <img class="thumbnail">
                      <xsl:attribute name="src">
                        <xsl:value-of select="IconImageSrc" />
                      </xsl:attribute>

                      <!--<xsl:if test="ItemType = 'Matrix Group'">
                        <xsl:attribute name="src">
                          <xsl:for-each select="MatrixItems/MatrixItem">
                            <xsl:if test="MatrixItemCode = ../../DefaultSelectedMatrixItemCode">
                              <xsl:value-of select="IconImageSrc" />
                            </xsl:if>
                          </xsl:for-each>
                        </xsl:attribute>
                      </xsl:if>-->

                      <xsl:attribute name="id">
                        <xsl:text>img-bundle-sub-product-image-modal-</xsl:text>
                        <xsl:value-of select="../../Counter"/>
                        <xsl:text>-</xsl:text>
                        <xsl:value-of select="LineNum"/>
                        <xsl:text>-</xsl:text>
                        <xsl:value-of select="UniqueID"/>
                        
                      
                    
                     
                      </xsl:attribute>
                    </img>
                  </a>
                  <div>
                    <xsl:attribute name="id">
                      <xsl:text>img-bundle-sub-product-stockhint-</xsl:text>
                      <xsl:value-of select="../../Counter"/>
                      <xsl:text>-</xsl:text>
                      <xsl:value-of select="LineNum"/>
                      <xsl:text>-</xsl:text>
                      <xsl:value-of select="UniqueID"/>
                    </xsl:attribute>

                    <xsl:attribute name="class">
                      <xsl:choose>
                        <xsl:when test="FreeStock &gt; 0">badge in-stock</xsl:when>
                        <xsl:otherwise>badge out-of-stock</xsl:otherwise>
                      </xsl:choose>
                    </xsl:attribute>
					<span>
					<xsl:choose>
                        <xsl:when test="FreeStock &gt; 0">In Stock</xsl:when>
                        <xsl:otherwise>Out of Stock</xsl:otherwise>
                      </xsl:choose>
					</span>
                  </div>
                </center>
              </div>
              
              <div class="bundle-product-col col-sm-8">
                <label>
                  <a href="{ProductPageURL}" target="_blank">
                    <strong>
                    <xsl:value-of select="ItemName" />
                  </strong>
                  </a>
                  
                </label>
                <small>
                  <xsl:value-of select="ItemDescription" disable-output-escaping="yes" />
                </small>
               

                <div class="" style="margin-top:10px;">
                  Qty:    
                  <span id="bundle-qty-{Counter}">
                    <xsl:value-of select="DisplayQuantity" disable-output-escaping="yes" />
                  </span>
                </div>

                 
                <xsl:if test="ItemType = 'Matrix Group'">
                  <xsl:if test="../../SourceCaller = 'productpage'">
                    <div class="" id="bundle-matrix-group-attribute-container-{../../Counter}-{LineNum}-{UniqueID}"></div>
                    <div id="error-message-container-{../../Counter}-{LineNum}-{UniqueID}" class="bundle-error-message-per-row" style="display:none"></div>
                  </xsl:if>
                  <xsl:if test="../../SourceCaller = 'shoppingcart'">
                    <div class="" id="bundle-matrix-group-attribute-container-{../../Counter}-{Counter}-{../../BundleHeaderID}-{UniqueID}"></div>
                    <div id="error-message-container-{../../Counter}-{Counter}-{../../BundleHeaderID}-{UniqueID}" class="bundle-error-message-per-row" style="display:none"></div>
                  </xsl:if>
                  <xsl:if test="../../SourceCaller = 'wishlist'">
                    <div class="" id="bundle-matrix-group-attribute-container-{../../Counter}-{Counter}-{../../BundleHeaderID}-{UniqueID}"></div>
                    <div id="error-message-container-{../../Counter}-{Counter}-{../../BundleHeaderID}-{UniqueID}" class="bundle-error-message-per-row" style="display:none"></div>
                  </xsl:if>
                  
             
                </xsl:if>

                
                
                
              </div>
              
              <div class="bundle-product-col col-sm-2">
                <div class="" style="display:none">
                  Reg. Price:
                  <span style="float:right;" id="reg-price-{Counter}"><xsl:value-of select="DisplayRegularPrice" disable-output-escaping="yes" /></span>
                </div>
                <div class=""  style="display:none">
                  Discount:
                  <span style="float:right;" id="discount-{Counter}"><xsl:value-of select="DisplayDiscountPrice" disable-output-escaping="yes" /></span>
                </div>
                <div class="">
                  <!--Final Price:-->
                  <span  style="float:right;">
                    <strong>
                      <xsl:attribute name="id">
                        <xsl:text>final-price-</xsl:text>
                        <xsl:value-of select="Counter" disable-output-escaping="yes" />
                        <xsl:text>-</xsl:text>
                        <xsl:value-of select="UniqueID" />
                    </xsl:attribute>
                      <xsl:value-of select="DisplaySalesPrice" disable-output-escaping="yes" />
                    </strong>
                    
                    </span>
                </div>
              </div>
              
            </div>
            
          </xsl:for-each>
          
        </div>

        <style type="text/css">

          .bundle-product-modal{
          display: none;
          padding: 14px !important;

          }

          .bundle-product-row{
          min-height: 150px;
          border-bottom: 1px solid #B2B2B2;
          display:flex;
          padding: 10px 0px !important;
          }

          .bundle-product-col{
          display: inline-block;
          border: 0px solid #B2B2B2;
          margin:0;
          }

          .col-1{
          width: 25%;
          }
          .col-2{
          width: 50%;
          }
          .col-3{
          width: 25%;
          }

          .col-3 > div{
          margin:5px;
          }
          
          .bundle-matrix-group-attribute-elements-container{
          display: inline-block;
          margin: 3px;
          }
          .bundle-error-message-per-row{
            padding: 4px;
            border: 1px solid #F9B1B1;
            background: #FFFAFA;
            border-radius: 4px;
            font-size: 0.8em;
          }
          
          .slide  img , img[id^="img-bundle-sub-product-image-modal-"] {
          position: relative;
   
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
          
        </style>
        
        <script type="text/javascript" src="jscripts/product_bundle.js"></script>
        <script type="text/javascript">

          var bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of> = new BundlePage();

          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.counter = <xsl:value-of select="FIELD/BundleProduct/Counter" disable-output-escaping="yes" />;
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.bundleCode = '<xsl:value-of select="FIELD/BundleProduct/BundleCode"></xsl:value-of>';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.guid = '<xsl:value-of select="FIELD/BundleProduct/Guid"></xsl:value-of>';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.totalPrice = <xsl:value-of select="FIELD/BundleProduct/TotalPrice" disable-output-escaping="yes" />;
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.displayTotalPrice = '<xsl:value-of select="FIELD/BundleProduct/DisplayTotalPrice" disable-output-escaping="yes" />';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.miniCartImageSrc = '<xsl:value-of select="FIELD/BundleProduct/MiniCartImageSrc" disable-output-escaping="yes" />';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.iconImageSrc = '<xsl:value-of select="FIELD/BundleProduct/IconImageSrc" disable-output-escaping="yes" />';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.mediumImageSrc = '<xsl:value-of select="FIELD/BundleProduct/MediumImageSrc" disable-output-escaping="yes" />';
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.item.bundleHeaderID = '<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>';

          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetAddToCartForm = $('#AddToCartForm_<xsl:value-of select="FIELD/BundleProduct/Counter" disable-output-escaping="yes" />');
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetAddToCartButton = $('#AddToCart_<xsl:value-of select="FIELD/BundleProduct/Counter" disable-output-escaping="yes" />');
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetAddToWishListButton = $('#AddToWishList_<xsl:value-of select="FIELD/BundleProduct/Counter" disable-output-escaping="yes" />');
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetBundlePrice = null;
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetBundlePriceExt = null;
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.TargetBundleQuantity = null;
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.StockHint = { InStockSrc : 'images/instock.png' , OutOfStockSrc : 'images/outofstock.png'};
          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.settings.MessageMatrixItemNotFound = 'Please choose from the attribute(s) of this item';

          <xsl:for-each select="FIELD/BundleProduct/Items/Item">
            <xsl:sort select="LineNum"/>
            bundlePage_<xsl:value-of select="../../BundleHeaderID"></xsl:value-of>.item.add({
            Counter : <xsl:value-of select="Counter" disable-output-escaping="yes" />,
            ItemCode : '<xsl:value-of select="ItemCode" disable-output-escaping="yes" />',
            LineNum : <xsl:value-of select="LineNum" disable-output-escaping="yes" />,
            UniqueID : '<xsl:value-of select="UniqueID" disable-output-escaping="yes" />',
            FreeStock : <xsl:value-of select="FreeStock" disable-output-escaping="yes" />,
            SalesPrice : <xsl:value-of select="SalesPrice" disable-output-escaping="yes" />,
            ItemType : '<xsl:value-of select="ItemType" disable-output-escaping="yes" />',
            Quantity : <xsl:value-of select="Quantity" disable-output-escaping="yes" />,
            UnitMeasureCode : '<xsl:value-of select="UnitMeasureCode" disable-output-escaping="yes" />',
            MiniCartImageSrc : '<xsl:value-of select="MiniCartImageSrc" disable-output-escaping="yes" />',
            IconImageSrc : '<xsl:value-of select="IconImageSrc" disable-output-escaping="yes" />',
            MediumImageSrc : '<xsl:value-of select="MediumImageSrc" disable-output-escaping="yes" />',

            <xsl:if test="ItemType = 'Matrix Group'">
              DefaultSelectedMatrixItemCode: '<xsl:value-of select="DefaultSelectedMatrixItemCode" disable-output-escaping="yes" />' ,
              ElementsAttributes : [],
              CallBackGetSelectedElementsAttributes : null,
              ElementErrorContainer : null,
              Attributes :
              [
              <xsl:for-each select="Attributes/Attribute">
                {
                PositionID : <xsl:value-of select="PositionID" disable-output-escaping="yes" />,
                AttributeCode : '<xsl:value-of select="AttributeCode" disable-output-escaping="yes" />',
                AttributeDescription : '<xsl:value-of select="AttributeDescription" disable-output-escaping="yes" />',
                Values :
                [
                <xsl:for-each select="Value">
                  {
                  AttributeValueCode : '<xsl:value-of select="AttributeValueCode" disable-output-escaping="yes" />',
                  AttributeValueDescription : '<xsl:value-of select="AttributeValueDescription" disable-output-escaping="yes" />',
                  },
                </xsl:for-each>
                ]
                },
              </xsl:for-each>
              ],

              MatrixItems :
              [
              <xsl:for-each select="MatrixItems/MatrixItem">
                {
                Counter : <xsl:value-of select="Counter" disable-output-escaping="yes" />,
                MatrixItemCode : '<xsl:value-of select="MatrixItemCode" disable-output-escaping="yes" />',
                Attribute1 : '<xsl:value-of select="Attribute1" disable-output-escaping="yes" />',
                Attribute2 : '<xsl:value-of select="Attribute2" disable-output-escaping="yes" />',
                Attribute3 : '<xsl:value-of select="Attribute3" disable-output-escaping="yes" />',
                Attribute4 : '<xsl:value-of select="Attribute4" disable-output-escaping="yes" />',
                Attribute5 : '<xsl:value-of select="Attribute5" disable-output-escaping="yes" />',
                Attribute6 : '<xsl:value-of select="Attribute6" disable-output-escaping="yes" />',
                AttributeCode1 : '<xsl:value-of select="AttributeCode1" disable-output-escaping="yes" />',
                AttributeCode2 : '<xsl:value-of select="AttributeCode2" disable-output-escaping="yes" />',
                AttributeCode3 : '<xsl:value-of select="AttributeCode3" disable-output-escaping="yes" />',
                AttributeCode4 : '<xsl:value-of select="AttributeCode4" disable-output-escaping="yes" />',
                AttributeCode5 : '<xsl:value-of select="AttributeCode5" disable-output-escaping="yes" />',
                AttributeCode6 : '<xsl:value-of select="AttributeCode6" disable-output-escaping="yes" />',
                MiniCartImageSrc : '<xsl:value-of select="MiniCartImageSrc" disable-output-escaping="yes" />',
                IconImageSrc : '<xsl:value-of select="IconImageSrc" disable-output-escaping="yes" />',
                MediumImageSrc : '<xsl:value-of select="MediumImageSrc" disable-output-escaping="yes" />',
                RegularPrice: <xsl:value-of select="RegularPrice" disable-output-escaping="yes" />,
                DisplayRegularPrice : '<xsl:value-of select="DisplayRegularPrice" disable-output-escaping="yes" />',
                FinalPrice: <xsl:value-of select="FinalPrice" disable-output-escaping="yes" />,
                DisplayFinalPrice : '<xsl:value-of select="DisplayFinalPrice" disable-output-escaping="yes" />'
                },
              </xsl:for-each>
              ],
            </xsl:if>

            });
          </xsl:for-each>

          <xsl:for-each select="FIELD/BundleProduct/ShoppingCart/ShoppingCartItem">
            bundlePage_<xsl:value-of select="../../BundleHeaderID"></xsl:value-of>.item.addShoppingCartItem({isDisplayed : false , shoppingCartRecID : <xsl:value-of select="ShoppingCartRecID" disable-output-escaping="yes" /> , itemCode : '<xsl:value-of select="ItemCode" disable-output-escaping="yes" />' , bundleMatrixItemSelected : '<xsl:value-of select="BundleMatrixItemSelected" disable-output-escaping="yes" />' });
          </xsl:for-each>

          <xsl:for-each select="FIELD/BundleProduct/WishCart/WishCartItem">
            bundlePage_<xsl:value-of select="../../BundleHeaderID"></xsl:value-of>.item.addWishlistItem({isDisplayed : false , shoppingCartRecID : <xsl:value-of select="ShoppingCartRecID" disable-output-escaping="yes" />,itemCode : '<xsl:value-of select="ItemCode" disable-output-escaping="yes" />' , bundleMatrixItemSelected : '<xsl:value-of select="BundleMatrixItemSelected" disable-output-escaping="yes" />' });

          </xsl:for-each>

          $(document).ready(function(){

          bundlePage_<xsl:value-of select="FIELD/BundleProduct/BundleHeaderID"></xsl:value-of>.init('<xsl:value-of select="FIELD/BundleProduct/SourceCaller"></xsl:value-of>');
          
          });

        </script>

      </xsl:template>
      
      
    </xsl:stylesheet>
  </PackageTransform>
</package>



