<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="productcompare" debug="false" includeentityhelper="false">
  <PackageTransform debug="false" >

    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>

      <xsl:template match="/">

        <xsl:variable name="createbox" select="FIELD/CREATEBOX" />
        <xsl:variable name="includescript" select="FIELD/INCLUDESCRIPT" />

        <xsl:variable name="maxnumber" select="FIELD/COMPARETEXT" />
        <xsl:variable name="appconfigcia" select="FIELD/ITEM_COUNTERS" />
        
        <xsl:variable name="cia" select="$appconfigcia"/>
        <xsl:variable name="cia2" select="$appconfigcia"/>

        <xsl:variable name="CompareNowButton" select="'CompareNowButton'"/>
        <xsl:variable name="ImgLink" select="'ImgLink_'"/>
        <xsl:variable name="Img" select="'Img_'"/>
        <xsl:variable name="removelink" select="'removelink_'"/>

        <xsl:if test="$createbox = '0'">
          <xsl:variable name="Counter" select="FIELD/ITEM_COUNTER" />
          <xsl:if test="string-length($createbox)>0">
          <input class ="chkcom_{$Counter}" id ="chkcom_{$Counter}" name="chkcom_{$Counter}" value = "{$Counter}" onClick="addRemoveCompare(this)" type= "checkbox">Compare</input>
          </xsl:if>
        </xsl:if>
        
        <xsl:if test="$createbox = '1'">
        
        <!-- variables for compare javascript -->
          <xsl:if test="$includescript = 'True'">  
          <script type="text/javascript" Language="JavaScript">

            $(document).ready(function(){
            setCompareDefaults( <xsl:value-of select="$maxnumber"/>,
            '<xsl:value-of select="$CompareNowButton"/>',
            '<xsl:value-of select="$ImgLink"/>',
            '<xsl:value-of select="$Img"/>',
            '<xsl:value-of select="$removelink"/>',
            'productcompare.xml.config'
            );
            });

          </script>
         </xsl:if>
              
        <!-- variables for compare javascript -->

        <xsl:if test="string-length($appconfigcia)>0">
        <div class="well">
		<div class="row">
		<b>
         <xsl:value-of select="ise:StringResource('productcompare.aspx.4')" disable-output-escaping="yes"/>&#0160;
         <span class="span-padding-2"><xsl:value-of select="$maxnumber"/></span>&#0160;<xsl:value-of select="ise:StringResource('productcompare.aspx.6')" disable-output-escaping="yes"/>
         </b>
		</div>

          <div class="row" id="ComapareImageRow">
            <div class="col-md-2">
			<label for ="1" id = "Label3" style="width:100% !important; height: auto !important; margin: 0px;">
                <input id="{$CompareNowButton}" type="submit" 
                       class="content btn btn-success"
                       data-contentKey="productcompare.aspx.5"
                       data-contentValue="{ise:StringResourceTextOnly('productcompare.aspx.5')}"
                       data-contentType="string resource"
                       value="{ise:StringResourceTextOnly('productcompare.aspx.5')}" 
                       onClick = "parent.location = 'productcompare.aspx'"/>
              </label>
            </div>

            <xsl:call-template name="CreateList">
              <xsl:with-param name="inputString" select="$cia"/>
              <xsl:with-param name="delimiter" select="'%'"/>
              <xsl:with-param name="type" select="'1'"/>
              <xsl:with-param name="ImgLink" select="$ImgLink"/>
              <xsl:with-param name="Img" select="$Img"/>
              <xsl:with-param name="removelink" select="$removelink"/>
            </xsl:call-template>

          </div>

          <div class="row" id="CompareRemoveRow" >
            <div class="col-md-2">
              
            </div>
            
            <xsl:call-template name="CreateList">
              <xsl:with-param name="inputString" select="$cia2"/>
              <xsl:with-param name="delimiter" select="'%'"/>
              <xsl:with-param name="type" select="'0'"/>
              <xsl:with-param name="ImgLink" select="$ImgLink"/>
              <xsl:with-param name="Img" select="$Img"/>
              <xsl:with-param name="removelink" select="$removelink"/>
            </xsl:call-template>

          </div>
		  </div>
        
        </xsl:if>
        
        </xsl:if>
        
      </xsl:template>

      <xsl:template name="CreateList">
        <xsl:param name="inputString"/>
        <xsl:param name="delimiter"/>
        <xsl:param name="type"/>
        <xsl:param name="ImgLink"/>
        <xsl:param name="Img"/>
        <xsl:param name="removelink"/>
        
        <xsl:choose>
          <xsl:when test="contains($inputString, $delimiter)">
            
            <xsl:variable name="id" select="substring-before($inputString,$delimiter)"/>
            
            <xsl:if test="$type = '1'">
             <div class="col-md-2 text-center" id ="image_table_{$id}">
              <div class="thumbnail">
                  <xsl:variable name="pImgLink" select="concat($ImgLink,$id)"/>
                  <xsl:variable name="pImgBox" select="concat($Img,$id)"/>
                  <a id = "{$pImgLink}" href =""> <img id="{$pImgBox}" alt=""  align="center" src="" style="" /></a><br></br>
				  <a id="{$removelink}{$id}" href ="javascript:void(1);" onClick="removeToCompare({$id})" class="btn btn-danger btn-sm" style="border-radius:50px;position:absolute;top:0px;padding:0px;width:20px;height:20px;">
                      <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            </xsl:if>  
            <xsl:text disable-output-escaping = "no"> </xsl:text>
            <xsl:call-template name="CreateList">
              <xsl:with-param name="inputString" select="substring-after($inputString,$delimiter)"/>
              <xsl:with-param name="delimiter" select="$delimiter"/>
              <xsl:with-param name="type" select="$type"/>
              <xsl:with-param name="ImgLink" select="$ImgLink"/>
              <xsl:with-param name="Img" select="$Img"/>
              <xsl:with-param name="removelink" select="$removelink"/>
            </xsl:call-template>
          </xsl:when>
          <xsl:otherwise>
            <xsl:choose>
              <xsl:when test="$inputString = ''">
                <xsl:text></xsl:text>
              </xsl:when>
              <xsl:otherwise>
                
                <xsl:if test="$type = '1'">
                  <div class="col-md-2 text-center" id="image_table_{$inputString}">
                  <div class="thumbnail">
                      <xsl:variable name="pImgLink2" select="concat($ImgLink,$inputString)"/>
                      <xsl:variable name="pImgBox" select="concat($Img,$inputString)"/>
                      <a id = "{$pImgLink2}" href =""><img id="{$pImgBox}" alt=""  align="center" src="" style="" /></a><br></br>
				  <a id="{$removelink}{$inputString}" href ="javascript:void(1);" onClick="removeToCompare({$inputString})" class="btn btn-danger btn-sm" style="border-radius:50px;position:absolute;top:0px;padding:0px;width:20px;height:20px;">
                      <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                </xsl:if>
                <xsl:text> </xsl:text>
              </xsl:otherwise>
            </xsl:choose>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
                 
    </xsl:stylesheet>
    
  </PackageTransform>
</package>