<?xml version="1.0" encoding="utf-8"?>

<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->

<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                        xmlns:ise="urn:ise" exclude-result-prefixes="ise">
  <xsl:output method="html" omit-xml-declaration="yes" />
	<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
	<xsl:param name="hasComment"></xsl:param>
  <xsl:template match="ItemRating">
	  <table cellpadding="2" cellspacing="2" border="0" style="width:100%;  border-style: solid; border-width: 0px;">
		  <tr>
			  <td> &#160; </td>
		  </tr>
	  </table>
	  <table cellpadding="" cellspacing="0" border="0" style="width:100%;  border-style: solid; border-width: 0px;">
		  <tr>
			  <td align="left" valign="top">
				  <img border="0">
					  <xsl:attribute name="src">
						  <xsl:value-of select="ise:LocateImageURL('ratingsexpanded.gif')" disable-output-escaping="yes" />
					  </xsl:attribute>
				  </img>
			  </td>
		  </tr>

		  <tr>
			  <td>
				  <table style="width:100%; cellspacing:2; Border:1px solid black">
		  <tr>
			  <td>
				  <table width="100%" cellspacing="2" cellpadding="0" border="0px">
					  <tr>
						  <td style="padding-bottom: 10px; padding-top: 10px;" colspan="2">							  
							  <!--Product Rating:-->
							  <xsl:value-of select="ise:ShowStars()" disable-output-escaping="yes" />
							  (<xsl:value-of select="AverageRating" />)
							  <xsl:value-of select="ise:RateProductlink()" disable-output-escaping="yes" />

						  </td>
					  </tr>
					  <tr>
						  <td width="10%"></td>
						  <td width="80%">
							  <table width="100%" border="0px">
								  <tr>
									  <td width="50%">
										  <b>0%</b>
									  </td>
									  <td width="48%">
										  <b>50%</b>
									  </td>
									  <td width="2%">
										  <b>100%</b>
									  </td>
								  </tr>
							  </table>
						  </td>
					  </tr>

					  <tr>
						  <td>
							  <table style="width:100%; cellspacing:2">
								  <tr>
									  <td height="21">
										  <b>
											  <xsl:value-of select="ise:StringResource('rateit.aspx.7')" disable-output-escaping="yes" />
										  </b>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <b>
											  <xsl:value-of select="ise:StringResource('rateit.aspx.8')" disable-output-escaping="yes" />
										  </b>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <b>
											  <xsl:value-of select="ise:StringResource('rateit.aspx.9')" disable-output-escaping="yes" />
										  </b>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <b>
											  <xsl:value-of select="ise:StringResource('rateit.aspx.10')" disable-output-escaping="yes" />
										  </b>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <b>
											  <xsl:value-of select="ise:StringResource('rateit.aspx.11')" disable-output-escaping="yes" />
										  </b>
									  </td>
								  </tr>
							  </table>
						  </td>
						  <td>
							  <table style="width:100%; cellspacing:2; Border:1px solid black">
								  <tr>
									  <td height="21">
										  <xsl:if test="TerribleRatePercent &gt; 0">
											  <img height="15" border="0" align="middle">

												  <xsl:attribute name="src">
													  <xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" />
												  </xsl:attribute>
												  <xsl:attribute name="width">
													  <xsl:value-of select="TerribleRatePercent" />
													  <xsl:text>%</xsl:text>
												  </xsl:attribute>
												  
											  </img>

											  
										  </xsl:if>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <xsl:if test="BadRatePercent &gt; 0">
											  <img height="15" border="0" align="middle">
												  <xsl:attribute name="src">
													  <xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" />
												  </xsl:attribute>
												  <xsl:attribute name="width">
													  <xsl:value-of select="BadRatePercent" />
													  <xsl:text>%</xsl:text>
												  </xsl:attribute>
											  </img>
										  </xsl:if>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <xsl:if test="OkRatePercent &gt; 0">
											  <img height="15" border="0" align="middle">
												  <xsl:attribute name="src">
													  <xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" />
												  </xsl:attribute>
												  <xsl:attribute name="width">
													  <xsl:value-of select="OkRatePercent" />
													  <xsl:text>%</xsl:text>
												  </xsl:attribute>
											  </img>
										  </xsl:if>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <xsl:if test="GoodRatePercent &gt; 0">
											  <img height="15" border="0" align="middle">
												  <xsl:attribute name="src">
													  <xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" />
												  </xsl:attribute>
												  <xsl:attribute name="width">
													  <xsl:value-of select="GoodRatePercent" />
													  <xsl:text>%</xsl:text>
												  </xsl:attribute>
											  </img>
										  </xsl:if>
									  </td>
								  </tr>
								  <tr>
									  <td height="21">
										  <xsl:if test="GreatRatePercent &gt; 0">
											  <img height="15" border="0" align="middle">
												  <xsl:attribute name="src">
													  <xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" />
												  </xsl:attribute>
												  <xsl:attribute name="width">
													  <xsl:value-of select="GreatRatePercent" />
													  <xsl:text>%</xsl:text>
												  </xsl:attribute>
											  </img>
										  </xsl:if>
									  </td>
								  </tr>
							  </table>
						  </td>
					  </tr>
					  <tr>
						  <td style="padding-bottom: 10px; padding-top: 10px;" colspan="2">
							  <xsl:value-of select="ise:ShowSortingOption()" disable-output-escaping="yes" />
						  </td>
					  </tr>

					  <tr>
						  <td style="padding-bottom: 10px; padding-top: 10px;" colspan="2">							  
							  <!--Showing comments 1-->  							 
							  <xsl:value-of select="ise:CommentPaging()" disable-output-escaping="yes" />
						  </td>						  
						  
						  
					  </tr>
					  <xsl:for-each select="Ratings/Rating">
						  <tr> 
							  <td colspan="2">
								  <div class="RatingContent">
									  <!-- Header -->
									  <xsl:value-of select="position()" />.

									  <b>
										  <xsl:value-of select="./CustomerSalutationCode" />										  
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="./CustomerFirstName" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="./CustomerLastName" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:StringResource('ratings.cs.11')" disable-output-escaping="yes" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:GetNativeShortDateString(./CreatedOn)" />
									  </b>
									  <xsl:text xml:space="default "> </xsl:text>
									  <xsl:value-of select="ise:StringResource('ratings.cs.12')" disable-output-escaping="yes" />
									  <xsl:text xml:space="default "> </xsl:text>
									  <xsl:call-template name="StarBuilder">
										  <xsl:with-param name="rate" select="./Rate" />
									  </xsl:call-template>
									  

									  <br />
									  <div class="RatingComment">
										  <xsl:choose>
											  <xsl:when test="./Comment = ''">
												  <xsl:value-of select="ise:StringResource('ratings.cs.10')" disable-output-escaping="yes" />
											  </xsl:when>
											  <xsl:otherwise>
												  <xsl:value-of select="./Comment" />
											  </xsl:otherwise>
										  </xsl:choose>
									  </div>
									  <div class="RatingCommentHelpfulNess">
										  <xsl:text>(</xsl:text>
										  <xsl:value-of select="./HelpfulCount" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:StringResource('ratings.cs.13')" disable-output-escaping="yes" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:StringResource('ratings.cs.14')" disable-output-escaping="yes" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:StringResource('ratings.cs.15')" disable-output-escaping="yes" />
										  <xsl:text xml:space="default ">, </xsl:text>
										  <xsl:value-of select="./NotHelpfulCount" />
										  <xsl:text xml:space="default "> </xsl:text>
										  <xsl:value-of select="ise:StringResource('ratings.cs.16')" disable-output-escaping="yes" />
										  <xsl:text>)</xsl:text>
									  </div>
									  <div>
										  <xsl:value-of select="ise:CommentVoting(ItemCode, CustomerCode, ContactCode)" disable-output-escaping="yes" />
										  <div id="RateCommentDiv" name="RateCommentDiv" style="position:absolute; left:0px; top:0px; visibility:hidden; z-index:2000; ">
											  <iframe name="RateCommentFrm" id="RateCommentFrm" width="400" height="100" hspace="0" vspace="0" marginheight="0" marginwidth="0" frameborder="0" noresize="" scrolling="yes" src="empty.htm"></iframe>\n");
										  </div>

									  </div>
								  </div>

							  </td>
						  </tr>
					  </xsl:for-each>
				  </table>
			  </td>
		  </tr>
	  </table>
			  </td>
		  </tr>  
  </table>
  </xsl:template>

  <xsl:template name="StarBuilder">
    <xsl:param name="rate" />

	  <xsl:value-of select="ise:ShowStars($rate)" disable-output-escaping="yes" />

  </xsl:template>
  
</xsl:stylesheet>