<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Hello World" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
       <script>
	    $(document).ready(function() {
        
            $('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i&lt;2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
        
        });
</script>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
  <SearchEngineSettings>
    <SETitle actionType="text">Hello World Page Title</SETitle>
    <SEKeywords actionType="text">Hello World SE Keywords</SEKeywords>
    <SEDescription actionType="text">Hello World SE Description</SEDescription>
    <SENoScript actionType="text">Hello World SENoScript</SENoScript>
    <SectionTitle actionType="text">Hello World Section Title</SectionTitle>
  </SearchEngineSettings>
</package>
