<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Social Stream" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
<link rel="stylesheet" type="text/css" href="assets/social-stream/css/dcsns_wall.css" media="all" />
<script type="text/javascript" src="assets/social-stream/inc/js/jquery.plugins.js"></script>
<script type="text/javascript" src="assets/social-stream/inc/js/jquery.site.js"></script>
<script type="text/javascript" src="assets/social-stream/js/jquery.social.stream.wall.1.6.js"></script>
<script type="text/javascript" src="assets/social-stream/js/jquery.social.stream.1.5.17.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
	$('#social-stream').dcSocialStream({
		feeds: {
			twitter: {
				id: ''
			},
			rss: {
				id: '',
				out: 'intro,thumb,title,text,share'
			},
			stumbleupon: {
				id: ''
			},
			facebook: {
				id: '',
				out: 'intro,thumb,text,user,share'
			},
			google: {
				id: ''
			},
			delicious: {
				id: ''
			},
			vimeo: {
				id: 'connectedbusiness'
			},
			youtube: {
				id: 'channel/UC-5ilNVQPDPLSegVyikQgtQ',
				thumb: 'medium',
				out: 'intro,thumb,title,user,share'
			},
			pinterest: {
				id: ''
			},
			flickr: {
				id: ''
			},
			lastfm: {
				id: ''
			},
			dribbble: {
				id: ''
			},
			deviantart: {
				id: ''
			},
			tumblr: {
				id: '',
				thumb: 250
			},
			instagram: {
				id: '',
				accessToken: ''
			}
		},
		rotate: {
			delay: 0
		},
		twitterId: '',
		control: false,
		filter: true,
		wall: true,
		center: true,
		cache: false,
		max: 'limit',
		limit: 5,
		iconPath: 'assets/social-stream/images/dcsns-dark/',
		imagePath: 'assets/social-stream/images/dcsns-dark/'
	});
				 
});
</script>
<style type="text/css">
#social-stream img.icon {margin:0px;}
.dcsns-toolbar .link-all {height: 28px !important;}
.dcsns-toolbar {margin-bottom: 20px !important;}
</style>
<div id="social-stream"></div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
  <SearchEngineSettings>
    <SETitle actionType="text">Hello World Page Title</SETitle>
    <SEKeywords actionType="text">Hello World SE Keywords</SEKeywords>
    <SEDescription actionType="text">Hello World SE Description</SEDescription>
    <SENoScript actionType="text">Hello World SENoScript</SENoScript>
    <SectionTitle actionType="text">Hello World Section Title</SectionTitle>
  </SearchEngineSettings>
</package>
