<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
  <extensions>
    <extension name="usernameAssertion" type="InterpriseSuiteEcommerceCommon.InterpriseIntegration.Web.WSE.InterpriseSuiteEcommerceServicePolicy+ServiceSecurityAssertion,InterpriseSuiteEcommerceCommon, Version=2008.1.2.0, Culture=neutral, PublicKeyToken=null" />
  </extensions>
  <policy name="InterpriseSuiteEcommerceServicePolicy">
    <usernameAssertion />
  </policy>
</policies>