body
{
    background: #1d2d38 url(images/top_stripe.png) 0 0 repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    top: 0px;
    padding: 0px;
}

LI
{
    color: #363636;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
TD, SPAN, DIV
{
    color: #363636;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
OPTION, SELECT, INPUT, TEXT, TEXTAREA, SUBMIT
{
    color: #363636;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.variantprice
{
    font-weight: bold;
}
.SalePrice
{
    font-weight: bold;
}
.RegularPrice
{
    font-weight: bold;
    text-decoration: line-through;
}
.LevelPrice
{
    font-weight: bold;
}
A
{
    color: #3f88bd;
    text-decoration: none;
}
A:visited
{
    color: #3f88bd;
    text-decoration: none;
}
A:link
{
    color: #3f88bd;
    text-decoration: none;
}
A:visited
{
    color: #3f88bd;
    text-decoration: none;
}
A:hover
{
    color: #bc5e01;
    text-decoration: none;
}
.AddToCartButton
{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 92px;
}
.AddToWishButton
{
    font-size: 10px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 98px;
}
.AddToGiftButton
{
    font-size: 10px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 115px;
}
.MoveToCartButton
{
    font-size: 10px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 145px;
}
.CartDeleteButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 45px;
}
.ContinueShoppingButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 130px;
}
.UpdateCartButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.CheckoutNowButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.UpdateWishButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.UpdateGiftButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.UpdateGiftSettingsButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.ContinueCheckoutButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.ShippingPageContinueCheckoutButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.ShippingMultPageUpdateButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    width: 120px;
}
.ShippingMultPageContinueCheckoutButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.PaymentPageContinueCheckoutButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.ReviewPageContinueCheckoutButton
{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: #fb0;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.UpdateAccountButton
{
    
}
.AccountPageContinueCheckoutButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.ReadyToPurchaseButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.EditAddressButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.GiftRegistrySearchButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.GiftRegistrySaveButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.RateItButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.SearchButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.SelectAddressButton
{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background: #eee;
    border: 1px #9cf outset;
    cursor: hand;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
}
.variantprice
{
    font-weight: bold;
}
.ShipToType
{
    font-size: 12px;
}
.addressselect
{
    font-size: 12px;
}
.sitemapul
{
    list-style-type: disc;
}
.SiteMapRootNode
{
    font-weight: bold;
}
.SiteMapParentNode
{
    font-weight: normal;
}
.SiteMapLeafNode
{
    font-weight: normal;
}
.noprint
{
    display: none;
}
#vertmenustyle1
{
    width: 95%;
    border-top: 0px solid #363636;
    border-right: 0px solid #363636;
    padding: 0 0 0em 0;
    margin-bottom: 0em;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0fbff;
    color: #363636;
}
#vertmenustyle1 ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
#vertmenustyle1 li
{
    border-bottom: 0px solid #363636;
    margin: 0;
}
#vertmenustyle1 li a
{
    display: block;
    padding: 1px 2px 2px 0.5em;
    border-left: 0px solid #137488;
    border-right: 0px solid #137488;
    color: #363636;
    text-decoration: none;
    width: 100%;
}
html:body #vertmenustyle1 li a
{
    width: auto;
}
#vertmenustyle1 li a:hover
{
    border-left: 0px solid #137488;
    border-right: 0px solid #137488;
    background-color: #e0fbff;
    color: #2b2b2b;
}
#tmenu0 span
{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}
#tmenu0 a:link
{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}
#tmenu0 a:visited
{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}
#tmenu0 a:active
{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}
#tmenu0 a:hover
{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}
.PlainCategoryLink
{
    font-size: 10px;
}
A.PlainCategoryLink
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainCategoryLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainCategoryLink:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainCategoryLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainCategoryLink:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
.PlainSectionLink
{
    font-size: 10px;
}
A.PlainSectionLink
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainSectionLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainSectionLink:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainSectionLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainSectionLink:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
.PlainManufacturerLink
{
    font-size: 10px;
}
A.PlainManufacturerLink
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainManufacturerLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainManufacturerLink:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainManufacturerLink:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.PlainManufacturerLink:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
.CardinalText
{
    color: #0000FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.default
{
    color: #363636;
    text-decoration: none;
    font-size: 12px;
}
.nav
{
    color: #0000FF;
    font-size: 12px;
}
.navHi
{
    color: #363636;
    font-size: 12px;
}
.navClean
{
    font-size: 12px;
    text-decoration: none;
}
.greeting
{
    color: #363636;
    font-weight: bold;
}
.error
{
    color: #FF0000;
}
.error div div ul li
{
    color: #FF0000;
}
.error div ul li
{
    color: #FF0000;
    margin-left: -15px;
}
.errorLg
{
    color: #FF0000;
    font-weight: bold;
    font-size: 13px;
}
.label
{
    color: #363636;
    font-weight: normal;
}
.copyright
{
    font-size: 12px;
    line-height: 16px;
}
.title
{
    color: #99CC33;
    font-weight: bold;
    font-size: 15px;
}
.titleGray
{
    color: #9A9A9A;
    font-weight: bold;
    font-size: 15px;
}
.titleGrayLt
{
    color: #9A9A9A;
    font-size: 15px;
}
.mbTitle
{
    color: #363636;
    font-weight: bold;
    font-size: 13px;
}
.poptitle
{
    color: #363636;
    font-weight: bold;
    font-size: 15px;
}
.blueBold
{
    color: #9999CC;
    font-weight: bold;
}
.ShowPriceRegularPrompt
{
    font-weight: bold;
}
.ShowPriceSalePrompt
{
    color: #FF0000;
    font-weight: bold;
}
.ShowPriceExtendedPrompt
{
    font-weight: bold;
}
.CallToOrder
{
    font-weight: bold;
}
.DarkCell
{
    background-color: #363636;
}
.MediumCell
{
    background-color: #BBBBBB;
}
.LightCell
{
    background-color: #EEEEEE;
}
.GreyCell
{
    background-color: #DDDDDD;
}
.PlainCat
{
    color: #888888;
    font-size: 12px;
    font-weight: normal;
}
A.PlainCat
{
    color: #888888;
    text-decoration: underline;
}
A.PlainCat:link
{
    color: #888888;
    text-decoration: underline;
}
A.PlainCat:visited
{
    color: #888888;
    text-decoration: underline;
}
A.PlainCat:active
{
    color: #888888;
    text-decoration: underline;
}
A.PlainCat:hover
{
    color: #888888;
    text-decoration: underline;
}
.dyop
{
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.dyop
{
    color: #363636;
    text-decoration: none;
}
A.dyop:link
{
    color: #363636;
    text-decoration: none;
}
A.dyop:visited
{
    color: #363636;
    text-decoration: none;
}
A.dyop:active
{
    color: #363636;
    text-decoration: none;
}
A.dyop:hover
{
    color: #0000FF;
    text-decoration: none;
}
.dyop2
{
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.dyop2
{
    color: #FF0000;
    text-decoration: none;
}
A.dyop2:link
{
    color: #FF0000;
    text-decoration: none;
}
A.dyop2:visited
{
    color: #FF0000;
    text-decoration: none;
}
A.dyop2:active
{
    color: #FF0000;
    text-decoration: none;
}
A.dyop2:hover
{
    color: #FF0000;
    text-decoration: underline;
}
.dyop_sm
{
    color: #363636;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.dyop_sm
{
    color: #363636;
    text-decoration: none;
}
A.dyop_sm:link
{
    color: #363636;
    text-decoration: none;
}
A.dyop_sm:visited
{
    color: #363636;
    text-decoration: none;
}
A.dyop_sm:active
{
    color: #363636;
    text-decoration: none;
}
A.dyop_sm:hover
{
    color: #0000FF;
    text-decoration: none;
}
.dyop_hdr
{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.dyop_hdr
{
    color: #FFFFFF;
    text-decoration: none;
}
A.dyop_hdr:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.dyop_hdr:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.dyop_hdr:active
{
    color: #FFFFFF;
    text-decoration: none;
}
A.dyop_hdr:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
.sb_nav
{
    color: #363636;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.sb_nav
{
    color: #363636;
    text-decoration: none;
}
A.sb_nav:link
{
    color: #363636;
    text-decoration: none;
}
A.sb_nav:visited
{
    color: #363636;
    text-decoration: none;
}
A.sb_nav:active
{
    color: #363636;
    text-decoration: none;
}
A.sb_nav:hover
{
    color: #0000FF;
    text-decoration: none;
}
.H1
{
    display: inline;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.H1
{
    color: #363636;
    text-decoration: none;
}
A.H1:link
{
    color: #363636;
    text-decoration: none;
}
A.H1:visited
{
    color: #363636;
    text-decoration: none;
}
A.H1:active
{
    color: #363636;
    text-decoration: none;
}
A.H1:hover
{
    color: #E0B301;
    text-decoration: none;
}
.Polltitle
{
    color: #0000FF;
    font-weight: bold;
}
.PollAnswer
{
    font-size: 12px;
    font-weight: normal;
}
.PollLink
{
    font-size: 12px;
    font-weight: normal;
}
A.PollLink
{
    text-decoration: none;
}
A.PollLink:link
{
    text-decoration: none;
}
A.PollLink:visited
{
    text-decoration: none;
}
A.PollLink:active
{
    text-decoration: none;
}
A.PollLink:hover
{
    text-decoration: underline;
}
.DarkCellText
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.DarkCellText
{
    color: #FFFFFF;
    text-decoration: none;
}
A.DarkCellText:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.DarkCellText:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.DarkCellText:active
{
    color: #FFFFFF;
    text-decoration: none;
}
A.DarkCellText:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}
.MediumCellText
{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.MediumCellText
{
    color: #363636;
    text-decoration: none;
}
A.MediumCellText:link
{
    color: #363636;
    text-decoration: none;
}
A.MediumCellText:visited
{
    color: #363636;
    text-decoration: none;
}
A.MediumCellText:active
{
    color: #363636;
    text-decoration: none;
}
A.MediumCellText:hover
{
    color: #363636;
    text-decoration: underline;
}
.LightCellText
{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.LightCellText
{
    color: #363636;
    text-decoration: none;
}
A.LightCellText:link
{
    color: #363636;
    text-decoration: none;
}
A.LightCellText:visited
{
    color: #363636;
    text-decoration: none;
}
A.LightCellText:active
{
    color: #363636;
    text-decoration: none;
}
A.LightCellText:hover
{
    color: #363636;
    text-decoration: underline;
}
.OrderOptionsTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}
.OrderOptionsRowHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.OrderOptionsName
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.OrderOptionsDescription
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.OrderOptionsPrice
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.SectionTitleText
{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.SectionTitleText
{
    color: #ff9934;
    text-decoration: underline;
}
A.SectionTitleText:link
{
    color: #ff9934;
    text-decoration: underline;
}
A.SectionTitleText:visited
{
    color: #ff9934;
    text-decoration: underline;
}
A.SectionTitleText:active
{
    color: #ff9934;
    text-decoration: underline;
}
A.SectionTitleText:hover
{
    color: #ffcb01;
    text-decoration: underline;
}
.CondensedDarkCellText
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
A.CondensedDarkCellText
{
    color: #FFFFFF;
    text-decoration: none;
}
A.CondensedDarkCellText:link
{
    color: #FFFFFF;
    text-decoration: none;
}
A.CondensedDarkCellText:visited
{
    color: #FFFFFF;
    text-decoration: none;
}
A.CondensedDarkCellText:active
{
    color: #FFFFFF;
    text-decoration: none;
}
A.CondensedDarkCellText:hover
{
    color: #FFBBBB;
    text-decoration: none;
}
.CondensedVariantText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.SmallGridText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.menulines
{
    border: 1px solid #FFFFFF;
}
.menulines a
{
    text-decoration: none;
    color: #363636;
}
.darkcellmenulines
{
    border: 1px solid #363636;
}
.darkcellmenulines a
{
    text-decoration: none;
    color: #FFFFFF;
}
.small
{
    font-size: 12px;
}
.reg
{
    font-size: 10px;
}
.big
{
    font-size: 13px;
}
BR.sm
{
    font-size: 12px;
}
P
{
    margin-top: 9px;
    margin-bottom: 9px;
}
SUP
{
    font-size: 10px;
}
.DarkCellLink
{
    color: #EEEEEE;
}
A.DarkCellLink
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLink:visited
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLink:link
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLink:visited
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLink:hover
{
    color: #EEEEEE;
    text-decoration: underline;
}
.DarkCellLinkHdr
{
    color: #EEEEEE;
    font-weight: bold;
}
A.DarkCellLinkHdr
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLinkHdr:visited
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLinkHdr:link
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLinkHdr:visited
{
    color: #EEEEEE;
    text-decoration: none;
}
A.DarkCellLinkHdr:hover
{
    color: #EEEEEE;
    text-decoration: underline;
}
A.TopBarLink
{
    color: #363636;
    text-decoration: none;
}
A.TopBarLink:visited
{
    color: #363636;
    text-decoration: none;
}
A.TopBarLink:link
{
    color: #363636;
    text-decoration: none;
}
A.TopBarLink:visited
{
    color: #363636;
    text-decoration: none;
}
A.TopBarLink:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.SBCatName
{
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.SBCatName
{
    color: #363636;
    text-decoration: none;
}
A.SBCatName:link
{
    color: #363636;
    text-decoration: none;
}
A.SBCatName:visited
{
    color: #363636;
    text-decoration: none;
}
A.SBCatName:active
{
    color: #363636;
    text-decoration: none;
}
A.SBCatName:hover
{
    color: #363636;
    text-decoration: underline;
}
.SBProdName
{
    color: #363636;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.SBProdName
{
    color: #363636;
    text-decoration: none;
}
A.SBProdName:link
{
    color: #363636;
    text-decoration: none;
}
A.SBProdName:visited
{
    color: #363636;
    text-decoration: none;
}
A.SBProdName:active
{
    color: #363636;
    text-decoration: none;
}
A.SBProdName:hover
{
    color: #363636;
    text-decoration: underline;
}
.foot
{
    color: #627a8b;
    font-size: 11px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
A.foot
{
    color: #627a8b;
    text-decoration: none;
}
A.foot:link
{
    color: #627a8b;
    text-decoration: none;
}
A.foot:visited
{
    color: #627a8b;
    text-decoration: none;
}
A.foot:active
{
    color: #627a8b;
    text-decoration: none;
}
A.foot:hover
{
    color: #ffcb01;
    text-decoration: underline;
}
.head
{
    color: #363636;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.head
{
    color: #363636;
    text-decoration: none;
}
A.head:link
{
    color: #363636;
    text-decoration: none;
}
A.head:visited
{
    color: #363636;
    text-decoration: none;
}
A.head:active
{
    color: #363636;
    text-decoration: none;
}
A.head:hover
{
    color: #363636;
    text-decoration: underline;
}
.headblue
{
    color: #13798f;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.headblue
{
    color: #13798f;
    text-decoration: none;
}
A.headblue:link
{
    color: #13798f;
    text-decoration: none;
}
A.headblue:visited
{
    color: #13798f;
    text-decoration: none;
}
A.headblue:active
{
    color: #13798f;
    text-decoration: none;
}
A.headblue:hover
{
    color: #13798f;
    text-decoration: none;
}
.username
{
    color: #363636;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.username
{
    color: #363636;
    text-decoration: none;
}
A.username:link
{
    color: #363636;
    text-decoration: none;
}
A.username:visited
{
    color: #363636;
    text-decoration: none;
}
A.username:active
{
    color: #363636;
    text-decoration: none;
}
A.username:hover
{
    color: #363636;
    text-decoration: underline;
}
.productnavlink
{
    color: #363636;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.productnavlink
{
    color: #363636;
    text-decoration: none;
}
A.productnavlink:link
{
    color: #363636;
    text-decoration: none;
}
A.productnavlink:visited
{
    color: #363636;
    text-decoration: none;
}
A.productnavlink:active
{
    color: #363636;
    text-decoration: none;
}
A.productnavlink:hover
{
    color: #13798f;
    text-decoration: underline;
}
A.homelist
{
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
A.homelist:link
{
    color: #363636;
    text-decoration: none;
}
A.homelist:visited
{
    color: #363636;
    text-decoration: none;
}
A.homelist:active
{
    color: #363636;
    text-decoration: none;
}
A.homelist:hover
{
    color: #13798f;
    text-decoration: none;
}
.ProductNameText
{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;   
}
.ProductMSRPText
{
    font-weight: bold;
}
.ProductSaveText
{
    color: #FF0000;
    font-size: 13px;
    font-weight: bold;
}
.ProductPriceText
{
    color: #EC008C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.ProductSKUText
{
    color: #363636;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.ProductDetailsText
{
    color: #363636;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.PageNumber
{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
A.PageNumber
{
    color: #DD0000;
    text-decoration: underline;
}
A.PageNumber:link
{
    color: #DD0000;
    text-decoration: underline;
}
A.PageNumber:visited
{
    color: #DD0000;
    text-decoration: underline;
}
A.PageNumber:active
{
    color: #DD0000;
    text-decoration: underline;
}
A.PageNumber:hover
{
    color: #DD0000;
    text-decoration: underline;
}
.OrangeTitles
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFCC00;
    text-decoration: none;
}
.BlueTitles
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #13798f;
    text-decoration: none;
}
.searchBox
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
}
.CartInfo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
    background-color: #252525;
    text-decoration: none;
}
.LeftNavi
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.InfoText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #555555;
    text-decoration: none;
}
.TopNavi
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #363636;
    text-decoration: none;
}
.TableText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #363636;
    text-decoration: none;
}
/*
-----------------------------------------------------------------------
 Component Art Horizontal Menu Style:
-----------------------------------------------------------------------
*/

.TopMenuGroup
{
    border: solid 0px #003167;
    background-color: transparent;
}
.MenuGroup
{
    border: solid 0px #003167;
    background-color: #252424;
    color: #9e9d9d;
    font-size: 12px;
}
.MenuGroupHover
{
    border: solid 0px #003167;
    background-color: #252424;
    color: #ffffff;
    font-size: 12px;
}
.MenuGroup td
{
    color: #9e9d9d;
}
.MenuGroupHover td
{
    color: #b8b8b8;
}
.MenuItemHover td
{
    color: #b8b8b8;
}
td.MenuItemHover
{
    color: #b8b8b8;
}
.TopMenuItem
{
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
    top: 100px;
    margin: 0 auto;
}
.TopMenuItemHover
{
    color: #137488;
    font-size: 11px;
    font-weight: bold;
    top: 100px;
    margin: 0 auto;
    cursor: pointer;
}
-- leaf menu items .MenuItem
{
    background-color: #3e3d3d;
    color: #FFFFFF;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
}
.MenuItemHover
{
    background-color: #252424;
    color: #ffffff;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
}
-- group menu items .MenuItem td
{
    color: #FFFFFF;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
}
.MenuItemHover td
{
    background-color: #252424;
    color: #ffffff;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
}
.ScrollItem
{
    background-color: #252424;
    font-size: 11px;
    border: solid 0px #FBFBFB;
    cursor: default;
    text-align: center;
}
.ScrollItemH
{
    background-color: #252424;
    color: #363636;
    font-size: 11px;
    border: solid 0px #808080;
    cursor: default;
    text-align: center;
}
.ScrollItemA
{
    background-color: #A9A9A9;
    color: #363636;
    font-size: 11px;
    border: solid 0px #808080;
    cursor: default;
    text-align: center;
}
/*
-----------------------------------------------------------------------
 Component Art Vertical Menu Style:
-----------------------------------------------------------------------
*/

.VertTopMenuGroup
{
    border: solid 0px #13798f;
    background-color: transparent;
}
.VertMenuGroup
{
    border: solid 0px #13798f;
    background-color: transparent;
}
.VertTopMenuItem
{
    color: #FFFFFF;
    font-size: 11px;
    cursor: hand;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}
.VertTopMenuItem td
{
    color: #FFFFFF;
}
.VertTopMenuItem td
{
    color: #FFFFFF;
}
.VertTopMenuItem td
{
    color: #FFFFFF;
}
td.VertTopMenuItem
{
    color: #FFFFFF;
}
.VertTopMenuItemHover
{
    color: #363636;
    background-color: #FEDF15;
    font-size: 11px;
    cursor: hand;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}
td.VertMenuItem
{
    background-color: #FFFFFF;
    color: #363636;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}
td.VertMenuItemHover
{
    background-color: #EEEEEE;
    color: #285D9F;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}
.VertMenuItem
{
    background-color: #FFFFFF;
    color: #363636;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}
.VertMenuItemHover
{
    background-color: #EEEEEE;
    color: #285D9F;
    font-size: 11px;
    border: solid 0px #FFFFFF;
    cursor: hand;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}
.VertScrollItem
{
    background-color: #FBFBFB;
    font-size: 11px;
    border: solid 0px #FBFBFB;
    cursor: default;
    text-align: center;
}
.VertScrollItemH
{
    background-color: #C0C0C0;
    color: #363636;
    font-size: 11px;
    border: solid 0px #808080;
    cursor: default;
    text-align: center;
}
.VertScrollItemA
{
    background-color: #A9A9A9;
    color: #363636;
    font-size: 11px;
    border: solid 0px #808080;
    cursor: default;
    text-align: center;
}
/*
-----------------------------------------------------------------------
 Component Art Tree Style:
-----------------------------------------------------------------------
*/

.TreeView
{
    background-color: transparent;
    border: #919191 0px solid;
    padding-top: 2px;
    cursor: default;
    color: #FFFFFF;
    cursor: hand;
    cursor: pointer;
}
.TreeNode
{
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: hand;
    cursor: pointer;
}
.HoverTreeNode
{
    color: #137589;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
}
.SelectedTreeNode
{
    font-size: 12px;
    font-color: #0000FF;
    font-weight: bold;
    background-color: #EEEEEE;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: hand;
    cursor: pointer;
}
.NodeEdit
{
    border: 1px #C0C0C0 solid;
    font-size: 12px;
}
#AjaxShipping
{
    width: 99%;
    border: solid 1px #363636;
    height: 100%;
    float: left;
    padding: 3px;
}
#AjaxShipping h4
{
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 1.1em;
}
.AjaxShippingLabel
{
    width: 175px !important;
    float: left;
    font-weight: bold;
    clear: left;
}
#AjaxShipping input, #AjaxShipping select
{
    font-size: 1em;
    float: left;
}
#AjaxShippingCountry, #AjaxShippingState, #AjaxShippingZip, #AjaxShippingEstimate
{
    float: left;
    clear: left;
    border-top: solid 1px #eee;
    width: 99%;
    padding: 3px 0;
}
#ShipQuote
{
    float: left;
    margin: 0;
}
/* Set Visibility to :hidden and uncomment 'display' to turn off */
#AjaxShippingCountry
{
    visibility: visible;
}
#AjaxShippingState
{
    visibility: visible;
}
.AddNewAddressLink
{
    width: 15em;
    text-decoration: underline;
}
.AddNewAddressLinkHover
{
    background-image: url(images/menudown.gif);
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #999999;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    cursor: hand;
    cursor: pointer;
    width: 15em;
}
.AddNewAddressLinkWithPopUp
{
    background-image: url(images/menudown.gif);
    background-position: 96% center;
    background-repeat: no-repeat;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    cursor: hand;
    cursor: pointer;
    width: 15em;
}
.AddNewAddress
{
    width: 600px;
    background-color: #FFFFFF;
    border: solid 1px #808080;
    padding: 5px 5px 5px 5px;
    z-index: 1000;
}
.AddNewAddressCommand
{
    border-top: solid 1px #363636;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
}
.AddNewAddressCommandDisabled
{
    border-top: solid 1px #363636;
    background-image: url(images/loading_small.gif);
    background-position: 96% center;
    background-repeat: no-repeat;
    height: 2em;
}
.AddNewAddressCommandDisabled a
{
    color: #808080;
    text-decoration: none;
    font-style: italic;
}
.AddressSelector
{
    z-index: -1;
}
textarea
{
    font-family: inherit;
    font-size: inherit;
}
.AddressControlTextArea
{
    width: 60%;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em !important;
}
#KitSideBar
{
    border: solid 1px #808080;
    position: absolute;
    z-index: 1;
    width: 220px;
    background-color: #FFFFE1;
}
.KitAddToCartForm
{
    padding: 5px 5px 10px 5px;
    margin: 0px 5px 0px 5px;
    border-top: solid 1px #808080;
}
.KitAddToCartForm input[type="submit"]
{
    width: 120px;
    text-align: center;
    margin-top: 3px;
}
#KitPlaceHolder
{
    margin-top: 0px;
    width: 150px;
}
#KitAddToCartFormHeader
{
    border-bottom: solid 3px #363636;
    height: 15px;
    text-align: center;
}
.KitAddToCartFormPrice
{
    font-size: 12px;
    font-weight: bold;
}
.KitAddToCartFormPricePopUp
{
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 0px 5px;
    border-bottom: solid 1px #808080;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.KitTable
{
    width: 500px;
}
.KitTable tr
{
    border: solid 1px #808080;
}
.KitTableGroup
{
    background-color: #DFDFDE;
    border-bottom: solid 1px #808080;
}
#KitAddToCartFormDetailsHeader
{
    text-align: center;
    text-decoration: underline;
}
#KitAddToCartFormDetails
{
    background-color: #FFFFFF;
    padding: 0px 5px 0px 5px;
}
#KitBottomMarker
{
    bottom: 0px;
    right: 0px;
    width: 250px;
    background-color: Blue;
    position: fixed;
}
#KitDebug
{
    border: solid 1px #363636;
}
.AddressSelector
{
    padding: 0px 0px 0px 0px;
}
.SalesPrice
{
}
.SalesPriceOverridden
{
    font-style: italic;
    text-decoration: line-through;
}
.PromotionalPrice
{
    font-weight: bold;
    color: #FF0000;
}
.KitAddToCartFormDetailsHeader
{
    text-align: center;
    text-decoration: underline;
}
.KitAddToCartFormDetails
{
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
}
.RatingContent
{
    border-bottom: solid 1px #808080;
}
.RatingCommentHelpfulNess
{
    text-indent: 30px;
    color: Teal;
    width: 100%;
}
.RatingStatColumnTop
{
    border-top: solid 1px #363636;
    border-left: solid 1px #363636;
    border-right: solid 1px #363636;
}
.RatingStatColumnInner
{
    border-left: solid 1px #363636;
    border-right: solid 1px #363636;
}
.RatingStatColumnBottom
{
    border-bottom: solid 1px #363636;
    border-left: solid 1px #363636;
    border-right: solid 1px #363636;
}
.VATLabel
{
}
.VATDisclaimer
{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.CreditCardPaymentMethodPanel
{
    border: solid 1px #363636;
    padding: 10px 20px 10px 20px;
}
.PurchaseOrderPaymentMethodPanel
{
    border: solid 1px #363636;
    padding: 10px 20px 10px 20px;
}
.RedirectPaymentMethodPanel > tbody > tr > td
{
    border: solid 1px #363636;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
.RedirectPaymentMethodPanel > tbody > tr > td > span
{
    color: #FF0000;
}
.MatrixAttributeError
{
    color: #FF0000;
    font-style: italic;
    font-weight: bold;
    margin: 1em;
}
#AccountOrderHistory
{
    border: solid 1px #363636;
    padding: 5px;
}
#AccountOrderHistoryLink
{
    line-height: 25px;
}
#pnlOrderHistory
{
    width: 100%;
}
#tblOrderHistory
{
    width: 100%;
    padding: 5;
    border-spacing: 0;
    border: solid 1px #cccccc;
}
.tdOrderHistoryHeader
{
    color: #363636;
    font-weight: bold;
    height: 24px;
    background-color: #2382DC;
    text-align: center;
    border-bottom: solid 1px #D1D1D1;
    border-right: solid 1px #D1D1D1;
    padding-left: 1px;
    padding-right: 1px;
    background: url(images/header_background.jpg);
    font-size: 12px;
}
.trOrderHistory
{
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #cccccc;
}
.tdOrderHistoryRow
{
    background-color: #eeeeee;
    color: #363636;
    width: 3%;
    font-weight: bold;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    text-align: center;
    vertical-align: middle;
}
.tdOrderHistorySalesOrderCode
{
    text-align: center;
    width: 10%;
    border-bottom: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;
    vertical-align: top;
    padding: 3px;
}
.tdOrderHistorySalesOrderDate
{
    text-align: center;
    width: 10%;
    border-bottom: solid 1px #eeeeee;
    vertical-align: top;
    border-right: solid 1px #eeeeee;
    padding: 3px;
}
.tdOrderHistoryPaymentStatus
{
    width: 22%;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    vertical-align: top;
    border-right: solid 1px #eeeeee;
    padding: 3px;
}
.tdOrderHistoryShipingDate
{
    width: 13%;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    vertical-align: top;
    border-right: solid 1px #eeeeee;
    padding: 3px;
}
.tdOrderHistoryTotal
{
    width: 10%;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    vertical-align: top;
    border-right: solid 1px #eeeeee;
    padding: 3px;
}
.tdOrderHistoryNotes
{
    width: 15%;
    border-bottom: solid 1px #eeeeee;
    text-align: center;
    vertical-align: top;
    border-right: solid 1px #eeeeee;
    padding: 3px;
}
.OrderHistoryRange
{
    width: 100%;
    text-align: left;
    line-height: 25px;
}
.OrderHistoryMain
{
    width: 100%;
}
.OrderHistoryMain input[type=text]
{
    border: 1px solid #A7A6AA;
    text-align: right;
    padding-right: 3px;
}
.OrderHistoryPagingHeader
{
    text-align: right;
    line-height: 25px;
}
.OrderHistoryPagingFooter
{
    text-align: center;
}
.OrderHistoryCurrentSelectedPage
{
    font-weight: bold;
}

.left_category_wrapper
{
    float: left;
    text-align: left;
    padding-left: 20px;
    clear: both;
}
.EntityMenuAlignment
{
    padding-left: 3px;
    float: left;
}
ul.tame
{
    margin: 0;
    padding: 0;
    display: list-item;
    list-style: none;
}
ul.tame li
{
    line-height: 1.25em;
}
ul.tame_inner
{
    margin-left: 0px;
}
li.tame_plus
{
    list-style: none;
    display: list-item;
    cursor: pointer;
    padding-left: 15px;
}
div.expandable, div.collapsable
{
    cursor: pointer;
    float: left;
    height: 12px;
    margin-left: -12px;
    width: 9px;
}
div.expandable
{
    background: url(images/plus.gif) 0 3px no-repeat;
}
div.collapsable
{
    background: url(images/minus.gif) 0 3px no-repeat;
}
div.tame_noimage
{
    background: none;
}

.tameHoriz, ul.tameHoriz li
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
}
ul.tameHoriz li
{
    display: inline;
    font-size: 1em;
}
.catMark
{
    font-size: 0.8em;
    font-weight: bold;
    color: #aaa;
    letter-spacing: -2px;
}
.product_image
{
    cursor: hand;
    cursor: pointer;
}
.pricingLevel_ToolTip
{
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    width: 300px;
    background-color: #FFFFE0;
    position: absolute;
    visibility: visible;
    padding: 2px 2px 2px 2px; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#808080, direction=135);
}
.cvv2_ToolTip
{
    z-index: 1000;
    width: 400px;
    background-color: #fff;
    position: absolute;
    visibility: visible; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#808080, direction=135);
}
.kitgroup_ToolTip
{
    border: solid 1px #ccc;
    z-index: 1000;
    background-color: #FFFFE0;
    position: absolute;
    visibility: visible;
    padding: 5px 5px 5px 5px; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#808080, direction=135);
}
/* Virtual Earth Map Styles */
.map
{
    position: absolute;
    width: 500px;
    height: 300px;
    border: #555555 2px solid;
}
.pinStyle
{
    background: url('images/pin.gif') no-repeat 0 0;
    height: 30px;
    width: 25px;
    color: #fff;
    text-align: center;
    font: bold 12px Arial;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 0px 30px 0px 0px;
}
.pinHoverStyle
{
    background: url('images/pinHover.gif') no-repeat 0 0;
    height: 30px;
    width: 25px;
    color: #fff;
    text-align: center;
    font: bold 12px Arial;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 0px 30px 0px 0px;
}
.hyperlinkImageStyle img
{
    border-width: 0px;
}
table.tblShippingMethod
{
    width: 100%;
    border-collapse: collapse;
}
table.tblShippingMethod tr td
{
    padding: 5px;
}
td.oversizedFreight
{
    text-align: right;
}
.tdShippingMethodRow
{
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
}
.tdShippingMethodLeft
{
    border-left: 1px solid #999;
}
.tdShippingMethodMessage
{
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    background: #fce3b9;
    color: #6f5a37;
}
.tdShippingMethodHeader
{
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: url(images/oversized_header_background.jpg);
    font-weight: bold;
    text-align: center;
    color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper
{
    width: 100%;
    background: #1d2d38 url(images/top_bg_blue.jpg) center top no-repeat;
    margin-top: 0px;
    height: 100px;
}
.wrapper2
{
    background: url(images/top_stripe.png) 0 0 repeat;
    width: 100%;
    height: 100px;
}
.topnavvy
{
    height: 80px;
    width: 1000px;
    margin: 0px auto;
    padding: 10px 0 0 0;
}
.lightgreytop
{
    background: url(images/top_light.png) 0 0 repeat-x;
    width: 100%;
    height: 20px;
    padding-top: 20px;
}
.lightgrey
{
    background: #e9e9e9;
    width: 100%;
}
.lightgreybot
{
    background: url(images/bottom_light.png) 0 0 repeat-x;
    min-height: 70px;
    width: 100%;
    padding-top: 40px;
}
.bread_area
{
    width: 1000px;
    height: 13px;
    margin: 0px auto;
}

.logo
{
    width: 300px;
    height: 65px;
    margin: 5px 0 0 0;
    background: url(images/logo.png) 0 0 no-repeat;
    float: left;
}
img
{
    border: 0px;
}
.centerer
{
    background: url(images/main_mid_light.png) 0 0 repeat-y;
}
.topnavvybase
{
    float: left;
    width: 680px;
    height: 20px;
    margin-bottom: 10px;
    text-align: right;
    color: #819eb2 !important;
}
.topnavvybase a, .topnavvybase a:active, .topnavvybase a:visited
{
    color: #ff9934 !important;
}
.topnavvybase a:hover
{
    color: #ffcb01 !important;
}
.topnavvybase1
{
    float: left;
    width: 560px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
    text-align: right;
    color: #819eb2 !important;
}
.topnavvybase1 a, .topnavvybase1 a:active, .topnavvybase1 a:visited
{
    color: #819eb2 !important;
}
.topnavvybase1 a:hover
{
    color: #ffcb01 !important;
}
.topnavvybase div
{
    color: #819eb2 !important;
}
.leftarea
{
    width: 250px;
    float: left;
}
.leftnavvy
{
    float: left;
    width: 210px;
    margin: 0px 20px 10px 20px;
    background: url(images/left_sep.png) left bottom repeat-x;
    padding-bottom: 10px;
}
.leftnavvy_header
{
    float: left;
    margin: 0 0 10px 0;
}
.leftnavvy div > table > tbody > tr > td > img
{
    margin: 10px 0 10px 0 !important;
}
.leftnavvy div > table
{
    background: url(images/left_sep.png) left top repeat-x;
    margin-top: 10px !important;
}
.leftnavvy div table tr td table
{
    border: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
    width: 209px !important;
}
.rightmain
{
    float: left;
    width: 714px;
    margin: 0px 20px;
}
.bottomcreds
{
    width: 960px;
    margin: 0px 20px;
    float: left;
    color: #627a8b !important;
    font-size: 11px;
    text-align: center;
}
.bottomcreds a, .bottomcreds a:active, .bottomcreds a:visited
{
    color: #627a8b !important;
}
.bottomcreds a:hover
{
    color: #ffcb01 !important;
}
#ctrlBillingAddress_WithStatePostalCode
{
    width: 90px !important;
}

.a1
{
    text-align: center !important;
}

h1, h2, h3, h4
{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    margin: 0 0 15px 0 !important;
}
a.btn_green div, a.btn_green:active div, a.btn_green:visited div
{
    height: 14px;
    background: url(images/btn_bg.jpg) 0 0 repeat-x;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 9px 15px;
    text-align: center;
    float: left;
    cursor: pointer;
}
a.btn_green:hover div
{
    background: url(images/btn_bg.jpg) 0 -32px repeat-x;
}
/*
-----------------------------------------------------------------------
 Top Menu Style:
-----------------------------------------------------------------------
*/
div#menu_container
{
    float: left;
    text-align: left;
    margin: 0px;
    width: 100%;
}
#nav
{
    width: 100%;
}
#nav, #nav ul
{
    line-height: 1.5em;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}
#nav a
{
    background-color: #1E2D38;
    color: #819EB2 !important;
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 15px 5px 10px;
}
#nav a:hover, #nav li a.static:hover
{
    color: #ffcb01 !important;
}
/* For ie6,7,8 - _padding: 0px 0px 0px .68em;    For ie9 - padding: 0px 0px 0px .68em\9  */
#nav li a.static
{
    text-transform: uppercase;
    background-color: transparent;
    text-align: right;
    font-size: 14px;
    padding: 0px 0px 0px .85em;
    color: #819EB2;
    border: none;
    _padding: 0px 0px 0px .68em;
    padding: 0px 0px 0px .68em\9;
}
#nav li a.nonclickable
{
    cursor: text;
}
#nav li
{
    float: left;
    position: relative;
}
#nav ul
{
    display: none;
    position: absolute;
    top: 1.5em;
    width: auto;
    border: 1px solid #35434E;
    margin-left: 10px;
}
#nav li ul a
{
    float: left;
    height: auto;
    width: 14em;
    padding: 2px 15px 2px 10px;
}
#nav ul ul
{
    top: auto;
}
#nav li ul ul
{
    left: 14.5em;
    margin: 0 0 0 10px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul
{
    display: none;
    z-index: 1;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul
{
    display: block;
    z-index: 1;
}
.menuarrow
{
    float: right;
    margin-top: 5px;
}

/* lead form styles  --> */

/* html controls */

.clr
{
    clear:both;
}

.clr20
{
    clear:both;
    height:20px;
}

.clr12
{
    clear:both;
    height:12px;
}

#lead-form-logo
{
    background: url("images/isleads_logo.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    width: 466px;
}

#lead-form-tips
{
    font-weight:bold;
    height:25px;
}

.lead-form-field-wrapper
{
    width:700px;
    height:30px;
}


.lead-form-field-label
{
    width:165px;
    text-align:right;
    float:left;
}

.lead-form-field-control
{
    text-align:left;
    width:400px;
    float:left;
    padding-left: 12px;
}


.required
{
    width:12px;
    padding-right:5px;
    color:Red;
    
}

.bad-form
{
    color:Red;
    text-transform:uppercase;
    font-style:italic;
}

.success
{
    color:#3F88BD;
    text-transform:uppercase;
    font-style:italic;
}

#captcha-loader
{
    width:15px;
    height:15px;    
}

#captcha-wrapper
{
    width:400px;
}

#captcha-image
{
    float:left;
}

#captcha-refresh
{
    float:left;
}

#captcha-refresh-button
{
    background: url("images/refresh-captcha.png") no-repeat scroll 0 0 transparent;
    background-size:24px 24px;
    display: block;
    height: 24px;
    width: 24px;
}

#loader-container
{
    float: left;
    padding-left: 4px;
    padding-top: 1px;
}

#lead-form-thankyou
{
    display:none;

}

#drpLstSalutation
{
   width:304px;
}

#drpLstSuffix
{
    width:304px;
}

#txtFirstNameLF
{
    width:300px;
}

#txtMiddleNameLF
{
    width:300px;
}

#txtLastNameLF
{
    width:300px;
}

#txtContactNameLF
{
    width:300px;
}

#txtEmailLF
{
    width:300px;
}

#drpLstCountriesLF
{
    width:304px;
}

#drpLstStatesLF
{
    width:304px;
}

#txtAreaCodeLF
{
    width:300px;
}

#txtCityLF
{
    width:300px;
}

#txtMessageLF
{
    width:300px;
}

#txtCaptcha
{
    width:195px;
}

#hidden-div
{
    display:none;
    height:125px;
}

.hidden
{
    display:none;
}
/* lead form styles <-- */

.centerDiv
{
    width: 100px; 
    margin: 50% auto;
}