<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Entity Manufacturers Root Level Grid" debug="false" includeentityhelper="true">

	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                -->
	<!-- http://www.InterpriseSolutions.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!--                                                                                                        -->
	<!-- Notes: expects param of Entity to be passed in by Runtime                                              -->
	<!-- ###################################################################################################### -->

    <PackageTransform>
    
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
          <xsl:output method="html" omit-xml-declaration="yes" />

            <xsl:param name="EntityName"><xsl:value-of select="/root/Runtime/EntityName" /></xsl:param>
            
            <xsl:param name="ShowInGrid">true</xsl:param>
            <xsl:param name="GridCols">4</xsl:param>

            <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
            <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
            <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />

            <xsl:template match="/">
              <xsl:choose>
	               	<xsl:when test="$ShowInGrid = 'true'">
    	            <table border="0" cellpadding="0" cellspacing="4" width="100%">
						<xsl:apply-templates select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/child::Entity" />
            	    </table>
					</xsl:when>
                	<xsl:otherwise>
						<xsl:apply-templates select="/root/EntityHelpers/*[name()=/root/Runtime/EntityName]/child::Entity" />
                	</xsl:otherwise>
                </xsl:choose>
            </xsl:template>

            <xsl:template match="Entity">              
                <xsl:param name="scName" select="ise:GetMLValue(Description)"></xsl:param>
                <xsl:choose>                  
                	<xsl:when test="$ShowInGrid = 'true'">
                            <xsl:if test="position() mod $GridCols = 1">
                                <tr>
                                 <xsl:for-each select=". | following-sibling::*[position() &lt; $GridCols]">
                                    <xsl:call-template name="EntityCell">
                                    </xsl:call-template>
                                 </xsl:for-each>
                                </tr>
                                <tr>
                                    <td height="10" colspan="{$GridCols}">&#0160;</td>
                                </tr>
                            </xsl:if>
                    </xsl:when>
                	<xsl:otherwise>
                        <p align="left">
                          &#0160;&#0160;&#0160;<img border="0" src="{concat('skins/skin_', ise:SkinID(), '/images/redarrow.gif')}"></img>&#0160;
                            <xsl:choose>
                                <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                                    <a href="{VirtualPageValueExternalPage}" target ="_blank">
                                        <xsl:value-of select="$scName" disable-output-escaping="yes" />
                                    </a>
                                </xsl:when>
                                <xsl:otherwise>
                                    <a href="{ise:EntityLink(EntityID, SEName, $EntityName, 0, '')}">
                                        <xsl:value-of select="$scName" disable-output-escaping="yes" />
                                    </a>
                                </xsl:otherwise>
                            </xsl:choose>
                        </p>
                    </xsl:otherwise>
                </xsl:choose>
            </xsl:template>

            <xsl:template name="EntityCell">
                <xsl:param name="scName" select="ise:GetMLValue(Description)"></xsl:param>
                <xsl:param name="URL">
                    <xsl:choose>
                        <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                            <xsl:value-of select="VirtualPageValueExternalPage"  />
                        </xsl:when>
                        <xsl:otherwise>
                            <xsl:value-of select="ise:EntityLink(EntityID, SEName, $EntityName, 0, '')" />
                        </xsl:otherwise>
                    </xsl:choose>
                </xsl:param>
                <td align="center">
                    <a href="{$URL}">
                        <xsl:if test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                            <xsl:attribute name="target">_blank</xsl:attribute>
                        </xsl:if>
                        <xsl:value-of select="ise:LookupEntityImage(EntityID, $EntityName, 'icon', 0)" disable-output-escaping="yes" />
                    </a>
                    <br />
                    <a href="{$URL}">
                        <xsl:if test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                            <xsl:attribute name="target">_blank</xsl:attribute>
                        </xsl:if>
                        <xsl:value-of select="$scName" disable-output-escaping="yes" />
                    </a>
                </td>
            </xsl:template>
        </xsl:stylesheet>
    </PackageTransform>

	<SearchEngineSettings>
		<SectionTitle actionType="transform">
            <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise">
              <xsl:output method="html" omit-xml-declaration="yes" />
    	        <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
	            <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
	            <xsl:param name="EntityName"><xsl:value-of select="/root/Runtime/EntityName" /></xsl:param>
	            <xsl:param name="EntityACName">AppConfig.<xsl:value-of select="$EntityName" />PromptPlural</xsl:param>
	            <xsl:param name="EntityDisplayName"><xsl:value-of select="ise:StringResource($EntityACName, $LocaleSetting)" /></xsl:param>
              <xsl:template match="/">
                All <xsl:value-of select="$EntityDisplayName" />
              </xsl:template>
            </xsl:stylesheet>
		</SectionTitle>
	</SearchEngineSettings>

</package>
