<?xml version="1.0"?>
<package version="2.1" displayname="" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                -->
	<!-- http://www.InterpriseSolutions.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- ###################################################################################################### -->

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:template match="/">
				<html>
					<body>
						<table>
							<tr>
								<td style="font-weight: bold;">
									<xsl:value-of select="FIELD/MAIL_SUBJECT"></xsl:value-of>
								</td>
							</tr>
							<tr>
								<td>
									<br/>
									<xsl:value-of select="FIELD/MAIL_BODY"></xsl:value-of>
								</td>
							</tr>
							<tr>
								<td>
									<br/>
									<br/>
									<xsl:value-of select="FIELD/MAIL_CONTACTNAME"></xsl:value-of>
									<br/>
									<xsl:value-of select="FIELD/MAIL_CONTACTNUMBER"></xsl:value-of>
									<br/>
									<xsl:value-of select="FIELD/MAIL_EMAIL"></xsl:value-of>
								</td>
							</tr>
						</table>
					</body>
				</html>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
	
