<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="SMS Order Notification Contents" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="OrderData" rowElementName="Data">
    <sql>
      <![CDATA[
			SELECT SalesOrderCode,BillToCode,SalesOrderDate,ShippingMethodCode,Total,PaymentTermCode FROM CustomerSalesOrder with (NOLOCK)
			WHERE SalesOrderCode = @ordernumber
            ]]>
    </sql>
    <queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="varchar" like="no" defvalue="0" validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="http://www.interprisesuite.com" exclude-result-prefixes="ise">
      <xsl:output method="text" omit-xml-declaration="yes" />
      <xsl:template match="/">
        Order#: <xsl:value-of select="/root/OrderData/Data/SalesOrderCode" />&#0160;
        Total: <xsl:value-of select="/root/OrderData/Data/Total" />&#0160;
        Date: <xsl:value-of select="/root/OrderData/Data/SalesOrderDate" />&#0160;
        PM: <xsl:value-of select="/root/OrderData/Data/PaymentTermCode" />&#0160;
        Shipping: <xsl:value-of select="/root/OrderData/Data/ShippingMethodCode" />&#0160;
        CustomerID: <xsl:value-of select="/root/OrderData/Data/BillToCode" />
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
