<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Order Shipped" debug="false">
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  <query name="Order" rowElementName="OrderInfo">
    <sql>
      <![CDATA[
            select o.*
            From orders o with (NOLOCK) 
            where o.ordernumber = @ordernum
            ]]>
    </sql>
    <queryparam paramname="@ordernum" paramtype="runtime" requestparamname="ordernumber" defvalue="0" sqlDataType="int" validationpattern="^\d{1,9}$" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="ShowCustomerServiceNotesInReceipts" select="ise:AppConfigBool('ShowCustomerServiceNotesInReceipts')" />
      <xsl:param name="StoreURL">
        <xsl:value-of select="/root/Runtime/StoreUrl" />
      </xsl:param>
      <xsl:template match="/">
        <html xmlns="http://www.w3.org/1999/xhtml">
          <head>
            <title>
              <xsl:value-of select="ise:AppConfig('StoreName')" disable-output-escaping="yes" /> - Shipping Notification
            </title>
          </head>
          <body>
            <div style="font:normal 10pt Arial;color:;#000080;">
              We just wanted to update you and let you know that your order <xsl:value-of select="/root/Order/OrderInfo/OrderNumber" /> has shipped via <xsl:value-of select="/root/Order/OrderInfo/ShippedVIA" />.<br />
              Here is your Tracking Number (if available): <xsl:value-of select="/root/Order/OrderInfo/ShippingTrackingNumber" />
              <br />
              <br />
              Thanks for shopping at <a href="{$StoreURL}">
                <xsl:value-of select="ise:AppConfig('StoreName')" disable-output-escaping="yes" />
              </a>.<br />
              <br />
            </div>
            <div style="font:normal 10pt Arial;color:;#000080;">
              <strong>
                <a href="{$StoreURL}">
                  <xsl:value-of select="ise:AppConfig('StoreName')" disable-output-escaping="yes" />
                </a>Customer Service
              </strong>
            </div>
            <p>
              <font face="Arial" size="1">Please note: Replies to this e-mail will not be answered.? If you require assistance please visit our EcommerceSite for contact information</font>
            </p>
            <p>&#0160;</p>
          </body>
        </html>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



