<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Admin New Order Notification Contents">

	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                          -->
	<!-- http://www.InterpriseSolutions.com														                                          -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- ###################################################################################################### -->

	<query name="OrderData" rowElementName="Data">
		<sql>
			<![CDATA[
            SELECT SalesOrderCode, BillToCode, DateCreated, ShippingMethodCode, convert(decimal(10,2), Total) OrderTotal, convert(decimal(10,2), TotalRate) OrderTotalRate, PaymentTermCode FROM CustomerSalesOrder with (NOLOCK)
            WHERE SalesOrderCode = @ordernumber

            ]]>
		</sql>
		<queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="nvarchar" like="no" defvalue="" validationpattern="" />
	</query>
	<PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
        <html>
          <head>
            <title>New Order Notification</title>
          </head>
          <body>
            <b>Order Number:</b>
            <xsl:value-of select="/root/OrderData/Data/SalesOrderCode" />
            <br />
            <b>Order Total:</b>
            <xsl:value-of select="ise:FormatCurrency(/root/OrderData/Data/OrderTotalRate, /root/System/CurrencySetting)" disable-output-escaping="yes" />
            <br />
            <b>Order Date:</b>
            <xsl:value-of select="/root/OrderData/Data/DateCreated" />
            <br />
            <b>Payment Method:</b>
            <xsl:value-of select="/root/OrderData/Data/PaymentTermCode" />
            <br />
            <b>Shipping Method:</b>
            <xsl:value-of select="/root/OrderData/Data/ShippingMethodCode" />
            <br />
            <b>Customer ID:</b>
            <xsl:value-of select="/root/OrderData/Data/BillToCode" />
            <br />
            <a href="{/root/System/StoreUrl}admin/order.aspx?order={/root/Runtime/ordernumber}&amp;customerid={/root/OrderData/Data/BillToCode}">View online receipt</a>
            <br />
          </body>
        </html>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
