<?xml version="1.0" encoding="utf-8"?>
<package version="2.1" displayname="" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                -->
  <!-- http://www.InterpriseSolutions.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
        <html>
          <body style="margin:0px;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#ffffff'>
            <table width="100%" cellpadding="0" cellspacing="0" bgcolor='#7d868e'>
              <tr>
                <td valign="top" align="center">
                  <table width="618" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="width: 9px; background: url(cid:shadow_left) repeat-y;">
                      </td>
                      <td class="content" style="width: 600px; background: white;">
                        <table cellpadding="8" bgcolor='#D6C0A7' style='width: 100%;'>
                          <tr>
                            <td >
                              <img src="cid:giftImage" style="height: 34px; width: 32px;" />
                            </td>
                            <td style="font-family: Arial; font-size: 11px; text-align:left; font-weight:bold;">
                                <xsl:value-of select="FIELD/MAIL_SUBJECT" disable-output-escaping="yes" />
                            </td>
                          </tr>
                        </table>
                        <img src="cid:logo_top" />
                        <table width="600" cellpadding="15">
                          <tr>
                            <td>
                            </td>
                          </tr>
                        </table>
                        <table width="600" cellpadding="20">
                          <tr>
                            <td style="font-family: Arial; font-size: 12px;text-align:left;">
                              <xsl:value-of select="FIELD/MAIL_BODY" disable-output-escaping="yes" />
                            </td>
                          </tr>
                        </table>
                        <table width="600" cellpadding="20">
                          <tr>
                            <td>
                            </td>
                          </tr>
                        </table>
                        <img src="cid:box_gradient_bottom" />
                        <table width="600" cellpadding="8" bgcolor='#D6C0A7'>
                          <tr>
                            <td style="width: 600px; font-family: Arial; font-size: 11px; text-align: center; color: #502A04;">
                              Copyright © Fairy Sales Ever After. All Rights Reserved. Interprise Solutions
                            </td>
                          </tr>
                        </table>
                        <img src="cid:logo_btm" />
                      </td>
                      <td style="width: 9px; background: url(cid:shadow_right) repeat-y;">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="shadow_bottom" style="width: 618px; height: 12px; background: url(cid:shadow_bottom) repeat-y;">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </body>
        </html>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>