<?xml version="1.0" standalone="yes"?>

<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->

<package version="2.1" displayname="Entity Grid" includeentityhelper="false" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:template match="/">
				<xsl:value-of select="ise:Topic('FormError')" disable-output-escaping="yes" />
				<p>
					Please <a href="contactus.aspx">contact us</a> to report this error with Error Code 
					<span id="errorCode"><xsl:value-of select="/root/Runtime/errorcode" /></span>
				</p>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
