<?xml version="1.0" encoding="utf-8"?>
<package displayname="Order Receipt" version="2.1" debug="flase">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Items" rowElementName="Item">
    <sql>
      <![CDATA[
                exec EcommerceGetDownloadableItemsPerSalesOrder @OrderNumber = @ordernumber
            ]]>
    </sql>
    <queryparam paramname="@ordernumber" paramtype="runtime" requestparamname="ordernumber" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8" />
      <xsl:param name="TopicReceiptHeader" select="ise:Topic('ReceiptHeader')" />
      <xsl:param name="TopicReceiptFooter" select="ise:Topic('ReceiptFooter')" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
	  <xsl:param name="OrderNumber" select="/root/QueryString/ordernumber" />
      <xsl:param name="StoreURL">
        <xsl:value-of select="/root/Runtime/StoreUrl" />
      </xsl:param>
      <xsl:param name="StyleURL">
        <xsl:value-of select="$StoreURL" />skins/skin_<xsl:value-of select="ise:SkinID" />/style.css
      </xsl:param>
      <xsl:template match="/">
        <html>
          <head>
            <link rel="rel" type="text/css" href="{$StyleURL}" />
            <title>
              <xsl:value-of select="ise:AppConfig('StoreName')" disable-output-escaping="yes" />&#0160;<xsl:value-of select="ise:StringResource('common.cs.7', $LocaleSetting)" disable-output-escaping="yes" />
              <xsl:if test="/root/Order/OrderInfo/PaymentMethod = 'REQUEST QUOTE'"> (REQUEST FOR QUOTE)</xsl:if>
            </title>
          </head>
          <body>
            <p align="center">
              <b>
                <font size="3">
                  <xsl:value-of select="ise:AppConfig('StoreName')" disable-output-escaping="yes" /> <xsl:value-of select="ise:StringResource('common.cs.7', $LocaleSetting)" disable-output-escaping="yes" />
                  <xsl:if test="/root/Order//PaymentMethod = 'REQUEST QUOTE'"> (REQUEST FOR QUOTE)</xsl:if>
                </font>
                <br />
                <font size="1">
                  <xsl:value-of select="ise:StringResource('order.cs.24', $LocaleSetting)" disable-output-escaping="yes" />
                </font>
              </b>
            </p>
            <xsl:value-of select="$TopicReceiptHeader" disable-output-escaping="yes" />

            <!--Put here email body message-->

            <xsl:value-of select="$TopicReceiptFooter" disable-output-escaping="yes" />
            <p>
              <xsl:value-of select="ise:StringResource('order.cs.25', $LocaleSetting)" disable-output-escaping="yes" />
            </p>
            <p>
              <xsl:value-of select="ise:AppConfig('StoreName')" />
              <br />
              <a href="{/root/System/StoreUrl}">
                <xsl:value-of select="/root/System/StoreUrl" />
              </a>
            </p>
          </body>
        </html>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



