<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="MiniCart" includeentityhelper="true" debug="false">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" encoding="utf-8" indent="yes"/>

			<xsl:template match="/">

				<xsl:variable name="VatEnabled" select="FIELD/VATENABLED" />
				<xsl:variable name="VatInclusive" select="FIELD/VATINCLUSIVE" />
        <xsl:variable name="HasCoupon" select="FIELD/HASCOUPON" />
        <xsl:variable name="IsCouponTypeOrders" select="FIELD/IS_COUPON_TYPE_ORDERS" />
				<xsl:variable name="IsFreeShipping" select="FIELD/ISFREESHIPPING" />
				<xsl:variable name="ShowStockHints" select="FIELD/SHOWSTOCKHINTS" />
				<xsl:variable name="ShowShipDateInCart" select="FIELD/SHOWSHIPDATEINCART" />
				<xsl:variable name="ShowPicsInMiniCart" select="FIELD/SHOWPICSINMINICART"/>
				<xsl:variable name="IsCustomerRegistered" select="FIELD/ISREGISTERED"/>
				<xsl:variable name="ShowActualInventory" select="FIELD/SHOWACTUALINVENTORY"/>
				<xsl:variable name="IsDropShip" select="FIELD/ISDROPSHIP"/>
				<xsl:variable name="IsSpecialOrder" select="FIELD/ISSPECIALORDER"/>
				<xsl:variable name="HideOutOfStockProducts" select="ise:AppConfigBool('HideOutOfStockProducts')"/>
				<xsl:variable name="ShowPaypalCheckoutOnCart" select="ise:AppConfigBool('PayPalCheckout.ShowOnCartPage')" />
				<xsl:variable name="UseOnePageCheckout" select="ise:AppConfigBool('Checkout.UseOnePageCheckout')" />
				<xsl:variable name="UseSSL" select="ise:AppConfigBool('UseSSL')" />
				<xsl:variable name="OnLiveServer" select="ise:OnLiveServer('')" />
				<xsl:variable name="IsServerPortSecure" select="/root/ServerVariables/SERVER_PORT_SECURE" />
				<xsl:variable name="DecimalPlaces" select="ise:GetInventoryPreferencePlaces()"/>
				<xsl:variable name="IsAllowFractional" select="FIELD/ISALLOWFRACTIONAL"/>
        <xsl:variable name="HasPickupItemsOrWithMultipleShippingMethod" select="FIELD/IS_CART_HAS_STORE_PICKUP_ITEMS_OR_MULTIPLESHIPPING_METHOD"/>
        <xsl:variable name="HasOversizedItemWithPickupShippingMethod" select="FIELD/IS_CART_HAS_OVERSIZED_ITEMS_WITH_PICKUP_SHIPPING_METHOD"/>

        <xsl:variable name="stringActualInventory" select="ise:StringResource('showproduct.aspx.47')" />
				<xsl:variable name="stringExVAT" select="ise:StringResource('showproduct.aspx.37')" />
				<xsl:variable name="stringIncVAT" select="ise:StringResource('showproduct.aspx.38')" />
				<xsl:variable name="stringVAT" select="ise:StringResource('showproduct.aspx.41')" />

				<xsl:variable name="hasRegistryItems" >
					<xsl:for-each select="FIELD/CART_ITEMS">
						<xsl:if test="ISREGISTRYITEM = 'true'">
							<xsl:value-of select="1" disable-output-escaping="yes" />
						</xsl:if>
					</xsl:for-each>
				</xsl:variable>

				<xsl:variable name="hasMultipleShipping" >
					<xsl:for-each select="FIELD/CART_ITEMS">
						<xsl:if test="HAS_MULTIPLE_ADDRESSES = 'true'" >
							<xsl:value-of select="1" disable-output-escaping="yes" />
						</xsl:if>
					</xsl:for-each>
				</xsl:variable>

				<xsl:variable name="hasShipSeparatelyItems" >
					<xsl:for-each select="FIELD/CART_ITEMS">
						<xsl:if test="ISOVERSIZED = 'true' or ISPREPACKED = 'true'" >
							<xsl:value-of select="1" disable-output-escaping="yes" />
						</xsl:if>
					</xsl:for-each>
				</xsl:variable>

				<xsl:variable name="hasOutOfStockAndNoOpenPOItem" >
					<xsl:for-each select="FIELD/CART_ITEMS">
						<xsl:if test="CARTSTATUS = 'A' and ISOUTOFSTOCK = 'true' and (POSTATUS != 'Open' or POSTATUS = 'Partial')" >
							<xsl:value-of select="1" disable-output-escaping="yes" />
						</xsl:if>
					</xsl:for-each>
				</xsl:variable>

				<input type="hidden" id="hdnMinicartItems" value="{ise:AppConfig('MiniCart.ShowItemCount')}"/>
				<input type="hidden" id="hdnVatEnabled" value="{$VatEnabled}"/>
				<input type="hidden" id="hdnVatInclusive" value="{$VatInclusive}"/>
				<input type="hidden" id="hdnAllowFractional" value="{FIELD/ISALLOWFRACTIONAL}"/>
				<input type="hidden" id="hdnMinimumOrderQuantityError" value="{ise:StringResource('showproduct.aspx.36')}"/>
				<input type="hidden" id="hdnInvalidDecimalDigits" value="{ise:StrFormat(ise:StringResource('common.cs.26'), $DecimalPlaces, '')}"/>
				<input type="hidden" id="hdnInvalidQuantity" value="{ise:StringResource('common.cs.22')}"/>
				<input type="hidden" id="hdnQuantityRegEx" value="{FIELD/QUANTITYREGEX}" />
				<input type="hidden" id="hdnEmptyQuantity" value="Please enter a quantity in the Quantity field. To remove an item from the cart, set its quantity to 0."/>
				<input type="hidden" id="hdnLessThanQuantity" value="Only numbers 0 or higher are allowed in the Quantity field. To remove an item from the cart, set its quantity to 0."/>

				<div class="miniCartClose">
					<span>
						<xsl:value-of select="ise:StringResource('shoppingcart.cs.46')" disable-output-escaping="yes" />
					</span>
					<div class="closeMCart">
						<div>
							<a href="#" onclick="$('#mini-cart').slideUp('fast'); deleteCookie('cartisopen');">
								<xsl:value-of select="ise:StringResource('shoppingcart.cs.48')" disable-output-escaping="yes" />
							</a>
						</div>
					</div>
				</div>
				<div style="clear:both"></div>
				<!--miniCart Line Items-->
				<div id="mbTop"></div>
				<div style="clear:both"></div>

				<div id="miniCartLineItem">
					<ul id="minicartItems">
						<xsl:for-each select="FIELD/CART_ITEMS">
							<li id="li-minicartItems">
								<div class="minicart-row">
									<xsl:if test="SHOWPICSINMINICART = 'true'" >
										<div id="{ITEMCOUNTER}" class="minicartImage thumbnail">
											<xsl:choose>
												<xsl:when test="LINKBACK = 'true'">
													<a href="{PRODUCTLINKHREF}">
														<img title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
													</a>
												</xsl:when>
												<xsl:otherwise>
													<img title="{PRODUCTIMAGETITLE}" alt="{PRODUCTIMAGEALT}" src="{PRODUCTIMAGEPATH}" />
												</xsl:otherwise>
											</xsl:choose>
										</div>
									</xsl:if>
									<div class="minicartItemDetails">
										<ul>
											<li>
												<xsl:choose>
													<xsl:when test="LINKBACK = 'true'">
														<xsl:choose>
															<xsl:when test="ISCHECKOUTOPTION = 'false'">
																<a href="{PRODUCTLINKHREF}" title="{PRODUCTLINKNAME}">
																	<b>
																		<xsl:value-of select="ise:Ellipses(PRODUCTLINKNAME, 15, 'false')" disable-output-escaping="yes" />
																	</b>
																</a>
															</xsl:when>
															<xsl:otherwise>
																<span class="product_description">
																	<xsl:value-of select="ise:Ellipses(PRODUCTLINKNAME, 15, 'false')" disable-output-escaping="yes" />
																</span>
															</xsl:otherwise>
														</xsl:choose>
													</xsl:when>
													<xsl:otherwise>
														<span class="product_description">
															<xsl:value-of select="ise:Ellipses(PRODUCTLINKNAME, 15, '')" disable-output-escaping="yes" />
														</span>
													</xsl:otherwise>
												</xsl:choose>
											</li>
											<li>
												<xsl:choose>
													<xsl:when test="$VatEnabled = 'true'">
														<xsl:choose>
															<xsl:when test="$VatInclusive = 'true'">
																<xsl:value-of select="concat(PRICEFORMATTED, ' ', $stringIncVAT)"></xsl:value-of>
															</xsl:when>
															<xsl:otherwise>
																<xsl:value-of select="concat(PRICEFORMATTED, ' ', $stringExVAT)" disable-output-escaping="yes" />
																<br/>
																<xsl:value-of select="concat($stringVAT, ' ', TAX_RATE_VALUE)"></xsl:value-of>
															</xsl:otherwise>
														</xsl:choose>
													</xsl:when>
													<xsl:otherwise>
														<xsl:value-of select="PRICEFORMATTED" disable-output-escaping="yes" />
													</xsl:otherwise>
												</xsl:choose>
											</li>
											<li>
												<xsl:if test="ITEMTYPE != 'Kit' and ITEMTYPE != 'Non-Stock' and ITEMTYPE != 'Service' and ITEMTYPE != 'Electronic Download' and ITEMTYPE !='Gift Card' and ITEMTYPE != 'Gift Certificate' and (ISDROPSHIP = 'false' and ISSPECIALORDER = 'false')">
													<xsl:choose>
														<xsl:when test="floor(FREE_STOCK) > 0">
															<xsl:choose>
																<xsl:when test="$ShowStockHints = 'true'">
																	<img src="images/instock.png"/>
																</xsl:when>
																<xsl:otherwise>
																	<xsl:if test="$ShowActualInventory = 'true'">
																		<xsl:choose>
																			<xsl:when test="floor(FREE_STOCK) > 0">
																				<xsl:value-of select="concat(floor(FREE_STOCK), ' ', $stringActualInventory)" />
																			</xsl:when>
																			<xsl:otherwise>
																				<img src="images/outofstock.png"/>
																			</xsl:otherwise>
																		</xsl:choose>
																	</xsl:if>
																</xsl:otherwise>
															</xsl:choose>
														</xsl:when>
														<xsl:otherwise>
															<xsl:if test="$ShowStockHints = 'true' or ($ShowActualInventory = 'true' and floor(FREE_STOCK) = 0)">
																<img src="images/outofstock.png"/>
															</xsl:if>
														</xsl:otherwise>
													</xsl:choose>
												</xsl:if>
											</li>
										</ul>
									</div>
									<div>
										<xsl:choose>
											<xsl:when test="ISRESTRICTEDQUANTITIES = 'false'">
												<div id="{CART_ITEM_ID}" class="qtyLineItem">
													<input type="text" name="{INPUTQUANTITYID}" id="{INPUTQUANTITYID}" value="{INPUTQUANTITYVALUE}" class="input-mini" size="3" maxlength="14"/>
													<input type="hidden" name="{MINORDERQUANTITYID}" id="{MINORDERQUANTITYNAME}" value="{MINORDERQUANTITYVALUE}" />
												</div>
											</xsl:when>
											<xsl:otherwise>
												<div id="{CART_ITEM_ID}" class="restrictedQtyLineItem">
													<select size="1" id="{concat('Quantity_',QUANTITYLISTID)}" name="{concat('Quantity_',QUANTITYLISTID)}" >
														<option value="0">DELETE</option>
														<xsl:for-each select="RESTRICTEDQUANTITIES">
															<option value="{QTY}">
																<xsl:if test="SELECTED = 'true'">
																	<xsl:attribute name="selected">selected</xsl:attribute>
																</xsl:if>
																<xsl:value-of select="QTY" disable-output-escaping="yes"/>
															</option>
														</xsl:for-each>
													</select>
												</div>
											</xsl:otherwise>
										</xsl:choose>
										<xsl:if test="SHOWCARTDELETEITEMBUTTON = 'true'">
											<div class="deleteLineItem">
												<div>
													<a id="btnDelete_{CART_ITEM_ID}" class="btn btn-danger" href="#" onclick="removeItem({CART_ITEM_ID})">
														<i class="icon-trash"></i>
														<span style="display: none;">
															<xsl:value-of select="ise:StrToUpper(ise:StringResource('shoppingcart.cs.31'))" disable-output-escaping="yes" />
														</span>
													</a>
												</div>
											</div>
										</xsl:if>
										<div style="clear:both"></div>
									</div>
								</div>
							</li>
						</xsl:for-each>
					</ul>
				</div>
				<div style="clear:both"></div>
				<div id="mbTm"></div>

				<!--2nd row - SubTotal, Update Cart button-->
				<div id="SubTotal">
					<div class="totalprice well well-small">
						<b>
              <span class="caption">
							  <xsl:value-of select="ise:StringResource('shoppingcart.cs.27')" disable-output-escaping="yes" />
              </span>
						</b>
            <xsl:if test="$VatEnabled = 'true'">
              <span class="caption">
                <xsl:choose>
                  <xsl:when test = "$VatInclusive = 'false'">
                    <xsl:value-of select="ise:StringResource('showproduct.aspx.37')" disable-output-escaping="yes" />
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="ise:StringResource('showproduct.aspx.38')" disable-output-escaping="yes" />
                  </xsl:otherwise>
                </xsl:choose>
              </span>
            </xsl:if>
            <span>
							<xsl:value-of select="FIELD/SUBTOTAL_VALUE"/>
						</span>
            <br />
            <xsl:if test="$VatInclusive = 'false'">
              <span class="caption">
                <xsl:value-of select="ise:StringResource('shoppingcart.aspx.11')" disable-output-escaping="yes" />
              </span>
              <span>
                <xsl:value-of select="FIELD/TAX_RATE_VALUE"/>
              </span>
            </xsl:if>
             <!-- Coupon Discount -->
            <xsl:if test="$HasCoupon = 'true' and $IsCouponTypeOrders = 'true'">
              <br />
              <span class="caption">
                <xsl:value-of select="ise:StringResource('shoppingcart.cs.38')" disable-output-escaping="yes" />
              </span>
              <span>
                <xsl:value-of select="FIELD/APPLIED_COUPON_DISCOUNT" disable-output-escaping="yes" />
              </span>
            </xsl:if>
            <div class="checkout-summary-clr checkout-summary-clr-with-border"></div>
            <span class="caption">
              <xsl:value-of select="ise:StringResource('shoppingcart.cs.11')" disable-output-escaping="yes" />
            </span>
            <span>
              <xsl:value-of select="FIELD/TOTAL"/>
            </span>
          </div>
				</div>

				<!--3rd row - View Cart, Update Cart and Continue Checkout button-->
				<div style="text-align: center; padding: 0 15px 12px 15px; height: 50px; float: right; width: 380px; margin: -10px -5px 0 0;">
					<div class="minicartlinks">
						<a href="shoppingcart.aspx" class="btn btn-info">
							<xsl:value-of select="ise:StringResource('shoppingcart.cs.45')" disable-output-escaping="yes" />
						</a>
					</div>
					<div id="btnUpdate" class="minicartlinks">
						<a href="#" class="btn btn-info">
							<xsl:value-of select="ise:StrToUpper(ise:StringResource('shoppingcart.cs.33'))" disable-output-escaping="yes" />
						</a>
					</div>
					<div id="btnCheckOutNow" class="minicartlinks">
						<xsl:choose>
              <xsl:when test="$HasOversizedItemWithPickupShippingMethod = 'true' or $HasPickupItemsOrWithMultipleShippingMethod = 'true'">
                <a href="checkoutstore.aspx" class="btn btn-success" >
                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
                </a>
              </xsl:when>
              <xsl:when test="$hasRegistryItems = 1 or $hasMultipleShipping = 1">
                <a href="checkoutshippingmult.aspx" class="btn btn-success" >
                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
                </a>
              </xsl:when>
              <xsl:when test="$UseOnePageCheckout = 'true' and $IsCustomerRegistered = 'true'">
								<a href="checkout1.aspx" class="btn btn-success" >
									<xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
								</a>
							</xsl:when>
							<xsl:when test="$IsCustomerRegistered = 'false'">
								<a href="checkoutanon.aspx?checkout=true" class="btn btn-success" >
									<xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
								</a>
							</xsl:when>
              <xsl:when test="$HideOutOfStockProducts = 'true' and $hasOutOfStockAndNoOpenPOItem = 1">
                <a href="shoppingcart.aspx?resetlinkback=1" class="btn btn-success">
                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
                </a>
              </xsl:when>
              <xsl:otherwise>
                <a href="checkoutshipping.aspx" class="btn btn-success" >
                  <xsl:value-of select="ise:StringResource('shoppingcart.cs.21')" disable-output-escaping="yes" />
                </a>
              </xsl:otherwise>
						</xsl:choose>
					</div>
				</div>
				<div style="clear:both"></div>

				<!--4th row - Other Checkout Methods-->
				<xsl:if test="string-length($hasRegistryItems) = 0 and string-length($hasMultipleShipping) = 0 and $HasPickupItemsOrWithMultipleShippingMethod = 'false'">
					<div style="padding: 10px 15px; border-top: 1px solid #CCCCCC; height: 70px;">
						<div class="text-right">
							<b>
								<xsl:value-of select="ise:StringResource('shoppingcart.aspx.14')" disable-output-escaping="yes" />
							</b>
						</div>
						<div class="text-right">
							<xsl:if test="$ShowPaypalCheckoutOnCart = 'true'">
								<a href="#" onclick="goToPayPalCheckout()">
									<xsl:choose>
										<xsl:when test="$UseSSL = 'true' and $OnLiveServer = 'true' and $IsServerPortSecure = 1">
											<img id="btnPayPalExpressCheckoutMiniCart" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></img>
										</xsl:when>
										<xsl:otherwise>
											<img id="btnPayPalExpressCheckoutMiniCart" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></img>
										</xsl:otherwise>
									</xsl:choose>
								</a>
							</xsl:if>
						</div>
					</div>
				</xsl:if>
				<div style="clear:both"></div>

				<!--5th row - Accessory Products-->
				<div style="width: 380px; padding: 15px 5px 0 15px;">
					<div id="minicart-accessory-panel"></div>
				</div>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>
