<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Default Home Page" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="FeaturedProductCount" rowElementName="row">
    <sql>
      <![CDATA[
	          SELECT COUNT(*) AS N
	          FROM InventoryItem II with (NOLOCK)
            INNER JOIN InventoryItemWebOption IIW with (NOLOCK) ON II.ItemCode = IIW.ItemCode
	          WHERE IIW.IsFeatured = 1 AND IIW.Published = 1 AND II.Status IN ('A', 'P') AND IIW.WebSiteCode = @WebSiteCode
			  AND IIW.CheckOutOption = 0 AND II.ItemType IN ('Stock', 'Kit', 'Matrix Group', 'Non-Stock', 'Electronic Download', 'Service', 'Assembly', 'Gift Card', 'Gift Certificate')
            ]]>
    </sql>
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <query name="NewsCount" rowElementName="row">
    <sql>
      <![CDATA[
        SELECT COUNT(*) AS N FROM EcommerceNews ws  with (NOLOCK) WHERE ws.WebsiteCode = @WebsiteCode AND Published = 1
      ]]>
    </sql>
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.page.default.xml.config" />
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="NumHomePageSpecials" select="ise:AppConfig('NumHomePageSpecials')" />
      <xsl:param name="FeaturedCategoryID" select="ise:AppConfig('IsFeaturedCategoryID')" />
      <xsl:param name="DoNotShowNewsOnHomePage" select="ise:AppConfigBool('DoNotShowNewsOnHomePage')" />
      <xsl:template match="/">
        <xsl:choose>
          <xsl:when test="ise:IsCBNMode()='true'">
            <xsl:value-of select="ise:Topic('HomeTopIntroCB')" disable-output-escaping="yes" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="ise:Topic('HomeTopIntro')" disable-output-escaping="yes" />  
          </xsl:otherwise>
        </xsl:choose>
        
        <xsl:choose>
          <xsl:when test="/root/FeaturedProductCount/row/N!=0">
            <xsl:value-of select="ise:SectionFeaturedItems(true(), '')" disable-output-escaping="yes" />
          </xsl:when>
        </xsl:choose>
        
        <xsl:choose>
          <xsl:when test="/root/NewsCount/row/N!=0 and $DoNotShowNewsOnHomePage='false'">
            <br />
            <div class="store-news">
              <xsl:value-of select="ise:GetNewsBoxExpanded(0, 3, '0', ise:StringResource('default.aspx.3'))" disable-output-escaping="yes" />
            </div>
          </xsl:when>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>






