<?xml version="1.0" encoding="utf-8"?>
<package displayname="Order Failed" version="2.1" debug="false">
	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                          -->
	<!-- http://www.InterpriseSolutions.com														                                          -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- ###################################################################################################### -->
	<query name="Customers" rowElementName="Customer">
		<sql>
			<![CDATA[
                exec EcommerceGetCustomer @CustomerGuid, @WebSiteCode, @CurrentDate
            ]]>
		</sql>
		<queryparam paramname="@CustomerGuid" paramtype="runtime" requestparamname="CustomerGuid" sqlDataType="uniqueidentifier" defvalue="0" validationpattern="" />
		<queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
		<queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
	</query>
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" omit-xml-declaration="yes" encoding="utf-8" />
			<xsl:template match="/">
					<form method="POST" action="sendform.aspx">
						<div align="left">
							<table border="0" cellpadding="0" cellspacing="0" width="454">
								<tr>
									<td valign="top" align="right" width="102">Your Name:</td>
									<td valign="middle" align="left" width="348">
										<input type="text" Name="Name" size="27">
											<xsl:attribute name="value">
												<xsl:value-of select="/root/Customers/Customer/FirstName" />
											</xsl:attribute>
										</input>
									</td>
								</tr>
								<tr>
									<td valign="top" align="right" width="102">Your Phone:</td>
									<td valign="middle" align="left" width="348">
										<input type="text" Name="Phone" size="27">
											<xsl:attribute name="value">
												<xsl:value-of select="/root/Customers/Customer/Phone" />
											</xsl:attribute>
										</input>
									</td>
								</tr>
								<tr>
									<td valign="top" align="right" width="102">Your E-Mail:</td>
									<td valign="middle" align="left" width="348">
										<input type="text" Name="EMail" size="27">
											<xsl:attribute name="value">
												<xsl:value-of select="/root/Customers/Customer/Email" />
											</xsl:attribute>
										</input>
									</td>
								</tr>
								<tr>
									<td valign="top" align="right" width="102">Subject:</td>
									<td valign="middle" align="left" width="348">
										<input type="text" Name="Subject" size="27" />
									</td>
								</tr>
								<tr>
									<td valign="top" align="right" width="102">Message:</td>
									<td valign="middle" align="left" width="348">
										<textarea rows="11" Name="S1" cols="41">
										</textarea>
									</td>
								</tr>
								<tr>
									<td width="102"></td>
									<td width="348">
										<input type="submit" value="Submit" Name="B1" />
									</td>
								</tr>
							</table>
						</div>
					</form>

				<!--</xsl:if>-->
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>



