<?xml version="1.0"?>
<package version="2.1" displayname="Entity Grid" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                  -->
  <!-- http://www.InterpriseSolutions.com														              -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                  -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
            exec EcommerceFeaturedProduct
              @LocaleSetting = @LanguageCode,
              @WebSiteCode   = @WebSiteCode,
			  @CurrentDate   = @CurDate, 
        @ContactCode = @contactCode
      ]]>
    </sql>
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
	<queryparam paramname="@CurDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@contactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
	
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="SubcatGridCols" select="'2'" />
      <xsl:param name="ForParentEntityID" select="0" />
      
      <xsl:template match="/">
        <xsl:param name="BaseURL" select="ise:MakeItemLink(/root/Products/Product/ItemCode)" />
        <xsl:choose>
          <xsl:when test="count(/root/Products/Product) = 0">
            <img src="{ise:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/specialsexpanded.gif'))}" border="0" />
            <table border="0" cellpadding="2" cellspacing="0" width="100%" style="{concat('border-style: solid; border-width: 0px; border-color:#', ise:AppConfig('HeaderBGColor'))}">
              <tr>
                <td align="left">
					<xsl:value-of select="ise:StringResource('featureditems.aspx.2')" disable-output-escaping="yes" />
                </td>
              </tr>
            </table>
          </xsl:when>
          <xsl:otherwise>
            <img src="{ise:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/specialsexpanded.gif'))}" border="0" />
            <table border="0" cellpadding="2" cellspacing="0" width="100%" style="{concat('border-style: solid; border-width: 0px; border-color:#', ise:AppConfig('HeaderBGColor'))}">
              <tr>
                <td align="left">                 
                  <xsl:apply-templates select="/root/Products/Product" />                 
                </td>
              </tr>
            </table>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:if test="position() mod $SubcatGridCols = 1">
          <tr>
            <td valign="middle">
              <xsl:for-each select=". | following-sibling::*[position() &lt; $SubcatGridCols]">
                  <xsl:call-template name="ProductCell" />
              </xsl:for-each>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <hr size="1" class="LightCellText" />
            </td>
          </tr>
        </xsl:if>
      </xsl:template>
      <xsl:template name="ProductCell">
        <xsl:param name="pName2">
          <xsl:value-of select="ItemDescription" />
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="ise:StringResource('showproduct.aspx.34')" disable-output-escaping="yes" />
        </xsl:param>
		  <xsl:param name="pDisplayName">
			  <xsl:choose>
				  <xsl:when test="string-length(ItemDescription) &gt; 0">
					  <xsl:value-of select="ItemDescription" />
				  </xsl:when>
				  <xsl:otherwise>
					  <xsl:value-of select="ItemName" />
				  </xsl:otherwise>
			  </xsl:choose>
		  </xsl:param>		  
		  <xsl:param name="URL">
			  <xsl:value-of select="ise:ProductLink(Counter, ise:FormatStringForLink($pDisplayName), false)" disable-output-escaping="yes" />
		  </xsl:param>
		  <td align="left">
          <br />
			  <a href="{$URL}">
				  <xsl:value-of select="ise:DisplayImage('product', Counter, 'icon', SEAltText, 'AltText')" disable-output-escaping="yes" />
			  </a>
		  </td>
        <td align="left">
	      <xsl:call-template name="ProductEntityList" />
          <br />
		  <br />
          <xsl:value-of select="ise:ProductLink(Counter, ItemCode, 'true', ise:Encode($pDisplayName))" disable-output-escaping="yes" />
          <br />
			<xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
			<xsl:value-of select="ise:DisplayPrice(Counter, ItemCode, 'true', ItemType)" disable-output-escaping="yes" />
			<br />
          <xsl:value-of select="ise:ProductRatingStars(ItemCode)" disable-output-escaping="yes" />
        </td>
      </xsl:template>

	  <xsl:template name="ProductEntityList">
		  
		  <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'category')) &gt; 0">
			<xsl:value-of select="ise:StringResource('AppConfig.CategoryPromptSingular')" disable-output-escaping="yes" />
			<xsl:text>: </xsl:text>
			<xsl:value-of select="ise:ProductEntityList(ItemCode, 'category')" disable-output-escaping="yes" />
			<br />
		  </xsl:if>
		 <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'department')) &gt; 0">
			<xsl:value-of select="ise:StringResource('AppConfig.DepartmentPromptSingular')" disable-output-escaping="yes" />
			<xsl:text>: </xsl:text>
			<xsl:value-of select="ise:ProductEntityList(ItemCode, 'department')" disable-output-escaping="yes" />
			<br />
		  </xsl:if>
		  <xsl:if test="string-length(ise:ProductEntityList(ItemCode, 'manufacturer')) &gt; 0">
			<xsl:value-of select="ise:StringResource('AppConfig.ManufacturerPromptSingular')" disable-output-escaping="yes" />
			<xsl:text>: </xsl:text>
			<xsl:value-of select="ise:ProductEntityList(ItemCode, 'manufacturer')" disable-output-escaping="yes" />
		  </xsl:if>
			  
	  </xsl:template>
      
    </xsl:stylesheet>
  </PackageTransform>
</package>



