<?xml version="1.0" encoding="utf-8"?>
<package displayname="Best Sellers" version="2.1" allowengine="true" includeentityhelper="true" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceBestSellers 180, @return, @orderby, @LocaleSetting, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@return" paramtype="appconfig" requestparamname="BestSellersN" sqlDataType="int" defvalue="10" validationpattern="^\d{1,10}$" />
    <queryparam paramname="@orderby" paramtype="request" requestparamname="orderby" sqlDataType="int" defvalue="1" validationpattern="^\d$" />
    <queryparam paramname="@LocaleSetting" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
	<queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
	<queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    
  </query>
	<PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebSiteCode" select="/root/Runtime/WebSiteCode" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="BestSellersShowSales">
        <xsl:value-of select="ise:AppConfigBool('BestSellersShowSales')" disable-output-escaping="yes" />
      </xsl:param>
      <xsl:param name="ShowPics">
        <xsl:value-of select="ise:AppConfigBool('BestSellersShowPics')" />
      </xsl:param>
      <xsl:param name="colspan">
        <xsl:choose>
          <xsl:when test="BestSellersShowSales='true'">5</xsl:when>
          <xsl:otherwise>4</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ProductCount" select="count(/root/Products/Product)" />
      <xsl:template match="/">
        <p align="left">
          <xsl:value-of select="ise:StringResource('AppConfig.BestSellersIntro')" disable-output-escaping="yes" />
        </p>
        <xsl:choose>
          <xsl:when test="$ProductCount &gt; 0">
            <table width="100%" cellpadding="2" cellspacing="0" border="0" class="bestseller-wrapper">
              <xsl:attribute name="style">
                border-style: solid; border-width: 0px; border-color: #<xsl:value-of select="ise:AppConfig('HeaderBGColor')" />
              </xsl:attribute>
              <tr>
                <td align="left" valign="top">
                  <img src="{ise:LocateImageURL(concat('skins/Skin_', /root/System/SkinID, '/images/bestsellers.gif'))}" border="0" />
                  <br />
                  <table width="100%" cellpadding="4" cellspacing="0" border="0" class="bestseller">
                    <xsl:attribute name="style">
                      <xsl:value-of select="ise:AppConfig('BoxFrameStyle')" />
                    </xsl:attribute>
                    <tr>
                      <td align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="1" width="100%">
                          <tr>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('bestsellers.aspx.4')" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('bestsellers.aspx.5')" disable-output-escaping="yes" />
                              </b>
                            </td>
                            <xsl:if test="BestSellersShowSales='true'">
                              <td align="center">
                                <b>
                                  <a href="bestsellers.aspx?orderby=units">
                                    <xsl:value-of select="ise:StringResource('bestsellers.aspx.1')" disable-output-escaping="yes" />
                                  </a>
                                </b>
                              </td>
                              <td align="center">
                                <b>
                                  <a href="bestsellers.aspx?orderby=amount">
                                    <xsl:value-of select="ise:StringResource('bestsellers.aspx.2')" disable-output-escaping="yes" />
                                  </a>
                                </b>
                              </td>
                            </xsl:if>
                            <td align="left">
                              <b>
                                <img src="images/spacer.gif" height="1" width="1" />
                              </b>
                            </td>
                            <td align="left">
                              <b>
                                <xsl:value-of select="ise:StringResource('AppConfig.CategoryPromptSingular')" disable-output-escaping="yes" />
                              </b>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="{$colspan}" height="4" width="100%">
                              <img src="images/spacer.gif" height="1" width="1" />
                            </td>
                          </tr>
                          <xsl:apply-templates select="/root/Products/Product" />
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="{$colspan}">&#0160;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </xsl:when>
          <xsl:otherwise>
            <p align="left">
              <b>
                <xsl:value-of select="ise:StringResource('bestsellers.aspx.3')" disable-output-escaping="yes" />
              </b>
            </p>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemCode" />
        </xsl:param>
		<xsl:param name="pDisplayName">
			  <xsl:choose>
				  <xsl:when test="string-length(ItemDescription)>0">
					  <xsl:value-of select="ItemDescription" />
				  </xsl:when>
				  <xsl:otherwise>
					  <xsl:value-of select="ItemName" />
				  </xsl:otherwise>
			  </xsl:choose>
		</xsl:param>
		<xsl:param name="URL">
			  <xsl:value-of select="ise:EntityLink(EntityID, ise:FormatStringForLink($pDisplayName), 'product', 0, '')" />
		</xsl:param>
		<xsl:param name="vAlign">
			  <xsl:choose>
				  <xsl:when test="$ShowPics='true'">
					  <xsl:value-of select="'bottom'" />
				  </xsl:when>
				  <xsl:otherwise>
					  <xsl:value-of select="'middle'" />
				  </xsl:otherwise>
			  </xsl:choose>
		</xsl:param>
		  <tr>
          <td align="left">
            <xsl:value-of select="position()" />.
          </td>
          <td align="left">
			  <xsl:attribute name="valign">
				  <xsl:value-of select="$vAlign" />
			  </xsl:attribute>
			  <xsl:if test="$ShowPics='true'">
				  <a href="{$URL}">
					  <xsl:value-of select="ise:DisplayImage('product', EntityID, 'icon', SEAltText, 'AltText', 'left')" disable-output-escaping="yes" />
				  </a>
			  </xsl:if>
			  <xsl:value-of select="ise:ProductLink(EntityID, ise:FormatStringForLink($pDisplayName), 1, ise:Encode($pDisplayName))" disable-output-escaping="yes" />
          </td>
          <xsl:if test="BestSellersShowSales='true'">
            <td align="left">
				<xsl:attribute name="valign">
					<xsl:value-of select="$vAlign" />
				</xsl:attribute>
              <xsl:value-of select="format-number(SalesCount, '#,##0')" />
            </td>
            <td align="left">
				<xsl:attribute name="valign">
					<xsl:value-of select="$vAlign" />
				</xsl:attribute>
              <xsl:value-of select="ise:FormatCurrencyHelper(SalesDollars)" disable-output-escaping="yes" />
            </td>
          </xsl:if>
          <td align="left">
			  <xsl:attribute name="valign">
				  <xsl:value-of select="$vAlign" />
			  </xsl:attribute>
			  <img src="images/spacer.gif" height="1" width="1" />
          </td>
          <td align="left">
			  <xsl:value-of select="ise:ProductEntityList(ItemCode, 'category')" disable-output-escaping="yes" />
          </td>
        </tr>
        <tr>
          <td colspan="{$colspan}" height="1" width="100%" class="LightCell">
            <img src="images/spacer.gif" height="1" width="1" />
          </td>
        </tr>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



