<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Search" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                -->
  <!-- http://www.InterpriseSolutions.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Products" rowElementName="Product" runif="SearchTerm">
    <sql>
      <![CDATA[ 
           exec eCommerceSearchInventory @SearchTerm, @WebSiteCode, @LanguageCode, NULL, 'ANY', 'ANY', '0', '0', '0', '0',@SearchDescriptions, @CurrentDate, @ProductFilterID, @ContactCode, @CBMode, @PageNum, @CurrencyCode, @MinPrice, @MaxPrice
          ]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@SearchDescriptions" paramtype="runtime" requestparamname="SearchDescriptions" sqlDataType="varchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="Date" sqlDataType="datetime" defvalue="null" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CBMode" paramtype="runtime" requestparamname="CBNMode" sqlDataType="bit" defvalue="0" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="ppagenum" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@CurrencyCode" paramtype="runtime" requestparamname="CurrencySetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@MinPrice" paramtype="request" requestparamname="MinPrice" sqlDataType="decimal" defvalue="null" validationpattern="" />
    <queryparam paramname="@MaxPrice" paramtype="request" requestparamname="MaxPrice" sqlDataType="decimal" defvalue="null" validationpattern="" />
  </query>
  <query name="Categories" rowElementName="Category" runif="SearchTerm">
    <sql>
      <![CDATA[ 
            exec eCommerceSearchCategories @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum
          ]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="cpagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <query name="Departments" rowElementName="Department" runif="SearchTerm">
    <sql>
      <![CDATA[ 
        exec eCommerceSearchDepartments @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum
      ]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="dpagenum" sqlDataType="int" defvalue="1" validationpattern="" />
  </query>
  <query name="Manufacturers" rowElementName="Manufacturer" runif="SearchTerm">
    <sql>
      <![CDATA[
        exec eCommerceSearchManufacturers @SearchTerm, @WebSiteCode, @LanguageCode, 0, @PageNum
      ]]>
    </sql>
    <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@PageNum" paramtype="request" requestparamname="mpagenum" sqlDataType="int" defvalue="1" validationpattern="" />

  </query>

    <query name="Attributes" rowElementName="Attribute" runif="SearchTerm">
        <sql>
            <![CDATA[
        exec eCommerceSearchAttributes @SearchTerm, @LanguageCode, @WebSiteCode, 0, @PageNum
      ]]>
        </sql>
        <queryparam paramname="@SearchTerm" paramtype="request" requestparamname="SearchTerm" sqlDataType="varchar" defvalue="" validationpattern="" />        
        <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
        <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="varchar" defvalue="" validationpattern="" />
        <queryparam paramname="@PageNum" paramtype="request" requestparamname="apagenum" sqlDataType="int" defvalue="1" validationpattern="" />

    </query>
    <XmlHelperPackage name="helper.entity.xml.config" />
	<PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />

      <xsl:param name="pSearchTerm">
        <xsl:choose>
          <xsl:when test="/root/QueryString/searchterm">
            <xsl:value-of select="/root/QueryString/searchterm" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="/root/QueryString/searchterm" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:param>

           <xsl:param name="CurrentPage">
          <xsl:choose>
            <xsl:when test="/root/QueryString/entitytype">
               <xsl:choose>
                 <xsl:when test="/root/QueryString/entitytype = 'p'"><xsl:value-of select="/root/QueryString/ppagenum" /></xsl:when>
                 <xsl:when test="/root/QueryString/entitytype = 'c'"><xsl:value-of select="/root/QueryString/cpagenum" /></xsl:when>
                 <xsl:when test="/root/QueryString/entitytype = 'd'"><xsl:value-of select="/root/QueryString/dpagenum" /></xsl:when>
                 <xsl:when test="/root/QueryString/entitytype = 'm'"><xsl:value-of select="/root/QueryString/mpagenum" /></xsl:when>
                 <xsl:when test="/root/QueryString/entitytype = 'a'"><xsl:value-of select="/root/QueryString/apagenum" /></xsl:when>
                 <xsl:otherwise>1</xsl:otherwise>
               </xsl:choose> 
            </xsl:when>   
            <xsl:otherwise>1</xsl:otherwise>
          </xsl:choose>
        </xsl:param>

        <xsl:param name="BaseURL">
            search.aspx?SearchTerm=<xsl:value-of select="$pSearchTerm"  disable-output-escaping="yes" />
        </xsl:param>

      <xsl:template match="/">
        <xsl:value-of select="ise:Topic('SearchPageHeader')" disable-output-escaping="yes" />

          <form method="GET" action="search.aspx" id="SearchForm2" name="SearchForm2">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr align="left">
                      <td width="100%" colspan="2">
                          <span style="color:red;font-weight:bold">
                              <xsl:value-of select="/root/QueryString/errormsg" />
                          </span>
                          <br />&#0160;&#0160;
                          <table>
                              <tr>
                                  <td align="left" valign="center">
                                      <xsl:value-of select="ise:StringResource('search.aspx.3', $LocaleSetting)" disable-output-escaping="yes" />&#0160;
                                  </td>
                                  <td valign="center" align="right">
                                      <input type="text" id="SearchTerm" name="SearchTerm" size="25" maxlength="70" value="{$pSearchTerm}" />
                                      <xsl:value-of select="ise:GetSearchFormValidatorScript('SearchForm2', 'SearchTerm')" disable-output-escaping="yes" />
                                      <br />
                                  </td>
                                  <td valign="top">
                                      &#0160;
                                      <input type="submit"  value="{ise:StringResourceTextOnly('search.aspx.1')}" name="B1"
                                          class="site-button content"
                                          data-contentKey="search.aspx.1"
                                          data-contentValue="{ise:StringResourceTextOnly('search.aspx.1')}"
                                          data-contentType="string resource" />
                                  </td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td align="right" valign="top">
                                      <a href="searchadv.aspx" class="advSearch">
                                          <xsl:value-of select="ise:StringResource('search.aspx.14', $LocaleSetting)" disable-output-escaping="yes" />
                                      </a>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </form>

   <xsl:choose>
      <xsl:when test="ise:AppConfigBool('Search_ShowCategoriesInResults')='true' and count(/root/Categories/Category)>0">
         <img border="0" src="{concat('skins/Skin_', ise:SkinID(), '/images/matchingcategories.gif')}" />
          <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444" class="search-wrapper">
            <tr>
              <td align="left" valign="top">
                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                  <tr>
                    <td align="left" valign="top">
                      <xsl:apply-templates select="/root/Categories/Category" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
         <div class="Paging" style="padding: 0px 0px 18px 0px;">
              <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=c'), $CurrentPage, /root/Categories2/Category/pages, '0')" disable-output-escaping="yes" />
        </div>
        </xsl:when> 
  </xsl:choose>

  <xsl:choose> 
		    <xsl:when test="ise:AppConfigBool('Search_ShowDepartmentsInResults')='true' and count(/root/Departments/Department)>0">
          <img border="0" src="{concat('skins/Skin_', ise:SkinID(), '/images/matchingsections.gif')}" />
          <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444" class="search-wrapper">
            <tr>
              <td align="left" valign="top">
                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                  <tr>
                    <td align="left" valign="top">
                      <xsl:apply-templates select="/root/Departments/Department" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
         <div class="Paging" style="padding: 0px 0px 18px 0px;">
             <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=d'), $CurrentPage, root/Departments2/Department/pages, '0')" disable-output-escaping="yes" />
         </div> 
        </xsl:when>  
  </xsl:choose>

  <xsl:choose>
          <xsl:when test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true' and count(/root/Manufacturers/Manufacturer)>0">
          <img border="0" src="{concat('skins/Skin_', ise:SkinID(), '/images/matchingmanufacturers.gif')}" />
          <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444" class="search-wrapper">
            <tr>
              <td align="left" valign="top">
                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                  <tr>
                    <td align="left" valign="top">
                      <xsl:apply-templates select="/root/Manufacturers/Manufacturer" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
         <div class="Paging" style="padding: 0px 0px 18px 0px;">
               <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=m'), $CurrentPage, /root/Manufacturers2/Manufacturer/pages, '0')" disable-output-escaping="yes" />
         </div>
        </xsl:when>
  </xsl:choose>



   <xsl:choose>
        <xsl:when test="ise:AppConfigBool('Search_ShowProductsInResults')='true' and count(/root/Products/Product)>0">
          <img align="bottom" border="0" src="{concat('skins/Skin_', ise:SkinID(), '/images/matchingproducts.gif')}" />
          <table width="100%" cellpadding="2" cellspacing="0" style="{concat('border-style: solid; border-width: 0px; border-color: #', ise:AppConfig('HeaderBGColor'))}" class="search-wrapper">
            <tr>
              <td align="left" valign="top">     
                <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                    <tr>
                    <td align="left" valign="top">
                      <table cellpadding="0" border="0" cellspacing="1" width="100%">
                        <tr>
                          <td align="left">
                            <b>
                              <xsl:value-of select="ise:StringResource('search.aspx.6', $LocaleSetting)" disable-output-escaping="yes" />
                            </b>
                          </td>
                          <td align="center">
                            <b>
                              <xsl:value-of select="ise:StringResource('AppConfig.CategoryPromptSingular', $LocaleSetting)" disable-output-escaping="yes" />
                            </b>
                          </td>
                          <xsl:if test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true'">
                            <td align="center">
                              <b>
                                <xsl:value-of select="ise:StringResource('search.aspx.7', $LocaleSetting)" disable-output-escaping="yes" />
                              </b>
                            </td>
                          </xsl:if>
                        </tr>
                        <xsl:apply-templates select="/root/Products/Product" />
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="Paging" style="padding: 0px 0px 18px 0px;">
               <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;entitytype=p'), $CurrentPage,/root/Products2/Product/pages, '0')" disable-output-escaping="yes" />
          </div>
        </xsl:when>
   </xsl:choose>

   <xsl:choose>
        <xsl:when test="ise:AppConfigBool('Search_ShowAttributesInResults')='true' and count(/root/Attributes/Attribute)>0">
          <img border="0" src="{concat('skins/Skin_', ise:SkinID(), '/images/matchingattributes.gif')}" />
              <table width="100%" cellpadding="2" cellspacing="0" style="border-style: solid; border-width: 0px; border-color: #444444" class="search-wrapper">
                  <tr>
                      <td align="left" valign="top">
                          <table width="100%" cellpadding="4" cellspacing="0" border="0" style="{ise:AppConfig('BoxFrameStyle')}">
                              <tr>
                                  <td align="left" valign="top">
                                      <table cellpadding="0" border="0" cellspacing="1" width="100%">
                                          <tr>
                                            <td align="left">
                                                  <b>
                                                      <xsl:value-of select="ise:StringResource('search.aspx.9', $LocaleSetting)" disable-output-escaping="yes" />
                                                  </b>
                                              </td>
                                              
                                              <td align="left">
                                                <b>
                                                  <xsl:value-of select="ise:StringResource('search.aspx.11', $LocaleSetting)" disable-output-escaping="yes" />
                                                </b>
                                            </td>

                                              <td align="left">
                                              <b>
                                                <xsl:value-of select="ise:StringResource('search.aspx.12', $LocaleSetting)" disable-output-escaping="yes" />
                                              </b>
                                            </td>

                                            <td align="center">
                                                  <b>
                                                      <xsl:value-of select="ise:StringResource('search.aspx.10', $LocaleSetting)" disable-output-escaping="yes" />
                                                  </b>
                                              </td>                                              
                                          </tr>
                                          <xsl:apply-templates select="/root/Attributes/Attribute" />
                                      </table>                                      
                                  </td>
                              </tr>
                          </table>
                    
                      </td>
                  </tr>
              </table>
              <div class="Paging" style="padding: 0px 0px 18px 0px;">
                  <xsl:value-of select="ise:EntityPagingControl(concat($BaseURL, '&amp;EntityType=a'), $CurrentPage, /root/Attributes2/Attribute/pages, '0')" disable-output-escaping="yes" />
              </div>
          </xsl:when>
   </xsl:choose>
        
   <xsl:if test="$pSearchTerm != '' and count(/root/Categories/Category)=0 and count(/root/Departments/Department)=0 and count(/root/Manufacturers/Manufacturer)=0 and count(/root/Products/Product)=0 and count(/root/Attributes/Attribute)=0">
          <p align="left">
            <xsl:value-of select="ise:StringResource('search.aspx.8', $LocaleSetting)" disable-output-escaping="yes" />
            <b />
          </p>
        </xsl:if> 
        
   <script type="text/javascript" Language="JavaScript">
          document.SearchForm2.SearchTerm.focus();
        </script>
       <xsl:value-of select="ise:Topic('SearchPageFooter')" disable-output-escaping="yes" />
      </xsl:template>
      
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="vName">
          <xsl:choose>
            <xsl:when test="count(VariantName/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="VariantName/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml)=0">
              <xsl:value-of select="VariantName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:if test="position()!=1">
          <tr>
            <td height="1" width="100%" class="LightCell">
              <xsl:attribute name="colspan">
                <xsl:choose>
                  <xsl:when test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true'">4</xsl:when>
                  <xsl:otherwise>3</xsl:otherwise>
                </xsl:choose>
              </xsl:attribute>
              <img src="images/spacer.gif" height="1" width="1" />
            </td>
          </tr>
        </xsl:if>
        
        <xsl:variable name="item_href">
          <xsl:choose>
            <xsl:when test="UnitMeasureCode">
              <xsl:value-of select="ise:MakeEntityLinkWithUOM('product',Counter,$pDisplayName, UnitMeasureCode)" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ise:MakeEntityLink('product',Counter,$pDisplayName)" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        
        <tr>
          <td valign="middle" align="left">
            <a href="{$item_href}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
              <xsl:if test="vName!=''">
                -<xsl:value-of select="$vName" />
              </xsl:if>
            </a>
          </td>
          <td align="center">
            <xsl:if test="CategoryID != '' and CategoryDisplayName != ''">
              <a href="{ise:MakeEntityLink('category',CategoryID,CategoryDisplayName)}">
                <xsl:value-of select="ise:Encode(CategoryDisplayName)" disable-output-escaping="yes" />
              </a>
            </xsl:if>
            
          </td>
          <xsl:if test="ise:AppConfigBool('Search_ShowManufacturersInResults')='true'">
            <td align="center">
            
              <xsl:if test="ManufacturerID != '' and ManufacturerDisplayName != ''">
                <a href="{ise:MakeEntityLink('manufacturer',ManufacturerID,ManufacturerDisplayName)}">
                  <xsl:value-of select="ise:Encode(ManufacturerDisplayName)" disable-output-escaping="yes" />
                </a>
              </xsl:if>
            </td>
          </xsl:if>
        </tr>
      </xsl:template>
      
      <xsl:template match="Category">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <a href="{ise:MakeEntityLink('category',Counter,$pDisplayName)}">
              <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      
      <xsl:template match="Department">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <a href="{ise:MakeEntityLink('department',Counter,$pDisplayName)}">
            <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      
      <xsl:template match="Manufacturer">
        <xsl:param name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(Description)>0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td align="left">
            <a href="{ise:MakeEntityLink('manufacturer',Counter,$pDisplayName)}">
                <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
            </a>
          </td>
        </tr>
      </xsl:template>
      
      <xsl:template match="Attribute">
        <xsl:param name="pDisplayName">
            <xsl:choose>
                <xsl:when test="string-length(SourceFilterName)>0">
                    <xsl:value-of select="SourceFilterName" />
                </xsl:when>                
            </xsl:choose>
        </xsl:param>

        <xsl:param name="pEntityType">
          <xsl:choose>
            <xsl:when test="string-length(EntityType)>0">
              <xsl:value-of select="EntityType" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        
        <tr>
          <td align="left">
                <a href="{concat('a-',Counter,'-',ise:FormatStringForLink($pDisplayName),'.aspx','?EntityID=',EntityCode,'&amp;','EntityName=',EntityType, '&amp;','atr=', concat(EntityCounter,'-', ise:FormatStringForLink(EntityCode)))}">
                    <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                </a>
            </td>
          <td align="left">
              <xsl:value-of select="EntityType" disable-output-escaping="yes" />
          </td>

          <td align="left">
            
            <xsl:if test ="$pEntityType = 'Category'">
              <a href="{concat('c-',EntityCounter,'-',ise:FormatStringForLink(EntityCode),'.aspx')}">
                <xsl:value-of select="ise:Encode(EntityCode)" disable-output-escaping="yes" />
              </a>
            </xsl:if>
            
            <xsl:if test ="$pEntityType = 'Department'">
              <a href="{concat('d-',EntityCounter,'-',ise:FormatStringForLink(EntityCode),'.aspx')}">
                <xsl:value-of select="ise:Encode(EntityCode)" disable-output-escaping="yes" />
              </a>
            </xsl:if>
          
          </td>
          
          <td align="left">
            <center>
              <xsl:value-of select="ise:Encode(AttributeName)" disable-output-escaping="yes" />
            </center>
          </td>
        </tr>
      </xsl:template>
      
      <xsl:template name="entitybreadcrumb">
        <xsl:param name="entityprefix" />
        <xsl:for-each select="ancestor-or-self::*[child::SEName and ancestor::EntityHelpers]">
          <xsl:variable name="pEName">
            <xsl:choose>
              <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml)=0">
                <xsl:value-of select="Description" />
              </xsl:when>
            </xsl:choose>
          </xsl:variable>
          <a href="{concat($entityprefix, '-', EntityID, '-', ise:FormatStringForLink(SEName), '.aspx')}">
            <xsl:value-of select="$pEName" />
          </a>&#0160;<xsl:if test="position()!=last()">-</xsl:if>&#0160;
        </xsl:for-each>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>












