<?xml version="1.0" encoding="utf-8"?>

<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->

<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
                        xmlns:ise="urn:ise" exclude-result-prefixes="ise">
  <xsl:output method="html" omit-xml-declaration="yes" />
	<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
	<xsl:param name="hasComment"></xsl:param>
  <xsl:template match="ItemRating">

    <xsl:variable name="hasRating" select="ise:HasRating()" />
    <xsl:variable name="myRating" select="ise:MyRating()" />
    <xsl:variable name="isRegistered" select="ise:IsRegistered()" />
    <xsl:variable name="averageRating" select="ise:ShowStars(AverageRating)" />
    <xsl:variable name="allowAnonToVote" select="ise:AppConfigBool('RatingsCanBeDoneByAnons')" />
    
    <div class="section-wrapper" id="productRating">
      <div class="header"><xsl:value-of select="ise:StringResource('rateit.aspx.17')" disable-output-escaping="yes" /></div>
      <br />
      <!-- rating info -->
      <table class="rating-info">
        <tr class="caption">
          <td class="my-rating">
            <xsl:if test="$hasRating = 'true'">
              <xsl:value-of select="ise:StringResource('rateit.aspx.21')" disable-output-escaping="yes" />
            </xsl:if>
          </td>
          <td class="average-rating text-right">
            <xsl:value-of select="ise:StringResource('rateit.aspx.18')" disable-output-escaping="yes" />
          </td>
        </tr>
      <tr>
        <td>
           <xsl:if test="$hasRating = 'true'">
                <xsl:value-of select="$myRating" disable-output-escaping="yes" />
              </xsl:if> 
          <xsl:choose>
            <xsl:when test="$isRegistered = 'true' or $allowAnonToVote = 'true'">
              <xsl:variable name="message">
                <xsl:choose>
                  <!-- zero votes -->
                  <xsl:when test="Count = 0"><xsl:value-of select="ise:StringResource('rateit.aspx.23')" disable-output-escaping="yes" /></xsl:when>
                  <xsl:otherwise>
                    <xsl:choose>
                      <!-- already voted -->
                      <xsl:when test="$hasRating = 'true'">
                        <xsl:value-of select="ise:StringResource('rateit.aspx.25')" disable-output-escaping="yes" />
                      </xsl:when>
                      <xsl:otherwise>
                        <xsl:value-of select="ise:StringResource('rateit.aspx.24')" disable-output-escaping="yes" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </xsl:otherwise>
                </xsl:choose>
              </xsl:variable>
              
             <!-- click here -->
              <span class="total-votes">
                  <a id="rateIt" href="javascript:void(0)"><xsl:value-of select="ise:StringResource('rateit.aspx.26')" disable-output-escaping="yes" /></a>
                  <xsl:value-of select="$message" disable-output-escaping="yes" />
              </span>
            </xsl:when>
            
            <!-- voting is not allowed -->
            <xsl:otherwise><xsl:value-of select="ise:StringResource('rateit.aspx.22')" disable-output-escaping="yes" /></xsl:otherwise>
          </xsl:choose>
          
            
            <script>
              $("#rateIt").click(function() {
                var productID = '<xsl:value-of select="ise:GetProductID()"/>';
                var returnURL = '<xsl:value-of select="ise:GetReturnURL()"/>';
                var randomNum = '<xsl:value-of select="ise:GetRandomNumber()"/>';
              
                var url = "rateit.aspx?" +
                          "productid=" + productID + 
                          "&amp;refresh=no" +
                          "&amp;returnurl=" + returnURL;
                var name = randomNum;
                var specs = "height=450,width=440,top=10,left=20,status=no,toolbar=no,menubar=no,scrollbars=yes,location=no";
                window.open(url, name, specs);
              });
            </script>
        </td>
         <td class="text-right">
            <span class="average-rating"><xsl:value-of select="$averageRating" disable-output-escaping="yes" /></span>
              <span class="total-votes">
                  <xsl:value-of select="ise:StringResource('rateit.aspx.19')" disable-output-escaping="yes" />
                  <xsl:value-of select="Count" disable-output-escaping="yes" />
                  <xsl:value-of select="ise:StringResource('rateit.aspx.20')" disable-output-escaping="yes" />
              </span>   
        </td>
      </tr>
      </table>
      <br />
      <!-- rating summary -->
      <table class="rating-summary">
        <tr>
          <th></th>
          <th class="min">0%</th>
          <th class="mid">50%</th>
          <th class="max">100%</th>
        </tr>
        <!-- great rating -->
        <tr>
          <td class="caption"><xsl:value-of select="ise:StringResource('rateit.aspx.11')" disable-output-escaping="yes" /></td>
          <td class="bar" colspan="3">
            <xsl:if test="GreatRatePercent &gt; 0">
              <img alt="">
                <xsl:attribute name="src"><xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" /></xsl:attribute>
                <xsl:attribute name="width"><xsl:value-of select="GreatRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
                <xsl:attribute name="style">width:<xsl:value-of select="GreatRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
              </img>
            </xsl:if>
          </td>
        </tr>
        <!-- good rating -->
        <tr>
          <td class="caption"><xsl:value-of select="ise:StringResource('rateit.aspx.10')" disable-output-escaping="yes" /></td>
          <td class="bar" colspan="3">
            <xsl:if test="GoodRatePercent &gt; 0">
              <img alt="">
                <xsl:attribute name="src"><xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" /></xsl:attribute>
                <xsl:attribute name="width"><xsl:value-of select="GoodRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
                <xsl:attribute name="style">width:<xsl:value-of select="GoodRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
              </img>
            </xsl:if>
          </td>
        </tr>
        <!-- ok rating -->
        <tr>
          <td class="caption"><xsl:value-of select="ise:StringResource('rateit.aspx.9')" disable-output-escaping="yes" /></td>
          <td class="bar" colspan="3">
            <xsl:if test="OkRatePercent &gt; 0">
						  <img alt="">
							  <xsl:attribute name="src"><xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" /></xsl:attribute>
							  <xsl:attribute name="width"><xsl:value-of select="OkRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
                <xsl:attribute name="style">width:<xsl:value-of select="OkRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
						  </img>
					  </xsl:if>
          </td>
        </tr>
        <!-- bad rating -->
        <tr>
          <td class="caption"><xsl:value-of select="ise:StringResource('rateit.aspx.8')" disable-output-escaping="yes" /></td>
          <td class="bar" colspan="3">
            <xsl:if test="BadRatePercent &gt; 0">
              <img alt="">
                <xsl:attribute name="src"><xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" /></xsl:attribute>
                <xsl:attribute name="width"><xsl:value-of select="BadRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
                <xsl:attribute name="style">width:<xsl:value-of select="BadRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
              </img>
            </xsl:if>
          </td>
        </tr>
        <!-- terrible rating -->
        <tr>
          <td class="caption"><xsl:value-of select="ise:StringResource('rateit.aspx.7')" disable-output-escaping="yes" /></td>
          <td class="bar" colspan="3">
            <xsl:if test="TerribleRatePercent &gt; 0">
              <img alt="">
                <xsl:attribute name="src"><xsl:value-of select="ise:LocateImageURL('pollimage.gif')" disable-output-escaping="yes" /></xsl:attribute>
                <xsl:attribute name="width"><xsl:value-of select="TerribleRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
                <xsl:attribute name="style">width:<xsl:value-of select="TerribleRatePercent" /><xsl:text>%</xsl:text></xsl:attribute>
              </img>
            </xsl:if>
          </td>
        </tr>
      </table>
      <br />
      <!-- comments -->
      <table class="comments">
        <tr><td><xsl:value-of select="ise:ShowSortingOption()" disable-output-escaping="yes" /></td></tr>
        <xsl:for-each select="Ratings/Rating">
          <tr class="item-comment">
            <td>
              <div class="heading">
                <span class="name">
                  <xsl:value-of select="./CustomerSalutationCode" />										  
								  <xsl:text xml:space="default "> </xsl:text>
								  <xsl:value-of select="./CustomerFirstName" />
								  <xsl:text xml:space="default "> </xsl:text>
								  <xsl:value-of select="./CustomerLastName" />
                  <xsl:text xml:space="default "> </xsl:text>
                </span>
                <span><xsl:value-of select="ise:GetNativeShortDateString(./CreatedOn)" /></span>
                <span class="star right">
                 <xsl:call-template name="StarBuilder"><xsl:with-param name="rate" select="./Rate" /></xsl:call-template>
                </span>
              </div>
              <div class="date"></div>
              <div class="actual-comment">
										  <xsl:choose>
											  <xsl:when test="./Comment = ''">
												  <xsl:value-of select="ise:StringResource('ratings.cs.10')" disable-output-escaping="yes" />
											  </xsl:when>
											  <xsl:otherwise>
												  <xsl:value-of select="./Comment" />
											  </xsl:otherwise>
										  </xsl:choose>
						  </div>
              <div class="helpful">
                  (
									<xsl:value-of select="./HelpfulCount" />
									<xsl:text xml:space="default "> </xsl:text>
									<xsl:value-of select="ise:StringResource('ratings.cs.13')" disable-output-escaping="yes" />
									<xsl:text xml:space="default "> </xsl:text>
									<xsl:value-of select="ise:StringResource('ratings.cs.14')" disable-output-escaping="yes" />
									<xsl:text xml:space="default "> </xsl:text>
									<xsl:value-of select="ise:StringResource('ratings.cs.15')" disable-output-escaping="yes" />
									<xsl:text xml:space="default ">, </xsl:text>
									<xsl:value-of select="./NotHelpfulCount" />
									<xsl:text xml:space="default "> </xsl:text>
									<xsl:value-of select="ise:StringResource('ratings.cs.16')" disable-output-escaping="yes" />
									)
              </div>
              <div class="helpful-vote">
							  <xsl:value-of select="ise:CommentVoting(ItemCode, CustomerCode, ContactCode)" disable-output-escaping="yes" />
								<div id="RateCommentDiv" name="RateCommentDiv" style="position:absolute; left:0px; top:0px; visibility:hidden; z-index:2000; ">
								  <iframe name="RateCommentFrm" id="RateCommentFrm" width="400" height="100" hspace="0" vspace="0" marginheight="0" marginwidth="0" frameborder="0" noresize="" scrolling="yes" src="empty.htm"></iframe>\n");
                </div>
              </div>
              <br />
            </td>  
          </tr>
        </xsl:for-each>
         <tr>
          <td class="text-right">
            <br />
            <xsl:value-of select="ise:CommentPaging()" disable-output-escaping="yes" /></td>
        </tr>
      </table>
    </div>
	  
  </xsl:template>

  <xsl:template name="StarBuilder">
    <xsl:param name="rate" />
	  <xsl:value-of select="ise:ShowStars($rate)" disable-output-escaping="yes" />
  </xsl:template>
  
</xsl:stylesheet>