<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Recent Commnets" debug="false" includeentityhelper="true">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Ratings" rowElementName="Rating">
    <sql>
      <![CDATA[
                exec aspdnsf_GetRecentComments @votingcustomer, 20, @pgnum, @sortorder
            ]]>
    </sql>
    <queryparam paramname="@votingcustomer" paramtype="runtime" requestparamname="CustomerID" sqlDataType="int" defvalue="0" validationpattern="" />
    <queryparam paramname="@pgnum" paramtype="request" requestparamname="pagenum" sqlDataType="int" defvalue="1" validationpattern="" />
    <queryparam paramname="@sortorder" paramtype="request" requestparamname="OrderBy" sqlDataType="int" defvalue="0" validationpattern="" />
  </query>
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="CurrentPage">
        <xsl:choose>
          <xsl:when test="/root/QueryString/pagenum">
            <xsl:value-of select="/root/QueryString/pagenum" />
          </xsl:when>
          <xsl:otherwise>1</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="FirstComment" select="/root/Ratings/Rating[1]/rownum" />
      <xsl:param name="LastComment" select="/root/Ratings/Rating[position()=last()]/rownum" />
      <xsl:param name="StarE" select="concat('skins/skin_', /root/System/SkinID, '/images/stare.gif')" />
      <xsl:param name="StarF" select="concat('skins/skin_', /root/System/SkinID, '/images/starf.gif')" />
      <xsl:template match="/">
        <form name="recentcomments" action="recentcomments.aspx" method="get">
          <table border="0" width="100%" cellspacing="5" cellpadding="0" align="center">
            <tr>
              <td width="100%" valign="top" align="center">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="50%">
                      <table border="0" width="100%" height="110" cellspacing="0" cellpadding="5" bgcolor="#FFFFCC">
                        <tr>
                          <td width="100%">
                            <span style="color:#000000;" class="CommentHeaderText">
                              <xsl:value-of select="ise:StringResource('recentcomments.aspx.2')" disable-output-escaping="yes" />
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td width="100%">
                            <span style="color:#FF0000;">
                              <xsl:value-of select="ise:StringResource('ratings.cs.7')" disable-output-escaping="yes" />
                            </span>
                            <span style="color:#000000;">
                              <xsl:value-of select="ise:StringResource('recentcomments.aspx.3')" disable-output-escaping="yes" />
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td width="100%" valign="middle">
                            <span style="color:#000000;font-weight:bold;">
                              <xsl:value-of select="ise:StringResource('recentcomments.aspx.7')" disable-output-escaping="yes" />&#160;&#160;
                            </span>
                            <select size="1" name="OrderBy" onchange="document.recentcomments.submit();">
                              <option value="0">
                                <xsl:if test="/root/QueryString/orderby=0 or count(/root/QueryString/orderby)=0">
                                  <xsl:attribute name="selected">selected</xsl:attribute>
                                </xsl:if>
                                <xsl:value-of select="ise:StringResource('recentcomments.aspx.3')" disable-output-escaping="yes" />
                              </option>
                              <option value="1">
                                <xsl:if test="/root/QueryString/orderby=1">
                                  <xsl:attribute name="selected">selected</xsl:attribute>
                                </xsl:if>
                                <xsl:value-of select="ise:StringResource('recentcomments.aspx.4')" disable-output-escaping="yes" />
                              </option>
                              <option value="2">
                                <xsl:if test="/root/QueryString/orderby=2">
                                  <xsl:attribute name="selected">selected</xsl:attribute>
                                </xsl:if>
                                <xsl:value-of select="ise:StringResource('recentcomments.aspx.5')" disable-output-escaping="yes" />
                              </option>
                              <option value="3">
                                <xsl:if test="/root/QueryString/orderby=3">
                                  <xsl:attribute name="selected">selected</xsl:attribute>
                                </xsl:if>
                                <xsl:value-of select="ise:StringResource('recentcomments.aspx.6')" disable-output-escaping="yes" />
                              </option>
                            </select>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td width="1%" align="center">&#160;</td>
                    <td width="50%" valign="top">
                      <table border="0" width="100%" bgcolor="#009999" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="100%">
                            <table border="0" width="100%" cellspacing="1" cellpadding="9">
                              <tr>
                                <td colspan="2" style="background-color:#009999;color:#FFFFFF;text-align:center;height:30px;font-weight:bold;">
                                  <xsl:value-of select="ise:StringResource('recentcomments.aspx.8')" disable-output-escaping="yes" />
                                </td>
                              </tr>
                              <tr>
                                <td width="50%" style="background-color:#FFFFFF;color:#000000;" valign="middle" align="center">
                                  <xsl:value-of select="ise:StringResource('recentcomments.aspx.9')" disable-output-escaping="yes" />
                                </td>
                                <td width="50%" bgcolor="#FFFFFF" valign="middle">
                                  <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="40%" style="color:#000000;" align="right">
                                        <xsl:value-of select="ise:AppConfig('AppConfig.CategoryPromptSingular')" disable-output-escaping="yes" />&#160;
                                      </td>
                                      <td width="40%" bgcolor="#FFFFFF">
                                        <select size="1" name="CategoryID" onchange="document.recentcomments.submit();">
                                          <option value="" selected="selected">
                                            <xsl:value-of select="ise:StringResource('recentcomments.aspx.10')" disable-output-escaping="yes" />
                                          </option>
                                          <xsl:apply-templates select="/root/EntityHelpers/Category" />
                                        </select>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table width="100%" bgcolor="#CCCCCC" border="0" cellpadding="5" cellspacing="0">
                  <tr>
                    <td align="left" width="60%" height="25" bgcolor="#FFFFFF">
                      <xsl:value-of select="ise:StrFormatStringresource('recentcomments.aspx.11', concat($FirstComment, ',', $LastComment, ',', /root/Ratings2/Rating/totalcomments), ',')" disable-output-escaping="yes" />
                      <xsl:value-of select="ise:PagingControl('recentcomments.aspx', $CurrentPage, /root/Ratings2/Rating/pages)" disable-output-escaping="yes" />
                    </td>
                    <td align="right" width="40%" height="25" bgcolor="#FFFFFF">
                    </td>
                  </tr>
                </table>
                <table border="0" width="100%" bgcolor="#CCCCCC" cellspacing="0" cellpadding="1">
                  <tr>
                    <td>
                      <table border="0" width="100%" bgcolor="#FFFFFF" cellpadding="5" cellspacing="1">
                        <tr>
                          <td style="background-color:#CCCCCC;color:#000000;font-weight:bold;text-align:center;width:10%;height:25px;">
                            <xsl:value-of select="ise:StringResource('recentcomments.aspx.12')" disable-output-escaping="yes" />
                          </td>
                          <td style="background-color:#CCCCCC;color:#000000;font-weight:bold;text-align:center;width:25%;height:25px;">
                            <xsl:value-of select="ise:StringResource('recentcomments.aspx.13')" disable-output-escaping="yes" />
                          </td>
                          <td style="background-color:#CCCCCC;color:#000000;font-weight:bold;text-align:center;width:65%;height:25px;">
                            <xsl:value-of select="ise:StringResource('recentcomments.aspx.14')" disable-output-escaping="yes" />
                          </td>
                        </tr>
                      </table>
                      <table border="0" width="100%" bgcolor="#CCCCCC" cellpadding="5" cellspacing="1">
                        <xsl:apply-templates select="/root/Ratings/Rating" />
                      </table>
                      <table width="100%" bgcolor="#CCCCCC" border="0" cellpadding="5" cellspacing="0">
                        <tr>
                          <td align="left" width="60%" height="25" bgcolor="#CCCCCC">
                            <xsl:value-of select="ise:StrFormatStringresource('recentcomments.aspx.11', concat($FirstComment, ',', $LastComment, ',', /root/Ratings2/Rating/totalcomments), ',')" disable-output-escaping="yes" />
                            <xsl:value-of select="ise:PagingControl('recentcomments.aspx', $CurrentPage, /root/Ratings2/Rating/pages)" disable-output-escaping="yes" />
                          </td>
                          <td align="right" width="40%" height="25" bgcolor="#CCCCCC" />
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </form>
        <iframe name="RateCommentFrm" id="RateCommentFrm" width="300" height="300" hspace="0" vspace="0" marginheight="0" marginwidth="0" frameborder="0" noresize="noresize" scrolling="yes" style="display:none;" />
        <script type="text/javascript" language="javascript">
          <![CDATA[

                    function RateComment(ProductID,ProductGUID,MyCustomerID,MyVote,RatersCustomerID)
                    {
                        RateCommentFrm.location = 'RateComment.aspx?Productid=' + ProductID + '&ProductGUID=' + ProductGUID + '&VotingCustomerID=' + MyCustomerID + '&MyVote=' + MyVote + '&CustomerID=' + RatersCustomerID;
                    }

                    function MakeROTDComment(RatingID)
                    {
                        RateCommentFrm.location = 'ROTDComment.aspx?RatingID=' + RatingID;
                    }
                ]]>
        </script>
        <script type="text/javascript" language="javascript">
          <![CDATA[
                    function RateIt(ProductID,ProductGUID)
                    {
                        window.open('rateit.aspx?Productid=' + ProductID + '&refresh=no&returnurl=/recentcomments.aspx','InterpriseSuiteECommerce','height=450,width=440,top=10,left=20,status=no,toolbar=no,menubar=no,scrollbars=yes,location=no');
                    }
                ]]>
        </script>
      </xsl:template>
      <xsl:template match="Category">
        <xsl:for-each select="descendant::Entity">
          <xsl:variable name="pName">
            <xsl:choose>
              <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting])!=0">
                <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
              </xsl:when>
              <xsl:when test="count(Name/ml)=0">
                <xsl:value-of select="Name" />
              </xsl:when>
            </xsl:choose>
          </xsl:variable>
          <option value="{EntityID}">
            <xsl:if test="/root/QueryString/categoryid=EntityID">
              <xsl:attribute name="selected">selected</xsl:attribute>
            </xsl:if>
            <xsl:value-of select="$pName" disable-output-escaping="yes" />
          </option>
        </xsl:for-each>
      </xsl:template>
      <xsl:template match="Rating">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(ProductName/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="ProductName/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(ProductName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="ProductName/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(ProductName/ml)=0">
              <xsl:value-of select="ProductName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <tr>
          <td valign="top" style="background-color:#FFFFFF;color:#000000;text-align:center;width:10%;">
            <xsl:value-of select="ise:GetNativeShortDateString(CreatedOn)" disable-output-escaping="yes" />
          </td>
          <td valign="top" style="background-color:#FFFFFF;color:#000000;text-align:left;width:25%;">
            <a href="{ise:ProductLink(ProductID, ProductSEName, 0, '')}">
              <b>
                <xsl:value-of select="$pName" disable-output-escaping="yes" />
              </b>
            </a>
            <br />
            <br />
            <xsl:value-of select="ise:GetRatingStarsImage(Rating)" disable-output-escaping="yes" />
            <a>
              <xsl:attribute name="href">
                javascript:RateIt(<xsl:value-of select="ProductID" />, '<xsl:value-of select="ProductGuid" />');
              </xsl:attribute>
              <xsl:choose>
                <xsl:when test="MyRating &gt; 0">
                  <br />
                  <small>
                    <xsl:value-of select="ise:StrFormatStringresource('recentcomments.aspx.15', MyRating, ',')" disable-output-escaping="yes" />
                  </small>
                </xsl:when>
                <xsl:otherwise>
                  <br />
                  <img src="{concat('skins/skin_', /root/System/SkinID, '/images/rateit.gif')}" border="0" width="46" height="15" />
                </xsl:otherwise>
              </xsl:choose>
            </a>
          </td>
          <td valign="top" align="left" width="65%" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <span class="CommentText">
                    <xsl:value-of select="Comments" disable-output-escaping="yes" />
                    <br />- <small>
                      <i>
                        <xsl:value-of select="ise:StringResource('recentcomments.aspx.16')" disable-output-escaping="yes" />
                      </i><a href="{concat('Customer.aspx?RI=', CustomerID)}">
                        <xsl:value-of select="RatingCustomerName" disable-output-escaping="yes" />
                      </a>
                    </small>
                  </span>
                </td>
              </tr>
              <tr>
                <td height="5">
                </td>
              </tr>
              <tr>
                <td>
                  <span style="font-family:arial,helvetica;font-size:7.5pt;color:#009999;">
                    <xsl:if test="/root/System/CustomerIsAnon = 'false' and number(/root/System/CustomerID) != number(CustomerID)">
                      <xsl:value-of select="ise:StringResource('recentcomments.aspx.17')" disable-output-escaping="yes" />
                      <input type="radio" name="{concat('helpful_', ProductID, '_', CustomerID)}">
                        <xsl:attribute name="onclick">
                          return RateComment(<xsl:value-of select="ProductID"/>, &apos;<xsl:value-of select="ProductGuid"/>&apos;, <xsl:value-of select="/root/System/CustomerID"/>, &apos;Yes&apos;, <xsl:value-of select="CustomerID"/>);
                        </xsl:attribute>
                      </input>
                      <font face="arial,helvetica" size="1" color="#006600">
                        <xsl:value-of select="ise:StringResource('recentcomments.aspx.18')" disable-output-escaping="yes" />
                      </font>
                      <input type="radio" name="{concat('helpful_', ProductID, '_', CustomerID)}">
                        <xsl:attribute name="onclick">
                          return RateComment(<xsl:value-of select="ProductID"/>, &apos;<xsl:value-of select="ProductGuid"/>&apos;, <xsl:value-of select="/root/System/CustomerID"/>, &apos;No&apos;, <xsl:value-of select="CustomerID"/>);
                        </xsl:attribute>
                      </input>
                      <font face="arial,helvetica" size="1" color="#006600">
                        <xsl:value-of select="ise:StringResource('recentcomments.aspx.19')" disable-output-escaping="yes" />
                      </font>
                    </xsl:if>
                    <xsl:choose>
                      <xsl:when test="//root/System/CustomerID != /root/Ratings/Rating/CustomerID">
                        &#160;&#160;<xsl:value-of select="ise:StrFormatStringresource('recentcomments.aspx.20', concat(FoundHelpful, ',', FoundNotHelpful), ',')" disable-output-escaping="yes" />
                      </xsl:when>
                      <xsl:otherwise>
                        &#160;&#160;<xsl:value-of select="ise:StrFormatStringresource('recentcomments.aspx.21', concat(FoundHelpful, ',', FoundNotHelpful), ',')" disable-output-escaping="yes" />
                      </xsl:otherwise>
                    </xsl:choose>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
