<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Bundle Product" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                                                            -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode

            ]]>
    </sql>
 
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>



  <XmlHelperPackage name="helper.product.xml.config" />

  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" xmlns:custom="urn:custom" exclude-result-prefixes="ise custom">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ErrorMessage">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/errormsg) &gt; 0">
            <xsl:value-of select="/root/QueryString/errormsg" />
          </xsl:when>
          <xsl:otherwise></xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      
      <xsl:template match="/">
        <xsl:comment>980BA288-5A98-4D23-9D55-95974CA001AB</xsl:comment>

        
        <!--Renders Bundle Product with Carousel Items-->

        <xsl:apply-templates select="/root/Products/Product" />
    
        <xsl:value-of select="ise:GetBundleProductDetails('productpage',/root/Products/Product/Counter,/root/Products/Product/ItemCode,'','')" disable-output-escaping="yes" ></xsl:value-of>
      </xsl:template>
     
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
      <xsl:variable name="pDisplayName">
        <xsl:choose>
          <xsl:when test="string-length(ItemDescription)>0">
            <xsl:value-of select="ItemDescription" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="ItemName" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:variable>
    

        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50dc8ab51b6823ca" async="async"></script>
        <div class="row">
                <div class="small-12 large-8 columns text-center product-image">
                  <div class="row">
                    <div class="small-12 columns">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
            
                <div class="small-10 small-centered medium-6 large-uncentered large-4 columns">
                  <div class="product-buy">
                    <h3>

                      <!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                      <xsl:choose>
                        <xsl:when test="ise:IsInEditingMode()">
                          <xsl:choose>

                            <xsl:when test="string-length(ItemDescription)>0">
                              <div class="content editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                                <div class="edit-pencil"></div>
                                <div class="string-value" style="color:#666 !important">
                                  <xsl:value-of select="ItemDescription" />
                                </div>
                                <div class="clear-both"></div>
                              </div>
                            </xsl:when>
                            <xsl:otherwise>
                              <xsl:value-of select="ItemName" />
                            </xsl:otherwise>

                          </xsl:choose>
                        </xsl:when>
                        <xsl:otherwise>
                          <span class="ProductNameText">
                            <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                          </span>
                        </xsl:otherwise>
                      </xsl:choose>
                    </h3>
                    <h4><small>Item &#35;<xsl:value-of select="ItemName" /></small></h4>
                    <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" />
		    <div class="addthis_sharing_toolbox"></div>
                    <h4><xsl:value-of select="ise:GetBundlePrice(ItemCode,'true')" disable-output-escaping="yes" /></h4>
<!--
                    <div>Set <xsl:value-of select="ise:StringResource('showproduct.aspx.33')" disable-output-escaping="yes" /></div>
          <div id="bundle-product-price-{Counter}"></div>
-->
                    <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
                    <xsl:if test="$ErrorMessage != ''">
                      <div class="alert-box alert">
                        <xsl:value-of select="$ErrorMessage"/>
                      </div>
                    </xsl:if>
                      
                </div>
            </div>
          </div>
<!--
                      <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
-->
                
              
        <div class="row">
            <div class="small-12 columns tab-container">
                <dl class="tabs small-collapse" data-tab="">
                    <dd class="active small-3 columns text-center"><a href="#Description"><small>Description</small></a></dd>
                    <dd class="small-3 columns text-center"><a href="#Summary"><small>Summary</small></a></dd>
                    <dd class="small-3 columns text-center"><a href="#Warranty"><small>Warranty</small></a></dd>
                    <dd class="small-3 columns text-center"><a href="#Shipping"><small>Shipping</small></a></dd>
                  </dl>
                
                <div class="tabs-content panel"> 

                <!-- added handler of item name or decription if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
               <div class="content active" id="Description">
                <xsl:choose>
                  <xsl:when test="ise:IsInEditingMode()">
                    <xsl:choose>

                      <xsl:when test="string-length(WebDescription)>0">
                        <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-webdescription">
                          <div class="edit-pencil"></div>
                          <div class="item-web-description-value" style="color:#fff !important">
                            <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                          </div>
                          <div class="clear-both"></div>
                        </div>
                      </xsl:when>
                      <xsl:otherwise>
                        <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-description">
                          <div class="edit-pencil"></div>
                          <div class="string-value" style="color:#fff !important">
                            <xsl:value-of select="ItemDescription" />
                          </div>
                          <div class="clear-both"></div>
                        </div>
                      </xsl:otherwise>

                    </xsl:choose>
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                  </xsl:otherwise>
                </xsl:choose>
              </div>
            
              <div class="content" id="Summary">
                    <!-- added handler of item summary if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                <xsl:choose>
                  <xsl:when test="ise:IsInEditingMode()">
                    <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-summary">
                      <div class="edit-pencil"></div>
                      <div class="item-web-description-value" style="color:#fff !important">
                        <xsl:value-of select="Summary" disable-output-escaping="yes" />
                      </div>
                      <div class="clear-both"></div>
                    </div>
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="Summary" disable-output-escaping="yes" />
                  </xsl:otherwise>
                </xsl:choose>
              </div>
              
              <div class="content" id="Warranty">
                  <!-- added handler of item warrany if browser is currently on edit mode 
                           note: editing is only allowed to item description or web description
                          -->
                <xsl:choose>
                  <xsl:when test="ise:IsInEditingMode()">
                    <div class="content  editable-content" data-itemCode="{ItemCode}" data-contentType="item-warranty">
                      <div class="edit-pencil"></div>
                      <div class="item-web-description-value" style="color:#fff !important">
                        <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                      </div>
                      <div class="clear-both"></div>
                    </div>
                  </xsl:when>
                  <xsl:otherwise>
                    <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                  </xsl:otherwise>
                </xsl:choose>
              </div>
                    
              <div class="content" id="Shipping">
                      <p><b>Shipping:</b> Usually ships in 5-7 business days in all Domestic US.</p>
                      <p><b>Returns:</b> Your complete satisfaction with our products is guaranteed because we believe in the products we sell. Items may be returned uninstalled, complete, and in their original packaging within 30 days of receipt. Simply follow the return instructions <a href="/t-returns.aspx">here</a>. Claims for damaged or missing items must be reported within 5 days of receipt of your order.</p>
              </div>
                    
            </div>
            </div>
          </div>
              
                
                
                
          <xsl:value-of select="ise:DisplayExpectedShipDate(Counter, ItemCode, ExpShipingDate, ItemType)" disable-output-escaping="yes" />
          <xsl:if test="ItemType = 'Stock' or ItemType = 'Non-Stock'">
                <xsl:value-of select="ise:DisplayStorePickUpShoppingOption(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          </xsl:if>
          <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
          <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <!--<xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />-->
          <xsl:value-of select="ise:ProductAvailabilityNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
          <!--              <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />-->
          <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
          <xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          
                
                  
          
    

      </xsl:template>


   
  
    </xsl:stylesheet>
  </PackageTransform>
</package>



