<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                                                            -->
<!-- http://www.InterpriseSolutions.com														                                          -->
<!-- For details on this license please visit  the product homepage at the URL above.		                    -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="producttabcontrol" debug="false" includeentityhelper="true">
  <XmlHelperPackage name="productattributetable.xml.config" />
  
  <PackageTransform debug="false" >
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise" >
      <xsl:output method="html" indent="yes"/>

      <xsl:template match="/">

        <xsl:variable name="pDescription" select="FIELD/Description"/>
        <xsl:variable name="pSummary" select="FIELD/Summary"/>
        <xsl:variable name="pWarranty" select="FIELD/Warranty"/>
        <xsl:variable name="pItemCode" select="FIELD/ItemCode"/>
        <xsl:variable name="pItemType" select="FIELD/ItemType"/>
        <xsl:variable name="pProductUrl" select="FIELD/ProductUrl"/>
        <xsl:variable name="isShowSocialMediaCommentBox" select="ise:AppConfigBool('ShowSocialMediaCommentBox')"/>
        
        <div id="divProductTabControl">
          <ul id="ulProductTabMenu" class="tab-menu-selected">
            <li>
              <a href="#divTabdescription">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.20')" disable-output-escaping="yes" />
              </a>
            </li>
            <li>
              <a href="#divTabProductSpecification">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.64')" disable-output-escaping="yes" />
              </a>
            </li>
            <li>
              <a href="#divTabProductSummary">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.65')" disable-output-escaping="yes" />
              </a>
            </li>
            <xsl:if test="ItemType != 'Gift Card' and ItemType != 'Gift Certificate'">
              <li>
                <a href="#divTabProductRatings">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.66')" disable-output-escaping="yes" />
                </a>
              </li>
            </xsl:if>
            <li>
              <a href="#divTabProductWarranty">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.67')" disable-output-escaping="yes" />
              </a>
            </li>
            <li>
              <a href="#divTabSocialMediaCommentBox">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.54')" disable-output-escaping="yes" />
              </a>
            </li>
          </ul>
          <div id="divTabdescription">
            <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
          </div>
          <div id="divTabProductSpecification">
            <xsl:value-of select="ise:SetXmlPackageHelperTemplate(0)" disable-output-escaping="yes"/>
            <xsl:value-of select="ise:GetProductAttributeTable($pItemCode)" disable-output-escaping="yes" />
          </div>
          <div id="divTabProductSummary">
            <xsl:value-of select="$pSummary" disable-output-escaping="yes" />
          </div>
          <xsl:if test="ItemType != 'Gift Card' and ItemType != 'Gift Certificate'">
            <div id="divTabProductRatings">
              <xsl:value-of select="ise:ProductRatings($pItemCode)" disable-output-escaping="yes" />
            </div>
          </xsl:if>
          <div id="divTabProductWarranty">
            <xsl:value-of select="$pWarranty" disable-output-escaping="yes" />
          </div>
          <div id="divTabSocialMediaCommentBox">
            <xsl:if test="$isShowSocialMediaCommentBox = 'true'">
              <div class="socialmedia_commentbox">
                <div class="header">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.54')" disable-output-escaping="yes" ></xsl:value-of>
                </div>
                <div id="fb-root"></div>
                <script></script>
                <div class="fb-comments">
                  <xsl:attribute name="data-href">
                    <xsl:value-of select="$pProductUrl" disable-output-escaping="yes" ></xsl:value-of>
                  </xsl:attribute>
                  <xsl:attribute name="data-num-posts">100</xsl:attribute>
                  <xsl:attribute name="data-width">670</xsl:attribute>
                </div>
              </div>
            </xsl:if>
          </div>
        </div>
        <script  type="text/javascript">
          $(document).ready(function(){
              $("#divProductTabControl").tabs();
              hideEmptyTab();
          });
          
          function hideEmptyTab(){
            var mytabs = $('div#divProductTabControl');
            var selected = mytabs.tabs('option', 'selected'); // index of selected tab
            
            mytabs.children('ul').children('li').children('a').each(function(index, elem) {
              if (mytabs.children($(elem).attr('href')).html().trim() === ''){
                $(elem).parent().hide(); // hide the 'li' tab-element
              } else {
              $(elem).parent().show(); // show the 'li' tab-element
               }
            });
          
            // if selected tab is now hidden, select the first visible tab
            if (mytabs.children('ul').children('li').eq(selected).is(':hidden')){
              mytabs.children('ul').children('li').each(function(index, elem) {
                if ($(elem).is(':visible')){
                  mytabs.tabs('select', index); // select this tab
                  return false; // break
                }
              });
            }
          }
        </script>
        <xsl:if test="$isShowSocialMediaCommentBox = 'true'">
            <script type="text/javascript">
              (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
              } (document, 'script', 'facebook-jssdk'));
            </script>
        </xsl:if>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>