<?xml version="1.0" encoding="utf-8"?>
<package displayname="Simple Variant Format" version="2.1" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                  -->
  <!-- http://www.InterpriseSolutions.com														              -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                  -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ManID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/manufacturerid) &gt; 0">
            <xsl:value-of select="/root/QueryString/manufacturerid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ShowFullNameInRightBar">
        <xsl:value-of select="ise:AppConfig('ShowFullNameInRightBar')" disable-output-escaping="yes" />
      </xsl:param>
      <xsl:param name="WholesaleOnlySite">
        <xsl:value-of select="ise:AppConfig('WholesaleOnlySite')" />
      </xsl:param>
      <xsl:template match="/">
        <xsl:apply-templates select="/root/Products/Product" />
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription) > 0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>


        <xsl:choose>
          <xsl:when test="ItemType='Kit'">
            <xsl:call-template name="Kit" />
          </xsl:when>
          <xsl:otherwise>
            <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

            <table border="0" cellpadding="0" cellspacing="4" width="100%">
              <tr>
                <td align="center" valign="top" width="40%">
                  <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
                </td>
                <td valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="right">
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" width="40%">
                        <div class="ProductNameText">
                          <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                        </div>
                        <br />
                        <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                      </td>
                    </tr>
                    <tr valign="top">
                      <td>
                        <div align="left">
                          <xsl:value-of select="ise:Decode($pDescription)" disable-output-escaping="yes" />
                        </div>
                        
                        <br/>
                        <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" />

                        <xsl:if test="ItemType = 'Stock' or ItemType = 'Non-Stock'">
                          <br/>
                          <xsl:value-of select="ise:DisplayStorePickUpShoppingOption(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                        </xsl:if>
                        
                      </td>
                    </tr>
                    <tr valign="top">
                      <td height="10" />
                    </tr>
                    <tr valign="top">
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                          <tr valign="top">
                            <td colspan="2" height="10" />
                          </tr>
                          <xsl:if test="Dimensions!=''">
                            <tr valign="top">
                              <td width="150">
                                <b>
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.14', $LocaleSetting)" disable-output-escaping="yes" />
                                </b>
                              </td>
                              <td>
                                <xsl:value-of select="Dimensions" />
                              </td>
                            </tr>
                          </xsl:if>
                          <xsl:if test="Weight!=''">
                            <tr valign="top">
                              <td width="150">
                                <b>
                                  <xsl:value-of select="ise:StringResource('showproduct.aspx.15', $LocaleSetting)" disable-output-escaping="yes" />
                                </b>
                                <xsl:value-of select='format-number(Weight, "  #.00")'/>
                              </td>
                            </tr>
                            <tr valign="top">
                              <td colspan="2" height="10" />
                            </tr>
                          </xsl:if>
                          <div>
                            <br />
                          </div>
                          <div>
                            <xsl:value-of select="ise:DisplayExpectedShipDate(Counter, ItemCode, ExpShipingDate, ItemType)" disable-output-escaping="yes" />
                          </div>
                          <div>
                            <br />
                          </div>
                          <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                          <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                          <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                          <div class="ship-note">
                            <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
                          </div>
                          <tr valign="top">
                            <td colspan="2" height="20" />
                          </tr>
                          <tr>
                            <td colspan="2" align="left">
                              <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                              <br />
                              <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <br />
                              <div>
                                <xsl:value-of select="Summary" disable-output-escaping="yes" />
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <br />
                              <div>
                                <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <br />
                              <div>
                                <xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                                <xsl:value-of select="ise:ProductAvailabilityNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>         
            </table>

              <table border="0" cellpadding="2" cellspacing="1" width="100%">
                  <tr>
                      <td colspan="2">
                          <div>
                              <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                          <br />
                          <div>
                              <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                    </td>
                  </tr>
              </table>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template name="Kit">
        <xsl:param name="pDisplayName">
          <xsl:value-of select="pDisplayName" />
        </xsl:param>
        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <b>
                  <font color="red">
                    Display of Kit Products is not supported by this XmlPackage.<br />
                    <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                  </font>
                </b>
              </div>
            </td>
          </tr>
        </table>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



