<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Product Compare Table" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
	              SELECT * FROM EcommerceProductInfoView 
                WHERE ItemCode = @ItemCode AND
                Languagecode = @LanguageCode AND 
                WebSiteCode = @WebSiteCode 
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="en-US" validationpattern="" />
    
  </query>

  <query name="Attributes" rowElementName="Attribute" debug="false" >
    <sql>
      <![CDATA[
	              SELECT [Counter],ItemCode,AttributeName,AttributeValue,AttributeGroupCounter,FilterGroupCounter,EntityCode,EntityType FROM InventoryItemAttributeView
                 WHERE ItemCode = @ItemCode AND
                Languagecode = @LanguageCode AND 
                WebSiteCode = @WebSiteCode 
            ]]>
    </sql>

    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="en-US" validationpattern="" />

  </query>

  <query name="AttributeNames" rowElementName="AttributeName" debug="false" >
    <sql>
      <![CDATA[
	              SELECT AttributeName,EntityCode,EntityType FROM InventoryItemAttributeView
                 WHERE ItemCode = @ItemCode AND
                Languagecode = @LanguageCode AND 
                WebSiteCode = @WebSiteCode 
                GROUP BY AttributeName,EntityCode,EntityType
                ORDER BY AttributeName,EntityCode,EntityType 
            ]]>
    </sql>

    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="en-US" validationpattern="" />

  </query>
  
  <PackageTransform>
    
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:variable name="defaultWidth" select="round(80 div 5)"/>
      
      <!-- Main -->
      <xsl:template match="/">
        <br/>
        <xsl:if test="count(/root/Products/Product) = 0 ">
          <div> No attribute was assigned to this item.</div>
        </xsl:if>
        <xsl:if test="count(/root/Products/Product) &gt; 0 ">
              <br/>
              <div><xsl:call-template name="attribute-list" /></div>
        </xsl:if>
        
      </xsl:template>

      <!-- Attribute List-->
      <xsl:template name="attribute-list">
        <table style="border-color: #000000; border-width: 1px; border-style: solid; border-collapse: collapse; width:100%">
        <!--header for attribute-->
          <tr style="height: 20px;" >
            <th style="border-color: #000000; border-width: 1px; border-style: none;  width: 20%; text-align:left;  background-color: Silver; padding: 5px;">Specifications</th>
            <xsl:for-each select="root/Products/Product">
              <th style="border-color: #000000; border-width: 1px; border-style: none;  width: {$defaultWidth}%; background-color: Silver;"></th>
            </xsl:for-each>
          </tr>
          <!--header for attribute-->
          
          <!--list attributes-->
          
            <xsl:for-each select="root/AttributeNames/AttributeName">
              <tr>
              <td style="border-color: #000000; border-width: 1px; border-style: solid;  width: {$defaultWidth}%; text-align:left; padding: 5px;" >
               <b> <xsl:value-of select="AttributeName"/></b>
              </td>
                <xsl:variable name="AttributeNameFilter" select="AttributeName"/>
                <xsl:variable name="EntityCodeFilter" select="EntityCode"/>
                  <xsl:call-template name="CreateAttributeList">
                    <xsl:with-param name="attributefilter" select="$AttributeNameFilter"/>
                    <xsl:with-param name="entityCodeFilter" select="$EntityCodeFilter"/>
                    <xsl:with-param name="arrProduct" select="../../../root/Products/Product"/>
                    <xsl:with-param name="arrAttribute" select="../../../root/Attributes/Attribute"/>
                  </xsl:call-template>
              </tr>  
            </xsl:for-each>
          
          <!--list attributes-->
                  
        </table>
      </xsl:template>
      
      <!--CreateAttributeList-->
      <xsl:template name="CreateAttributeList">
        <xsl:param name="attributefilter"/>
        <xsl:param name="entityCodeFilter"/>
        <xsl:param name="arrProduct"/>
        <xsl:param name="arrAttribute"/>
        
        <xsl:for-each select="$arrProduct">
          <xsl:variable name="ItemCodeFilter" select="ItemCode"/>
          
          <td style="border-color: #000000; border-width: 1px; border-style: solid;  width: {$defaultWidth}%; text-align:center; padding: 1px;">
            <xsl:for-each select="$arrAttribute">
              <xsl:if test="$ItemCodeFilter = ItemCode">
                <xsl:if test="$entityCodeFilter = EntityCode">
                  <xsl:if test="$attributefilter = AttributeName">
                    <span><xsl:value-of select="AttributeValue"/></span><br/>
                  </xsl:if>
                </xsl:if>
              </xsl:if>
            </xsl:for-each>
          </td>

        </xsl:for-each>
      
      </xsl:template>
      
      </xsl:stylesheet>
  </PackageTransform>


</package>






