<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Matrix Product" includeentityhelper="true" debug="false">
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pageSize">10</xsl:variable>
      <xsl:variable name="imageSize">medium</xsl:variable>
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        <xsl:comment>Licensed by Interprise Solutions.</xsl:comment>
        <xsl:choose>
          <xsl:when test="count(root/Products/Product) &gt; 1">
            <xsl:for-each select="/root/Products/Product[position()=1]">
              <xsl:call-template name="MultiVariant" />
            </xsl:for-each>
          </xsl:when>
          <xsl:otherwise>
            <xsl:apply-templates select="/root/Products/Product" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:variable name="MatrixItemCounter">${MatrixItemCounter}</xsl:variable>
        <xsl:variable name="MatrixItemCode">${MatrixItemCode}</xsl:variable>

        <xsl:choose>
          <xsl:when test="IsMatrix='0'">
            <xsl:call-template name="otherItems" />
          </xsl:when>
          <xsl:otherwise>
                
            <div class="error float-left normal-font-style" id="errorSummary"></div>
            <div class="clear-both height-12" id="error-summary-clear"></div>
            
            <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
            <div style="float:right;position:relative;top:0;right:0;">
            <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
            </div>
            <div id="matrix-page-item-name">
              <div class="ProductNameText"><xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" /></div>
              <div style="clear:both"></div>
              <div id="p-matrix-description">
                <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
              </div>
            </div>

            <div class="ship-note">
              <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
            </div>
            <div class="clear-both"></div>
            
            <div id="matrix-page-product-share-control">
              <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
            </div>
            <div class="clear-both height-12"></div>
            <div id="matrix-item-listing-wrapper">
              
                <div class="one-page-sections-head">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.59')" disable-output-escaping="yes" />
                </div>
                <div id="items-to-be-shipped-place-holder">
                  
                  <!-- matrix group items listing place holder starts here :-->
                  <div id="matrix-items-wrapper"></div>
                  <!-- matrix group items listing place holder ends here. -->
                  
                 <!-- matrix group page status and viewing controls starts here:-->
                  <div id="matrix-items-bottom-controls-wrapper">
                    
                      <div id="matrix-page-loading-indicator"></div>
                      <div class='clear-both height-5'></div>
                    
                      <div id="page-items-place-holder" class="float-left"></div>
                      <div id="view-selector-wrapper" class="float-left">
                         <xsl:value-of select="ise:StringResource('showproduct.aspx.81')" disable-output-escaping="yes" />
                          <select id="page-size" class="light-style-input">
                            <option class="page-size-option" id="page-size-all">
                                <xsl:value-of select="ise:StringResource('showproduct.aspx.83')" disable-output-escaping="yes" />
                            </option>
                            <option class="page-size-option" value="5">5</option>
                            <option class="page-size-option" SELECTED="SELECTED" value="{$pageSize}"><xsl:value-of select="$pageSize" disable-output-escaping="yes" /></option>
                            <option class="page-size-option" value="20">20</option>
                            <option class="page-size-option" value="30">30</option>
                            <option class="page-size-option" value="40">40</option>
                            <option class="page-size-option" value="50">50</option>
                            <option class="page-size-option" value="100">100</option>
                        </select>
                         <xsl:value-of select="ise:StringResource('showproduct.aspx.82')" disable-output-escaping="yes" />
                      </div>
                    
                      <div class='clear-both'></div>
                    
                      <div id="page-view-more-link">
                        <a href="javascript:void(1)" id="view-more" data-pageNumber="2">
                          <xsl:value-of select="ise:StringResource('showproduct.aspx.62')" disable-output-escaping="yes" /></a> 
                      </div>
                      <div class='clear-both height-5'></div>
                  </div>
                  <!-- matrix group page status and viewing controls ends here. -->
                  
              </div>
              <div class="clear-both height-22"></div>
              <div class="listing-border-bottom"></div>
            </div>
             
            <div class="clear-both"></div>
              
            <table border="0" cellpadding="2" cellspacing="1" width="100%">
                  <tr>
                      <td colspan="2">
                          <div>
                              <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                          <br />
                          <div>
                              <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetJSPopupRoutines()" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                        <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                      </td>
                  </tr>
              </table>
          
            <script type="text/javascript">
              <!-- reference path : /component/matrix-options/matrixoptions-plugin.js -->
              $(window).load(function(){
                var basePlugin = new jqueryBasePlugin();
                basePlugin.downloadPlugin('components/matrix-listing/setup.js', function () {
               
                    var loader = new matrixlistingPluginLoader();
                    loader.start(function (config) {
                      config.itemCode = '<xsl:value-of select="ItemCode" disable-output-escaping="yes"/>';
                      config.pageSize = '<xsl:value-of select="$pageSize" disable-output-escaping="yes"/>';
                      config.imageSize = '<xsl:value-of select="$imageSize" disable-output-escaping="yes"/>';
                      config.useImagesMultiNav = <xsl:value-of select="ise:AppConfigBool('UseImagesForMultiNav')" disable-output-escaping="yes"/>;
                      config.useRolloverMultiNav = <xsl:value-of select="ise:AppConfigBool('UseRolloverForMultiNav')" disable-output-escaping="yes"/>;
                      config.hideOutOfStock = <xsl:value-of select="ise:AppConfigBool('HideOutOfStockProducts')" disable-output-escaping="yes"/>;
                      config.hideUnitMeasure = <xsl:value-of select="ise:AppConfigBool('HideUnitMeasure')" disable-output-escaping="yes"/>;
                      config.addToCartText = '<xsl:value-of select="ise:StringResource('showproduct.aspx.58')" disable-output-escaping="yes" />';
                      config.addToWishListText = '<xsl:value-of select="ise:StringResource('showproduct.aspx.69')" disable-output-escaping="yes" />';
                      config.addToCartAction = '<xsl:value-of select="ise:AppConfig('AddToCartAction')" disable-output-escaping="yes"/>';
                      config.unitMeasureText =  '<xsl:value-of select="ise:StringResource('showproduct.aspx.32')" disable-output-escaping="yes" />';
                      config.quantityText =  '<xsl:value-of select="ise:StringResource('showproduct.aspx.31')" disable-output-escaping="yes" />';
                      config.callToOrderText =  '<xsl:value-of select="ise:StringResource('common.cs.20')" disable-output-escaping="yes" />';
                      config.messages = {
                          ADDING_ITEM : '<xsl:value-of select="ise:StringResource('showproduct.aspx.70')" disable-output-escaping="yes" />',
                          INVALID_QUANTITY_FORMAT : '<xsl:value-of select="ise:StringResource('showproduct.aspx.71')" disable-output-escaping="yes" />',
                          INVALID_QUANTITY_ZERO : '<xsl:value-of select="ise:StringResource('showproduct.aspx.72')" disable-output-escaping="yes" />',
                          NO_ITEM_SELECTED : '<xsl:value-of select="ise:StringResource('showproduct.aspx.56')" disable-output-escaping="yes" />',
                          UNDEFINED_UNIT_MEASURE_CODE : '<xsl:value-of select="ise:StringResource('showproduct.aspx.75')" disable-output-escaping="yes" />',
                          ITEMS_ADDED_INDICATOR: '<xsl:value-of select="ise:StringResource('showproduct.aspx.79')" disable-output-escaping="yes" />',
                          ITEMS_LOADING_INDICATOR: '<xsl:value-of select="ise:StringResource('showproduct.aspx.80')" disable-output-escaping="yes" />',
                          
                      }; 

                      $.fn.MatrixListing.setup(config);
                      
                    });
                });
              
              });
              </script>
              
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template name="otherItems">
        <xsl:param name="pDisplayName">
          <xsl:value-of select="pDisplayName" />
        </xsl:param>
        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType, FreeStock)" disable-output-escaping="yes" />
        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <b>
                  <font color="red">
                    This XMLPackage is designed to work with Matrix products only.<br />
                    <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                  </font>
                </b>
              </div>
            </td>
          </tr>
        </table>
      </xsl:template>

      <xsl:template name="MultiVariant">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="Name" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml)=0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(ProductID, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <b>
                  <font color="red">
                    Display of multi-variant products is not supported by this XmlPackage.<br />
                    <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                  </font>
                </b>
              </div>
            </td>
          </tr>
        </table>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>