<?xml version="1.0" encoding="UTF-8"?>
<package version="2.1" displayname="Variants In Right Bar" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  <query name="Variants" rowElementName="Variant">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode, @IsShowOnlyMatrixItems = 1
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <XmlHelperPackage name="helper.product.xml.config" />
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pProductUrl">
        <xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/>
      </xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="ManID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/manufacturerid) &gt; 0">
            <xsl:value-of select="/root/QueryString/manufacturerid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        <xsl:comment>Licensed by Interprise Solutions.</xsl:comment>
        <xsl:choose>
          <xsl:when test="count(root/Variants/Variant) &gt; 1">
            <xsl:for-each select="/root/Products/Product[1]">
              <xsl:call-template name="MultiVariant" />
            </xsl:for-each>
          </xsl:when>
          <xsl:otherwise>
            <xsl:apply-templates select="/root/Products/Product" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
      <xsl:template name="MultiVariant">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml)=0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                      <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <xsl:value-of select="ise:Decode($pDescription)" disable-output-escaping="yes" />
              </div>
              <div>
                <br />
              </div>
              <!-- list variants now -->
              <xsl:for-each select="/root/Variants/Variant">
                <xsl:call-template name="Variant" />
              </xsl:for-each>
            </td>
          </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                        </div>
                        <br />
                        <div>
                            <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                    </td>
                </tr>
        </table>

         
      </xsl:template>
      <xsl:template name="Variant">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="Name" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="vName">
          <xsl:choose>
            <xsl:when test="count(VariantName/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="VariantName/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
              <xsl:value-of select="VariantName/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantName/ml)=0">
              <xsl:value-of select="VariantName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="vDescription">
          <xsl:choose>
            <xsl:when test="count(VariantDescription/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="VariantDescription/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantDescription/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="VariantDescription/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(VariantDescription/ml)=0">
              <xsl:value-of select="VariantDescription" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="/root/Products/Product/SalesPromptName" />
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>

        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

        <div>
          <b>
            <xsl:value-of select="$vName" disable-output-escaping="yes" />
          </b>
        </div>
        <div>
          <br />
        </div>
        <table>
          <tr>
            <td align="left" colWidth="2">
              <b>
                <xsl:value-of select="ise:Encode($pDisplayName)" />
              </b>
            </td>
          </tr>
          <xsl:choose>
            <xsl:when test="Dimensions!=''">
              <tr>
                <td align="left">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.14')" disable-output-escaping="yes" />
                </td>
                <td align="left">
                  <xsl:value-of select="Dimensions" />
                </td>
              </tr>
            </xsl:when>
          </xsl:choose>
          <xsl:choose>
            <xsl:when test="Weight!=''">
              <tr>
                <td align="left">
                  <xsl:value-of select="ise:StringResource('showproduct.aspx.15')" disable-output-escaping="yes" />
                </td>
                <td align="left">
                  <xsl:value-of select="Weight" />
                </td>
              </tr>
            </xsl:when>
          </xsl:choose>
          <xsl:if test="ise:AppConfigBool('ShowInventoryTable')='true'">
            <tr>
              <td align="left">
                <xsl:value-of select="ise:StringResource('showproduct.aspx.25')" disable-output-escaping="yes" />
              </td>
              <td align="left">
                <xsl:value-of select="ise:ShowInventoryTable(ItemCode, VariantID)" />
              </td>
            </tr>
          </xsl:if>
          <tr>
            <td colspan="2">
              <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
              <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="ship-note">
                <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
              </div>
            </td>
          </tr>
        </table>
        <div>
          <br />
        </div>
        <div>
          <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
          <br />
          <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
        </div>
        <div>
          <br />
        </div>
        <xsl:choose>
          <xsl:when test="position()!=last()">
            <hr size="1" color="#CCCCCC" />
          </xsl:when>
        </xsl:choose>
      </xsl:template>
      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:choose>
            <xsl:when test="count(/root/Products/Product/SalesPromptName/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="/root/Products/Product/SalesPromptName/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(/root/Products/Product/SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="/root/Products/Product/SalesPromptName/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(/root/Products/Product/SalesPromptName/ml)=0">
              <xsl:value-of select="/root/Products/Product/SalesPromptName" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <xsl:choose>
          <xsl:when test="IsAKit=1">
            <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
            <table border="0" width="100%" cellpadding="4" cellspacing="0">
              <tr>
                <td align="left" valign="top">
                  <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
                </td>
                <td align="left" valign="top" width="100%">
                  <div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="100%" align="left" valign="middle">
                          <span class="ProductNameText">
                            <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                          </span>
                        </td>
                        <td align="right" valign="Middle">
                          <nobr>
                            <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                          </nobr>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <br />
                  </div>
                  <div>
                    <b>
                      <font color="red">
                        Display of Kit Products is not supported by this XmlPackage.<br />
                        <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                      </font>
                    </b>
                  </div>
                </td>
              </tr>
            </table>
          </xsl:when>
          <xsl:otherwise>

            <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />

            <table border="0" width="100%" cellpadding="4" cellspacing="0">
              <tr>
                <td align="left" valign="top">
                  <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
                </td>
                <td align="left" valign="top" width="100%">
                  <div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="100%" align="left" valign="middle">
                          <span class="ProductNameText">
                            <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                          </span>
                          <br />
                          <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
                        </td>
                        <td align="right" valign="Middle">
                          <nobr>
                            <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                          </nobr>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <br />
                  </div>
                  <div>
                    <xsl:value-of select="ise:Decode($pDescription)" disable-output-escaping="yes" />
                  </div>
                  <div>
                    <br />
                  </div>
                  <table>
                    <xsl:choose>
                      <xsl:when test="Dimensions!=''">
                        <tr>
                          <td align="left">
                            <xsl:value-of select="ise:StringResource('showproduct.aspx.14')" disable-output-escaping="yes" />
                          </td>
                          <td align="left">
                            <xsl:value-of select="Dimensions" />
                          </td>
                        </tr>
                      </xsl:when>
                    </xsl:choose>
                    
                    <br />
                    <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" />
                    
                    <xsl:choose>
                      <xsl:when test="Weight!=''">
                        <tr>
                          <td align="left">
                            <xsl:value-of select="ise:StringResource('showproduct.aspx.15')" disable-output-escaping="yes" />
                          </td>
                          <td align="left">
                            <xsl:value-of select="Weight" />
                          </td>
                        </tr>
                      </xsl:when>
                    </xsl:choose>
                    <xsl:if test="ise:AppConfigBool('ShowInventoryTable')='true'">
                      <tr>
                        <td align="left">
                          <xsl:value-of select="ise:StringResource('showproduct.aspx.25')" disable-output-escaping="yes" />
                        </td>
                        <td align="left">
                          <xsl:value-of select="ise:ShowInventoryTable(ItemCode, VariantID)" />
                        </td>
                      </tr>
                    </xsl:if>
                    <tr>
                      <td colspan="2">
                        <br />
                        <xsl:value-of select="ise:DisplayPrice(Counter, ItemCode)" disable-output-escaping="yes" />
                        <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                        <xsl:value-of select="ise:ProductPriceDropNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                      </td>
                    </tr>
                  </table>
                  <div class="ship-note">
                    <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
                  </div>
                  <div>
                    <br />
                  </div>

                  <xsl:if test="ItemType = 'Stock' or ItemType = 'Non-Stock' or ItemType = 'Kit' or ItemType = 'Matrix'">
                    <br />
                    <xsl:value-of select="ise:DisplayStorePickUpShoppingOption(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                  </xsl:if>

                  <div>
                    <xsl:value-of select="ise:DisplayPricingLevel(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                    <br />
                    <xsl:value-of select="ise:DisplayAddToCartForm(Counter, ItemCode, ItemType, 'h')" disable-output-escaping="yes" />
                  </div>
                  <br />
                  <div>
                    <xsl:value-of select="ise:DisplayStockHint(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                    <xsl:value-of select="ise:ProductAvailabilityNotificationControl(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                  </div>
                  <br />
                  <div>
                    <xsl:value-of select="Summary" disable-output-escaping="yes" />
                  </div>
                  <br />
                  <div>
                    <xsl:value-of select="Warranty" disable-output-escaping="yes" />
                  </div>
                </td>
              </tr>
                    <tr>
                        <td colspan="2">
                            <div>
                                <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                            </div>
                            <br />
                            <div>
                                <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                        </td>
                    </tr>
            </table>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>



