<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Matrix Product" includeentityhelper="true" debug="false">
  
  <query name="Products" rowElementName="Product">
    <sql>
      <![CDATA[
                exec eCommerceProductInfo @ItemCode, @LanguageCode, @UserCode, @WebSiteCode, @CurrentDate, @ProductFilterID, @ContactCode
            ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LocaleSetting" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@UserCode" paramtype="runtime" requestparamname="UserCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@CurrentDate" paramtype="runtime" requestparamname="CurrentDateTime" sqlDataType="datetime" defvalue="0" validationpattern="" />
    <queryparam paramname="@ProductFilterID" paramtype="runtime" requestparamname="ProductFilterID" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>

  <query name="MatrixItems" rowElementName="MatrixItems">
    <sql>
      <![CDATA[
             exec EcommerceGetMatrixItems '', @ItemCode, 0, 1, @LanguageCode, @WebSiteCode, @ContactCode
        ]]>
    </sql>
    <queryparam paramname="@ItemCode" paramtype="runtime" requestparamname="ItemCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="varchar" defvalue="" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
    <queryparam paramname="@ContactCode" paramtype="runtime" requestparamname="ContactCode" sqlDataType="nvarchar" defvalue="" validationpattern="" />
  </query>
  
  <XmlHelperPackage name="helper.product.xml.config" />
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
      <xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
      <xsl:param name="XmlPackageName" select="/root/System/XmlPackageName" />
      <xsl:variable name="pProductUrl"><xsl:value-of select="concat(/root/System/StoreUrl,/root/System/RequestedPage)"/></xsl:variable>
      <xsl:param name="SecID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/departmentid) &gt; 0">
            <xsl:value-of select="/root/QueryString/departmentid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:param name="CatID">
        <xsl:choose>
          <xsl:when test="count(/root/QueryString/categoryid) &gt; 0">
            <xsl:value-of select="/root/QueryString/categoryid" />
          </xsl:when>
          <xsl:otherwise>0</xsl:otherwise>
        </xsl:choose>
      </xsl:param>
      <xsl:template match="/">
        <xsl:comment>Licensed by Interprise Solutions.</xsl:comment>
        <xsl:choose>
          <xsl:when test="count(root/Products/Product) &gt; 1">
            <xsl:for-each select="/root/Products/Product[position()=1]">
              <xsl:call-template name="MultiVariant" />
            </xsl:for-each>
          </xsl:when>
          <xsl:otherwise>
            <xsl:apply-templates select="/root/Products/Product" />
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template match="Product">
        <xsl:param name="pName">
          <xsl:value-of select="ItemName" />
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="string-length(WebDescription)>0">
              <xsl:value-of select="WebDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemDescription" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pSalesPromptName">
          <xsl:value-of select="SalesPromptName" />
        </xsl:param>
        <xsl:param name="HidePriceUntilCart">
          <xsl:value-of select="HidePriceUntilCart"/>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
        </xsl:choose>
        </xsl:variable>
        <xsl:variable name="defaultQuantityValue">
          <xsl:choose>
            <xsl:when test="ise:AppConfig('DefaultAddToCartQuantity')>0">
                <xsl:value-of select="ise:AppConfig('DefaultAddToCartQuantity')" />
            </xsl:when>
            <xsl:otherwise>1</xsl:otherwise>
          </xsl:choose>
        </xsl:variable>

        
        <xsl:choose>
          <xsl:when test="IsMatrix='0'">
            <xsl:call-template name="otherItems" />
          </xsl:when>
          <xsl:otherwise>
             <div id="divErrorMessage" class="display-none"></div>
              <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
              <div id="divMatrixOptionsSelectionNavLinks">
                <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
              </div>
              <div id="matrix-page-item-name">
                <div class="ProductNameText"><xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" /></div>
                <div class="clear-both"></div>
                <div id="p-matrix-description">
                  <xsl:value-of select="$pDescription" disable-output-escaping="yes" />
                </div>
              </div>

            <div class="ship-note">
              <xsl:value-of select="ShipNote" disable-output-escaping="yes" />
            </div>
            
             <div class="clear-both"></div>
            
             <div id="matrix-page-product-share-control">
              <xsl:value-of select="ise:ProductShareControl(Counter,$CatID,$pDisplayName,$pProductUrl,ItemDescription)" disable-output-escaping="yes" />
             </div>
             <div class="clear-both"></div>
             <div class="clear-both height-12"></div>

              <div id="p-matrix-options-wrapper">
                <div id="matrix-wrapper-left">

                  <div id="matrix-options-listing" data-groupCounter="{Counter}">
                    <div class="section-header section-header-top">Items</div>
               
                      <table class="table-matrix-selections">
                        <thead class="thead-matrix-selections">
                          <tr>
                            <th class="th-matrix-selections-description-col">
                              <xsl:value-of select="ise:StringResource('showproduct.aspx.20')" disable-output-escaping="yes" />
                            </th>
                            <th class="th-matrix-selections-price-col">
                              <xsl:if test="$HidePriceUntilCart='False' or $HidePriceUntilCart='false'">
                                <xsl:value-of select="ise:StringResource('showproduct.aspx.23')" disable-output-escaping="yes" />
                              </xsl:if>
                            </th>
                            <th class="th-matrix-selections-stock-status-col">
                              <xsl:value-of select="ise:StringResource('showproduct.aspx.55')" disable-output-escaping="yes" />
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <xsl:apply-templates select="/root/MatrixItems/MatrixItems" />
                        </tbody>
                      </table>

          
                    <div class="clear-both"></div>
                  </div>

                </div>

                <div id="matrix-wrapper-right">

                  <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />

                  <div class="cart-new-line"></div>
                  
                  <div id="cart-buttons">
  
                    <div class="cart-new-line"></div>

                    <div id="cart-quantity-matrix">
                      <div id="quantity-label">
                          <xsl:value-of select="ise:StringResource('showproduct.aspx.73')" disable-output-escaping="yes" />:
                      </div>
                      <div style="float:left">
                        <input type="text" id="quantity" class="input-box-quantity-matrix-selections" value="{$defaultQuantityValue}" name="Quantity" size="10" maxlength="4" align="right"/>
                      </div>
                    </div>
                     <xsl:if test="ise:AppConfigBool('HideUnitMeasure') = 'false'">
                        <div class="cart-new-line"></div>
                        <div id="cart-unit-measure-matrix">
                          <div id="uom-label">
                            <xsl:value-of select="ise:StringResource('showproduct.aspx.74')" disable-output-escaping="yes" />:
                          </div>
                            <div id="uom-container">---</div> 
                        </div>
                     </xsl:if>
                    <div class="cart-new-line"></div>
                    
                    <div id="xmlMatrixOptionsButtonControlsWrapper">
                      <a href="javascript:void(1);" id="btnAddMatrixItemToCart" class="site-button">
                         <xsl:value-of select="ise:StringResource('showproduct.aspx.58')" disable-output-escaping="yes" />
                      </a>
                      <a href="javascript:void(1);" id="btnAddMatrixItemToWishlist" class="site-button">
                        <xsl:value-of select="ise:StringResource('showproduct.aspx.69')" disable-output-escaping="yes" />
                      </a>     
                    </div>
                    <div id="xmlMatrixOptionsCallToOrderMessage" class="display-none">
                      <xsl:value-of select="ise:StringResource('common.cs.20')" disable-output-escaping="yes" />
                    </div>
                    
                    <div class="cart-new-line"></div>

                  </div>

                </div>
                
              </div>

            <div class="clr"></div>

              <table border="0" cellpadding="2" cellspacing="1" width="100%">
                  <tr>
                      <td colspan="2">
                          <div>
                              <xsl:value-of select="ise:GetSubstituteProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                          <br />
                          <div>
                              <xsl:value-of select="ise:GetAccessoryProducts(ItemCode)" disable-output-escaping="yes" />
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetJSPopupRoutines()" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoPurchasedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:GetAlsoViewedProducts(ItemCode)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:ProductReviews(Counter, ItemCode, ItemType)" disable-output-escaping="yes" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <xsl:value-of select="ise:ProductCommentsControl($pProductUrl)" disable-output-escaping="yes" />
                      </td>
                  </tr>
              </table>
            <script type="text/javascript">
            <!-- reference path : /component/matrix-options/matrixoptions-plugin.js -->
            $(window).load(function(){
              var basePlugin = new jqueryBasePlugin();
              basePlugin.downloadPlugin('components/matrix-options/setup.js', function () {
               
                  var loader = new matrixoptionsPluginLoader();
                  loader.start(function (config) {
                      
                    config.matrixGroupCounter =  <xsl:value-of select="Counter" disable-output-escaping="yes"/>;
                    config.product = ise.Products.ProductController;
                    config.productUrl = '<xsl:value-of select="$pProductUrl" disable-output-escaping="yes"/>';
                    config.itemCounterOnQueryString = '<xsl:value-of select="/root/QueryString/matrixid"/>';
                    config.hideUnitMeasure = <xsl:value-of select="ise:AppConfigBool('HideUnitMeasure')" disable-output-escaping="yes"/>;
                    config.addToCartText = '<xsl:value-of select="ise:StringResource('showproduct.aspx.58')" disable-output-escaping="yes" />';
                    config.addToWishListText = '<xsl:value-of select="ise:StringResource('showproduct.aspx.69')" disable-output-escaping="yes" />';
                    config.addToCartAction = '<xsl:value-of select="ise:AppConfig('AddToCartAction')" disable-output-escaping="yes"/>';
                    config.messages = {
                        ADDING_ITEM : '<xsl:value-of select="ise:StringResource('showproduct.aspx.70')" disable-output-escaping="yes" />',
                        INVALID_QUANTITY_FORMAT : '<xsl:value-of select="ise:StringResource('showproduct.aspx.71')" disable-output-escaping="yes" />',
                        INVALID_QUANTITY_ZERO : '<xsl:value-of select="ise:StringResource('showproduct.aspx.72')" disable-output-escaping="yes" />',
                        NO_ITEM_SELECTED : '<xsl:value-of select="ise:StringResource('showproduct.aspx.56')" disable-output-escaping="yes" />',
                        UNDEFINED_UNIT_MEASURE_CODE : '<xsl:value-of select="ise:StringResource('showproduct.aspx.75')" disable-output-escaping="yes" />'
                    }
                        
                    $.fn.MatrixOptions.setup(config);
                  });
              });
              
            });
            </script>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>

      <xsl:template name="otherItems">
        <xsl:param name="pDisplayName">
          <xsl:value-of select="pDisplayName" />
        </xsl:param>
        <xsl:value-of select="ise:RegisterProduct(Counter, ItemCode, ItemType, FreeStock)" disable-output-escaping="yes" />
        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(Counter, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <b>
                  <font color="red">
                    This XMLPackage is designed to work with Matrix products only.<br />
                    <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                  </font>
                </b>
              </div>
            </td>
          </tr>
        </table>
      </xsl:template>

      <xsl:template name="MultiVariant">
        <xsl:param name="pName">
          <xsl:choose>
            <xsl:when test="count(Name/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Name/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml/locale[@name=$WebConfigLocaleSetting]) !=0 ">
              <xsl:value-of select="Name/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Name/ml)=0">
              <xsl:value-of select="Name" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:param name="pDescription">
          <xsl:choose>
            <xsl:when test="count(Description/ml/locale[@name=$LocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$LocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml/locale[@name=$WebConfigLocaleSetting])!=0">
              <xsl:value-of select="Description/ml/locale[@name=$WebConfigLocaleSetting]" />
            </xsl:when>
            <xsl:when test="count(Description/ml)=0">
              <xsl:value-of select="Description" />
            </xsl:when>
          </xsl:choose>
        </xsl:param>
        <xsl:variable name="pDisplayName">
          <xsl:choose>
            <xsl:when test="string-length(ItemDescription)>0">
              <xsl:value-of select="ItemDescription" />
            </xsl:when>
            <xsl:otherwise>
              <xsl:value-of select="ItemName" />
            </xsl:otherwise>
          </xsl:choose>
        </xsl:variable>
        <table border="0" width="100%" cellpadding="4" cellspacing="0">
          <tr>
            <td align="left" valign="top">
              <xsl:value-of select="ise:DisplayProductImage(Counter, ItemCode, ItemType, SEAltText)" disable-output-escaping="yes" />
            </td>
            <td align="left" valign="top" width="100%">
              <div>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" align="left" valign="middle">
                      <span class="ProductNameText">
                        <xsl:value-of select="ise:Encode($pDisplayName)" disable-output-escaping="yes" />
                      </span>
                    </td>
                    <td align="right" valign="Middle">
                      <nobr>
                        <xsl:value-of select="ise:ProductNavLinks(ProductID, /root/Runtime/EntityCode, /root/Runtime/EntityName, /root/EntityHelpers/*[name()=/root/Runtime/EntityName]/descendant::Entity[EntityID=/root/Runtime/EntityID]/SEName, 0, 1, 1)" disable-output-escaping="yes" />
                      </nobr>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <br />
              </div>
              <div>
                <b>
                  <font color="red">
                    Display of multi-variant products is not supported by this XmlPackage.<br />
                    <br />XmlPackage=<xsl:value-of select="$XmlPackageName" />
                  </font>
                </b>
              </div>
            </td>
          </tr>
        </table>
      </xsl:template>
      <xsl:template match="MatrixItems">
        <xsl:param name="Counter">
          <xsl:value-of select="Counter" />
        </xsl:param>
        <xsl:param name="ItemCode">
          <xsl:value-of select="MatrixItemCode" />
        </xsl:param>
        <xsl:param name="Name">
          <xsl:value-of select="MatrixItemName" />
        </xsl:param>
        <xsl:param name="Description">
          <xsl:value-of select="MatrixItemDescription" />
        </xsl:param>
        <xsl:param name="ShowActualInventory">
          <xsl:value-of select="ise:AppConfigBool('ShowActualInventory')" />
        </xsl:param>
        <xsl:param name="HideOutOfStockProducts">
          <xsl:value-of select="ise:AppConfigBool('HideOutOfStockProducts')" />
        </xsl:param>
        <xsl:param name="LimitCartToQuantityOnHand">
          <xsl:value-of select="ise:AppConfigBool('Inventory.LimitCartToQuantityOnHand')" />
        </xsl:param>
        <xsl:param name="HidePriceUntilCart">
          <xsl:value-of select="HidePriceUntilCart"/>
        </xsl:param>
        
        <xsl:variable name="Stock">
          <xsl:value-of select="ise:GetFreeStock(MatrixItemCode)"/>
        </xsl:variable>
 
        
          <tr class="tr-matrix-selections-row" data-counter="{$Counter}" data-itemCode="{$ItemCode}" data-stock="{$Stock}">
            <xsl:choose>
              <xsl:when test="$Stock=0 and $LimitCartToQuantityOnHand='true' and $HideOutOfStockProducts='false'">
                <xsl:attribute name="class">matrix-outofstock-options</xsl:attribute>
              </xsl:when>
              <xsl:when test="$Stock=0 and $HideOutOfStockProducts='true'">
                <xsl:attribute name="class">matrix-hidden-options</xsl:attribute>
              </xsl:when>
              <xsl:otherwise>
                <xsl:attribute name="class">matrix-options</xsl:attribute>
              </xsl:otherwise>
            </xsl:choose>

            <td class="td-matrix-selections-description-col">
              <xsl:choose>
                <xsl:when test="$Stock &gt; 0 or $LimitCartToQuantityOnHand='false'">
                  <input type="radio" id="inputRadio{$Counter}" name="inputMatrixRadioOptions" class="input-radio-matrix-options"/>
                </xsl:when>
                <xsl:otherwise><span class="span-no-radio-matrix-options"></span></xsl:otherwise>
              </xsl:choose>
              <xsl:value-of select="$Description" disable-output-escaping="yes"/>
              <xsl:value-of select="ise:RegisterProduct(Counter, MatrixItemCode, ItemType)" disable-output-escaping="yes" />
              <xsl:value-of select="ise:ProductUPCCode(Counter)" disable-output-escaping="yes" /><br />
              <xsl:value-of select="ise:ProductLoyaltyPoints(Counter, MatrixItemCode, ItemType, true())" disable-output-escaping="yes" />
            </td>
            <td class="td-matrix-selections-price-col" id="tdPrice{MatrixItemCode}">
              <xsl:if test="$HidePriceUntilCart='False' or $HidePriceUntilCart='false'">
                  <xsl:value-of select="ise:GetProductPrice(MatrixItemCode, 'true')" disable-output-escaping="yes"/>
              </xsl:if>
            </td>
            <td class="td-matrix-selections-stock-status-col">
              <xsl:choose>
                <xsl:when test="$ShowActualInventory='true'">
                  <xsl:value-of select="$Stock"/>
                </xsl:when>
                <xsl:otherwise>
                  <xsl:choose>
                    <xsl:when test="$Stock>0">
                      <img  src= 'images/instock.png'/>
                    </xsl:when>
                    <xsl:otherwise>
                      <img src= 'images/outofstock.png'/>
                    </xsl:otherwise>
                  </xsl:choose>

                </xsl:otherwise>
              </xsl:choose>
            </td>
          </tr>

      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>