<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Search Section" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                -->
  <!-- http://www.InterpriseSolutions.com														                -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">

        <div class="search">
        <form id="frmSearch" name="SearchForm" method="GET" action="search.aspx">
          <input type="text" placeholder="{ise:StringResourceTextOnly('search.aspx.1')}" name="SearchTerm" id="txtSearch" autocomplete="off" class="txt" />
          <a href="javacript:void(0)" id="btnSearch">
            <i class="icon-search"></i>
          </a>
        </form>
        <script>
            
          $("#btnSearch").click(function(e) {
          
            e.preventDefault();
            
            var minSearchKey = <xsl:value-of select="ise:AppConfig('MinSearchStringLength')"></xsl:value-of>;
            var currentSearchKey = $("#txtSearch").val().length;
            var invalidLengthMsg = '<xsl:value-of select="ise:StrFormatStringresourceTextOnly('search.aspx.2', ise:AppConfig('MinSearchStringLength'), ',')" disable-output-escaping="yes" />';

            if(currentSearchKey >= minSearchKey){
                var form = $(this).closest("form")
                form.submit();
            }
            else {
              alert(invalidLengthMsg);
            }
            
          });

        </script>
        </div>

      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>