<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="topmenu" debug="false" includeentityhelper="false">
  <PackageTransform debug="false" >
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:msxsl="urn:schemas-microsoft-com:xslt" exclude-result-prefixes="msxsl" >
      <xsl:output method="html" indent="yes"/>

      <xsl:template match="/" >
        <xsl:param name="skinid" select="FIELD/SKIN_SETUP/SKIN_ID" />
        <xsl:param name="static_caption_root" select="FIELD/STATIC_CAPTION" />
        <ul id="nav">
          <li>
            <a href="default.aspx" class="static">(!menu.Home!)</a>
          </li>
          <li>
            <a href="#" class="static nonclickable" >(!menu.Categories!)</a>
            <ul>
              <xsl:for-each select="FIELD/CATEGORY/MENU_ITEM">
                <xsl:value-of select="FIELD/SKIN_SETUP/SKIN_ID" />
                <xsl:apply-templates select="current()" >
                  <xsl:with-param name="item" select="current()" />
                  <xsl:with-param name="skinid" select="$skinid" />
                </xsl:apply-templates>
              </xsl:for-each>
            </ul>
          </li>
          <li>
            <a href="#" class="static nonclickable" >(!menu.Sections!)</a>
            <ul>
              <xsl:for-each select="FIELD/DEPARTMENT/MENU_ITEM">
                <xsl:apply-templates select="current()" >
                  <xsl:with-param name="item" select="current()" />
                  <xsl:with-param name="skinid" select="$skinid" />
                </xsl:apply-templates>
              </xsl:for-each>
            </ul>
          </li>
          <li>
            <a href="manufacturers.aspx" class="static">(!menu.Manufacturers!)</a>
            <ul>
              <xsl:for-each select="FIELD/MANUFACTURER/MENU_ITEM">
                <xsl:apply-templates select="current()" >
                  <xsl:with-param name="item" select="current()" />
                  <xsl:with-param name="skinid" select="$skinid" />
                </xsl:apply-templates>
              </xsl:for-each>
            </ul>
          </li>
          <li>
            <a href="t-service.aspx" class="static">(!menu.CustomerService!)</a>
            <ul>
              <li>
                <a href="account.aspx">(!menu.YourAccount!)</a>
              </li>
              <li>
                <a href="t-faq.aspx">(!menu.FAQs!)</a>
              </li>
              <li>
                <a href="t-returns.aspx">(!menu.PolicyReturns!)</a>
              </li>
              <li>
                <a href="t-shipping.aspx">(!menu.Shipping!)</a>
              </li>
              <li>
                <a href="contactus.aspx">(!menu.Contact!)</a>
              </li>
              <li>
                <a href="t-privacy.aspx">(!menu.PolicyPrivacy!)</a>
              </li>
              <li>
                <a href="t-security.aspx">(!menu.PolicySecurity!)</a>
              </li>
              <li>
                <a href="leadform.aspx">(!menu.LeadForm!)</a>
              </li>
              <li>
                <a href="casehistory.aspx">(!menu.CustomerSupport!)</a>
              </li>
              <li>
                <a href="newstorelocator.aspx">(!menu.StoreLocator!)</a>
              </li>                  
            </ul>
          </li>
        </ul>

        <!-- SCRIPT REGISTRION FOR THE MENU : LOCATION - jscripts\jquery\menu.js -->
        <script type="text/javascript" >
          $(document).ready(function () { RegisterSimpleMenu(); });
        </script>

      </xsl:template>

      <!-- Recursive Call TO BUILD THE SUBMENU -->
      <xsl:template match="MENU_ITEM">
        <xsl:param name="item" />
        <xsl:param name="skinid" />
        <li>
          <a href="{$item/URL}">
            <xsl:value-of select="$item/TEXT" disable-output-escaping="yes"  />
            <xsl:if test="$item and $item/MENU_ITEM">
              <img class="menuarrow" src="{concat('skins/Skin_',$skinid,'/images/arrow.gif')}" />
            </xsl:if>
          </a>
          <xsl:if test="$item and $item/MENU_ITEM">
            <ul>
              <xsl:for-each select="$item/MENU_ITEM">
                <xsl:apply-templates select="current()" >
                  <xsl:with-param name="item" select="current()" />
                  <xsl:with-param name="skinid" select="$skinid" />
                </xsl:apply-templates>
              </xsl:for-each>
            </ul>
          </xsl:if>
        </li>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>