<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Hello World" debug="false">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      <xsl:template match="/">
        <xsl:choose>
          <xsl:when test="/root/System/CustomerFirstName!=''">
            Hello <b>
              <xsl:value-of select="/root/System/CustomerFirstName" />
            </b>
          </xsl:when>
          <xsl:otherwise>
            <b>Hello World</b>
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
  <SearchEngineSettings>
    <SETitle actionType="text">Hello World Page Title</SETitle>
    <SEKeywords actionType="text">Hello World SE Keywords</SEKeywords>
    <SEDescription actionType="text">Hello World SE Description</SEDescription>
    <SENoScript actionType="text">Hello World SENoScript</SENoScript>
    <SectionTitle actionType="text">Hello World Section Title</SectionTitle>
  </SearchEngineSettings>
</package>
