<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Search Form" includeentityhelper="true" debug="false">

	<!-- ###################################################################################################### -->
	<!-- Licensed by Interprise Solutions.					                -->
	<!-- http://www.InterpriseSolutions.com														                -->
	<!-- For details on this license please visit  the product homepage at the URL above.		                -->
	<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
	<!-- ###################################################################################################### -->

	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" omit-xml-declaration="yes" />
			<xsl:param name="LocaleSetting" select="/root/Runtime/LocaleSetting" />
			<xsl:param name="WebConfigLocaleSetting" select="/root/Runtime/WebConfigLocaleSetting" />
			<xsl:template match="/">
				<script type="text/javascript" Language="JavaScript">
					function topsearchform_Validator(theForm)
					{
					$disableSubmit(theForm);
					if (theForm.SearchTerm.value.length &lt; <xsl:value-of select="ise:AppConfig('MinSearchStringLength')" />)
					{
					alert('<xsl:value-of select="ise:StrFormatStringresourceTextOnly('search.aspx.2', ise:AppConfig('MinSearchStringLength'), ',')" disable-output-escaping="yes" />');
					theForm.SearchTerm.focus();
					$enableSubmit(theForm);
					return (false);
					}
					return (true);
					}
				</script>
				<form id="topsearchform" name="topsearchform" method="GET" action="search.aspx">
					<xsl:value-of select="ise:StringResource('common.cs.23', $LocaleSetting)" disable-output-escaping="yes" />&#0160;&#0160;
					<input type="text" size="15" name="SearchTerm" class="searchBox" id="searchBox" autocomplete="off" onfocus="javascript:this.style.background='#ffffff';" onBlur="javascript:this.style.background='#dddddd';" />&#0160;
					<input type="submit" id="Go" class="submit site-button content radius" title="Click Go to Submit" 
                 data-contentKey="search.aspx.13"
                 data-contentValue="{ise:StringResourceTextOnly('search.aspx.13')}"
                 data-contentType="string resource"
                 value="{ise:StringResourceTextOnly('search.aspx.13')}" />
					<xsl:value-of select="ise:GetSearchFormValidatorScript('topsearchform', 'searchBox')" disable-output-escaping="yes" />
					<br />
				</form>
			</xsl:template>
		</xsl:stylesheet>
	</PackageTransform>
</package>