<?xml version="1.0" encoding="utf-8" ?>
<DbConfig>
  <DbQuery id="Read_LocaleSettings" qry="SELECT * FROM LocaleSetting WITH (NOLOCK) ORDER BY DisplayOrder, Name" />
  <DbQuery id="Read_AppConfigs" qry="EcommerceGetAppconfig @WebsiteCode = {0}" />
  <DbQuery id="Read_AllStringResource" qry="EcommerceGetStringresource @WebsiteCode = {0}" />
  <DbQuery id="Read_ProductCount" qry="SELECT COUNT(*) AS N FROM InventoryItem with (NOLOCK) WHERE Status = 'A' AND ItemType IN ('Stock', 'Non-Stock', 'Matrix Group', 'Kit', 'Service', 'Electronic Download')" />
  <DbQuery id="Delete_CustomerSession" qry="DELETE EcommerceCustomerSession" />
  <DbQuery id="Read_EcommerceActiveShoppersView" qry="SELECT ContactGuid FROM EcommerceActiveShoppersView WHERE RequestCode = {0}" />
  <DbQuery id="Read_TotalCartItemsByCustomer" qry="SELECT SUM(Quantity) AS NUMITEMS  FROM  ( SELECT SUM(Quantity) AS Quantity ,MAX(CartType) AS  CartType, MAX(WebSiteCode) AS WebSiteCode , MAX(CustomerCode) AS CustomerCode , MAX(ContactCode) AS ContactCode FROM EcommerceShoppingCart WITH (NOLOCK) WHERE NULLIF(BundleCode, '') IS NULL AND CartType={0} AND WebSiteCode = {1} AND CustomerCode={2} AND ContactCode={3}  UNION ALL SELECT MAX(BundleQuantity) AS Quantity ,MAX(CartType) AS  CartType, MAX(WebSiteCode) AS WebSiteCode , MAX(CustomerCode) AS CustomerCode , MAX(ContactCode) AS ContactCode FROM EcommerceShoppingCart WITH (NOLOCK) WHERE NULLIF(BundleCode, '') IS NOT NULL AND CartType={0} AND WebSiteCode = {1} AND CustomerCode={2} AND ContactCode={3} GROUP BY BundleCode , BundleHeaderID ) ShoppingCart" />
  <DbQuery id="Read_IsEmailAlreadyInUse" qry="SELECT COUNT(*) AS N FROM Customer c WITH (NOLOCK) INNER JOIN CRMContact cc with (NOLOCK) ON c.CustomerCode = cc.EntityCode AND cc.[Type] = 'CustomerContact' AND cc.UserName = {0} {1} AND cc.WebSiteCode={2}" />
  <DbQuery id="Read_EmailInUse" qry="SELECT COUNT(*) AS N FROM CustomerShipTo WITH (NOLOCK) WHERE CustomerCode = {0} AND ShipToCode = {1}" />
  <DbQuery id="Read_Password" qry="SELECT Password, PasswordSalt, PasswordIV FROM CRMContact with (NOLOCK) WHERE ContactCode = {0}" />
  <DbQuery id="Read_IsAKit" qry="SELECT CASE ItemType WHEN 'Kit' THEN 1 ELSE 0 END AS IsAKit FROM InventoryItem WITH (NOLOCK) WHERE ItemCode = {0}" />
  <DbQuery id="Read_AnonEmail" qry="SELECT Email FROM EcommerceAddress with (NOLOCK) WHERE CustomerID = {0}" />
  <DbQuery id="Read_AllWebSiteCount" qry="SELECT COUNT(*) as N FROM EcommerceSite WITH (NOLOCK) WHERE WebSiteCode={0}" />
  <DbQuery id="Create_CreateAnonCustomer" qry="EcommerceCreateAnonymousCustomer @CustomerGuid={0}, @UserName={1}, @Password={2}, @Referrer = {3}, @SalesRep = {4}, @LocaleSetting = {5}, @CurrencyCode = {6}, @LastIPAddress = {7}, @ContactGuid = {8}" />
  <DbQuery id="Update_UpdateCustomerCodeToCustomerId" qry="UPDATE EcommerceCustomer SET CustomerCode = CustomerID WHERE ContactGUID = {0}" />
  <DbQuery id="Read_UpdatedCustomerCodeByContactGuid" qry="SELECT CustomerCode FROM EcommerceCustomer with (NOLOCK) WHERE ContactGUID = {0}" />
  <DbQuery id="Read_FindCustomer" qry="EXEC EcommerceGetCustomer @ContactGuid = {0}, @WebsiteCode = {1}, @CurrentDate = {2}" />
  <DbQuery id="Update_ECommerceUpdateCustomer" qry="eCommerceUpdateCustomer" />
  <DbQuery id="Update_AnonymousCart" qry="EXEC EcommerceUpdateCart @CartType = {0}, @CustomerCode = {1}, @AnonymousCode = {2}, @DefaultShiptoCode = {3}, @ContactCode= {4}" />
  <DbQuery id="Read_ClearCart" qry="EXEC EcommerceClearCart @CartType = {0}, @CustomerCode = {1}, @ContactCode = {2}" />
  <DbQuery id="Read_OwnsThisAddress" qry="SELECT COUNT(*) AS N FROM CustomerShipTo WITH (NOLOCK) WHERE CustomerCode={0} AND ShipToCode={1}" />
  <DbQuery id="Read_RedirectURL" qry="SELECT OldPath, NewPath FROM EcommerceStoreURLRedirect WITH (NOLOCK) WHERE WebsiteCode = {0}" />
  <DbQuery id="Read_InventoryPreferenceForCache" qry="SELECT IsAllowFractional,quantityDecimalPlace FROM InventoryPreference WITH(NOLOCK)" />
  <DbQuery id="Read_ShippingMethodCodeRequiredChecking" qry="SELECT ShippingMethodCode FROM SystemShippingMethod with (NOLOCK) WHERE ShippingMethodCode = {0}" />
  <DbQuery id="Read_PaymentTermCodeRequiredChecking" qry="SELECT PaymentTermCode FROM SystemPaymentTerm with (NOLOCK) WHERE PaymentTermCode = {0}" />
  <DbQuery id="Delete_ClearKitItems" qry="DELETE FROM EcommerceKitCart WHERE CustomerCode = {0} AND ItemKitCode = {1} AND CartID = {2}" />
  <DbQuery id="Get_ShippingMethodGroupByShipToCode" qry="SELECT ShippingMethodGroup FROM CustomerShipTo WITH (NOLOCK) WHERE ShipToCode = {0}" />
  <DbQuery id="Get_ShippingMethodGroupInSystemShippingMethodGroupDetailByShippingMethodCode" qry="SELECT ShippingMethodGroup FROM SystemShippingMethodGroupDetail with (NOLOCK) WHERE ShippingMethodGroup = {0} AND ShippingMethodCode = {1}" />
  <DbQuery id="Get_ShippingMethodGroupByGroupCode" qry="SELECT ShippingMethodGroup FROM  SystemShippingMethodGroup WHERE ShippingMethodGroup = {0}" />
  <DbQuery id="Get_PaymentTermCodeInSystemPaymentTermGroupDetail" qry="SELECT PaymentTermCode FROM SystemPaymentTermGroupDetail with (NOLOCK) WHERE PaymentTermCode = {0} AND PaymentTermGroup = {1}" />
  <DbQuery id="Get_CBNCustomerCode" qry="SELECT CustomerCode FROM Customer WHERE CBNNetworkId = {0}" />
  <DbQuery id="Get_InventoryItemType" qry="SELECT ItemType FROM InventoryItem with (NOLOCK) WHERE ItemCode = {0}" />
  <DbQuery id="Get_InventoryItemCounter" qry="SELECT Counter FROM InventoryItem with (NOLOCK) WHERE ItemCode = {0}" />
  <DbQuery id="Update_ClearEcommerceCartShippingAddressIDForAnonCustomer" qry="UPDATE ecommerceShoppingCart SET ShippingAddressID = null WHERE CustomerCode={0} AND WebSiteCode = {1}" />
  <DbQuery id="Read_EcommerceCheckOutOptions" qry="EXEC ReadEcommerceCheckOutOptions @WebSiteCode={0}, @ContactCode={1}, @CustomerCode={2}, @IsAnonymous={3}, @LanguageCode={4}, @CurrentDate={5}, @ProductFilterID={6}" />
  <DbQuery id="Read_InventoryItem" qry="SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, II.IsDropShip, II.IsSpecialOrder, II.IsCBN, II.CBNItemID, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK) INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode WHERE IID.LanguageCode = {0} AND II.ItemCode = {1}" />
  <DbQuery id="Read_InventoryItems" qry="SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK) INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode WHERE IID.LanguageCode = {0}" />
  <DbQuery id="Read_InventoryItemsWithNoImages" qry="  SELECT II.[Counter], II.ItemCode, II.ItemName, II.ItemType, IID.ItemDescription FROM InventoryItem II WITH (NOLOCK) INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = II.ItemCode WHERE IID.LanguageCode = {0} AND II.ItemCode NOT IN (SELECT ItemCode FROM InventoryOverrideImage WITH (NOLOCK))" />
  <DbQuery id="Read_InventoryCategories" qry="SELECT IC.ItemCode, IC.CategoryCode, SCD.[Description] FROM InventoryCategory IC WITH (NOLOCK) INNER JOIN SystemCategoryDescription SCD WITH (NOLOCK) ON SCD.CategoryCode = IC.CategoryCode WHERE SCD.LanguageCode = {0}" />
  <DbQuery id="Read_SystemCategories" qry="SELECT  SC.CategoryCode, SCD.[Description]  FROM SystemCategory SC WITH (NOLOCK) INNER JOIN SystemCategoryDescription SCD WITH (NOLOCK) ON SCD.CategoryCode = SC.CategoryCode WHERE SCD.LanguageCode = {0}" />
  <DbQuery id="Read_ItemImages" qry="SELECT ItemCode, ImageIndex, [FileName], IsDefaultIcon, IsDefaultMedium FROM InventoryOverrideImage WITH (NOLOCK) WHERE WebSiteCode = {0} AND ItemCode = {1}" />
  <DbQuery id="Read_EcommerceCustomerWebOrder" qry="EXEC ReadEcommerceCustomerWebOrder @CustomerCode = {0}, @WebSiteCode = {1}, @Pages = {2}, @Current = {3}, @ContactCode = {4}" />
  <DbQuery id="Delete_ShoppingCartItems" qry="DELETE EcommerceShoppingCart WHERE ShoppingCartRecGuid IN ({0})" />
  <DbQuery id="Delete_ShoppingCartCustomerReservation" qry="DELETE EcommerceShoppingCartReservation WHERE ContactCode = {0}" />
  <DbQuery id="Delete_ShoppingCartKitComposition" qry="DELETE EcommerceKitCart WHERE CartId IN ({0})" />
  <DbQuery id="Read_EcommerceShoppingCart" qry="SELECT ShoppingCartRecId, ShoppingCartRecGuid, ItemCode,quantity, RequiresCount, CartType FROM EcommerceShoppingCart WITH (NOLOCK) WHERE ShoppingCartRecID = {0}" />
  <DbQuery id="Get_ItemWeight" qry="SELECT WeightInPounds FROM InventoryUnitMeasure with (NOLOCK) WHERE ItemCode = {0} AND UnitMeasureCode = {1}" />
  <DbQuery id="Get_IsShopperCodeUsed" qry="SELECT 1 FROM EcommerceActiveShoppers WITH (NOLOCK) WHERE CAST(customerCode AS NVARCHAR(50)) = {0}" />
  <DbQuery id="Delete_InActiveShoppers" qry="DELETE EcommerceActiveShoppers WHERE DATEDIFF(hour, CONVERT(VARCHAR(50), TimeStarted, 22), CONVERT(VARCHAR(50), {0}, 22)) >= {1}" />
  <DbQuery id="Create_ActiveShoppers" qry="INSERT INTO EcommerceActiveShoppers(ActiveShoppersId, RequestCode, CustomerCode, ContactGuid, WebsiteCode, TimeStarted, DateCreated) values({0},{1},{2},{3},{4},{5},{6})" />
  <DbQuery id="Get_ActiveShopperRequestCodeByCustomerCode" qry="SELECT RequestCode FROM EcommerceActiveShoppers WITH (NOLOCK) WHERE CAST(customerCode AS NVARCHAR(50)) = {0}" />
  <DbQuery id="Read_DealersFromCustomerAsWareHouse" qry="SELECT A.* FROM ( SELECT P.Counter, C.CustomerName AS Description, c.Country, P.PostalCode, P.County, P.City, C.Address, C.State, P.Latitude, P.Longitude, P.IsActive,  C.CustomerTypeCode, C.ShowOnStoreLocator, C.Telephone, ROW_NUMBER() OVER(PARTITION BY C.CustomerName, c.Country, P.PostalCode, P.County, P.City, C.Address, C.State, P.Latitude, P.Longitude, P.IsActive,  C.CustomerTypeCode, C.ShowOnStoreLocator ORDER BY P.Counter ) AS RowNumber FROM SystemPostalCode P INNER JOIN Customer C ON P.PostalCode = C.PostalCode AND P.CountryCode = C.Country AND P.City = C.City AND (IsNull(C.county, P.County) = P.County) WHERE C.IsActive = 1 AND C.CustomerTypeCode = 'Dealer' AND C.ShowOnStoreLocator = 1) AS A WHERE A.RowNumber = 1" />
  <DbQuery id="Get_CustomerNotes" qry="SELECT Notes AS S from Customer WHERE CustomerCode = {0}" />
  <DbQuery id="Update_CustomerNotes" qry="UPDATE Customer SET Notes = {0} WHERE CustomerCode = {1}" />
  <DbQuery id="Get_UseCustomerPricingForKit" qry="SELECT IsGetItemPrice FROM InventoryKit WHERE ItemKitCode = {0}" />
  <DbQuery id="Get_KitDiscount" qry="EXEC GetEcommerceKitDiscount @ItemKitCode = {0}, @ContactCode = {1}" />
  <DbQuery id="Get_SelectedKitComponents" qry="EXEC GetEcommerceSelectedKitComponents @ItemKitCode = {0}, @CurrencyCode = {1}, @WebsiteCode = {2}, @CartId = {3}, @IsAnonymous = {4}, @CustomerCode = {5}, @AnonymousCustomerCode = {6}, @ContactCode= {7}, @ShowDefault = {8}" />
  <DbQuery id="Update_ShoppingCartShippingAddressIdByOldPrimaryId" qry="UPDATE EcommerceShoppingCart SET ShippingAddressID = {0}, ProductExtPrice = NULL, ProductTax = NULL WHERE ShippingAddressID = {1} AND ContactCode = {2}" />
  <DbQuery id="Update_ShoppingCartShippingAddressIdForRegistryItems" qry="UPDATE EcommerceShoppingCart SET ShippingAddressID = {0} WHERE ShoppingCartRecID IN (SELECT ShoppingCartRecID FROM EcommerceGiftRegistry gr WITH (NOLOCK)	INNER JOIN EcommerceShoppingCart sc on gr.RegistryID = sc.GiftRegistryID WHERE sc.ShippingAddressID = {1})" />
  <DbQuery id="Update_ContactDefaultShippingCode" qry="UPDATE CRMContact SET DefaultShippingCode = {0} WHERE ContactCode = {1}" />
  <DbQuery id="Update_ContactDefaultBillingCode" qry="UPDATE CRMContact SET DefaultBillingCode = {0} WHERE ContactCode = {1}" />
  <DbQuery id="Update_CustomerShiptoPlus4ToNull" qry="UPDATE CustomerShipTo SET Plus4 = NULL WHERE ShipToCode = {0}" />
  <DbQuery id="Update_CustomerBillToPlus4ToNull" qry="UPDATE CustomerCreditCard SET Plus4 = NULL WHERE CreditCardCode = {0}" />
  <DbQuery id="Get_EcommerceLoginInfo" qry="Exec EcommerceGetLoginInfo @UserName = {0}, @WebsiteCode = {1}" />
  <DbQuery id="Get_EcommerceGetRememberMeInfo" qry="Exec EcommerceGetRememberMeInfo @ContactGUID = {0}, @WebsiteCode = {1}" />
  <DbQuery id="Get_ValidItemCodeAndBaseUnitMeasureById" qry="EXEC GetEcommerceItemCodeInBaseUMById @Counter = {0}, @IsAnonymous = {1}, @ContactCode = {2}, @WebsiteCode = {3}, @CurrentDate= {4}, @ProductFilterID= {5}" />
  <DbQuery id="Get_MatrixItemCode" qry="SELECT ItemCode FROM InventoryMatrixItem WHERE MatrixItemCode = {0}" />
  <DbQuery id="Read_EcommerceShoppingCartGiftEmails" qry="SELECT EG.Counter, EG.ShoppingCartRecID, EG.LineNum, EG.ItemCode, EG.EmailRecipient, IID.ItemDescription, II.Counter AS ItemCounter FROM EcommerceShoppingCartGiftEmail EG WITH (NOLOCK) INNER JOIN EcommerceShoppingCart ES WITH (NOLOCK) ON ES.ShoppingCartRecID = EG.ShoppingCartRecID INNER JOIN InventoryItem II WITH (NOLOCK) ON II.ItemCode = EG.ItemCode INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON IID.ItemCode = EG.ItemCode WHERE EG.ShoppingCartRecID IN (SELECT ShoppingCartRecID FROM EcommerceShoppingCart WHERE ContactCode = {0}) AND IID.LanguageCode = {1}" />
  <DbQuery id="Create_EcommerceShoppingCartGiftEmail" qry="INSERT INTO EcommerceShoppingCartGiftEmail (GiftEmailGUID, ShoppingCartRecID, ItemCode, LineNum, EmailRecipient, UserCreated, DateCreated) VALUES ({0}, {1}, {2}, {3}, {4}, {5}, GETDATE())" />
  <DbQuery id="Update_EcommerceShoppingCartGiftEmail" qry="UPDATE EcommerceShoppingCartGiftEmail SET EmailRecipient = {1}, UserModified = {2}, LineNum = {3}, DateModified = GETDATE() WHERE Counter = {0}" />
  <DbQuery id="Delete_EcommerceShoppingCartGiftEmailTopRecords" qry="DELETE FROM EcommerceShoppingCartGiftEmail WHERE Counter IN ( SELECT TOP {1} Counter FROM EcommerceShoppingCartGiftEmail WHERE ShoppingCartRecID = {0} ORDER BY Counter DESC )" />
  <DbQuery id="Delete_GiftEmail" qry="DELETE FROM EcommerceShoppingCartGiftEmail WHERE ShoppingCartRecID NOT IN ( SELECT ShoppingCartRecID FROM EcommerceShoppingCart WITH (NOLOCK) )" />
  <DbQuery id="Create_CustomerGiftEmail" qry="INSERT INTO CustomerGiftEmail (DocumentCode, ItemCode, LineNum,quantityOrdered, SerialRecipient, UserCreated, DateCreated) VALUES ({0}, {1}, {2}, {3}, {4}, {5}, GETDATE())" />
  <DbQuery id="Get_GiftCodesAppliedToShoppingCart" qry="SELECT GiftCode FROM EcommerceCustomer WHERE ContactGUID = {0}" />
  <DbQuery id="Update_CustomerGiftCode" qry="UPDATE EcommerceCustomer SET GiftCode = {1} WHERE ContactGUID = {0}" />
  <DbQuery id="Update_CustomerGiftCodeToNull" qry="UPDATE EcommerceCustomer SET GiftCode = NULL WHERE ContactGUID = {0}" />
  <DbQuery id="Read_GiftCodes" qry="SELECT	CIV.Type, CIV.BillToCode, CISN.IsActivated, CISN.SerialLotNumber, CCV.CreditCode, CCV.CreditAmountRate, CCV.CreditAvailableRate, CCV.CreditAllocatedRate, CCV.CreditReservedRate FROM CustomerInvoiceView CIV WITH (NOLOCK) INNER JOIN CustomerInvoiceSerialLotNumbers CISN WITH (NOLOCK) ON CISN.DocumentCode = CIV.RootDocumentCode AND CISN.SerialLotNumber = CIV.SalesRepOrderCode INNER JOIN CustomerCreditView CCV WITH (NOLOCK) ON CCV.CreditCode = CIV.InvoiceCode WHERE CIV.Type IN ('Gift Card', 'Gift Certificate') AND CIV.IsPosted = 1 AND CISN.SerialLotNumber IN ({0})" />
  <DbQuery id="Read_GiftCodesByCustomerCode" qry="SELECT	CIV.Type, CIV.BillToCode, CISN.IsActivated, CISN.SerialLotNumber, CCV.CreditCode, CCV.CreditAmountRate, CCV.CreditAvailableRate, CCV.CreditAllocatedRate, CCV.CreditReservedRate FROM CustomerInvoiceView CIV WITH (NOLOCK) INNER JOIN CustomerInvoiceSerialLotNumbers CISN WITH (NOLOCK) ON CISN.DocumentCode = CIV.RootDocumentCode AND CISN.SerialLotNumber = CIV.SalesRepOrderCode INNER JOIN CustomerCreditView CCV WITH (NOLOCK) ON CCV.CreditCode = CIV.InvoiceCode WHERE CIV.Type IN ('Gift Card', 'Gift Certificate') AND CIV.IsPosted = 1 AND CIV.BillToCode = {0}" />
  <DbQuery id="Get_VirtualPageSettings" qry="EXEC GetEcommerceVirtualPageSettings @EntityId = {0}, @EntityName = {1}, @LanguageCode = {2}, @WebsiteCode = {3}" />
  <DbQuery id="Get_CreditCardGatewayDescription" qry="SELECT [Description] FROM CustomerCreditCardGatewayView with (NOLOCK) WHERE Gateway = {0}" />
  <DbQuery id="Get_CustomerInvoiceVoidStatus" qry="SELECT COUNT(InvoiceCode) AS N FROM CustomerInvoice WITH (NOLOCK) WHERE InvoiceCode = {0} AND IsVoided = 1" />
  <DbQuery id="Get_CustomerSalesOrderVoidStatus" qry="SELECT COUNT(SalesOrderCode) AS N FROM CustomerSalesOrder WITH (NOLOCK) WHERE SalesOrderCode = {0} AND IsVoided = 1" />
  <DbQuery id="Update_CustomerRequiredAge" qry="UPDATE EcommerceCustomer SET IsOver13 = 1 , IsUpdated = 1 WHERE CustomerID = {0}" />
  <DbQuery id="Read_CustomerTransactionAddress" qry="EXEC ReadCustomerTransactionAddress @AddressType = {0}, @DocumentCode = {1}, @TransactionType = {2}" />
  <DbQuery id="Get_EcommerceCreditCardGatewayByWebsite" qry="SELECT ES.CreditCardGateway, ES.MerchantLogin, ES.CreditCardGatewayAssemblyName FROM EcommerceSite ES WITH (NOLOCK) INNER JOIN SystemPluginAssembly SPA WITH (NOLOCK) ON ES.CreditCardGatewayAssemblyName = SPA.AssemblyName WHERE ES.WebsiteCode = {0}" />
  <DbQuery id="Get_EcommerceCreditCardGatewayByPaymentTerm" qry="SELECT SPT.CreditCardGateway, SPT.CreditCardGatewayAssemblyName FROM SystemPaymentType SPT WITH (NOLOCK) INNER JOIN SystemPaymentTerm SP WITH (NOLOCK) ON SP.PaymentType = SPT.PaymentTypeCode INNER JOIN SystemPluginAssembly SPA WITH (NOLOCK) ON SPT.CreditCardGatewayAssemblyName = SPA.AssemblyName WHERE p.PaymentTermCode = {0}" />
  <DbQuery id="Get_EcommercePaypalGatewayInfo" qry="SELECT SPA.AssemblyName, Gateway, PayPalMerchantAccount FROM EcommerceSite ES INNER JOIN CustomerCreditCardGatewayMerchantAccount CCCGMA WITH (NOLOCK) ON CCCGMA.MerchantLogin = ES.PayPalMerchantAccount INNER JOIN SystemPluginAssembly SPA WITH (NOLOCK)	ON SPA.AssemblyName = CCCGMA.AssemblyName WHERE WebSiteCode = {0}" />
  <DbQuery id="Read_ECommerceCustomerTransaction" qry="EXEC ReadECommerceCustomerTransaction @DocumentCode = {0}" />
  <DbQuery id="Get_ProductInfo" qry="EXEC eCommerceProductInfo @ItemCode = {0}, @LanguageCode = {1}, @UserCode = {2}, @WebSiteCode = {3}, @CurrentDate = {4}, @ProductFilterID = {5}, @ContactCode = {6}" />
  <DbQuery id="Read_SystemCountry" qry="SELECT CountryCode FROM SYSTEMCOUNTRY WITH (NOLOCK) WHERE IsActive = 1" />
  <DbQuery id="Get_EcommerceSystemWarehouseStorePickup" qry="EXEC eCommerceReadSystemWarehouseStorePickup @PostalCode = {0}, @City = {1}, @State = {2}, @Country = {3}, @ItemCode = {4}, @kitComposition = {5}, @kitCompositionLength = {6}, @UnitMeassureCode = {7}, @NextRecord = {8}, @RecordLimit = {9}" />
  <DbQuery id="Read_EcommerceSystemWarehouseWorkingHours" qry="SELECT * FROM InventoryStoreWorkingHours WITH (NOLOCK) WHERE WarehouseCode = {0}" />
  <DbQuery id="Read_EcommerceSystemWarehouseWorkingHolidays" qry="SELECT Holiday, HolidayDate, Closed, OpeningTime, ClosingTime FROM InventoryStoreHolidayHours WITH (NOLOCK) WHERE WarehouseCode = {0}" />
  <DbQuery id="Delete_EcommerceRealTimeRateByContactCode" qry="DELETE FROM EcommerceRealTimeRate WHERE ContactCode = {0}" />
  <DbQuery id="Create_RealTimeRate" qry="INSERT INTO EcommerceRealTimeRate(ContactCode, ShippingMethodCode, Rate, EcommerceRealTimeRateGUID) VALUES({0},{1},{2},{3})" />
  <DbQuery id="Update_ShoppingCartInStoreShippingInfo" qry="UPDATE EcommerceShoppingCart SET ShippingMethod = {0}, InStoreWarehouseCode = {1}, RealTimeRateID = {2} WHERE ShoppingCartRecID = {3}" />
  <DbQuery id="Update_ClearCartWarehouseCodeByCustomer" qry="UPDATE EcommerceShoppingCart SET InStoreWarehouseCode = NULL, ShippingMethod = NULL WHERE CustomerCode = {0} AND InStoreWarehouseCode IS NOT NULL" />
  <DbQuery id="Read_InventoryWarehouseByWarehouseCode" qry="SELECT * FROM InventoryWarehouse WITH (NOLOCK) WHERE WarehouseCode = {0}" />
  <DbQuery id="Get_MatrixItemWebOptionDescription" qry="SELECT II.Counter, IIWOD.ItemCode, IIWOD.Summary, IIWOD.WebDescription, IIWOD.Warranty FROM InventoryItem II WITH (NOLOCK) INNER JOIN InventoryItemWebOptionDescription IIWOD WITH (NOLOCK) ON II.ItemCode =  IIWOD.ItemCode WHERE IIWOD.WebsiteCode = {0} AND IIWOD.LanguageCode = {1} AND II.ItemCode IN ( SELECT MatrixItemCode FROM InventoryMatrixItem WITH (NOLOCK) WHERE ItemCode = {2} ) "/>
  <DbQuery id="Read_CustomerLoyaltyPoints" qry ="SELECT AccumulatedPoints, RedeemedPoints, OutstandingPoints, ReservedPoints FROM CustomerLoyaltyPoints WITH (NOLOCK) WHERE CustomerCode = {0}"/>
  <DbQuery id="Get_CustomerAdvancePreference" qry ="SELECT Value FROM CustomerAdvancedPreference WITH (NOLOCK) WHERE Name = {0}"/>
  <DbQuery id="Read_SystemPostalCodeCount" qry="SELECT COUNT(*) as N FROM SystemPostalCode WITH (NOLOCK) WHERE PostalCode = {0} AND StateCode ={1} AND  City={2} AND  CountryCode= {3}" />
  <DbQuery id="Read_InventoryItemWebOption" qry="SELECT IIW.ShowBuyButton, IIW.IsCallToOrder, IIW.RestrictedQuantity, IIW.HidePriceUntilCart, IIW.MinOrderQuantity, IIW.RequiresRegistration, IIW.ZoomOption, IIW.ShowPurchasedItemsFromSameCategory, IIW.ShowViewedItemsFromSameCategory, II.Counter, II.ItemCode, II.DontEarnPoints FROM InventoryItem II WITH(NOLOCK) INNER JOIN InventoryItemWebOption IIW WITH (NOLOCK) ON IIW.ItemCode = II.ItemCode AND IIW.WebSiteCode = {0} WHERE II.ItemCode IN ({1})" />
  <DbQuery id="Update_AllocatedQty" qry="UPDATE EcommerceShoppingCart SET AllocatedQty = {0} WHERE ContactCode = {1} AND ItemCode = {2} AND UnitMeasureCode = {3};" />
  <DbQuery id="Read_EcommercePrice" qry="EXEC ReadEcommercePrice @pCustomerCode= {0}, @pCurrencyCode={1}, @pItemCode={2}, @pUnitMeasureCode={3}, @pUnitMeasureQty={4}, @pDate={5}, @pQuantity = {6}, @pMatrixGroupQuantity={7}, @pLanguageCode={8}, @pPricing = NULL, @pLevel = NULL, @pWebSiteCode={9}" />
  <DbQuery id="Get_EcommerceKitCartDetailWhenHideOutOfStock" qry="EXEC GetEcommerceKitCartDetail @ItemKitCode = {0}, @CurrencyCode = {1}, @LanguageCode = {2}, @CustomerCode = {3}, @CartID = {4}, @ContactCode = {5}, @WebsiteCode = {6}"/>
  <DbQuery id="Read_BaseUnitMeasures" qry="SELECT UnitMeasureCode, UnitMeasureQty FROM InventoryUnitMeasure with (NOLOCK) WHERE ItemCode = {0} AND IsBase = 1"/>
  <DbQuery id="Read_UnitMeasuresByUnitMeasureList" qry="SELECT UnitMeasureCode, UnitMeasureQty FROM InventoryUnitMeasure with (NOLOCK) WHERE ItemCode = {0} AND UnitMeasureCode IN ({1})"/>
  <DbQuery id="Read_EcommerceCustomerShippingMethodList" qry="EXEC GetEcommerceCustomerShippingMethodList @CustomerCode = {0}, @IsFromFreeShippingCoupon = {1}, @ContactCode = {2}, @ShippingMethodCode = {3}, @ShipToCode = {4}, @AddressType = {5}, @IsAnonymous = {6}, @CountryCode = {7}, @BusinessType = {8}, @PostalCode = {9}, @WebSiteCode = {10}" />
  <DbQuery id="Read_GatewayDescription" qry="SELECT [Description] FROM [CustomerCreditCardGatewayView] with (NOLOCK) WHERE Gateway = {0}"/>
  <DbQuery id="Read_MatrixItemInfo" qry="SELECT ItemCode, Counter FROM InventoryMatrixItem WITH (NOLOCK) WHERE MatrixItemCode = {0}"/>
  <DbQuery id="Read_MatrixItemInfoByCounter" qry="SELECT Counter, MatrixItemCode FROM InventoryMatrixItem WITH (NOLOCK) WHERE Counter = {0}"/>
  <DbQuery id="Read_MatrixAttributes" qry="EXEC eCommerceGetMatrixGroupAttributes @ItemCode = {0}, @LanguageCode = {1}"/>
  <DbQuery id="Get_CartHasRegistryItem" qry="SELECT COUNT(ShoppingCartRecID) AS N FROM EcommerceShoppingCart WITH (NOLOCK) WHERE CustomerCode = {0} AND RegistryItemCode IS NOT NULL"/>
  <DbQuery id="Get_CartHasPickUpItem" qry="SELECT COUNT(ShoppingCartRecID) AS N FROM EcommerceShoppingCart WITH (NOLOCK) WHERE CustomerCode = {0} AND InStoreWarehouseCode IS NOT NULL"/>
  <DbQuery id="Read_FeaturedItems" qry="exec EcommerceFeaturedProduct @LocaleSetting = {0}, @WebSiteCode = {1},  @CurrentDate = {2}, @ContactCode = {3}"/>
  <DbQuery id="Get_RatingAveByItemCode" qry="SELECT CAST(CAST([1] AS DECIMAL) /Cnt * 100 AS DECIMAL(10,2)) AS [1], CAST(CAST([2] AS DECIMAL) /Cnt * 100 AS DECIMAL(10,2)) AS [2], CAST(CAST([3] AS DECIMAL) / Cnt * 100 AS DECIMAL(10,2)) AS [3], CAST(CAST([4] AS DECIMAL) / Cnt * 100 AS DECIMAL(10,2)) AS [4], CAST(CAST([5] AS DECIMAL) / Cnt * 100 AS DECIMAL(10,2)) AS [5], Ave, Cnt, Total FROM (SELECT [1], [2], [3], [4], [5] FROM (SELECT Rating FROM EcommerceRatingView WITH (NOLOCK) WHERE ItemCode = {0} AND WebSiteCode ={1}) AS SourceTable PIVOT (COUNT(Rating) FOR Rating IN ([1], [2], [3], [4], [5])) AS PivotTable) AS T, (SELECT AVG(CAST(Rating AS DECIMAL(18,3))) Ave, COUNT(Rating) Cnt, SUM(Rating) Total FROM EcommerceRatingView WITH (NOLOCK) WHERE ItemCode = {0} AND WebSiteCode = {1}) AS X" />
  <DbQuery id="Get_TransactionType" qry="SELECT Type FROM CustomerTransactionListView with (NOLOCK) WHERE DocumentCode = {0}"/>
  <DbQuery id="Get_ReportCode" qry="SELECT ReportCode FROM ReportView with (NOLOCK) WHERE ReportName = {0}"/>
  <DbQuery id="Get_OrderConfirmationReport" qry="SELECT OrderConfirmationReport FROM EcommerceSite with (NOLOCK) WHERE Websitecode = {0}"/>
  <DbQuery id="Read_EcommerceCustomerOpenInvoices" qry="EXEC ReadEcommerceCustomerOpenInvoices @CustomerCode = {0}, @WebSiteCode = {1}, @Pages = {2}, @Current = {3}" />
  <DbQuery id="Update_InStorePickupCartItemStock" qry="UPDATE es SET es.Quantity = (CASE WHEN (es.Quantity > esa.FreeStock) THEN esa.FreeStock ELSE es.Quantity END) FROM EcommerceShoppingCart es INNER JOIN EcommerceStockAvailabilityView esa on esa.ItemCode = es.ItemCode AND esa.UM = es.UnitMeasureCode AND es.InStoreWarehouseCode = esa.WarehouseCode WHERE es.CustomerCode = {0} AND es.ContactCode = {1} AND es.WebSiteCode = {2}" />
  <DbQuery id="Read_OverSizedItemShippingMethod" qry="SELECT ssm.ShippingMethodCode, ssm.FreightChargeType FROM InventoryUnitMeasureView ium WITH (NOLOCK) INNER JOIN SystemShippingMethod ssm WITH (NOLOCK) ON ium.OverSizedShippingMethodCode = ssm.ShippingMethodCode WHERE ItemCode = {0} AND UnitMeasureCode = {1} AND IsOverSized	= 1 AND ShowOnWeb = 1" />
  <DbQuery id="Read_CustomerCredit" qry="SELECT CreditCode, Type, CreditAvailableRate, CreditAllocatedRate, CreditReservedRate, CreditAmountRate FROM CustomerCreditView WHERE CustomerCode={0}" />
  <DbQuery id="Update_CustomerCreditCode" qry="UPDATE EcommerceCustomer SET CreditCode={0} WHERE ContactGUID={1}" />
  <DbQuery id="Read_CustomerCreditCode" qry="SELECT CreditCode FROM EcommerceCustomer WHERE ContactGUID={0}" />
  <DbQuery id="Update_ClearCustomerCreditCode" qry="UPDATE EcommerceCustomer SET CreditCode=NULL WHERE ContactGUID={0}" />
  <DbQuery id="Read_Rating" qry="SELECT er.*, iid.ItemDescription FROM EcommerceRating er with (NOLOCK) INNER JOIN InventoryItemDescription iid on er.ItemCode = iid.ItemCode WHERE er.ItemCode={0} AND er.CustomerCode={1} AND er.ContactCode={2} AND er.WebsiteCode={3}" />
  <DbQuery id="CreateUpdate_Rating" qry="EXEC EcommerceCreateUpdateRating @ItemCode = {0}, @CustomerCode = {1}, @ContactCode = {2}, @Rating = {3}, @Comments = {4}, @HasComments = {5}, @IsFilthy = {6}, @WebsiteCode = {7}, @CreateOn = {8}" />
  <DbQuery id="Get_Salutation" qry="SELECT dbo.GetSalutation({0}) AS Salutation"/>
  <DbQuery id="Get_Suffix" qry="SELECT dbo.GetSuffix({0}) AS Suffix"/>
  <DbQuery id="Get_MatrixItems" qry="exec EcommerceGetMatrixItems @SearchString = {0}, @ItemCode = {1}, @PageSize = {2}, @CurrentPage = {3}, @LanguageCode = {4}, @WebSiteCode = {5}, @ContactCode = {6}" />
  <DbQuery id="Get_EcommerceCustomerProductNotificationSubscription" qry="exec GetEcommerceCustomerProductNotificationSubscription @ContactCode = {0}, @WebSiteCode = {1}, @ItemCode = {2}, @EmailAddress = {3}" />
  <DbQuery id="Read_InventoryItemWebOptionDescription" qry="SELECT I.Counter, I.ItemName, IID.ItemDescription, IIWOD.WebDescription FROM InventoryItem I WITH (NOLOCK) INNER JOIN InventoryItemDescription IID WITH (NOLOCK) ON I.ItemCode = IID.ItemCode  INNER JOIN InventoryItemWebOptionDescription IIWOD with (NOLOCK) ON IIWOD.ItemCode = I.ItemCode WHERE I.Counter = {0} AND IID.LanguageCode = {1} AND IIWOD.LanguageCode = {1} AND IIWOD.WebsiteCode = {2}" />
  <DbQuery id="Delete_EcommerceCustomerCartRecord" qry="exec DeleteEcommerceCustomerCartRecord @CustomerID = {0}, @WebSiteCode = {1}, @CartType = {2}, @AgeDate = {3}" />
  <DbQuery id="Delete_EcommerceCustomerRecords" qry="exec DeleteEcommerceCustomerRecords @WebSiteCode = {0}" />
  <DbQuery id="Read_ItemReservation" qry="exec EcommerceGetItemReservation {0}, {1}, {2}" />
  <DbQuery id="Update_AllocatedQuantity" qry="UPDATE EcommerceShoppingCart SET AllocatedQty = {0} WHERE CustomerCode = {1} AND  ContactCode = {2} AND WebsiteCode = {3} AND ShoppingCartRecID = {4}" />
  <DbQuery id="Get_IsIgnoreStockLevels" qry="SELECT IsIgnoreStockLevels FROM CustomerPreference WITH (NOLOCK)" />
  <DbQuery id="Read_CustomerInvoice" qry="SELECT CSO.SalesOrderCode, CSO.SalesOrderDate, CI.TotalRate, CI.InvoiceCode, CI.InvoiceDate, CI.CurrencyCode FROM CustomerInvoice CI WITH (NOLOCK) INNER JOIN CustomerSalesOrder CSO WITH (NOLOCK) ON CSO.SalesOrderCode = CI.SalesRepOrderCode WHERE CI.SourceCode = 'Internet' AND CI.Type = 'Invoice' AND CI.ContactCode = {0} AND CI.InvoiceCode = {1} AND CI.WebSiteCode = {2} " />
  <DbQuery id="Read_CustomerInvoices" qry="SELECT CI.InvoiceCode, CI.InvoiceDate, CSO.SalesOrderCode, CSO.SalesOrderDate, CI.TotalRate, CI.CurrencyCode, CI.ContactCode FROM CustomerInvoice CI WITH (NOLOCK) INNER JOIN CustomerSalesOrder CSO WITH (NOLOCK) ON CSO.SalesOrderCode = CI.SourceInvoiceCode WHERE CI.SourceCode = 'Internet' AND CI.Type = 'Invoice' AND CI.IsPosted = 1 AND CI.IsVoided = 0 AND ISNULL(CI.IsBatch,0) = 0 AND CI.ContactCode = {0} AND CI.WebSiteCode = {1} AND (SELECT SUM(QuantityShipped - QuantityAlReadyRMA) FROM CustomerInvoiceDetail WHERE InvoiceCode = CI.InvoiceCode) > 0" />
  <DbQuery id="Read_CustomerInvoiceItems" qry="SELECT CID.LineNum, CID.ItemCode, CID.QuantityOrdered, CID.QuantityShipped, CID.QuantityAlReadyRMA, CID.ItemDescription, CID.UnitMeasureCode, IUM.UPCCode FROM CustomerInvoiceDetail CID WITH (NOLOCK) INNER JOIN CustomerInvoice CI WITH (NOLOCK) ON CI.InvoiceCode = CID.InvoiceCode INNER JOIN InventoryUnitMeasure IUM WITH (NOLOCK) ON IUM.ItemCode = CID.ItemCode AND IUM.UnitMeasureCode = CID.UnitMeasureCode WHERE CI.ContactCode = {0} AND CI.WebsiteCode = {1} AND CID.InvoiceCode = {2} " />
  <DbQuery id="Read_CustomerRMA" qry="SELECT CSO.SalesOrderCode AS RMACode, CSO.OrderStatus AS RMAStatus, CSO.SalesOrderDate AS RMADate, CSO.RootDocumentCode AS SalesOrderCode, CSO.SourceSalesOrderCode AS InvoiceCode, (SELECT SalesOrderDate FROM CustomerSalesOrder WITH (NOLOCK) WHERE SalesOrderCode = CSO.RootDocumentCode) AS SalesOrderDate, CSO.TotalRate, CSO.InternalNotes AS Notes FROM CustomerSalesOrder CSO WITH (NOLOCK) WHERE CSO.ContactCode = {0} AND CSO.WebsiteCode = {1} AND CSO.SalesOrderCode = {2}" />
  <DbQuery id="Read_CustomerRMAs" qry="SELECT CSO.SalesOrderCode AS RMACode, CSO.TotalRate, (SELECT SUM(QuantityOrdered) FROM CustomerSalesOrderDetail WHERE SalesOrderCode = CSO.SalesOrderCode) AS TotalQuantityReturn, CSO.SalesOrderDate AS RMADate, CSO.RootDocumentCode AS SalesOrderCode, CSO.OrderStatus AS RMAStatus, CSO.SourceSalesOrderCode AS InvoiceCode FROM CustomerSalesOrder CSO WITH (NOLOCK) WHERE CSO.Type = 'RMA' AND CSO.IsVoided = 0 AND  CSO.ContactCode = {0} AND CSO.WebSiteCode = {1}" />
  <DbQuery id="Read_CustomerRMAItems" qry="SELECT CSOD.ItemDescription, IUM.UPCCode, CSOD.UnitMeasureCode, CSOD.QuantityOrdered, CSOD.QuantityShipped FROM CustomerSalesOrderDetail CSOD WITH (NOLOCK) INNER JOIN CustomerSalesOrder CSO WITH (NOLOCK) ON CSO.SalesOrderCode = CSOD.SalesOrderCode INNER JOIN InventoryUnitMeasure IUM WITH (NOLOCK) ON IUM.ItemCode = CSOD.ItemCode AND IUM.UnitMeasureCode = CSOD.UnitMeasureCode WHERE CSO.ContactCode = {0} AND CSO.WebSiteCode = {1} AND CSOD.SalesOrderCode = {2} " />
</DbConfig>