/*****************************************************************************************************/
/******************************** USE THIS FILE FOR ANY CUSTOM STYLING *******************************/
/*****************************************************************************************************/

@import url("stylesheets/app.css");
@import url("stylesheets/foundation-icons.css");

/*Color Overrides*/
.toppanel i {
  color: #ffffff;
}
.toppanel .button {
    background-color: #222222;   
}

/*Global Overrides*/

.header-logo {
    padding: 1.25rem;
}

.draw-border img {
    border: 1px solid #DEDEDE;
    padding: 1px;
}

.draw-border li {
    font-size: 75%;
}

.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #444444 transparent transparent transparent;
  border-top-style: solid;
  margin-top: -2.5px;
  top: 1.25rem;
}

.top-bar-section ul li > a {
  font: 500 0.875rem/2.25rem "Lato",Hevetica,Arial,sans-serif;
  position: relative;
  letter-spacing: -.02rem;
  color: #777777;
}

/*Header Search Bar*/
div.row.search div {
    padding: 0 !important;
}

div.row.search input#txtSearch {
    border-radius: 3px 0 0 3px;
}

div.row.search a#btnSearch {
    border-radius: 0 3px 3px 0;
}

/*Buttons*/
.button {
    background-image: none;
}
.button:hover {
    text-decoration: none;
}

/*Breadcrumbs*/
.breadcrumbs > *.current a {
    cursor: pointer; 
    color: #1B78BE; 
}

/*Image Borders*/
img[id^="imgEntity"] {
    border: none;
    border-radius: 0px;
}

.content-bottom {
    margin-top: 3rem;
}

/*Page Overrides*/
/*Browse and Search Pages*/
.entity-sort .caption {
    font-weight: bold;
    margin-right: .5rem;
}

.entity-sort select {
    font-size: 9pt !important;
    width: 150px;
    padding: .5rem !important;
}

.searchpage div {
    padding: 0px !important;
}

.searchpage .site-button {
    width:100%;
    margin:0;
}

.sitemapul .sitemapul .sitemapul {
    display: none;
}

/*Product Pages*/
.tabs dd {padding: 0px}
div.product-buy input[id^="Quantity"] {
    display: inline-block;
    width: auto;
}

.tab-container {
    border: 1px solid #BBBBBB;
}


.tabs dd.active a, .tabs .tab-title.active a {
  background-color: #FFFFFF;
  color: #1B78BE;
  border-bottom: 5px solid;
}

.tabs dd > a, .tabs .tab-title > a {
  background-color: #FFFFFF;
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: #FFFFFF;
}

div.tabs-content.panel {
  background: #FFFFFF;
}

.ProductNameText {
  color: #666666;
}

select.matrix-selector {
  width: 8.75rem;
  padding: 0.5rem 1.5rem 0.5rem 0.3rem;
}

.bxslider a {
    font-size: .75rem;
}

.fancybox-title-inside {
    font-size: .75rem !important;
}

/*Shopping Cart*/
div.cart-content {
    padding-right: 0rem !important;
}

div.cart-summary {
    padding: 1rem !important;
    border: none; 
}

div.cart-coupon div {
    padding: 0rem !important;
}

div.cart-coupon input.button {
    /*padding-left: 1.75rem;
    padding-right: 1.75rem;*/
    border: none;
    width: 100%;
}

/*One Page Checkout*/
.summary-smaller {
  float: right;
  margin-right: 5px;
  width: 65%;
  line-height: 23px;
  padding-top: 12px !important;
  padding-bottom: 6px !important;
}
