<?xml version="1.0" encoding="utf-8"?>
<widget>
	<brokers>
		<add key="83E6FFC1-C793-4267-9B87-9BC3D95DBF00" type="InterpriseSuiteEcommerceCommon.InterpriseIntegration.Admin.QueryBrokers.OpenSalesOrderQueryBroker,InterpriseSuiteEcommerceCommon" dependency="" />
		<add key="46463029-1B7E-4772-9ED5-E391EAB71EE0" type="InterpriseSuiteEcommerceCommon.InterpriseIntegration.Admin.QueryBrokers.ActiveCustomerQueryBroker,InterpriseSuiteEcommerceCommon" dependency="" />
		<add key="5508E877-1DA3-4662-BAF1-967208CAD915" type="InterpriseSuiteEcommerceCommon.InterpriseIntegration.Admin.QueryBrokers.ElectronicDownloadItemQueryBroker,InterpriseSuiteEcommerceCommon" dependency="" />
	</brokers>
	<widgets>
		<filters>
			<add key="450AE9D5-7E53-4ACE-9D72-07E605B0F43C" path="~/admin/controls/filtercontrol2.ascx" />
		</filters>
		<models>
			<add key="64FA5F72-0D6E-4B94-85BB-4D45F9EF420D" path="~/admin/controls/opensalesordercontrol.ascx" broker="83E6FFC1-C793-4267-9B87-9BC3D95DBF00">
				<filter widget="450AE9D5-7E53-4ACE-9D72-07E605B0F43C" showDate="true" dateColumn="Date" />
			</add>
			<add key="69A2ED40-48B1-41CC-AFD3-79709A3B4E67" path="~/admin/controls/ActiveCustomerControl.ascx" broker="46463029-1B7E-4772-9ED5-E391EAB71EE0">
				<filter widget="450AE9D5-7E53-4ACE-9D72-07E605B0F43C" showDate="false" dateColumn="Date" />
			</add>
			<add key="2819D368-978B-4520-A765-510716C07AD5" path="~/admin/controls/ElectronicDownloadItems.ascx" broker="5508E877-1DA3-4662-BAF1-967208CAD915">
				<filter widget="450AE9D5-7E53-4ACE-9D72-07E605B0F43C" showDate="false" dateColumn="Date" />
			</add>
		</models>
	</widgets>
</widget>
