<?xml version="1.0" standalone="yes"?>
<package version="2.1" displayname="Default Home Page" debug="false"  includeentityhelper="true">
  
  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                                                            -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->
  
  <XmlHelperPackage name="helper.page.default.xml.config" />
  
  <PackageTransform>
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />
      
      <xsl:param name="SkinID" select="/root/System/SkinID"></xsl:param>
      <xsl:param name="IsCBNMode" select="ise:IsCBNMode()"></xsl:param>
        
      <xsl:template match="/">
        
        <!-- home banner -->
        <div class="home-banner">
          <xsl:choose>
            <xsl:when test="$IsCBNMode=false()"><xsl:value-of select="ise:Topic('HomeTopIntro')" disable-output-escaping="yes" /></xsl:when>
            <xsl:otherwise><xsl:value-of select="ise:Topic('HomeTopIntroCB')" disable-output-escaping="yes" /></xsl:otherwise>
          </xsl:choose>
        </div>
        
        <!-- categories, departments, manufactures menu  -->
        <div class="home-menu hidden-md hidden-lg" id="homeMenu">
          
          <div class="panel panel-default">
            <div class="panel-heading"  data-toggle="collapse" data-parent="#homeMenu" href="#menuCategory">
              <h4 class="panel-title">
                Browse Categories
                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
              </h4>
            </div>
            <div id="menuCategory" class="panel-collapse collapse">
              <xsl:value-of select="ise:XmlPackage('rev.categorymenu.xml.config')" disable-output-escaping="yes" />
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading"  data-toggle="collapse" data-parent="#homeMenu" href="#menuDepartment">
              <h4 class="panel-title">
                Browse Departments
                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
              </h4>
            </div>
            <div id="menuDepartment" class="panel-collapse collapse">
              <xsl:value-of select="ise:XmlPackage('rev.departmentmenu.xml.config')" disable-output-escaping="yes" />
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#homeMenu" href="#menuManufacturer">
              <h4 class="panel-title">
                Browse Manufacturers
                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
              </h4>
            </div>
            <div id="menuManufacturer" class="panel-collapse collapse">
              <xsl:value-of select="ise:XmlPackage('rev.manufacturermenu.xml.config')" disable-output-escaping="yes" />
            </div>
          </div>


          

          <script>
            function toggleChevron(e) { $(e.target).prev('.panel-heading').find("i.indicator").toggleClass('glyphicon-chevron-down glyphicon-chevron-up'); }
            $('#homeMenu').on('hide.bs.collapse', toggleChevron);
            $('#homeMenu').on('show.bs.collapse', toggleChevron);
          </script>
          
        </div>

        <!--<xsl:value-of select="ise:SectionFeaturedItems('rev.featuredslider.xml.config', 'slideWidth:200,minSlides:1,maxSlides:4,slideMargin:10,adaptiveHeight:true')" disable-output-escaping="yes" />-->
        <xsl:value-of select="ise:SectionFeaturedItems('rev.featuredslider.xml.config')" disable-output-escaping="yes" />

      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>






