<?xml version="1.0" encoding="utf-8"?>
<package displayname="Product Attributes" version="2.1" allowengine="true" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Attributes" rowElementName="Attribute">
    <sql>
      <![CDATA[
                exec EcommerceGetAttributes @LanguageCode, @EntityType, @EntityCode,@WebSiteCode,@AttributeFilter
            ]]>
    </sql>
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@EntityType" paramtype="runtime" requestparamname="EntityName" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@EntityCode" paramtype="runtime" requestparamname="EntityID" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@AttributeFilter" paramtype="runtime" requestparamname="AttributeFilter" sqlDataType="nvarchar" defvalue="" validationpattern="" />


  </query>
  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="EntityName" select="translate(/root/Attributes/Attribute[1]/EntityCode, $uppercase, $smallcase)" />

      <xsl:key name="AttributeGrouping" match="/root/Attributes/Attribute" use="AttributeName"/>
      <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
      <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />
      <xsl:variable name="ShowItemCount" select="true()" />

      <xsl:template match="/">
        <xsl:choose>
          <xsl:when test="count(/root/Attributes/Attribute) > 0">
            <div class="attributes attribute {$EntityName}-attribute" data-spy="affix" data-offset-top="205"  data-offset-left="100">
              <xsl:for-each select="/root/Attributes/Attribute[generate-id() = generate-id(key('AttributeGrouping', AttributeName))]">
                <xsl:sort select="current()/AttributeName" />
                <section class="attribute-group {translate(current()/AttributeName,$uppercase,$smallcase)}-attribute-group">
                  <header>
                    <xsl:value-of select="current()/AttributeName" disable-output-escaping="yes"></xsl:value-of>
                  </header>
                  <div class="btn-group" data-toggle="buttons">

                    <xsl:for-each select="key('AttributeGrouping', AttributeName)">
                      <xsl:sort select="current()/AttributeValue" />
                      <xsl:if test="current()/IsName = 0 and current()/ItemCount > 0">
                        <div>
                          <xsl:if test="current()/IsSelected = 1">
                            <xsl:attribute name="class">btn btn-success active selected-attributes</xsl:attribute>
                            <xsl:attribute name="id">
                              <xsl:value-of select="concat('selected::',current()/Counter,'::',ise:FormatStringForLink(current()/AttributeValue))" disable-output-escaping="yes"></xsl:value-of>
                            </xsl:attribute>
                          </xsl:if>
                          <xsl:if test="current()/IsSelected = 0">
                            <xsl:attribute name="class">btn btn-default</xsl:attribute>
                          </xsl:if>
                          <a>
                            <xsl:choose>
                              <xsl:when test="current()/IsSelected = 1">
                                <xsl:attribute name="id">
                                  <xsl:value-of select="concat('selected#',ise:FormatStringForLink(current()/AttributeValue),'::',current()/AttributeGroupCounter,'::',current()/AttributeGroupGuid,current()/AttributeGuid)" disable-output-escaping="yes"></xsl:value-of>
                                </xsl:attribute>
                                <xsl:attribute name="href">javascript:void(1);</xsl:attribute>
                              </xsl:when>
                              <xsl:otherwise>
                                <xsl:attribute name="id">
                                  <xsl:value-of select="ise:FormatStringForLink(AttributeValue)" disable-output-escaping="yes"></xsl:value-of>::<xsl:value-of select="AttributeGroupCounter" disable-output-escaping="yes"></xsl:value-of>::<xsl:value-of select="AttributeGroupGuid" disable-output-escaping="yes"></xsl:value-of><xsl:value-of select="AttributeGuid" disable-output-escaping="yes"></xsl:value-of>
                                </xsl:attribute>
                                <xsl:attribute name="href">
                                  <xsl:value-of select="concat('a-',current()/Counter,'-',ise:FormatStringForLink(current()/AttributeValue),'.aspx','?EntityID=',current()/EntityCode,'&amp;','EntityName=',current()/EntityType, '&amp;','atr=', concat(current()/EntityCounter,'-', ise:FormatStringForLink(current()/EntityCode)))" disable-output-escaping="yes"></xsl:value-of>
                                </xsl:attribute>
                              </xsl:otherwise>
                            </xsl:choose>

                            <xsl:value-of select="current()/AttributeValue" disable-output-escaping="yes"></xsl:value-of>

                            <xsl:if test="current()/IsSelected = 1">
                              <span class="glyphicon glyphicon-ok"></span>
                            </xsl:if>
                            <xsl:if test="current()/IsSelected = 0 and $ShowItemCount = true()">
                              <span class="badge">
                                <xsl:value-of select="current()/ItemCount" disable-output-escaping="yes"></xsl:value-of>
                              </span>
                            </xsl:if>

                          </a>
                        </div>
                      </xsl:if>
                    </xsl:for-each>
                  </div>

                  <ul>

                  </ul>
                </section>
              </xsl:for-each>
              <script>
                $(".attribute .btn a").click(function() {
                if($(this).hasClass("active") == false) {
                var url = $(this).attr("href");
                window.location.href = url;
                }
                });
              </script>
            </div>
          </xsl:when>
          <xsl:otherwise>
            <!-- display nothing for attribute filters -->
          </xsl:otherwise>
        </xsl:choose>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>