<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Manufacturers" debug="false" includeentityhelper="true">
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:param name="ManufacturerID">
				<xsl:choose>
					<xsl:when test="/root/System/PageName = 'showcategory.aspx' or /root/System/PageName = 'showsection.aspx'">0</xsl:when>
					<xsl:when test="/root/System/PageName = 'showmanufacturer.aspx' and boolean(/root/QueryString/manufacturerid)">
						<xsl:value-of select="/root/QueryString/manufacturerid" />
					</xsl:when>
					<xsl:when test="(/root/System/PageName = 'showmanufacturer.aspx' or /root/System/PageName = 'showproduct.aspx') and boolean(/root/Cookies/lastviewedentityinstanceid) and /root/Cookies/lastviewedentityname = 'Manufacturer'">
						<xsl:value-of select="/root/Cookies/lastviewedentityinstanceid" />
					</xsl:when>
					<xsl:otherwise>0</xsl:otherwise>
				</xsl:choose>
			</xsl:param>



			<xsl:template match="/">
				<xsl:element name="ul">
					<xsl:attribute name="class">
						<![CDATA[tame]]>
					</xsl:attribute>

					<xsl:apply-templates select="/root/EntityHelpers/Manufacturer/Entity">
						<xsl:with-param name="prefix" select="''" />
					</xsl:apply-templates>

				</xsl:element>
			</xsl:template>

			<xsl:template match="Entity">
				<xsl:param name="prefix"></xsl:param>
				<xsl:param name="eName" select="ise:GetMLValue(Description)" />
                <xsl:variable name="smallcase" select="'abcdefghijklmnopqrstuvwxyz'" />
                <xsl:variable name="uppercase" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" />

				<li class="tame">
					<xsl:value-of select="$prefix" />
					<xsl:if test="number(ParentEntityID) != 0">
						<span class="catMark">&gt;&gt;</span>&#160;
					</xsl:if>

                    <xsl:choose>
                        <xsl:when test="translate(OpenInNewTab, $uppercase, $smallcase) = 'true'">
                            <a href="{VirtualPageValueExternalPage}" target ="_blank">
                               <xsl:if test="EntityID = $ManufacturerID or descendant::Entity/EntityID = $ManufacturerID">
                                    <xsl:attribute name="style">font-weight:bold</xsl:attribute>
                               </xsl:if>
                               <xsl:value-of select="$eName" />
                            </a>
                        </xsl:when>
                        <xsl:otherwise>
                            <a href="{concat('m-',EntityID,'-',ise:FormatStringForLink(SEName),'.aspx')}">
                                <xsl:if test="EntityID = $ManufacturerID or descendant::Entity/EntityID = $ManufacturerID">
                                    <xsl:attribute name="style">font-weight:bold</xsl:attribute>
                                </xsl:if>
                                <xsl:value-of select="$eName" />
                            </a>
                        </xsl:otherwise>
                    </xsl:choose>

					<xsl:if test="count(child::Entity)&gt;0 and (EntityID = $ManufacturerID or descendant::Entity/EntityID = $ManufacturerID)">
						<ul class="tame">
							<xsl:apply-templates select="Entity">
								<xsl:with-param name="prefix" select="concat($prefix, '&#160;&#160;')" />
							</xsl:apply-templates>
						</ul>
					</xsl:if>
				</li>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
