<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Mobile Menu" debug="false" includeentityhelper="false">
  <PackageTransform debug="false" >
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise"  xmlns:msxsl="urn:schemas-microsoft-com:xslt"  exclude-result-prefixes="ise msxsl">
      <xsl:output method="html" indent="yes"/>
      <xsl:template match="/" >
        <div class="navbar-header">
          <div class="col-xs-3">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#menuMobile">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="col-xs-6">
            <a href="default.aspx">
              <img class="logo-mobile" src="skins/Skin_(!SKINID!)/images/logo.png" alt="" />
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="menuMobile">
          <ul class="nav navbar-nav">
            <li>
              <a href="default.aspx">
                <i class="fa fa-home" />
                Home</a>
            </li>
            <li>
              <a data-toggle="collapse" href="#topMenuCategory">
                <i class="fa fa-tags" />
                Categories
                <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
              </a>
              <div id="topMenuCategory" class="panel-collapse collapse">
                <xsl:value-of select="ise:XmlPackage('rev.categorymenumobile.xml.config')" disable-output-escaping="yes" />
              </div>
            </li>
           <li>
                <a data-toggle="collapse" href="#topMenuDepartment">
                  <i class="fa fa-sitemap" />Departments
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuDepartment" class="panel-collapse collapse">
                  <xsl:value-of select="ise:XmlPackage('rev.departmentmenumobile.xml.config')" disable-output-escaping="yes" />
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#topMenuManufacturer">
                  <i class="fa fa-cubes" />Manufacturers
                  <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </a>
                <div id="topMenuManufacturer" class="panel-collapse collapse">
                  <xsl:value-of select="ise:XmlPackage('rev.manufacturermenumobile.xml.config')" disable-output-escaping="yes" />
                </div>  
            </li>
            <li><a href="blog.aspx"><i class="fa fa-tags" />Blogs</a></li>
			<li><a href="bestsellers.aspx"><i class="fa fa-tags" />Bestsellers</a></li>
            <li><a href="recentadditions.aspx"><i class="fa fa-plus" />Recent Additions</a></li>
            <li><a href="giftregistry.aspx"><i class="fa fa-gift" />Gift Registry</a></li>
            <li><a href="storelocator.aspx"><i class="fa fa-map-marker" />Store Locator</a></li>
            <li><a href="wishlist.aspx"><i class="fa fa-star" />Wishlist</a></li>
          </ul>
              
        </div>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
