<?xml version="1.0" encoding="utf-8"?>
<package displayname="Product Attributes" version="2.1" allowengine="true" includeentityhelper="true" debug="false">

  <!-- ###################################################################################################### -->
  <!-- Licensed by Interprise Solutions.					                          -->
  <!-- http://www.InterpriseSolutions.com														                                          -->
  <!-- For details on this license please visit  the product homepage at the URL above.		                    -->
  <!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
  <!-- ###################################################################################################### -->

  <query name="Attributes" rowElementName="Attribute">
    <sql>
      <![CDATA[
                exec EcommerceGetAttributes @LanguageCode, @EntityType, @EntityCode,@WebSiteCode,@AttributeFilter
            ]]>
    </sql>
    <queryparam paramname="@LanguageCode" paramtype="runtime" requestparamname="LanguageCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@EntityType" paramtype="runtime" requestparamname="EntityName" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@EntityCode" paramtype="runtime" requestparamname="EntityID" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@WebSiteCode" paramtype="runtime" requestparamname="WebSiteCode" sqlDataType="nvarchar" defvalue="0" validationpattern="" />
    <queryparam paramname="@AttributeFilter" paramtype="runtime" requestparamname="AttributeFilter" sqlDataType="nvarchar" defvalue="" validationpattern="" />

  </query>

  <PackageTransform debug="false">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise" exclude-result-prefixes="ise">
      <xsl:output method="html" omit-xml-declaration="yes" />

      <xsl:param name="AttributeGUID">
        <xsl:value-of select="0" />
      </xsl:param>
            
      <xsl:template match="/">
        <xsl:element name="ul">
          <xsl:attribute name="class">
            <![CDATA[tame]]>
          </xsl:attribute>

          <xsl:if test="count(/root/Attributes/Attribute) &gt; 0">
            <span class="leftnavvy">
              <img src="skins/Skin_(!SKINID!)/images/left_header_browse_att.jpg" width="209" height="24" class="leftnavvy_header" />
              <xsl:apply-templates select="/root/Attributes/Attribute">
                <xsl:with-param name="prefix" select="''" />
              </xsl:apply-templates>
            </span>
          </xsl:if>
          
        </xsl:element>
      </xsl:template>
     
      <xsl:template match="Attribute">
        <xsl:param name="prefix"></xsl:param>
        <xsl:param name="eName" select="ise:GetMLValue(AttributeValue)" />
        <xsl:param name="stringRemove" select="ise:StringResource('menu.AttributeRemoveSelected')" />
        <xsl:param name="stringRemoveAll" select="ise:StringResource('menu.AttributeRemoveAllSelected')"/>
        <xsl:param name="stringNarrowSearch" select="ise:StringResource('menu.AttributeAvailable')" />
        <xsl:param name="stringSelected" select="ise:StringResource('menu.AttributeSelected')" />
        
        <li class="tame attributes">

          <!--selected-->
          <xsl:if test="IsSelected = 1">
            <!--header-->
            <xsl:if test="HasSelected = 1">
              <xsl:if test="count(/root/Attributes/Attribute) &gt; 0">
                <a style="padding-top:10px;padding-bottom:0px;display:block" href="javascript:void(1);" id="{concat('parent#', AttributeValue)}">
                  <font color="#444444">
                    <b>
                     <xsl:value-of select="$stringSelected" />
                   </b>
                  </font>
                </a>
                <div style="clear:both;height:4px"></div>
              </xsl:if>
            </xsl:if>

            <!-- selected attributes-->
           
            <div class="selected-attributes" id="selected::{Counter}::{ise:FormatStringForLink(AttributeValue)}">
              <b><xsl:value-of select="AttributeName"/></b>
              <xsl:value-of select="' : '"/>
              <xsl:value-of select="AttributeValue"/>
              <div style="clear:both;height:2px"></div>
              <a id="selected#{ise:FormatStringForLink(AttributeValue)}::{AttributeGroupCounter}" href="javascript:void(1);"><xsl:value-of select="$stringRemove" /></a>
            </div>
            <div style="clear:both;height:4px"></div>
            <!--Remove All-->
            <xsl:if test ="HasAttribute = 1">
              <a href="javascript:void(1)" id="remove-all"><xsl:value-of select="$stringRemoveAll" /></a>
             </xsl:if>
            <div style="clear:both;height:4px"></div>
          </xsl:if>
          <!--selected-->

          <!--Current Attribute-->
          <xsl:if test="IsSelected = 0">

            <!--header-->
            <xsl:if test ="HasAttribute = 1">
              <xsl:if test="count(/root/Attributes/Attribute) &gt; 0">
                  <!--<img src="skins/Skin_(!SKINID!)/images/left_header_browse_att.jpg" width="209" height="24" class="leftnavvy_header" />-->
                <a style="padding-top:12px;padding-bottom:0px;display:block" href="javascript:void(1);" id="{concat('parent#', AttributeValue)}">
                  <font color="#444444">
                    <b>
                      <xsl:value-of select="$stringNarrowSearch" />
                    </b>
                  </font>
                </a>
              </xsl:if>
            </xsl:if>

            <!-- available attributes-->
            <xsl:choose>
           
            <xsl:when test="IsName = 1">
              <a style="padding-top:5px;padding-bottom:2px;display:block" href="javascript:void(1);" id="{concat('parent#', AttributeValue)}">
                <font color="#444444">
                  <b>
                    <xsl:value-of select="AttributeValue" />
                  </b>
                </font>
              </a>
            </xsl:when>
              
            <xsl:otherwise>
              <xsl:choose>
                <xsl:when test="ItemCount &gt; 0">
                  <a id="{ise:FormatStringForLink(AttributeValue)}::{AttributeGroupCounter}::{AttributeGroupGuid}{AttributeGuid}" href="{concat('a-',Counter,'-',ise:FormatStringForLink(AttributeValue),'.aspx','?EntityID=',EntityCode,'&amp;','EntityName=',EntityType, '&amp;','atr=', concat(EntityCounter,'-', ise:FormatStringForLink(EntityCode)))}">
                    &#0160;&#0160;<xsl:value-of select="AttributeValue" />
                  <font color="#444444">
                        (<xsl:value-of select="ItemCount" />)
                      </font>
                  </a>
                </xsl:when>
                <xsl:otherwise>
                    <!--<xsl:value-of select="AttributeValue" />-->
                  <a id="{ise:FormatStringForLink(AttributeValue)}::{AttributeGroupCounter}::{AttributeGroupGuid}{AttributeGuid}" href="{concat('a-',Counter,'-',ise:FormatStringForLink(AttributeValue),'.aspx','?EntityID=',EntityCode,'&amp;','EntityName=',EntityType, '&amp;','atr=', concat(EntityCounter,'-', ise:FormatStringForLink(EntityCode)))}">
                    &#0160;&#0160;<xsl:value-of select="AttributeValue" />
                  </a>
                </xsl:otherwise>
              </xsl:choose>
            </xsl:otherwise>
            
          </xsl:choose>
            
          </xsl:if>
          <!-- Current Attribute-->      
        </li>
      </xsl:template>
      
      
    </xsl:stylesheet>
  </PackageTransform>

</package>