<?xml version="1.0" standalone="yes"?>
<!-- ###################################################################################################### -->
<!-- Licensed by Interprise Solutions.					                -->
<!-- http://www.InterpriseSolutions.com														                -->
<!-- For details on this license please visit  the product homepage at the URL above.		                -->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.                                                                   -->
<!-- ###################################################################################################### -->
<package version="2.1" displayname="Main Menu" debug="false" includeentityhelper="false">
  <PackageTransform debug="false" >
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ise="urn:ise"  xmlns:msxsl="urn:schemas-microsoft-com:xslt"  exclude-result-prefixes="ise msxsl">
      <xsl:output method="html" indent="yes"/>
      <xsl:template match="/" >
        <div class="navbar-header"></div>
        <div class="collapse navbar-collapse" id="menuMain">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="default.aspx">Home</a>
            </li>
           <!--CATEGORIES-->
		    <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Categories
                <i class="fa fa-caret-down"></i>
              </a>
              <xsl:value-of select="ise:XmlPackage('rev.categorymenu.xml.config')" disable-output-escaping="yes" />
            </li>
			<!--CATEGORIES-->
			
			<!--MANUFACTURERS-->
		    <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Manufacturers
                <i class="fa fa-caret-down"></i>
              </a>
              <xsl:value-of select="ise:XmlPackage('rev.manufacturermenu.xml.config')" disable-output-escaping="yes" />
            </li>
			<!--MANUFACTURERS-->
			
			<!--DEPARTMENTS-->
		    <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Departments
                <i class="fa fa-caret-down"></i>
              </a>
              <xsl:value-of select="ise:XmlPackage('rev.departmentmenu.xml.config')" disable-output-escaping="yes" />
            </li>
			<!--DEPARTMENTS-->
			
            <li>
              <a href="blog.aspx">Blogs</a>
            </li>
          </ul>
        </div>
		(!XmlPackage Name="rev.search"!)
        <script>$('.dropdown-submenu > a:not(a[href="#"])').on('click', function() {
          self.location = $(this).attr('href');
          });</script>
      </xsl:template>
    </xsl:stylesheet>
  </PackageTransform>
</package>
